In [1]:
import pandas as pd

In [2]:
HomeCredit_columns_description = pd.read_csv('../input/HomeCredit_columns_description.csv')
HomeCredit_columns_description.Table.unique()

array(['application_{train|test}.csv', 'bureau.csv', 'bureau_balance.csv',
       'POS_CASH_balance.csv', 'credit_card_balance.csv',
       'previous_application.csv', 'installments_payments.csv'],
      dtype=object)

In [8]:
HomeCredit_columns_description[HomeCredit_columns_description.Row == 'STATUS']

,Unnamed: 0,Table,Row,Description,Special
148,151,POS_CASH_balance.csv,SK_DPD,DPD (days past due) during the month of previo...,NaN
171,174,credit_card_balance.csv,SK_DPD,DPD (Days past due) during the month on the pr...,NaN

In [7]:
HomeCredit_columns_description[HomeCredit_columns_description.Row == 'STATUS'].Description.iloc[0]

'Status of Credit Bureau loan during the month (active, closed, DPD0-30, [C means closed, X means status unknown, 0 means no DPD, 1 means maximal did during month between 1-30, 2 means DPD 31-60, 5 means DPD 120+ or sold or written off ] )'

In [9]:
HomeCredit_columns_description[HomeCredit_columns_description.Row == 'SK_DPD']

,Unnamed: 0,Table,Row,Description,Special
148,151,POS_CASH_balance.csv,SK_DPD,DPD (days past due) during the month of previo...,NaN
171,174,credit_card_balance.csv,SK_DPD,DPD (Days past due) during the month on the pr...,NaN

In [10]:
HomeCredit_columns_description[HomeCredit_columns_description.Row == 'SK_DPD'].Description.iloc[0]

'DPD (days past due) during the month of previous credit'