In [2]:
import pandas as pd
import numpy as np
import time
import os
import multiprocessing as mp # for speeding up some process
import sys
sys.path.append('../py_model')
from utils import init_logging
import logging 
from scipy.cluster import hierarchy
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = [16, 10] # customizing

In [2]:
# loading data
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
print (df.shape)

(356251, 281)
(356251, 280)

In [3]:
# check transpose
df_transposed = df.T
print (df_transposed.shape)
df_transposed

(280, 356251)

,0,1,2,3,4,5,6,7,8,9,...,356241,356242,356243,356244,356245,356246,356247,356248,356249,356250
AMT_ANNUITY,24700.500000,3.569850e+04,6750.000000,2.968650e+04,21865.500000,27517.500000,4.130100e+04,4.207500e+04,3.382650e+04,20250.000000,...,46660.500000,7.411500e+03,48888.000000,2.857050e+04,23112.000000,17473.500000,31909.500000,33205.500000,25128.000000,2.470950e+04
AMT_CREDIT,406597.500000,1.293502e+06,135000.000000,3.126825e+05,513000.000000,490495.500000,1.560726e+06,1.530000e+06,1.019610e+06,405000.000000,...,835686.000000,1.090080e+05,500490.000000,3.600000e+05,252022.500000,412560.000000,622413.000000,315000.000000,450000.000000,3.127680e+05
AMT_GOODS_PRICE,351000.000000,1.129500e+06,135000.000000,2.970000e+05,513000.000000,454500.000000,1.395000e+06,1.530000e+06,9.135000e+05,405000.000000,...,765000.000000,9.000000e+04,450000.000000,3.600000e+05,217561.500000,270000.000000,495000.000000,315000.000000,450000.000000,2.700000e+05
AMT_REQ_CREDIT_BUREAU_QRT,0.000000,0.000000e+00,0.000000,NaN,0.000000,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,NaN,...,0.000000,NaN,0.000000,0.000000e+00,2.000000,0.000000,NaN,3.000000,0.000000,1.000000e+00
APARTMENTS_MEDI,0.025000,9.680000e-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.957000e-01,0.043700,1.228000e-01,0.022900,NaN,NaN,0.112400,0.164500,NaN
CODE_GENDER,0.000000,1.000000e+00,0.000000,1.000000e+00,0.000000,0.000000,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,...,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000e+00
DAYS_BIRTH,-9461.000000,-1.676500e+04,-19046.000000,-1.900500e+04,-19932.000000,-16941.000000,-1.377800e+04,-1.885000e+04,-2.009900e+04,-14469.000000,...,-11387.000000,-2.299500e+04,-21780.000000,-1.939700e+04,-11708.000000,-19970.000000,-11186.000000,-15922.000000,-13968.000000,-1.396200e+04
DAYS_EMPLOYED,-637.000000,-1.188000e+03,-225.000000,-3.039000e+03,-3038.000000,-1588.000000,-3.130000e+03,-4.490000e+02,NaN,-2019.000000,...,-846.000000,NaN,NaN,-1.190000e+02,-369.000000,-5169.000000,-1149.000000,-3037.000000,-2731.000000,-6.330000e+02
DAYS_ID_PUBLISH,-2120.000000,-2.910000e+02,-2531.000000,-2.437000e+03,-3458.000000,-477.000000,-6.190000e+02,-2.379000e+03,-3.514000e+03,-3992.000000,...,-2530.000000,-3.988000e+03,-5249.000000,-2.945000e+03,-4178.000000,-3399.000000,-3003.000000,-1504.000000,-1364.000000,-4.220000e+03
DAYS_LAST_PHONE_CHANGE,-1134.000000,-8.280000e+02,-815.000000,-6.170000e+02,-1106.000000,-2536.000000,-1.562000e+03,-1.070000e+03,0.000000e+00,-1673.000000,...,-655.000000,-1.707000e+03,-611.000000,-1.252000e+03,-987.000000,-684.000000,0.000000,-838.000000,-2308.000000,-3.270000e+02
DEF_30_CNT_SOCIAL_CIRCLE,2.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
DEF_60_CNT_SOCIAL_CIRCLE,2.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
ENTRANCES_MEDI,0.069000,3.450000e-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.379000e-01,0.103400,1.034000e-01,NaN,NaN,NaN,0.137900,0.069000,NaN
EXT_SOURCE_1,0.083037,3.112673e-01,NaN,NaN,NaN,NaN,7.747614e-01,NaN,5.873340e-01,NaN,...,0.410389,NaN,0.851722,4.425576e-01,0.174671,NaN,NaN,0.733503,0.373090,NaN
EXT_SOURCE_2,0.262949,6.222458e-01,0.555912,6.504417e-01,0.322738,0.354225,7.239999e-01,7.142793e-01,2.057473e-01,0.746644,...,0.472553,4.658814e-01,0.471719,6.898318e-01,0.762352,0.648575,0.684596,0.632770,0.445701,4.565407e-01
EXT_SOURCE_3,0.139376,NaN,0.729567,NaN,NaN,0.621226,4.920601e-01,5.406545e-01,7.517237e-01,NaN,...,0.569149,NaN,0.631355,2.553318e-01,0.240541,0.643026,NaN,0.283712,0.595456,2.721337e-01
FLAG_DOCUMENT_11,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
FLAG_DOCUMENT_18,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
FLAG_DOCUMENT_3,1.000000,1.000000e+00,0.000000,1.000000e+00,0.000000,1.000000,0.000000e+00,1.000000e+00,1.000000e+00,0.000000,...,1.000000,1.000000e+00,0.000000,1.000000e+00,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000e+00
FLAG_DOCUMENT_8,0.000000,0.000000e+00,0.000000,0.000000e+00,1.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
FLAG_OWN_CAR,0.000000,0.000000e+00,1.000000,0.000000e+00,0.000000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,1.000000,0.000000e+00,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000e+00
FLAG_PHONE,1.000000,1.000000e+00,1.000000,0.000000e+00,0.000000,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,1.000000,0.000000e+00,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000e+00
FLAG_WORK_PHONE,0.000000,0.000000e+00,1.000000,0.000000e+00,0.000000,1.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000e+00
LIVE_CITY_NOT_WORK_CITY,0.000000,0.000000e+00,0.000000,0.000000e+00,1.000000,0.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000e+00
LIVINGAREA_MEDI,0.019300,5.580000e-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.060000e-01,0.043000,1.559000e-01,0.017400,NaN,NaN,0.140800,0.159100,NaN
OBS_60_CNT_SOCIAL_CIRCLE,2.000000,1.000000e+00,0.000000,2.000000e+00,0.000000,0.000000,1.000000e+00,2.000000e+00,1.000000e+00,2.000000,...,3.000000,2.000000e+00,0.000000,3.000000e+00,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000e+00
OWN_CAR_AGE,NaN,NaN,26.000000,NaN,NaN,NaN,1.700000e+01,8.000000e+00,NaN,NaN,...,NaN,NaN,12.000000,NaN,65.000000,NaN,NaN,4.000000,NaN,2.200000e+01
REGION_POPULATION_RELATIVE,0.018801,3.541000e-03,0.010032,8.019000e-03,0.028663,0.035792,3.579200e-02,3.122000e-03,1.863400e-02,0.019689,...,0.025164,2.461000e-02,0.006671,2.639200e-02,0.009175,0.002042,0.035792,0.026392,0.018850,6.629000e-03
REGION_RATING_CLIENT,2.000000,1.000000e+00,2.000000,2.000000e+00,2.000000,2.000000,2.000000e+00,3.000000e+00,2.000000e+00,2.000000,...,2.000000,2.000000e+00,2.000000,2.000000e+00,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000e+00
REGION_RATING_CLIENT_W_CITY,2.000000,1.000000e+00,2.000000,2.000000e+00,2.000000,2.000000,2.000000e+00,3.000000e+00,2.000000e+00,2.000000,...,2.000000,2.000000e+00,2.000000,2.000000e+00,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
INSTAL_AMT_PAYMENT_MIN_MIN,9251.775000,6.662970e+03,5357.250000,2.482920e+03,0.180000,227.160000,6.155280e+03,2.732139e+04,4.496850e+02,5.850000,...,14880.060000,5.310000e+00,8451.585000,2.187000e+01,1232.505000,14222.430000,2.700000,12640.950000,5519.925000,1.080000e+00
INSTAL_AMT_PAYMENT_MAX_MAX,53093.745000,5.608354e+05,10573.965000,6.917869e+05,22678.785000,432218.295000,1.734160e+04,2.746341e+04,4.648500e+04,58687.245000,...,81427.860000,4.047973e+05,8453.070000,5.923143e+04,89155.800000,244664.505000,14571.765000,81184.005000,23451.705000,2.647462e+04
INSTAL_AMT_PAYMENT_SUM_SUM,219625.695000,1.618865e+06,21288.465000,1.007153e+06,806127.975000,957617.595000,4.879951e+05,2.744921e+05,1.472756e+06,501661.710000,...,170708.220000,2.228215e+06,50716.935000,4.295735e+05,491657.670000,273109.365000,567315.675000,185271.930000,500807.790000,6.522492e+05
INSTAL_DAYS_ENTRY_PAYMENT_MAX_MAX,-49.000000,-5.440000e+02,-727.000000,-1.200000e+01,-14.000000,-82.000000,-5.800000e+01,-7.740000e+02,-3.700000e+01,-151.000000,...,-470.000000,-3.500000e+01,-441.000000,-2.400000e+01,-6.000000,-599.000000,-56.000000,-33.000000,-13.000000,-3.300000e+01
CC_AMT_BALANCE_MAX,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,1.890000e+05,NaN,...,0.000000,NaN,NaN,1.715932e+05,NaN,NaN,NaN,NaN,NaN,2.002089e+05
CC_AMT_BALANCE_MEAN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,5.448211e+04,NaN,...,0.000000,NaN,NaN,1.333874e+05,NaN,NaN,NaN,NaN,NaN,1.735893e+05
CC_AMT_CREDIT_LIMIT_ACTUAL_MEAN,NaN,NaN,NaN,2.700000e+05,NaN,NaN,NaN,NaN,1.641892e+05,NaN,...,180000.000000,NaN,NaN,4.781739e+05,NaN,NaN,NaN,NaN,NaN,1.788750e+05
CC_AMT_DRAWINGS_ATM_CURRENT_MEAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.432432e+03,NaN,...,NaN,NaN,NaN,6.945652e+03,NaN,NaN,NaN,NaN,NaN,1.500000e+04
CC_AMT_INST_MIN_REGULARITY_VAR,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,2.013991e+07,NaN,...,0.000000,NaN,NaN,6.546513e+06,NaN,NaN,NaN,NaN,NaN,1.262561e+07
CC_AMT_PAYMENT_CURRENT_SUM,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,3.583867e+05,NaN,...,0.000000,NaN,NaN,2.911357e+05,NaN,NaN,NaN,NaN,NaN,1.074825e+05
CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,4.520068e+03,NaN,...,0.000000,NaN,NaN,8.717940e+03,NaN,NaN,NaN,NaN,NaN,1.622820e+03
CC_AMT_PAYMENT_TOTAL_CURRENT_SUM,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,3.344850e+05,NaN,...,0.000000,NaN,NaN,2.005126e+05,NaN,NaN,NaN,NaN,NaN,1.947384e+04
CC_AMT_RECEIVABLE_PRINCIPAL_MAX,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,1.800000e+05,NaN,...,0.000000,NaN,NaN,1.650195e+05,NaN,NaN,NaN,NaN,NaN,1.800000e+05
CC_AMT_RECEIVABLE_PRINCIPAL_MEAN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,5.240209e+04,NaN,...,0.000000,NaN,NaN,1.295148e+05,NaN,NaN,NaN,NaN,NaN,1.684466e+05
CC_AMT_RECIVABLE_MAX,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,1.890000e+05,NaN,...,0.000000,NaN,NaN,1.696621e+05,NaN,NaN,NaN,NaN,NaN,1.965819e+05
CC_AMT_RECIVABLE_MEAN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,5.443318e+04,NaN,...,0.000000,NaN,NaN,1.329135e+05,NaN,NaN,NaN,NaN,NaN,1.722375e+05
CC_AMT_RECIVABLE_SUM,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,4.028055e+06,NaN,...,0.000000,NaN,NaN,3.057012e+06,NaN,NaN,NaN,NaN,NaN,2.066850e+06
CC_AMT_RECIVABLE_VAR,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,4.646736e+09,NaN,...,0.000000,NaN,NaN,1.533531e+09,NaN,NaN,NaN,NaN,NaN,1.400941e+08
CC_AMT_TOTAL_RECEIVABLE_MIN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,-5.633550e+02,NaN,...,0.000000,NaN,NaN,3.268890e+04,NaN,NaN,NaN,NaN,NaN,1.538327e+05
CC_AMT_TOTAL_RECEIVABLE_MAX,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,1.890000e+05,NaN,...,0.000000,NaN,NaN,1.696621e+05,NaN,NaN,NaN,NaN,NaN,1.965819e+05
CC_AMT_TOTAL_RECEIVABLE_MEAN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,5.443318e+04,NaN,...,0.000000,NaN,NaN,1.329135e+05,NaN,NaN,NaN,NaN,NaN,1.722375e+05
CC_AMT_TOTAL_RECEIVABLE_SUM,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,4.028055e+06,NaN,...,0.000000,NaN,NaN,3.057012e+06,NaN,NaN,NaN,NaN,NaN,2.066850e+06
CC_AMT_TOTAL_RECEIVABLE_VAR,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,4.646736e+09,NaN,...,0.000000,NaN,NaN,1.533531e+09,NaN,NaN,NaN,NaN,NaN,1.400941e+08
CC_CNT_DRAWINGS_ATM_CURRENT_MEAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.405405e-02,NaN,...,NaN,NaN,NaN,1.739130e-01,NaN,NaN,NaN,NaN,NaN,6.666667e-01
CC_CNT_DRAWINGS_ATM_CURRENT_VAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.162162e-01,NaN,...,NaN,NaN,NaN,1.501976e-01,NaN,NaN,NaN,NaN,NaN,4.060606e+00
CC_CNT_DRAWINGS_CURRENT_MAX,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,4.000000e+00,NaN,...,0.000000,NaN,NaN,4.000000e+00,NaN,NaN,NaN,NaN,NaN,7.000000e+00
CC_CNT_DRAWINGS_CURRENT_MEAN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,5.405405e-02,NaN,...,0.000000,NaN,NaN,4.347826e-01,NaN,NaN,NaN,NaN,NaN,6.666667e-01
CC_CNT_DRAWINGS_CURRENT_VAR,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,2.162162e-01,NaN,...,0.000000,NaN,NaN,9.841897e-01,NaN,NaN,NaN,NaN,NaN,4.060606e+00
CC_CNT_DRAWINGS_POS_CURRENT_MAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,3.000000e+00,NaN,NaN,NaN,NaN,NaN,0.000000e+00
CC_NAME_CONTRACT_STATUS_Active_MIN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,1.000000e+00,NaN,...,1.000000,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,1.000000e+00

In [87]:
df_transposed.dropna()

,0,1,2,3,4,5,6,7,8,9,...,356241,356242,356243,356244,356245,356246,356247,356248,356249,356250
AMT_CREDIT,406597.500000,1.293502e+06,135000.000000,312682.500000,513000.000000,490495.500000,1.560726e+06,1.530000e+06,1.019610e+06,405000.000000,...,835686.000000,109008.000000,500490.000000,360000.000000,252022.500000,412560.000000,622413.000000,315000.000000,450000.000000,312768.000000
CODE_GENDER,0.000000,1.000000e+00,0.000000,1.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
DAYS_BIRTH,-9461.000000,-1.676500e+04,-19046.000000,-19005.000000,-19932.000000,-16941.000000,-1.377800e+04,-1.885000e+04,-2.009900e+04,-14469.000000,...,-11387.000000,-22995.000000,-21780.000000,-19397.000000,-11708.000000,-19970.000000,-11186.000000,-15922.000000,-13968.000000,-13962.000000
DAYS_ID_PUBLISH,-2120.000000,-2.910000e+02,-2531.000000,-2437.000000,-3458.000000,-477.000000,-6.190000e+02,-2.379000e+03,-3.514000e+03,-3992.000000,...,-2530.000000,-3988.000000,-5249.000000,-2945.000000,-4178.000000,-3399.000000,-3003.000000,-1504.000000,-1364.000000,-4220.000000
FLAG_DOCUMENT_11,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
FLAG_DOCUMENT_18,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
FLAG_DOCUMENT_3,1.000000,1.000000e+00,0.000000,1.000000,0.000000,1.000000,0.000000e+00,1.000000e+00,1.000000e+00,0.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
FLAG_DOCUMENT_8,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
FLAG_OWN_CAR,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000
FLAG_PHONE,1.000000,1.000000e+00,1.000000,0.000000,0.000000,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
FLAG_WORK_PHONE,0.000000,0.000000e+00,1.000000,0.000000,0.000000,1.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
LIVE_CITY_NOT_WORK_CITY,0.000000,0.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
REGION_POPULATION_RELATIVE,0.018801,3.541000e-03,0.010032,0.008019,0.028663,0.035792,3.579200e-02,3.122000e-03,1.863400e-02,0.019689,...,0.025164,0.024610,0.006671,0.026392,0.009175,0.002042,0.035792,0.026392,0.018850,0.006629
REGION_RATING_CLIENT,2.000000,1.000000e+00,2.000000,2.000000,2.000000,2.000000,2.000000e+00,3.000000e+00,2.000000e+00,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000
REGION_RATING_CLIENT_W_CITY,2.000000,1.000000e+00,2.000000,2.000000,2.000000,2.000000,2.000000e+00,3.000000e+00,2.000000e+00,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000
REG_CITY_NOT_LIVE_CITY,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
SK_ID_CURR,100002.000000,1.000030e+05,100004.000000,100006.000000,100007.000000,100008.000000,1.000090e+05,1.000100e+05,1.000110e+05,100012.000000,...,456168.000000,456169.000000,456170.000000,456189.000000,456202.000000,456221.000000,456222.000000,456223.000000,456224.000000,456250.000000
NEW_DOC_IND_STD,0.223607,2.236068e-01,0.000000,0.223607,0.223607,0.223607,3.077935e-01,2.236068e-01,2.236068e-01,0.000000,...,0.223607,0.223607,0.223607,0.223607,0.223607,0.223607,0.223607,0.223607,0.223607,0.223607
NEW_DOC_IND_KURT,20.000000,2.000000e+01,0.000000,20.000000,20.000000,20.000000,7.037037e+00,2.000000e+01,2.000000e+01,0.000000,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
AMT_INCOME_TOTAL_BY_CODE_GENDER_NAME_EDUCATION_TYPE,157500.000000,1.665000e+05,157500.000000,135000.000000,157500.000000,157500.000000,1.665000e+05,2.160000e+05,1.350000e+05,157500.000000,...,135000.000000,135000.000000,135000.000000,135000.000000,135000.000000,135000.000000,135000.000000,135000.000000,216000.000000,135000.000000
EXT_SOURCE_2_VAR,0.006202,2.417690e-02,0.010287,0.010287,0.010287,0.010287,1.235528e-02,1.028709e-02,5.241620e-03,0.010287,...,0.005423,0.010287,0.040050,0.000401,0.047459,0.010287,0.010287,0.033675,0.009668,0.010287
EXT_SOURCE_3_VAR,0.006202,2.417690e-02,0.010287,0.010287,0.010287,0.010287,1.235528e-02,1.028709e-02,5.241620e-03,0.010287,...,0.005423,0.010287,0.040050,0.000401,0.047459,0.010287,0.010287,0.033675,0.009668,0.010287
NAME_CONTRACT_TYPE_Cash loans,1.000000,1.000000e+00,0.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
NAME_CONTRACT_TYPE_Revolving loans,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_Higher education,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
NAME_EDUCATION_TYPE_Lower secondary,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NAME_EDUCATION_TYPE_Secondary / secondary special,1.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
NAME_FAMILY_STATUS_Married,0.000000,1.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
NAME_FAMILY_STATUS_Single / not married,1.000000,0.000000e+00,1.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NAME_HOUSING_TYPE_House / apartment,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NAME_TYPE_SUITE_Other_B,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_Accountants,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_Core staff,0.000000,1.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
OCCUPATION_TYPE_Drivers,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_High skill tech staff,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_Laborers,1.000000,0.000000e+00,1.000000,1.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_Low-skill Laborers,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_Medicine staff,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OCCUPATION_TYPE_Sales staff,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Bank,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Business Entity Type 3,1.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
ORGANIZATION_TYPE_Construction,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Hotel,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Industry: type 9,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Kindergarten,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Medicine,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Military,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Police,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Restaurant,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_School,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Security Ministries,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ORGANIZATION_TYPE_Self-employed,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
ORGANIZATION_TYPE_Transport: type 3,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
WALLSMATERIAL_MODE_Others,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
WALLSMATERIAL_MODE_Panel,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
"WALLSMATERIAL_MODE_Stone, brick",1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_MONDAY,0.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
WEEKDAY_APPR_PROCESS_START_SUNDAY,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
WEEKDAY_APPR_PROCESS_START_TUESDAY,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
WEEKDAY_APPR_PROCESS_START_WEDNESDAY,1.000000,0.000000e+00,0.000000,1.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000

# The k-prototypes algorithm combines k-modes and k-means and is able to cluster mixed numerical / categorical data.

# reference: https://github.com/nicodv/kmodes/blob/master/kmodes/kprototypes.py

# It is a common practice to apply PCA (principal component analysis) before a clustering algorithm (such as k-means). It is believed that it improves the clustering results in practice (noise reduction). 
### reference: https://stats.stackexchange.com/questions/183236/what-is-the-relation-between-k-means-clustering-and-pca

In [65]:
# pca
from sklearn.decomposition import PCA
pca = PCA(n_components=150, svd_solver='full')
pca.fit(df_transposed)

[9.99999132e-01 4.29842661e-07 2.27402633e-07 7.62337026e-08
 4.82728654e-08 3.53602026e-08 1.67597954e-08 9.67252409e-09
 7.10275195e-09 5.68050173e-09 3.23487577e-09 1.97492128e-09
 1.58765136e-09 9.78058557e-10 7.61081928e-10 4.67401358e-10
 4.10743421e-10 3.78166969e-10 3.40837684e-10 3.10050733e-10
 3.05795724e-10 2.65531356e-10 1.70186062e-10 1.49926041e-10
 1.32879934e-10 1.06497464e-10 9.47996568e-11 5.81658367e-11
 4.41065434e-11 3.80147149e-11 1.88966854e-11 1.38444526e-11
 1.17910327e-11 6.56370307e-12 5.47931831e-12 4.03097333e-12
 3.61450789e-12 1.85737192e-12 1.53299662e-12 1.13637715e-12
 1.07586708e-12 1.02477325e-12 9.71034776e-13 6.42482256e-13
 4.97696722e-13 4.81217826e-13 4.29886564e-13 2.81741320e-13
 2.07523694e-13 1.64082694e-13 1.58089742e-13 1.45841618e-13
 1.44954815e-13 1.41341177e-13 1.15928314e-13 4.83959678e-14
 3.65412393e-14 3.38495062e-14 3.24418732e-14 2.92027705e-14
 1.48117451e-14 1.25953749e-14 9.67834791e-15 8.55430283e-15
 7.32475480e-15 5.51403687e-15 4.99782048e-15 4.75899950e-15
 4.57455009e-15 4.46739631e-15 4.15519300e-15 3.07595179e-15
 2.91371064e-15 2.57750776e-15 2.47663045e-15 2.32844621e-15
 1.81891321e-15 1.32030928e-15 8.81929717e-16 8.57607083e-16
 7.16979642e-16 4.68082785e-16 4.38116263e-16 2.65143275e-16
 2.30148767e-16 1.55526668e-16 1.47989683e-16 1.21191625e-16
 8.41842067e-17 5.77951429e-17 4.46325602e-17 3.96928520e-17
 3.49931416e-17 2.57814713e-17 1.44881831e-17 1.13373669e-17
 8.03368203e-18 7.68980779e-18 6.99662848e-18 6.74534366e-18
 5.65841979e-18 3.72446166e-18 2.49508012e-18 2.31749693e-18
 1.82337582e-18 6.04718836e-19 5.36577752e-19 5.15439608e-19
 4.96887495e-19 3.54292587e-19 3.33758621e-19 2.12972308e-19
 1.16532885e-19 9.45676333e-20 6.10227539e-20 4.38468767e-20
 4.24096566e-20 3.70338080e-20 2.13089177e-20 7.53177576e-21
 5.44843447e-21 4.36294400e-21 3.84187692e-21 3.78353877e-21
 2.70145740e-21 2.47232677e-21 2.21480069e-21 1.85810740e-21
 1.70003736e-21 1.62462803e-21 1.51280239e-21 1.49355202e-21
 1.42861403e-21 1.27393798e-21 1.22966202e-21 1.17621307e-21
 1.10025277e-21 1.01812491e-21 9.92804173e-22 9.47078573e-22
 8.30648222e-22 8.06029083e-22 7.75721856e-22 7.23542124e-22
 7.12407276e-22 6.30605161e-22 6.22509949e-22 6.03427746e-22
 6.00656459e-22 5.58047423e-22]

In [78]:
pca.explained_variance_ratio_[:100].sum()

1.0

In [79]:
df_transposed_reduction = pca.fit_transform(df_transposed)

In [80]:
df_transposed_reduction.shape

(280, 150)

In [81]:
import numpy as np
from sklearn.cluster import KMeans

km = KMeans(n_clusters = 2, n_init=5, verbose=1, n_jobs = 32)

clusters = km.fit(df_transposed_reduction)

Initialization complete
Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 2.196625996051963e+20
Initialization complete
start iteration
done sorting
start iteration
start iteration
end inner loop
done sorting
Iteration 1, inertia 2.196625996051963e+20
end inner loop
center shift 0.000000e+00 within tolerance 1.207071e+17
Iteration 0, inertia 2.196625996051963e+20
done sorting
start iteration
end inner loop
done sorting
end inner loop
Iteration 0, inertia 2.196625996051963e+20
Iteration 1, inertia 2.196625996051963e+20
start iteration
done sorting
center shift 0.000000e+00 within tolerance 1.207071e+17
end inner loop
Iteration 1, inertia 2.196625996051963e+20
center shift 0.000000e+00 within tolerance 1.207071e+17
Initialization complete
Initialization complete
start iteration
done sorting
start iteration
end inner loop
done sorting
end inner loop
Iteration 0, inertia 2.196625996051963e+20
start iteration
Iteration 0, inertia 2.196625996051963e+20
done sorting
start iteration
end inner loop
done sorting
end inner loop
Iteration 1, inertia 2.196625996051963e+20
center shift 0.000000e+00 within tolerance 1.207071e+17
Iteration 1, inertia 2.196625996051963e+20
center shift 0.000000e+00 within tolerance 1.207071e+17

In [82]:
# Print Predict the closest cluster
km.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [83]:
feature_clustering = pd.DataFrame({
    'features':df_transposed.index.tolist(),
    'cluster': km.labels_
})
feature_clustering.cluster.value_counts()

0    278
1      2
Name: cluster, dtype: int64

In [56]:
feature_clustering[feature_clustering.cluster == 1]

                        features  cluster
267         CC_AMT_RECIVABLE_VAR        1
272  CC_AMT_TOTAL_RECEIVABLE_VAR        1

In [91]:
len(df)

356251

# using k-means algorithm cannot effectively cluster the features.
# They reason probably is that we replace nan w zero(I have to, otherwise I cannot feed the data into k-means+PCA)
# So, we switch to k-mode,  k-modes is used for clustering categorical variables. It defines clusters based on the number of matching categories between data points. (This is in contrast to the more well-known k-means algorithm, which clusters numerical data based on Euclidean distance.)

In [3]:
import numpy as np
from kmodes.kmodes import KModes
import pandas as pd
# loading data
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
print (df.shape)
# preprocessing for clusting
df.replace(np.nan, 0, inplace = True)

# check transpose
df_transposed = df.T
print (df_transposed.shape)

# random categorical data
data = np.random.choice(20, (100, 10))

km = KModes(n_clusters=4, init='Cao', n_init=5, verbose=1)

clusters = km.fit_predict(df_transposed)

(356251, 281)
(356251, 280)
(280, 356251)
Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 49, cost: 49495810.0
Run 1, iteration: 2/100, moves: 3, cost: 49495810.0

In [10]:
# Print the cluster centroids
feature_clustering = pd.DataFrame({
    'features':df_transposed.index.tolist(),
    'cluster': km.labels_
})
feature_clustering.cluster.value_counts()

0    244
1     24
2     11
3      1
Name: cluster, dtype: int64

In [12]:
#feature_clustering.to_csv('../output/feature_clustering.csv', index = False)
feature_clustering = pd.read_csv('../output/feature_clustering.csv')
feature_clustering.cluster.value_counts()

0    244
1     24
2     11
3      1
Name: cluster, dtype: int64

In [13]:
# reload again for filling
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)

(356251, 281)

In [16]:
for f_in_same_cluster in feature_clustering[feature_clustering.cluster == 0].features.tolist():
    print (f_in_same_cluster)
    print (df[f_in_same_cluster].count())

AMT_ANNUITY
356215
AMT_GOODS_PRICE
355973
AMT_REQ_CREDIT_BUREAU_QRT
308683
APARTMENTS_MEDI
176304
DAYS_EMPLOYED
291603
DAYS_ID_PUBLISH
356251
DAYS_LAST_PHONE_CHANGE
356250
DEF_30_CNT_SOCIAL_CIRCLE
355201
DEF_60_CNT_SOCIAL_CIRCLE
355201
ENTRANCES_MEDI
177845
EXT_SOURCE_1
162343
EXT_SOURCE_2
355583
EXT_SOURCE_3
286618
FLAG_DOCUMENT_11
356251
FLAG_DOCUMENT_18
356251
FLAG_DOCUMENT_8
356251
FLAG_OWN_CAR
356251
FLAG_PHONE
356251
FLAG_WORK_PHONE
356251
LIVE_CITY_NOT_WORK_CITY
356251
LIVINGAREA_MEDI
178350
OBS_60_CNT_SOCIAL_CIRCLE
355201
OWN_CAR_AGE
121012
REGION_POPULATION_RELATIVE
356251
REG_CITY_NOT_LIVE_CITY
356251
SK_ID_CURR
356251
TARGET
307507
YEARS_BEGINEXPLUATATION_MEDI
183389
NUM_INSTALMENTS
356215
DIFF_CREDIT_AND_GOODS_RATIO
355973
NEW_DOC_IND_STD
356251
NEW_DOC_IND_KURT
356251
AMT_INCOME_TOTAL_BY_CODE_GENDER_NAME_EDUCATION_TYPE
356251
AMT_REQ_CREDIT_BUREAU_YEAR_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244256
APARTMENTS_AVG_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244254
BASEMENTAREA_AVG_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244254
EXT_SOURCE_1_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244255
EXT_SOURCE_2_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244257
EXT_SOURCE_3_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244256
NONLIVINGAREA_AVG_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244254
OWN_CAR_AGE_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244249
YEARS_BUILD_AVG_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
244253
AMT_ANNUITY_BY_OCCUPATION_TYPE
244257
CNT_CHILDREN_BY_OCCUPATION_TYPE
244257
CNT_FAM_MEMBERS_BY_OCCUPATION_TYPE
244257
DAYS_EMPLOYED_BY_OCCUPATION_TYPE
244257
DAYS_ID_PUBLISH_BY_OCCUPATION_TYPE
244257
DAYS_REGISTRATION_BY_OCCUPATION_TYPE
244257
EXT_SOURCE_1_BY_OCCUPATION_TYPE
244257
EXT_SOURCE_2_BY_OCCUPATION_TYPE
244257
EXT_SOURCE_3_BY_OCCUPATION_TYPE
244257
AMT_ANNUITY_BY_CODE_GENDER_OCCUPATION_TYPE
244257
CNT_CHILDREN_BY_CODE_GENDER_OCCUPATION_TYPE
244257
CNT_FAM_MEMBERS_BY_CODE_GENDER_OCCUPATION_TYPE
244257
DAYS_EMPLOYED_BY_CODE_GENDER_OCCUPATION_TYPE
244257
DAYS_ID_PUBLISH_BY_CODE_GENDER_OCCUPATION_TYPE
244257
DAYS_REGISTRATION_BY_CODE_GENDER_OCCUPATION_TYPE
244257
EXT_SOURCE_1_BY_CODE_GENDER_OCCUPATION_TYPE
244257
EXT_SOURCE_2_BY_CODE_GENDER_OCCUPATION_TYPE
244257
EXT_SOURCE_3_BY_CODE_GENDER_OCCUPATION_TYPE
244257
AMT_ANNUITY_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
CNT_CHILDREN_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
CNT_FAM_MEMBERS_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
DAYS_EMPLOYED_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
DAYS_ID_PUBLISH_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
DAYS_REGISTRATION_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
EXT_SOURCE_1_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
EXT_SOURCE_2_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
EXT_SOURCE_3_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
244257
AMT_ANNUITY_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
244257
DAYS_EMPLOYED_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
244255
EXT_SOURCE_1_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
244250
AMT_INCOME_TOTAL_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
244257
AMT_ANNUITY_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244257
CNT_CHILDREN_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244257
CNT_FAM_MEMBERS_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244257
DAYS_EMPLOYED_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244255
DAYS_ID_PUBLISH_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244257
EXT_SOURCE_2_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244257
EXT_SOURCE_3_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
244234
NEW_EMPLOY_TO_BIRTH_RATIO
291603
NEW_ANNUITY_TO_INCOME_RATIO
356215
NEW_SOURCES_PROD
133171
NEW_EXT_SOURCES_MEAN
356072
DIFF_INCOME_AND_GOODS_PRICE
355973
EXT_SOURCE_2_VAR
356251
EXT_SOURCE_3_VAR
356251
SOCIAL_PRED
355201
NAME_CONTRACT_TYPE_Revolving loans
356251
NAME_EDUCATION_TYPE_Higher education
356251
NAME_EDUCATION_TYPE_Lower secondary
356251
NAME_FAMILY_STATUS_Single / not married
356251
NAME_HOUSING_TYPE_Municipal apartment
356251
NAME_HOUSING_TYPE_Office apartment
356251
NAME_INCOME_TYPE_State servant
356251
NAME_TYPE_SUITE_Other_B
356251
OCCUPATION_TYPE_Accountants
356251
OCCUPATION_TYPE_Core staff
356251
OCCUPATION_TYPE_Drivers
356251
OCCUPATION_TYPE_High skill tech staff
356251
OCCUPATION_TYPE_Laborers
356251
OCCUPATION_TYPE_Low-skill Laborers
356251
OCCUPATION_TYPE_Medicine staff
356251
OCCUPATION_TYPE_Sales staff
356251
ORGANIZATION_TYPE_Bank
356251
ORGANIZATION_TYPE_Business Entity Type 3
356251
ORGANIZATION_TYPE_Construction
356251
ORGANIZATION_TYPE_Hotel
356251
ORGANIZATION_TYPE_Industry: type 9
356251
ORGANIZATION_TYPE_Kindergarten
356251
ORGANIZATION_TYPE_Medicine
356251
ORGANIZATION_TYPE_Military
356251
ORGANIZATION_TYPE_Police
356251
ORGANIZATION_TYPE_Restaurant
356251
ORGANIZATION_TYPE_School
356251
ORGANIZATION_TYPE_Security Ministries
356251
ORGANIZATION_TYPE_Self-employed
356251
ORGANIZATION_TYPE_Transport: type 3
356251
WALLSMATERIAL_MODE_Others
356251
WALLSMATERIAL_MODE_Panel
356251
WALLSMATERIAL_MODE_Stone, brick
356251
WEEKDAY_APPR_PROCESS_START_MONDAY
356251
WEEKDAY_APPR_PROCESS_START_SUNDAY
356251
WEEKDAY_APPR_PROCESS_START_TUESDAY
356251
WEEKDAY_APPR_PROCESS_START_WEDNESDAY
356251
BURO_DAYS_CREDIT_MAX
305807
BURO_DAYS_CREDIT_ENDDATE_MAX
303222
BURO_AMT_CREDIT_MAX_OVERDUE_MEAN
212967
BURO_AMT_CREDIT_SUM_MAX
305805
BURO_AMT_CREDIT_SUM_MEAN
305805
BURO_AMT_CREDIT_SUM_SUM
305807
BURO_AMT_CREDIT_SUM_DEBT_MEAN
297435
BURO_AMT_CREDIT_SUM_DEBT_SUM
305807
BURO_AMT_CREDIT_SUM_OVERDUE_MEAN
305807
BURO_AMT_CREDIT_SUM_LIMIT_MEAN
280499
BURO_CREDIT_ACTIVE_Closed_MEAN
305807
BURO_CREDIT_TYPE_Car loan_MEAN
305807
BURO_CREDIT_TYPE_Credit card_MEAN
305807
BURO_CREDIT_TYPE_Microloan_MEAN
305807
BURO_CREDIT_TYPE_Mortgage_MEAN
305807
ACTIVE_DAYS_CREDIT_MAX
251811
ACTIVE_DAYS_CREDIT_MEAN
251811
ACTIVE_DAYS_CREDIT_ENDDATE_MIN
241342
ACTIVE_DAYS_CREDIT_ENDDATE_MAX
241342
ACTIVE_DAYS_CREDIT_ENDDATE_MEAN
241342
ACTIVE_AMT_CREDIT_MAX_OVERDUE_MEAN
132997
ACTIVE_AMT_CREDIT_SUM_MAX
251808
ACTIVE_AMT_CREDIT_SUM_MEAN
251808
ACTIVE_AMT_CREDIT_SUM_SUM
251811
ACTIVE_AMT_CREDIT_SUM_DEBT_MAX
239860
ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN
239860
ACTIVE_AMT_CREDIT_SUM_DEBT_SUM
251811
ACTIVE_AMT_CREDIT_SUM_LIMIT_MEAN
218100
ACTIVE_AMT_CREDIT_SUM_LIMIT_SUM
251811
CLOSED_DAYS_CREDIT_MAX
267921
NEW_RATIO_BURO_AMT_CREDIT_SUM_SUM
212551
NEW_RATIO_BURO_AMT_CREDIT_SUM_LIMIT_MEAN
3851
PREV_AMT_ANNUITY_MEAN
338373
PREV_APP_CREDIT_PERC_MIN
338601
PREV_RATE_DOWN_PAYMENT_MEAN
318749
PREV_CNT_PAYMENT_MEAN
338375
PREV_NAME_CONTRACT_STATUS_Refused_MEAN
338853
PREV_NAME_PAYMENT_TYPE_XNA_MEAN
338853
PREV_CODE_REJECT_REASON_CLIENT_MEAN
338853
PREV_CODE_REJECT_REASON_SCO_MEAN
338853
PREV_NAME_TYPE_SUITE_Unaccompanied_MEAN
338853
PREV_NAME_TYPE_SUITE_nan_MEAN
338853
PREV_NAME_CLIENT_TYPE_New_MEAN
338853
PREV_NAME_CLIENT_TYPE_Refreshed_MEAN
338853
PREV_NAME_GOODS_CATEGORY_Sport and Leisure_MEAN
338853
PREV_NAME_GOODS_CATEGORY_XNA_MEAN
338853
PREV_NAME_PORTFOLIO_Cards_MEAN
338853
PREV_NAME_PRODUCT_TYPE_walk-in_MEAN
338853
PREV_CHANNEL_TYPE_Channel of corporate sales_MEAN
338853
PREV_CHANNEL_TYPE_Credit and cash offices_MEAN
338853
PREV_NAME_SELLER_INDUSTRY_Connectivity_MEAN
338853
PREV_NAME_YIELD_GROUP_XNA_MEAN
338853
PREV_NAME_YIELD_GROUP_high_MEAN
338853
PREV_NAME_YIELD_GROUP_low_action_MEAN
338853
PREV_PRODUCT_COMBINATION_Cash Street: low_MEAN
338853
PREV_PRODUCT_COMBINATION_Cash X-Sell: high_MEAN
338853
PREV_PRODUCT_COMBINATION_Cash X-Sell: low_MEAN
338853
APPROVED_AMT_ANNUITY_MEAN
337692
APPROVED_AMT_APPLICATION_MAX
337694
APPROVED_AMT_CREDIT_MAX
337694
APPROVED_AMT_DOWN_PAYMENT_MAX
316048
APPROVED_AMT_GOODS_PRICE_MAX
336617
APPROVED_DAYS_DECISION_MAX
337694
APPROVED_CNT_PAYMENT_MEAN
337694
APPROVED_CNT_PAYMENT_SUM
337694
APPROVED_TIME_DECAYED_HUMAN_EVAL_SUM
337694
REFUSED_AMT_CREDIT_MIN
118273
REFUSED_APP_CREDIT_PERC_MIN
112453
REFUSED_HUMAN_EVAL_SUM
118273
REFUSED_TIME_DECAYED_HUMAN_EVAL_SUM
118273
NEW_RATIO_PREV_CNT_PAYMENT_SUM
90781
NEW_RATIO_PREV_HUMAN_EVAL_SUM
117569
NEW_RATIO_PREV_TIME_DECAYED_HUMAN_EVAL_SUM
117569
POS_MONTHS_BALANCE_MAX
337248
POS_MONTHS_BALANCE_SIZE
337248
POS_SK_DPD_DEF_MAX
337248
POS_SK_DPD_DEF_MEAN
337248
POS_TIME_DECAYED_UNPAYED_RATIO_MEAN
337220
POS_TIME_DECAYED_UNPAYED_RATIO_SIZE
337248
POS_TIME_DECAYED_UNPAYED_RATIO_SUM
337248
POS_COUNT
337248
INSTAL_DPD_MAX_MAX
339583
INSTAL_DPD_MEAN_MEAN
339583
INSTAL_DPD_SUM_SUM
339583
INSTAL_DBD_MAX_MAX
339583
INSTAL_DBD_SUM_SUM
339583
INSTAL_PAYMENT_DIFF_MAX_MAX
339574
INSTAL_PAYMENT_DIFF_SUM_SUM
339583
INSTAL_AMT_INSTALMENT_SUM_SUM
339583
INSTAL_AMT_PAYMENT_MIN_MIN
339574
INSTAL_AMT_PAYMENT_MAX_MAX
339574
INSTAL_AMT_PAYMENT_SUM_SUM
339583
INSTAL_DAYS_ENTRY_PAYMENT_MAX_MAX
339574
CC_AMT_BALANCE_MAX
103558
CC_AMT_BALANCE_MEAN
103558
CC_AMT_CREDIT_LIMIT_ACTUAL_MEAN
103558
CC_AMT_DRAWINGS_ATM_CURRENT_MEAN
72194
CC_AMT_INST_MIN_REGULARITY_VAR
102866
CC_AMT_PAYMENT_CURRENT_SUM
103558
CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN
103558
CC_AMT_PAYMENT_TOTAL_CURRENT_SUM
103558
CC_AMT_RECEIVABLE_PRINCIPAL_MAX
103558
CC_AMT_RECEIVABLE_PRINCIPAL_MEAN
103558
CC_AMT_RECIVABLE_MAX
103558
CC_AMT_RECIVABLE_MEAN
103558
CC_AMT_RECIVABLE_SUM
103558
CC_AMT_RECIVABLE_VAR
102866
CC_AMT_TOTAL_RECEIVABLE_MIN
103558
CC_AMT_TOTAL_RECEIVABLE_MAX
103558
CC_AMT_TOTAL_RECEIVABLE_MEAN
103558
CC_AMT_TOTAL_RECEIVABLE_SUM
103558
CC_AMT_TOTAL_RECEIVABLE_VAR
102866
CC_CNT_DRAWINGS_ATM_CURRENT_MEAN
72194
CC_CNT_DRAWINGS_ATM_CURRENT_VAR
71692
CC_CNT_DRAWINGS_CURRENT_MAX
103558
CC_CNT_DRAWINGS_CURRENT_MEAN
103558
CC_CNT_DRAWINGS_CURRENT_VAR
102866
CC_CNT_DRAWINGS_POS_CURRENT_MAX
72194
CC_NAME_CONTRACT_STATUS_Active_MIN
103558

In [15]:
for f_in_same_cluster in feature_clustering[feature_clustering.cluster == 1].features.tolist():
    print (f_in_same_cluster)
    print (df[f_in_same_cluster].count())

CODE_GENDER
356251
FLAG_DOCUMENT_3
356251
REGION_RATING_CLIENT
356251
REGION_RATING_CLIENT_W_CITY
356251
INCOME_TO_GOODS_PRICE_RATIO
355973
NAME_CONTRACT_TYPE_Cash loans
356251
NAME_EDUCATION_TYPE_Secondary / secondary special
356251
NAME_FAMILY_STATUS_Married
356251
NAME_HOUSING_TYPE_House / apartment
356251
NAME_INCOME_TYPE_Working
356251
PREV_APP_CREDIT_PERC_MAX
338600
PREV_APP_CREDIT_PERC_MEAN
338600
PREV_HUMAN_EVAL_MEAN
338853
PREV_HUMAN_EVAL_SUM
338853
PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN
338853
PREV_NAME_CONTRACT_STATUS_Approved_MEAN
338853
PREV_CODE_REJECT_REASON_XAP_MEAN
338853
PREV_NAME_PORTFOLIO_POS_MEAN
338853
APPROVED_APP_CREDIT_PERC_MIN
337685
APPROVED_HUMAN_EVAL_SUM
337694
POS_TIME_DECAYED_UNPAYED_RATIO_MAX
337220
POS_NAME_CONTRACT_STATUS_Active_MEAN
337248
INSTAL_PAYMENT_PERC_MEAN_MEAN
339555
INSTAL_PAYMENT_PERC_SUM_SUM
339564

In [20]:
for f_in_same_cluster in feature_clustering[feature_clustering.cluster == 2].features.tolist():
    print (df[f_in_same_cluster].count())

356251
356251
244257
244257
244257
244257
244257
244257
244254
244257
244257

# imputation - by Matrix Completion

In [41]:
from fancyimpute import BiScaler
# loading data
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
print (df.shape)

Using TensorFlow backend.
/home/linuxbrew/.linuxbrew/opt/python/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

(356251, 281)
(356251, 280)

In [42]:
X_missing = df[feature_clustering[feature_clustering.cluster == 1].features.tolist()]
X_missing.shape

(356251, 24)

In [44]:
X_filled1 = BiScaler().fit_transform(X_missing.values)

[BiScaler] Initial log residual value = 20.337300
[BiScaler] Iter 1: log residual = 9.581770, log improvement ratio=10.755530
[BiScaler] Iter 2: log residual = 9.021605, log improvement ratio=0.560164
[BiScaler] Iter 3: log residual = 8.049758, log improvement ratio=0.971847
[BiScaler] Iter 4: log residual = 6.492047, log improvement ratio=1.557711
[BiScaler] Iter 5: log residual = 4.785250, log improvement ratio=1.706797
[BiScaler] Iter 6: log residual = 3.030208, log improvement ratio=1.755042
[BiScaler] Iter 7: log residual = 1.260778, log improvement ratio=1.769430
[BiScaler] Iter 8: log residual = -0.510901, log improvement ratio=1.771679
[BiScaler] Iter 9: log residual = -2.279761, log improvement ratio=1.768860
[BiScaler] Iter 10: log residual = -4.042889, log improvement ratio=1.763128
[BiScaler] Iter 11: log residual = -5.797682, log improvement ratio=1.754794
[BiScaler] Iter 12: log residual = -7.541091, log improvement ratio=1.743409
[BiScaler] Iter 13: log residual = -9.269291, log improvement ratio=1.728200
[BiScaler] Iter 14: log residual = -10.977642, log improvement ratio=1.708351
[BiScaler] Iter 15: log residual = -12.660945, log improvement ratio=1.683303
[BiScaler] Iter 16: log residual = -14.314049, log improvement ratio=1.653104
[BiScaler] Iter 17: log residual = -15.932754, log improvement ratio=1.618705
[BiScaler] Iter 18: log residual = -17.514767, log improvement ratio=1.582014
[BiScaler] Iter 19: log residual = -19.060305, log improvement ratio=1.545538
[BiScaler] Iter 20: log residual = -20.572044, log improvement ratio=1.511739
[BiScaler] Iter 21: log residual = -22.054449, log improvement ratio=1.482404
[BiScaler] Iter 22: log residual = -23.512808, log improvement ratio=1.458360
[BiScaler] Iter 23: log residual = -24.952358, log improvement ratio=1.439550
[BiScaler] Iter 24: log residual = -26.377728, log improvement ratio=1.425370
[BiScaler] Iter 25: log residual = -27.792697, log improvement ratio=1.414969
[BiScaler] Iter 26: log residual = -29.200182, log improvement ratio=1.407485
[BiScaler] Iter 27: log residual = -30.602378, log improvement ratio=1.402197
[BiScaler] Iter 28: log residual = -32.000762, log improvement ratio=1.398384
[BiScaler] Iter 29: log residual = -33.396647, log improvement ratio=1.395885
[BiScaler] Iter 30: log residual = -34.790801, log improvement ratio=1.394154
[BiScaler] Iter 31: log residual = -36.183452, log improvement ratio=1.392651
[BiScaler] Iter 32: log residual = -37.575696, log improvement ratio=1.392243
[BiScaler] Iter 33: log residual = -38.966980, log improvement ratio=1.391285
[BiScaler] Iter 34: log residual = -40.358111, log improvement ratio=1.391131
[BiScaler] Iter 35: log residual = -41.747965, log improvement ratio=1.389853
[BiScaler] Iter 36: log residual = -43.142008, log improvement ratio=1.394043
[BiScaler] Iter 37: log residual = -44.529176, log improvement ratio=1.387168
[BiScaler] Iter 38: log residual = -45.922995, log improvement ratio=1.393818
[BiScaler] Iter 39: log residual = -47.314548, log improvement ratio=1.391553
[BiScaler] Iter 40: log residual = -48.713715, log improvement ratio=1.399167
[BiScaler] Iter 41: log residual = -50.112104, log improvement ratio=1.398389
[BiScaler] Iter 42: log residual = -51.438401, log improvement ratio=1.326297
[BiScaler] Iter 43: log residual = -52.848197, log improvement ratio=1.409796
[BiScaler] Iter 44: log residual = -54.224594, log improvement ratio=1.376398
[BiScaler] Iter 45: log residual = -55.385130, log improvement ratio=1.160536
[BiScaler] Iter 46: log residual = -56.140875, log improvement ratio=0.755744
[BiScaler] Iter 47: log residual = -56.381481, log improvement ratio=0.240607
[BiScaler] Iter 48: log residual = -56.377898, log improvement ratio=-0.003584

In [47]:
X_filled1 = pd.DataFrame(X_filled1, columns = X_missing.columns)

In [48]:
X_filled1.shape

(356251, 24)

In [49]:
# reload again for filling
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)

(356251, 281)

In [50]:
for f_in_same_cluster in X_filled1.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled1[f_in_same_cluster].tolist()

featurs CODE_GENDER
featurs FLAG_DOCUMENT_3
featurs REGION_RATING_CLIENT
featurs REGION_RATING_CLIENT_W_CITY
featurs INCOME_TO_GOODS_PRICE_RATIO
featurs NAME_CONTRACT_TYPE_Cash loans
featurs NAME_EDUCATION_TYPE_Secondary / secondary special
featurs NAME_FAMILY_STATUS_Married
featurs NAME_HOUSING_TYPE_House / apartment
featurs NAME_INCOME_TYPE_Working
featurs PREV_APP_CREDIT_PERC_MAX
featurs PREV_APP_CREDIT_PERC_MEAN
featurs PREV_HUMAN_EVAL_MEAN
featurs PREV_HUMAN_EVAL_SUM
featurs PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN
featurs PREV_NAME_CONTRACT_STATUS_Approved_MEAN
featurs PREV_CODE_REJECT_REASON_XAP_MEAN
featurs PREV_NAME_PORTFOLIO_POS_MEAN
featurs APPROVED_APP_CREDIT_PERC_MIN
featurs APPROVED_HUMAN_EVAL_SUM
featurs POS_TIME_DECAYED_UNPAYED_RATIO_MAX
featurs POS_NAME_CONTRACT_STATUS_Active_MEAN
featurs INSTAL_PAYMENT_PERC_MEAN_MEAN
featurs INSTAL_PAYMENT_PERC_SUM_SUM

In [51]:
df.shape

(356251, 280)

In [52]:
import os
#-------------------
# save
#-------------------
output_path = '../features/filled_by_matrix_completion'
if not os.path.isdir(output_path):
    os.mkdir(output_path)

df.to_hdf(
    os.path.join(output_path, 'base_featurs_filled_by_matrix_cluster_1.h5'), 
    'base_featurs_filled_by_matrix_cluster_1')

In [53]:
from fancyimpute import BiScaler
# loading data
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
print (df.shape)
X_missing = df[feature_clustering[feature_clustering.cluster == 2].features.tolist()]
print (X_missing.shape)
X_filled2 = BiScaler().fit_transform(X_missing.values)

(356251, 281)
(356251, 280)
(356251, 11)
[BiScaler] Initial log residual value = 37.680961
[BiScaler] Iter 1: log residual = 12.191562, log improvement ratio=25.489399
[BiScaler] Iter 2: log residual = 10.427514, log improvement ratio=1.764048
[BiScaler] Iter 3: log residual = 8.983707, log improvement ratio=1.443807
[BiScaler] Iter 4: log residual = 7.851408, log improvement ratio=1.132299
[BiScaler] Iter 5: log residual = 7.446411, log improvement ratio=0.404997
[BiScaler] Iter 6: log residual = 6.889206, log improvement ratio=0.557205
[BiScaler] Iter 7: log residual = 6.410323, log improvement ratio=0.478883
[BiScaler] Iter 8: log residual = 6.006865, log improvement ratio=0.403458
[BiScaler] Iter 9: log residual = 5.727612, log improvement ratio=0.279253
[BiScaler] Iter 10: log residual = 5.868310, log improvement ratio=-0.140698

In [54]:
X_filled2 = pd.DataFrame(X_filled2, columns = X_missing.columns)

In [55]:
# reload again for filling
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
for f_in_same_cluster in X_filled2.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled2[f_in_same_cluster].tolist()

(356251, 281)
featurs AMT_CREDIT
featurs DAYS_BIRTH
featurs AMT_CREDIT_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_CODE_GENDER_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs AMT_CREDIT_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs AMT_GOODS_PRICE_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
featurs DAYS_REGISTRATION_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE

In [56]:
import os
#-------------------
# save
#-------------------
output_path = '../features/filled_by_matrix_completion'
if not os.path.isdir(output_path):
    os.mkdir(output_path)

df.to_hdf(
    os.path.join(output_path, 'base_featurs_filled_by_matrix_cluster_2.h5'), 
    'base_featurs_filled_by_matrix_cluster_2')

In [58]:
# reload again for filling
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
for f_in_same_cluster in X_filled1.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled1[f_in_same_cluster].tolist()
for f_in_same_cluster in X_filled2.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled2[f_in_same_cluster].tolist()

(356251, 281)
featurs CODE_GENDER
featurs FLAG_DOCUMENT_3
featurs REGION_RATING_CLIENT
featurs REGION_RATING_CLIENT_W_CITY
featurs INCOME_TO_GOODS_PRICE_RATIO
featurs NAME_CONTRACT_TYPE_Cash loans
featurs NAME_EDUCATION_TYPE_Secondary / secondary special
featurs NAME_FAMILY_STATUS_Married
featurs NAME_HOUSING_TYPE_House / apartment
featurs NAME_INCOME_TYPE_Working
featurs PREV_APP_CREDIT_PERC_MAX
featurs PREV_APP_CREDIT_PERC_MEAN
featurs PREV_HUMAN_EVAL_MEAN
featurs PREV_HUMAN_EVAL_SUM
featurs PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN
featurs PREV_NAME_CONTRACT_STATUS_Approved_MEAN
featurs PREV_CODE_REJECT_REASON_XAP_MEAN
featurs PREV_NAME_PORTFOLIO_POS_MEAN
featurs APPROVED_APP_CREDIT_PERC_MIN
featurs APPROVED_HUMAN_EVAL_SUM
featurs POS_TIME_DECAYED_UNPAYED_RATIO_MAX
featurs POS_NAME_CONTRACT_STATUS_Active_MEAN
featurs INSTAL_PAYMENT_PERC_MEAN_MEAN
featurs INSTAL_PAYMENT_PERC_SUM_SUM
featurs AMT_CREDIT
featurs DAYS_BIRTH
featurs AMT_CREDIT_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_CODE_GENDER_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs AMT_CREDIT_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs AMT_GOODS_PRICE_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
featurs DAYS_REGISTRATION_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE

In [62]:
df.to_hdf(
    os.path.join(output_path, 'base_featurs_filled_by_matrix_cluster_2_1.h5'), 
    'base_featurs_filled_by_matrix_cluster_2_1')

In [63]:
os.listdir('../features/filled_by_matrix_completion')

['base_featurs_filled_by_matrix_cluster_2_1.h5',
 'base_featurs_filled_by_matrix_cluster_2+1.h5',
 'base_featurs_filled_by_matrix_cluster_1.h5',
 'base_featurs_filled_by_matrix_cluster_2.h5']

# imputation - by KNN

In [26]:
# loading data
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)
print (df.shape)

(356251, 281)
(356251, 280)

In [27]:
from ycimpute.imputer.knnimput import KNN # inputation library
X_missing_df = df[feature_clustering[feature_clustering.cluster == 1].features.tolist()]
print ('X_missing_df', X_missing_df.shape)
small_df_ls = []
num_split = 20
previous_step = None
for i, step in enumerate(np.arange(0, X_missing_df.shape[0], step = int(X_missing_df.shape[0] / num_split))):
    # for memory problem, we cannot feed all the data points into algorithm, which depends on row and n_features
    if i == 0:
        pass
    elif i == 1:
        small_df_ls.append(X_missing_df[0: step])
        previous_step = step
    elif i == (num_split):
        small_df_ls.append(X_missing_df[previous_step: ])
        break
    else:
        small_df_ls.append(X_missing_df[previous_step: step])
        previous_step = step
pd.concat(small_df_ls, axis = 0).shape

X_missing_df (356251, 24)

(356251, 24)

In [28]:
#-------------------
# imputating
#------------------
k = 65 # by cv
small_df_filled_ls = []
for small_df in small_df_ls:
    X_missing = small_df.copy()
    # core algorithm: input should be array
    X_filled = KNN(k = k).complete(X_missing.values)
    small_df_filled_ls.append(pd.DataFrame(X_filled, columns = X_missing.columns))

Imputing row 1/17812 with 0 missing, elapsed time: 84.634
Imputing row 101/17812 with 0 missing, elapsed time: 84.646
Imputing row 201/17812 with 0 missing, elapsed time: 84.656
Imputing row 301/17812 with 0 missing, elapsed time: 84.665
Imputing row 401/17812 with 0 missing, elapsed time: 84.675
Imputing row 501/17812 with 0 missing, elapsed time: 84.689
Imputing row 601/17812 with 0 missing, elapsed time: 84.701
Imputing row 701/17812 with 0 missing, elapsed time: 84.706
Imputing row 801/17812 with 0 missing, elapsed time: 84.719
Imputing row 901/17812 with 0 missing, elapsed time: 84.726
Imputing row 1001/17812 with 0 missing, elapsed time: 84.732
Imputing row 1101/17812 with 0 missing, elapsed time: 84.739
Imputing row 1201/17812 with 0 missing, elapsed time: 84.751
Imputing row 1301/17812 with 0 missing, elapsed time: 84.754
Imputing row 1401/17812 with 0 missing, elapsed time: 84.761
Imputing row 1501/17812 with 0 missing, elapsed time: 84.769
Imputing row 1601/17812 with 0 missing, elapsed time: 84.777
Imputing row 1701/17812 with 0 missing, elapsed time: 84.779
Imputing row 1801/17812 with 0 missing, elapsed time: 84.786
Imputing row 1901/17812 with 0 missing, elapsed time: 84.791
Imputing row 2001/17812 with 0 missing, elapsed time: 84.795
Imputing row 2101/17812 with 0 missing, elapsed time: 84.798
Imputing row 2201/17812 with 0 missing, elapsed time: 84.808
Imputing row 2301/17812 with 0 missing, elapsed time: 84.812
Imputing row 2401/17812 with 0 missing, elapsed time: 84.819
Imputing row 2501/17812 with 0 missing, elapsed time: 84.824
Imputing row 2601/17812 with 0 missing, elapsed time: 84.833
Imputing row 2701/17812 with 14 missing, elapsed time: 84.845
Imputing row 2801/17812 with 0 missing, elapsed time: 84.862
Imputing row 2901/17812 with 0 missing, elapsed time: 84.866
Imputing row 3001/17812 with 0 missing, elapsed time: 84.872
Imputing row 3101/17812 with 0 missing, elapsed time: 84.886
Imputing row 3201/17812 with 0 missing, elapsed time: 84.895
Imputing row 3301/17812 with 0 missing, elapsed time: 84.898
Imputing row 3401/17812 with 0 missing, elapsed time: 84.910
Imputing row 3501/17812 with 0 missing, elapsed time: 84.915
Imputing row 3601/17812 with 0 missing, elapsed time: 84.922
Imputing row 3701/17812 with 0 missing, elapsed time: 84.927
Imputing row 3801/17812 with 0 missing, elapsed time: 84.943
Imputing row 3901/17812 with 14 missing, elapsed time: 84.952
Imputing row 4001/17812 with 0 missing, elapsed time: 84.956
Imputing row 4101/17812 with 0 missing, elapsed time: 84.960
Imputing row 4201/17812 with 0 missing, elapsed time: 84.977
Imputing row 4301/17812 with 0 missing, elapsed time: 84.989
Imputing row 4401/17812 with 0 missing, elapsed time: 85.004
Imputing row 4501/17812 with 0 missing, elapsed time: 85.010
Imputing row 4601/17812 with 0 missing, elapsed time: 85.016
Imputing row 4701/17812 with 0 missing, elapsed time: 85.022
Imputing row 4801/17812 with 0 missing, elapsed time: 85.029
Imputing row 4901/17812 with 0 missing, elapsed time: 85.036
Imputing row 5001/17812 with 0 missing, elapsed time: 85.041
Imputing row 5101/17812 with 0 missing, elapsed time: 85.050
Imputing row 5201/17812 with 0 missing, elapsed time: 85.059
Imputing row 5301/17812 with 0 missing, elapsed time: 85.071
Imputing row 5401/17812 with 0 missing, elapsed time: 85.085
Imputing row 5501/17812 with 0 missing, elapsed time: 85.093
Imputing row 5601/17812 with 0 missing, elapsed time: 85.100
Imputing row 5701/17812 with 0 missing, elapsed time: 85.111
Imputing row 5801/17812 with 0 missing, elapsed time: 85.119
Imputing row 5901/17812 with 0 missing, elapsed time: 85.126
Imputing row 6001/17812 with 0 missing, elapsed time: 85.131
Imputing row 6101/17812 with 0 missing, elapsed time: 85.136
Imputing row 6201/17812 with 0 missing, elapsed time: 85.144
Imputing row 6301/17812 with 0 missing, elapsed time: 85.155
Imputing row 6401/17812 with 0 missing, elapsed time: 85.166
Imputing row 6501/17812 with 0 missing, elapsed time: 85.174
Imputing row 6601/17812 with 0 missing, elapsed time: 85.185
Imputing row 6701/17812 with 0 missing, elapsed time: 85.196
Imputing row 6801/17812 with 0 missing, elapsed time: 85.209
Imputing row 6901/17812 with 0 missing, elapsed time: 85.217
Imputing row 7001/17812 with 0 missing, elapsed time: 85.223
Imputing row 7101/17812 with 0 missing, elapsed time: 85.229
Imputing row 7201/17812 with 0 missing, elapsed time: 85.236
Imputing row 7301/17812 with 0 missing, elapsed time: 85.244
Imputing row 7401/17812 with 0 missing, elapsed time: 85.254
Imputing row 7501/17812 with 2 missing, elapsed time: 85.263
Imputing row 7601/17812 with 14 missing, elapsed time: 85.271
Imputing row 7701/17812 with 0 missing, elapsed time: 85.280
Imputing row 7801/17812 with 0 missing, elapsed time: 85.284
Imputing row 7901/17812 with 14 missing, elapsed time: 85.296
Imputing row 8001/17812 with 0 missing, elapsed time: 85.302
Imputing row 8101/17812 with 0 missing, elapsed time: 85.320
Imputing row 8201/17812 with 0 missing, elapsed time: 85.331
Imputing row 8301/17812 with 0 missing, elapsed time: 85.334
Imputing row 8401/17812 with 0 missing, elapsed time: 85.339
Imputing row 8501/17812 with 0 missing, elapsed time: 85.343
Imputing row 8601/17812 with 0 missing, elapsed time: 85.349
Imputing row 8701/17812 with 0 missing, elapsed time: 85.357
Imputing row 8801/17812 with 0 missing, elapsed time: 85.364
Imputing row 8901/17812 with 0 missing, elapsed time: 85.369
Imputing row 9001/17812 with 0 missing, elapsed time: 85.377
Imputing row 9101/17812 with 0 missing, elapsed time: 85.389
Imputing row 9201/17812 with 0 missing, elapsed time: 85.402
Imputing row 9301/17812 with 0 missing, elapsed time: 85.407
Imputing row 9401/17812 with 0 missing, elapsed time: 85.417
Imputing row 9501/17812 with 0 missing, elapsed time: 85.434
Imputing row 9601/17812 with 0 missing, elapsed time: 85.446
Imputing row 9701/17812 with 0 missing, elapsed time: 85.463
Imputing row 9801/17812 with 0 missing, elapsed time: 85.477
Imputing row 9901/17812 with 0 missing, elapsed time: 85.486
Imputing row 10001/17812 with 0 missing, elapsed time: 85.494
Imputing row 10101/17812 with 0 missing, elapsed time: 85.501
Imputing row 10201/17812 with 0 missing, elapsed time: 85.514
Imputing row 10301/17812 with 0 missing, elapsed time: 85.533
Imputing row 10401/17812 with 0 missing, elapsed time: 85.540
Imputing row 10501/17812 with 0 missing, elapsed time: 85.556
Imputing row 10601/17812 with 0 missing, elapsed time: 85.561
Imputing row 10701/17812 with 0 missing, elapsed time: 85.570
Imputing row 10801/17812 with 0 missing, elapsed time: 85.586
Imputing row 10901/17812 with 0 missing, elapsed time: 85.600
Imputing row 11001/17812 with 0 missing, elapsed time: 85.613
Imputing row 11101/17812 with 0 missing, elapsed time: 85.623
Imputing row 11201/17812 with 0 missing, elapsed time: 85.639
Imputing row 11301/17812 with 0 missing, elapsed time: 85.650
Imputing row 11401/17812 with 0 missing, elapsed time: 85.658
Imputing row 11501/17812 with 0 missing, elapsed time: 85.670
Imputing row 11601/17812 with 0 missing, elapsed time: 85.678
Imputing row 11701/17812 with 0 missing, elapsed time: 85.690
Imputing row 11801/17812 with 0 missing, elapsed time: 85.703
Imputing row 11901/17812 with 0 missing, elapsed time: 85.714
Imputing row 12001/17812 with 0 missing, elapsed time: 85.731
Imputing row 12101/17812 with 0 missing, elapsed time: 85.742
Imputing row 12201/17812 with 0 missing, elapsed time: 85.754
Imputing row 12301/17812 with 0 missing, elapsed time: 85.763
Imputing row 12401/17812 with 0 missing, elapsed time: 85.775
Imputing row 12501/17812 with 0 missing, elapsed time: 85.783
Imputing row 12601/17812 with 0 missing, elapsed time: 85.786
Imputing row 12701/17812 with 0 missing, elapsed time: 85.790
Imputing row 12801/17812 with 0 missing, elapsed time: 85.797
Imputing row 12901/17812 with 14 missing, elapsed time: 85.807
Imputing row 13001/17812 with 0 missing, elapsed time: 85.816
Imputing row 13101/17812 with 0 missing, elapsed time: 85.824
Imputing row 13201/17812 with 0 missing, elapsed time: 85.829
Imputing row 13301/17812 with 0 missing, elapsed time: 85.838
Imputing row 13401/17812 with 0 missing, elapsed time: 85.842
Imputing row 13501/17812 with 0 missing, elapsed time: 85.852
Imputing row 13601/17812 with 0 missing, elapsed time: 85.857
Imputing row 13701/17812 with 0 missing, elapsed time: 85.863
Imputing row 13801/17812 with 0 missing, elapsed time: 85.868

Imputing row 13901/17812 with 0 missing, elapsed time: 85.873
Imputing row 14001/17812 with 14 missing, elapsed time: 85.879
Imputing row 14101/17812 with 0 missing, elapsed time: 85.888
Imputing row 14201/17812 with 0 missing, elapsed time: 85.898
Imputing row 14301/17812 with 0 missing, elapsed time: 85.909
Imputing row 14401/17812 with 0 missing, elapsed time: 85.916
Imputing row 14501/17812 with 0 missing, elapsed time: 85.923
Imputing row 14601/17812 with 0 missing, elapsed time: 85.929
Imputing row 14701/17812 with 0 missing, elapsed time: 85.942
Imputing row 14801/17812 with 0 missing, elapsed time: 85.949
Imputing row 14901/17812 with 0 missing, elapsed time: 85.959
Imputing row 15001/17812 with 0 missing, elapsed time: 85.969
Imputing row 15101/17812 with 0 missing, elapsed time: 85.972
Imputing row 15201/17812 with 0 missing, elapsed time: 85.976
Imputing row 15301/17812 with 0 missing, elapsed time: 85.985
Imputing row 15401/17812 with 0 missing, elapsed time: 85.995
Imputing row 15501/17812 with 0 missing, elapsed time: 86.004
Imputing row 15601/17812 with 0 missing, elapsed time: 86.014
Imputing row 15701/17812 with 0 missing, elapsed time: 86.016
Imputing row 15801/17812 with 0 missing, elapsed time: 86.022
Imputing row 15901/17812 with 0 missing, elapsed time: 86.029
Imputing row 16001/17812 with 0 missing, elapsed time: 86.036
Imputing row 16101/17812 with 0 missing, elapsed time: 86.045
Imputing row 16201/17812 with 0 missing, elapsed time: 86.049
Imputing row 16301/17812 with 0 missing, elapsed time: 86.054
Imputing row 16401/17812 with 0 missing, elapsed time: 86.063
Imputing row 16501/17812 with 0 missing, elapsed time: 86.083
Imputing row 16601/17812 with 0 missing, elapsed time: 86.088
Imputing row 16701/17812 with 0 missing, elapsed time: 86.094
Imputing row 16801/17812 with 0 missing, elapsed time: 86.105
Imputing row 16901/17812 with 0 missing, elapsed time: 86.108
Imputing row 17001/17812 with 0 missing, elapsed time: 86.123
Imputing row 17101/17812 with 0 missing, elapsed time: 86.140
Imputing row 17201/17812 with 0 missing, elapsed time: 86.152
Imputing row 17301/17812 with 0 missing, elapsed time: 86.166
Imputing row 17401/17812 with 0 missing, elapsed time: 86.185
Imputing row 17501/17812 with 0 missing, elapsed time: 86.192
Imputing row 17601/17812 with 0 missing, elapsed time: 86.201
Imputing row 17701/17812 with 0 missing, elapsed time: 86.217
Imputing row 17801/17812 with 0 missing, elapsed time: 86.227
Imputing row 1/17812 with 0 missing, elapsed time: 81.248
Imputing row 101/17812 with 0 missing, elapsed time: 81.258
Imputing row 201/17812 with 2 missing, elapsed time: 81.269
Imputing row 301/17812 with 0 missing, elapsed time: 81.283
Imputing row 401/17812 with 0 missing, elapsed time: 81.291
Imputing row 501/17812 with 0 missing, elapsed time: 81.300
Imputing row 601/17812 with 0 missing, elapsed time: 81.313
Imputing row 701/17812 with 0 missing, elapsed time: 81.320
Imputing row 801/17812 with 0 missing, elapsed time: 81.326
Imputing row 901/17812 with 0 missing, elapsed time: 81.336
Imputing row 1001/17812 with 0 missing, elapsed time: 81.341
Imputing row 1101/17812 with 0 missing, elapsed time: 81.350
Imputing row 1201/17812 with 0 missing, elapsed time: 81.356
Imputing row 1301/17812 with 0 missing, elapsed time: 81.368
Imputing row 1401/17812 with 0 missing, elapsed time: 81.381
Imputing row 1501/17812 with 0 missing, elapsed time: 81.392
Imputing row 1601/17812 with 0 missing, elapsed time: 81.402
Imputing row 1701/17812 with 0 missing, elapsed time: 81.410
Imputing row 1801/17812 with 0 missing, elapsed time: 81.425
Imputing row 1901/17812 with 0 missing, elapsed time: 81.440
Imputing row 2001/17812 with 0 missing, elapsed time: 81.442
Imputing row 2101/17812 with 0 missing, elapsed time: 81.445
Imputing row 2201/17812 with 0 missing, elapsed time: 81.456
Imputing row 2301/17812 with 0 missing, elapsed time: 81.472
Imputing row 2401/17812 with 0 missing, elapsed time: 81.491
Imputing row 2501/17812 with 0 missing, elapsed time: 81.498
Imputing row 2601/17812 with 0 missing, elapsed time: 81.509
Imputing row 2701/17812 with 0 missing, elapsed time: 81.520
Imputing row 2801/17812 with 0 missing, elapsed time: 81.534
Imputing row 2901/17812 with 0 missing, elapsed time: 81.542
Imputing row 3001/17812 with 0 missing, elapsed time: 81.550
Imputing row 3101/17812 with 0 missing, elapsed time: 81.553
Imputing row 3201/17812 with 14 missing, elapsed time: 81.564
Imputing row 3301/17812 with 0 missing, elapsed time: 81.575
Imputing row 3401/17812 with 0 missing, elapsed time: 81.583
Imputing row 3501/17812 with 0 missing, elapsed time: 81.592
Imputing row 3601/17812 with 0 missing, elapsed time: 81.597
Imputing row 3701/17812 with 0 missing, elapsed time: 81.601
Imputing row 3801/17812 with 0 missing, elapsed time: 81.621
Imputing row 3901/17812 with 0 missing, elapsed time: 81.638
Imputing row 4001/17812 with 0 missing, elapsed time: 81.650
Imputing row 4101/17812 with 0 missing, elapsed time: 81.672
Imputing row 4201/17812 with 0 missing, elapsed time: 81.684
Imputing row 4301/17812 with 0 missing, elapsed time: 81.691
Imputing row 4401/17812 with 0 missing, elapsed time: 81.708
Imputing row 4501/17812 with 0 missing, elapsed time: 81.724
Imputing row 4601/17812 with 0 missing, elapsed time: 81.739
Imputing row 4701/17812 with 0 missing, elapsed time: 81.748
Imputing row 4801/17812 with 0 missing, elapsed time: 81.764
Imputing row 4901/17812 with 0 missing, elapsed time: 81.771
Imputing row 5001/17812 with 0 missing, elapsed time: 81.779
Imputing row 5101/17812 with 0 missing, elapsed time: 81.786
Imputing row 5201/17812 with 0 missing, elapsed time: 81.791
Imputing row 5301/17812 with 0 missing, elapsed time: 81.795
Imputing row 5401/17812 with 0 missing, elapsed time: 81.801
Imputing row 5501/17812 with 0 missing, elapsed time: 81.807
Imputing row 5601/17812 with 14 missing, elapsed time: 81.812
Imputing row 5701/17812 with 0 missing, elapsed time: 81.819
Imputing row 5801/17812 with 0 missing, elapsed time: 81.829
Imputing row 5901/17812 with 0 missing, elapsed time: 81.834
Imputing row 6001/17812 with 0 missing, elapsed time: 81.841
Imputing row 6101/17812 with 0 missing, elapsed time: 81.849
Imputing row 6201/17812 with 0 missing, elapsed time: 81.855
Imputing row 6301/17812 with 0 missing, elapsed time: 81.861
Imputing row 6401/17812 with 0 missing, elapsed time: 81.879
Imputing row 6501/17812 with 0 missing, elapsed time: 81.887
Imputing row 6601/17812 with 0 missing, elapsed time: 81.903
Imputing row 6701/17812 with 0 missing, elapsed time: 81.918
Imputing row 6801/17812 with 0 missing, elapsed time: 81.932
Imputing row 6901/17812 with 0 missing, elapsed time: 81.943
Imputing row 7001/17812 with 14 missing, elapsed time: 81.947
Imputing row 7101/17812 with 0 missing, elapsed time: 81.956
Imputing row 7201/17812 with 0 missing, elapsed time: 81.961
Imputing row 7301/17812 with 0 missing, elapsed time: 81.972
Imputing row 7401/17812 with 0 missing, elapsed time: 81.984
Imputing row 7501/17812 with 0 missing, elapsed time: 81.990
Imputing row 7601/17812 with 0 missing, elapsed time: 81.995
Imputing row 7701/17812 with 0 missing, elapsed time: 82.004
Imputing row 7801/17812 with 0 missing, elapsed time: 82.009
Imputing row 7901/17812 with 0 missing, elapsed time: 82.019
Imputing row 8001/17812 with 0 missing, elapsed time: 82.027
Imputing row 8101/17812 with 0 missing, elapsed time: 82.039
Imputing row 8201/17812 with 0 missing, elapsed time: 82.043
Imputing row 8301/17812 with 0 missing, elapsed time: 82.047
Imputing row 8401/17812 with 0 missing, elapsed time: 82.052
Imputing row 8501/17812 with 0 missing, elapsed time: 82.060
Imputing row 8601/17812 with 0 missing, elapsed time: 82.065
Imputing row 8701/17812 with 0 missing, elapsed time: 82.074
Imputing row 8801/17812 with 0 missing, elapsed time: 82.084
Imputing row 8901/17812 with 0 missing, elapsed time: 82.088
Imputing row 9001/17812 with 0 missing, elapsed time: 82.089
Imputing row 9101/17812 with 0 missing, elapsed time: 82.100
Imputing row 9201/17812 with 0 missing, elapsed time: 82.117
Imputing row 9301/17812 with 0 missing, elapsed time: 82.123
Imputing row 9401/17812 with 0 missing, elapsed time: 82.128
Imputing row 9501/17812 with 0 missing, elapsed time: 82.132
Imputing row 9601/17812 with 0 missing, elapsed time: 82.140
Imputing row 9701/17812 with 14 missing, elapsed time: 82.151
Imputing row 9801/17812 with 0 missing, elapsed time: 82.165
Imputing row 9901/17812 with 0 missing, elapsed time: 82.172
Imputing row 10001/17812 with 0 missing, elapsed time: 82.184
Imputing row 10101/17812 with 0 missing, elapsed time: 82.189
Imputing row 10201/17812 with 0 missing, elapsed time: 82.202
Imputing row 10301/17812 with 0 missing, elapsed time: 82.217
Imputing row 10401/17812 with 0 missing, elapsed time: 82.228
Imputing row 10501/17812 with 0 missing, elapsed time: 82.237
Imputing row 10601/17812 with 0 missing, elapsed time: 82.245
Imputing row 10701/17812 with 0 missing, elapsed time: 82.257
Imputing row 10801/17812 with 0 missing, elapsed time: 82.265
Imputing row 10901/17812 with 0 missing, elapsed time: 82.275
Imputing row 11001/17812 with 0 missing, elapsed time: 82.282

Imputing row 11101/17812 with 0 missing, elapsed time: 82.293
Imputing row 11201/17812 with 0 missing, elapsed time: 82.302
Imputing row 11301/17812 with 0 missing, elapsed time: 82.305
Imputing row 11401/17812 with 0 missing, elapsed time: 82.311
Imputing row 11501/17812 with 0 missing, elapsed time: 82.322
Imputing row 11601/17812 with 0 missing, elapsed time: 82.331
Imputing row 11701/17812 with 0 missing, elapsed time: 82.343
Imputing row 11801/17812 with 0 missing, elapsed time: 82.355
Imputing row 11901/17812 with 0 missing, elapsed time: 82.378
Imputing row 12001/17812 with 0 missing, elapsed time: 82.392
Imputing row 12101/17812 with 0 missing, elapsed time: 82.404
Imputing row 12201/17812 with 0 missing, elapsed time: 82.411
Imputing row 12301/17812 with 0 missing, elapsed time: 82.414
Imputing row 12401/17812 with 0 missing, elapsed time: 82.428
Imputing row 12501/17812 with 0 missing, elapsed time: 82.438
Imputing row 12601/17812 with 0 missing, elapsed time: 82.446
Imputing row 12701/17812 with 0 missing, elapsed time: 82.459
Imputing row 12801/17812 with 0 missing, elapsed time: 82.467
Imputing row 12901/17812 with 14 missing, elapsed time: 82.474
Imputing row 13001/17812 with 14 missing, elapsed time: 82.492
Imputing row 13101/17812 with 0 missing, elapsed time: 82.511
Imputing row 13201/17812 with 0 missing, elapsed time: 82.524
Imputing row 13301/17812 with 0 missing, elapsed time: 82.530
Imputing row 13401/17812 with 0 missing, elapsed time: 82.534
Imputing row 13501/17812 with 0 missing, elapsed time: 82.541
Imputing row 13601/17812 with 0 missing, elapsed time: 82.548
Imputing row 13701/17812 with 0 missing, elapsed time: 82.557
Imputing row 13801/17812 with 0 missing, elapsed time: 82.562
Imputing row 13901/17812 with 0 missing, elapsed time: 82.565
Imputing row 14001/17812 with 0 missing, elapsed time: 82.576
Imputing row 14101/17812 with 0 missing, elapsed time: 82.582
Imputing row 14201/17812 with 0 missing, elapsed time: 82.587
Imputing row 14301/17812 with 0 missing, elapsed time: 82.594
Imputing row 14401/17812 with 0 missing, elapsed time: 82.600
Imputing row 14501/17812 with 0 missing, elapsed time: 82.609
Imputing row 14601/17812 with 0 missing, elapsed time: 82.620
Imputing row 14701/17812 with 0 missing, elapsed time: 82.629
Imputing row 14801/17812 with 0 missing, elapsed time: 82.641
Imputing row 14901/17812 with 14 missing, elapsed time: 82.648
Imputing row 15001/17812 with 0 missing, elapsed time: 82.659
Imputing row 15101/17812 with 0 missing, elapsed time: 82.670
Imputing row 15201/17812 with 0 missing, elapsed time: 82.676
Imputing row 15301/17812 with 0 missing, elapsed time: 82.687
Imputing row 15401/17812 with 0 missing, elapsed time: 82.692
Imputing row 15501/17812 with 0 missing, elapsed time: 82.704
Imputing row 15601/17812 with 14 missing, elapsed time: 82.725
Imputing row 15701/17812 with 0 missing, elapsed time: 82.730
Imputing row 15801/17812 with 0 missing, elapsed time: 82.740
Imputing row 15901/17812 with 0 missing, elapsed time: 82.749
Imputing row 16001/17812 with 0 missing, elapsed time: 82.764
Imputing row 16101/17812 with 0 missing, elapsed time: 82.781
Imputing row 16201/17812 with 0 missing, elapsed time: 82.795
Imputing row 16301/17812 with 0 missing, elapsed time: 82.804
Imputing row 16401/17812 with 0 missing, elapsed time: 82.811
Imputing row 16501/17812 with 0 missing, elapsed time: 82.817
Imputing row 16601/17812 with 0 missing, elapsed time: 82.823
Imputing row 16701/17812 with 0 missing, elapsed time: 82.831
Imputing row 16801/17812 with 0 missing, elapsed time: 82.839
Imputing row 16901/17812 with 0 missing, elapsed time: 82.846
Imputing row 17001/17812 with 0 missing, elapsed time: 82.853
Imputing row 17101/17812 with 0 missing, elapsed time: 82.865
Imputing row 17201/17812 with 0 missing, elapsed time: 82.876
Imputing row 17301/17812 with 0 missing, elapsed time: 82.890
Imputing row 17401/17812 with 0 missing, elapsed time: 82.907
Imputing row 17501/17812 with 0 missing, elapsed time: 82.913
Imputing row 17601/17812 with 0 missing, elapsed time: 82.924
Imputing row 17701/17812 with 0 missing, elapsed time: 82.935
Imputing row 17801/17812 with 0 missing, elapsed time: 82.944
Imputing row 1/17812 with 0 missing, elapsed time: 82.326
Imputing row 101/17812 with 0 missing, elapsed time: 82.331
Imputing row 201/17812 with 0 missing, elapsed time: 82.337
Imputing row 301/17812 with 0 missing, elapsed time: 82.342
Imputing row 401/17812 with 0 missing, elapsed time: 82.355
Imputing row 501/17812 with 0 missing, elapsed time: 82.359
Imputing row 601/17812 with 0 missing, elapsed time: 82.365
Imputing row 701/17812 with 0 missing, elapsed time: 82.371
Imputing row 801/17812 with 0 missing, elapsed time: 82.374
Imputing row 901/17812 with 0 missing, elapsed time: 82.379
Imputing row 1001/17812 with 0 missing, elapsed time: 82.392
Imputing row 1101/17812 with 0 missing, elapsed time: 82.395
Imputing row 1201/17812 with 0 missing, elapsed time: 82.404
Imputing row 1301/17812 with 0 missing, elapsed time: 82.410
Imputing row 1401/17812 with 0 missing, elapsed time: 82.417
Imputing row 1501/17812 with 0 missing, elapsed time: 82.422
Imputing row 1601/17812 with 0 missing, elapsed time: 82.430
Imputing row 1701/17812 with 0 missing, elapsed time: 82.434
Imputing row 1801/17812 with 0 missing, elapsed time: 82.439
Imputing row 1901/17812 with 0 missing, elapsed time: 82.447
Imputing row 2001/17812 with 0 missing, elapsed time: 82.451
Imputing row 2101/17812 with 0 missing, elapsed time: 82.456
Imputing row 2201/17812 with 0 missing, elapsed time: 82.461
Imputing row 2301/17812 with 0 missing, elapsed time: 82.468
Imputing row 2401/17812 with 0 missing, elapsed time: 82.472
Imputing row 2501/17812 with 0 missing, elapsed time: 82.477
Imputing row 2601/17812 with 14 missing, elapsed time: 82.480
Imputing row 2701/17812 with 0 missing, elapsed time: 82.486
Imputing row 2801/17812 with 14 missing, elapsed time: 82.492
Imputing row 2901/17812 with 2 missing, elapsed time: 82.499
Imputing row 3001/17812 with 0 missing, elapsed time: 82.503
Imputing row 3101/17812 with 0 missing, elapsed time: 82.507
Imputing row 3201/17812 with 14 missing, elapsed time: 82.515
Imputing row 3301/17812 with 14 missing, elapsed time: 82.519
Imputing row 3401/17812 with 4 missing, elapsed time: 82.528
Imputing row 3501/17812 with 0 missing, elapsed time: 82.534
Imputing row 3601/17812 with 0 missing, elapsed time: 82.538
Imputing row 3701/17812 with 0 missing, elapsed time: 82.542
Imputing row 3801/17812 with 0 missing, elapsed time: 82.545
Imputing row 3901/17812 with 0 missing, elapsed time: 82.549
Imputing row 4001/17812 with 0 missing, elapsed time: 82.555
Imputing row 4101/17812 with 0 missing, elapsed time: 82.560
Imputing row 4201/17812 with 0 missing, elapsed time: 82.566
Imputing row 4301/17812 with 0 missing, elapsed time: 82.569
Imputing row 4401/17812 with 0 missing, elapsed time: 82.573
Imputing row 4501/17812 with 0 missing, elapsed time: 82.579
Imputing row 4601/17812 with 0 missing, elapsed time: 82.582
Imputing row 4701/17812 with 0 missing, elapsed time: 82.589
Imputing row 4801/17812 with 0 missing, elapsed time: 82.594
Imputing row 4901/17812 with 0 missing, elapsed time: 82.599
Imputing row 5001/17812 with 0 missing, elapsed time: 82.605
Imputing row 5101/17812 with 0 missing, elapsed time: 82.611
Imputing row 5201/17812 with 0 missing, elapsed time: 82.618
Imputing row 5301/17812 with 0 missing, elapsed time: 82.624
Imputing row 5401/17812 with 0 missing, elapsed time: 82.631
Imputing row 5501/17812 with 0 missing, elapsed time: 82.636
Imputing row 5601/17812 with 0 missing, elapsed time: 82.640
Imputing row 5701/17812 with 0 missing, elapsed time: 82.647
Imputing row 5801/17812 with 0 missing, elapsed time: 82.652
Imputing row 5901/17812 with 0 missing, elapsed time: 82.656
Imputing row 6001/17812 with 0 missing, elapsed time: 82.665
Imputing row 6101/17812 with 4 missing, elapsed time: 82.668
Imputing row 6201/17812 with 0 missing, elapsed time: 82.677
Imputing row 6301/17812 with 0 missing, elapsed time: 82.684
Imputing row 6401/17812 with 0 missing, elapsed time: 82.690
Imputing row 6501/17812 with 0 missing, elapsed time: 82.696
Imputing row 6601/17812 with 0 missing, elapsed time: 82.700
Imputing row 6701/17812 with 0 missing, elapsed time: 82.705
Imputing row 6801/17812 with 0 missing, elapsed time: 82.710
Imputing row 6901/17812 with 0 missing, elapsed time: 82.719
Imputing row 7001/17812 with 0 missing, elapsed time: 82.726

Imputing row 7101/17812 with 0 missing, elapsed time: 82.732
Imputing row 7201/17812 with 0 missing, elapsed time: 82.735
Imputing row 7301/17812 with 0 missing, elapsed time: 82.740
Imputing row 7401/17812 with 14 missing, elapsed time: 82.744
Imputing row 7501/17812 with 0 missing, elapsed time: 82.748
Imputing row 7601/17812 with 0 missing, elapsed time: 82.756
Imputing row 7701/17812 with 0 missing, elapsed time: 82.759
Imputing row 7801/17812 with 0 missing, elapsed time: 82.766
Imputing row 7901/17812 with 0 missing, elapsed time: 82.774
Imputing row 8001/17812 with 0 missing, elapsed time: 82.780
Imputing row 8101/17812 with 0 missing, elapsed time: 82.784
Imputing row 8201/17812 with 0 missing, elapsed time: 82.791
Imputing row 8301/17812 with 14 missing, elapsed time: 82.798
Imputing row 8401/17812 with 0 missing, elapsed time: 82.805
Imputing row 8501/17812 with 0 missing, elapsed time: 82.810
Imputing row 8601/17812 with 0 missing, elapsed time: 82.815
Imputing row 8701/17812 with 0 missing, elapsed time: 82.821
Imputing row 8801/17812 with 0 missing, elapsed time: 82.825
Imputing row 8901/17812 with 0 missing, elapsed time: 82.834
Imputing row 9001/17812 with 0 missing, elapsed time: 82.841
Imputing row 9101/17812 with 0 missing, elapsed time: 82.848
Imputing row 9201/17812 with 0 missing, elapsed time: 82.850
Imputing row 9301/17812 with 0 missing, elapsed time: 82.855
Imputing row 9401/17812 with 0 missing, elapsed time: 82.859
Imputing row 9501/17812 with 0 missing, elapsed time: 82.866
Imputing row 9601/17812 with 0 missing, elapsed time: 82.872
Imputing row 9701/17812 with 0 missing, elapsed time: 82.875
Imputing row 9801/17812 with 0 missing, elapsed time: 82.881
Imputing row 9901/17812 with 0 missing, elapsed time: 82.884
Imputing row 10001/17812 with 2 missing, elapsed time: 82.891
Imputing row 10101/17812 with 14 missing, elapsed time: 82.895
Imputing row 10201/17812 with 0 missing, elapsed time: 82.902
Imputing row 10301/17812 with 0 missing, elapsed time: 82.908
Imputing row 10401/17812 with 0 missing, elapsed time: 82.913
Imputing row 10501/17812 with 0 missing, elapsed time: 82.919
Imputing row 10601/17812 with 0 missing, elapsed time: 82.930
Imputing row 10701/17812 with 0 missing, elapsed time: 82.935
Imputing row 10801/17812 with 0 missing, elapsed time: 82.943
Imputing row 10901/17812 with 0 missing, elapsed time: 82.946
Imputing row 11001/17812 with 0 missing, elapsed time: 82.955
Imputing row 11101/17812 with 0 missing, elapsed time: 82.959
Imputing row 11201/17812 with 0 missing, elapsed time: 82.967
Imputing row 11301/17812 with 0 missing, elapsed time: 82.978
Imputing row 11401/17812 with 0 missing, elapsed time: 82.983
Imputing row 11501/17812 with 0 missing, elapsed time: 82.992
Imputing row 11601/17812 with 0 missing, elapsed time: 82.999
Imputing row 11701/17812 with 0 missing, elapsed time: 83.009
Imputing row 11801/17812 with 0 missing, elapsed time: 83.016
Imputing row 11901/17812 with 0 missing, elapsed time: 83.026
Imputing row 12001/17812 with 0 missing, elapsed time: 83.031
Imputing row 12101/17812 with 0 missing, elapsed time: 83.034
Imputing row 12201/17812 with 0 missing, elapsed time: 83.043
Imputing row 12301/17812 with 0 missing, elapsed time: 83.051
Imputing row 12401/17812 with 0 missing, elapsed time: 83.054
Imputing row 12501/17812 with 0 missing, elapsed time: 83.061
Imputing row 12601/17812 with 0 missing, elapsed time: 83.064
Imputing row 12701/17812 with 0 missing, elapsed time: 83.075
Imputing row 12801/17812 with 0 missing, elapsed time: 83.079
Imputing row 12901/17812 with 0 missing, elapsed time: 83.088
Imputing row 13001/17812 with 0 missing, elapsed time: 83.098
Imputing row 13101/17812 with 0 missing, elapsed time: 83.107
Imputing row 13201/17812 with 0 missing, elapsed time: 83.113
Imputing row 13301/17812 with 0 missing, elapsed time: 83.124
Imputing row 13401/17812 with 0 missing, elapsed time: 83.132
Imputing row 13501/17812 with 0 missing, elapsed time: 83.135
Imputing row 13601/17812 with 0 missing, elapsed time: 83.142
Imputing row 13701/17812 with 0 missing, elapsed time: 83.146
Imputing row 13801/17812 with 0 missing, elapsed time: 83.152
Imputing row 13901/17812 with 0 missing, elapsed time: 83.156
Imputing row 14001/17812 with 0 missing, elapsed time: 83.163
Imputing row 14101/17812 with 0 missing, elapsed time: 83.172
Imputing row 14201/17812 with 0 missing, elapsed time: 83.179
Imputing row 14301/17812 with 0 missing, elapsed time: 83.187
Imputing row 14401/17812 with 0 missing, elapsed time: 83.190
Imputing row 14501/17812 with 0 missing, elapsed time: 83.197
Imputing row 14601/17812 with 0 missing, elapsed time: 83.208
Imputing row 14701/17812 with 0 missing, elapsed time: 83.215
Imputing row 14801/17812 with 0 missing, elapsed time: 83.223
Imputing row 14901/17812 with 0 missing, elapsed time: 83.228
Imputing row 15001/17812 with 0 missing, elapsed time: 83.239
Imputing row 15101/17812 with 0 missing, elapsed time: 83.249
Imputing row 15201/17812 with 0 missing, elapsed time: 83.260
Imputing row 15301/17812 with 0 missing, elapsed time: 83.271
Imputing row 15401/17812 with 0 missing, elapsed time: 83.278
Imputing row 15501/17812 with 0 missing, elapsed time: 83.296
Imputing row 15601/17812 with 0 missing, elapsed time: 83.308
Imputing row 15701/17812 with 0 missing, elapsed time: 83.311
Imputing row 15801/17812 with 0 missing, elapsed time: 83.317
Imputing row 15901/17812 with 0 missing, elapsed time: 83.325
Imputing row 16001/17812 with 0 missing, elapsed time: 83.333
Imputing row 16101/17812 with 0 missing, elapsed time: 83.340
Imputing row 16201/17812 with 0 missing, elapsed time: 83.348
Imputing row 16301/17812 with 10 missing, elapsed time: 83.353
Imputing row 16401/17812 with 0 missing, elapsed time: 83.359
Imputing row 16501/17812 with 0 missing, elapsed time: 83.374
Imputing row 16601/17812 with 0 missing, elapsed time: 83.377
Imputing row 16701/17812 with 0 missing, elapsed time: 83.380
Imputing row 16801/17812 with 0 missing, elapsed time: 83.394
Imputing row 16901/17812 with 0 missing, elapsed time: 83.402
Imputing row 17001/17812 with 0 missing, elapsed time: 83.413
Imputing row 17101/17812 with 0 missing, elapsed time: 83.423
Imputing row 17201/17812 with 0 missing, elapsed time: 83.435
Imputing row 17301/17812 with 0 missing, elapsed time: 83.438
Imputing row 17401/17812 with 14 missing, elapsed time: 83.443
Imputing row 17501/17812 with 0 missing, elapsed time: 83.452
Imputing row 17601/17812 with 0 missing, elapsed time: 83.461
Imputing row 17701/17812 with 0 missing, elapsed time: 83.472
Imputing row 17801/17812 with 14 missing, elapsed time: 83.484
Imputing row 1/17812 with 0 missing, elapsed time: 88.064
Imputing row 101/17812 with 0 missing, elapsed time: 88.074
Imputing row 201/17812 with 0 missing, elapsed time: 88.087
Imputing row 301/17812 with 0 missing, elapsed time: 88.100
Imputing row 401/17812 with 0 missing, elapsed time: 88.111
Imputing row 501/17812 with 0 missing, elapsed time: 88.125
Imputing row 601/17812 with 0 missing, elapsed time: 88.143
Imputing row 701/17812 with 0 missing, elapsed time: 88.149
Imputing row 801/17812 with 0 missing, elapsed time: 88.162
Imputing row 901/17812 with 0 missing, elapsed time: 88.178
Imputing row 1001/17812 with 14 missing, elapsed time: 88.186
Imputing row 1101/17812 with 0 missing, elapsed time: 88.196
Imputing row 1201/17812 with 0 missing, elapsed time: 88.204
Imputing row 1301/17812 with 0 missing, elapsed time: 88.210
Imputing row 1401/17812 with 0 missing, elapsed time: 88.216
Imputing row 1501/17812 with 0 missing, elapsed time: 88.221
Imputing row 1601/17812 with 0 missing, elapsed time: 88.225
Imputing row 1701/17812 with 0 missing, elapsed time: 88.233
Imputing row 1801/17812 with 0 missing, elapsed time: 88.242
Imputing row 1901/17812 with 0 missing, elapsed time: 88.252
Imputing row 2001/17812 with 0 missing, elapsed time: 88.256
Imputing row 2101/17812 with 0 missing, elapsed time: 88.264
Imputing row 2201/17812 with 0 missing, elapsed time: 88.275
Imputing row 2301/17812 with 0 missing, elapsed time: 88.280
Imputing row 2401/17812 with 0 missing, elapsed time: 88.288
Imputing row 2501/17812 with 0 missing, elapsed time: 88.289
Imputing row 2601/17812 with 0 missing, elapsed time: 88.292
Imputing row 2701/17812 with 0 missing, elapsed time: 88.298
Imputing row 2801/17812 with 0 missing, elapsed time: 88.305
Imputing row 2901/17812 with 0 missing, elapsed time: 88.308
Imputing row 3001/17812 with 0 missing, elapsed time: 88.314
Imputing row 3101/17812 with 0 missing, elapsed time: 88.319
Imputing row 3201/17812 with 0 missing, elapsed time: 88.324
Imputing row 3301/17812 with 0 missing, elapsed time: 88.329
Imputing row 3401/17812 with 0 missing, elapsed time: 88.337
Imputing row 3501/17812 with 0 missing, elapsed time: 88.345
Imputing row 3601/17812 with 0 missing, elapsed time: 88.352
Imputing row 3701/17812 with 0 missing, elapsed time: 88.362
Imputing row 3801/17812 with 0 missing, elapsed time: 88.367
Imputing row 3901/17812 with 0 missing, elapsed time: 88.372
Imputing row 4001/17812 with 0 missing, elapsed time: 88.381
Imputing row 4101/17812 with 0 missing, elapsed time: 88.387
Imputing row 4201/17812 with 0 missing, elapsed time: 88.392
Imputing row 4301/17812 with 0 missing, elapsed time: 88.400
Imputing row 4401/17812 with 0 missing, elapsed time: 88.406
Imputing row 4501/17812 with 0 missing, elapsed time: 88.413
Imputing row 4601/17812 with 0 missing, elapsed time: 88.422
Imputing row 4701/17812 with 0 missing, elapsed time: 88.430
Imputing row 4801/17812 with 0 missing, elapsed time: 88.435
Imputing row 4901/17812 with 0 missing, elapsed time: 88.442
Imputing row 5001/17812 with 0 missing, elapsed time: 88.450
Imputing row 5101/17812 with 0 missing, elapsed time: 88.455
Imputing row 5201/17812 with 0 missing, elapsed time: 88.464
Imputing row 5301/17812 with 0 missing, elapsed time: 88.471

Imputing row 5401/17812 with 0 missing, elapsed time: 88.476
Imputing row 5501/17812 with 0 missing, elapsed time: 88.481
Imputing row 5601/17812 with 0 missing, elapsed time: 88.490
Imputing row 5701/17812 with 0 missing, elapsed time: 88.496
Imputing row 5801/17812 with 0 missing, elapsed time: 88.500
Imputing row 5901/17812 with 0 missing, elapsed time: 88.508
Imputing row 6001/17812 with 0 missing, elapsed time: 88.512
Imputing row 6101/17812 with 0 missing, elapsed time: 88.520
Imputing row 6201/17812 with 4 missing, elapsed time: 88.525
Imputing row 6301/17812 with 0 missing, elapsed time: 88.536
Imputing row 6401/17812 with 0 missing, elapsed time: 88.539
Imputing row 6501/17812 with 0 missing, elapsed time: 88.542
Imputing row 6601/17812 with 0 missing, elapsed time: 88.549
Imputing row 6701/17812 with 0 missing, elapsed time: 88.555
Imputing row 6801/17812 with 0 missing, elapsed time: 88.563
Imputing row 6901/17812 with 0 missing, elapsed time: 88.570
Imputing row 7001/17812 with 0 missing, elapsed time: 88.575
Imputing row 7101/17812 with 0 missing, elapsed time: 88.582
Imputing row 7201/17812 with 14 missing, elapsed time: 88.587
Imputing row 7301/17812 with 0 missing, elapsed time: 88.593
Imputing row 7401/17812 with 0 missing, elapsed time: 88.602
Imputing row 7501/17812 with 0 missing, elapsed time: 88.608
Imputing row 7601/17812 with 0 missing, elapsed time: 88.614
Imputing row 7701/17812 with 0 missing, elapsed time: 88.618
Imputing row 7801/17812 with 0 missing, elapsed time: 88.626
Imputing row 7901/17812 with 0 missing, elapsed time: 88.630
Imputing row 8001/17812 with 0 missing, elapsed time: 88.634
Imputing row 8101/17812 with 0 missing, elapsed time: 88.642
Imputing row 8201/17812 with 0 missing, elapsed time: 88.645
Imputing row 8301/17812 with 0 missing, elapsed time: 88.652
Imputing row 8401/17812 with 6 missing, elapsed time: 88.659
Imputing row 8501/17812 with 0 missing, elapsed time: 88.666
Imputing row 8601/17812 with 0 missing, elapsed time: 88.672
Imputing row 8701/17812 with 0 missing, elapsed time: 88.675
Imputing row 8801/17812 with 0 missing, elapsed time: 88.684
Imputing row 8901/17812 with 0 missing, elapsed time: 88.692
Imputing row 9001/17812 with 0 missing, elapsed time: 88.699
Imputing row 9101/17812 with 0 missing, elapsed time: 88.707
Imputing row 9201/17812 with 0 missing, elapsed time: 88.712
Imputing row 9301/17812 with 0 missing, elapsed time: 88.718
Imputing row 9401/17812 with 0 missing, elapsed time: 88.723
Imputing row 9501/17812 with 0 missing, elapsed time: 88.730
Imputing row 9601/17812 with 0 missing, elapsed time: 88.735
Imputing row 9701/17812 with 0 missing, elapsed time: 88.749
Imputing row 9801/17812 with 0 missing, elapsed time: 88.758
Imputing row 9901/17812 with 0 missing, elapsed time: 88.769
Imputing row 10001/17812 with 0 missing, elapsed time: 88.777
Imputing row 10101/17812 with 0 missing, elapsed time: 88.783
Imputing row 10201/17812 with 6 missing, elapsed time: 88.794
Imputing row 10301/17812 with 0 missing, elapsed time: 88.804
Imputing row 10401/17812 with 0 missing, elapsed time: 88.809
Imputing row 10501/17812 with 14 missing, elapsed time: 88.816
Imputing row 10601/17812 with 0 missing, elapsed time: 88.820
Imputing row 10701/17812 with 0 missing, elapsed time: 88.823
Imputing row 10801/17812 with 0 missing, elapsed time: 88.828
Imputing row 10901/17812 with 0 missing, elapsed time: 88.836
Imputing row 11001/17812 with 0 missing, elapsed time: 88.844
Imputing row 11101/17812 with 0 missing, elapsed time: 88.849
Imputing row 11201/17812 with 0 missing, elapsed time: 88.856
Imputing row 11301/17812 with 0 missing, elapsed time: 88.861
Imputing row 11401/17812 with 0 missing, elapsed time: 88.870
Imputing row 11501/17812 with 0 missing, elapsed time: 88.876
Imputing row 11601/17812 with 0 missing, elapsed time: 88.881
Imputing row 11701/17812 with 0 missing, elapsed time: 88.887
Imputing row 11801/17812 with 0 missing, elapsed time: 88.898
Imputing row 11901/17812 with 2 missing, elapsed time: 88.904
Imputing row 12001/17812 with 0 missing, elapsed time: 88.911
Imputing row 12101/17812 with 0 missing, elapsed time: 88.916
Imputing row 12201/17812 with 0 missing, elapsed time: 88.922
Imputing row 12301/17812 with 0 missing, elapsed time: 88.929
Imputing row 12401/17812 with 0 missing, elapsed time: 88.935
Imputing row 12501/17812 with 0 missing, elapsed time: 88.940
Imputing row 12601/17812 with 0 missing, elapsed time: 88.950
Imputing row 12701/17812 with 0 missing, elapsed time: 88.954
Imputing row 12801/17812 with 0 missing, elapsed time: 88.964
Imputing row 12901/17812 with 0 missing, elapsed time: 88.972
Imputing row 13001/17812 with 0 missing, elapsed time: 88.978
Imputing row 13101/17812 with 0 missing, elapsed time: 88.989
Imputing row 13201/17812 with 0 missing, elapsed time: 88.997
Imputing row 13301/17812 with 0 missing, elapsed time: 89.004
Imputing row 13401/17812 with 0 missing, elapsed time: 89.012
Imputing row 13501/17812 with 0 missing, elapsed time: 89.018
Imputing row 13601/17812 with 0 missing, elapsed time: 89.025
Imputing row 13701/17812 with 0 missing, elapsed time: 89.032
Imputing row 13801/17812 with 14 missing, elapsed time: 89.038
Imputing row 13901/17812 with 0 missing, elapsed time: 89.047
Imputing row 14001/17812 with 0 missing, elapsed time: 89.051
Imputing row 14101/17812 with 0 missing, elapsed time: 89.057
Imputing row 14201/17812 with 0 missing, elapsed time: 89.062
Imputing row 14301/17812 with 0 missing, elapsed time: 89.073
Imputing row 14401/17812 with 0 missing, elapsed time: 89.080
Imputing row 14501/17812 with 0 missing, elapsed time: 89.085
Imputing row 14601/17812 with 0 missing, elapsed time: 89.092
Imputing row 14701/17812 with 0 missing, elapsed time: 89.098
Imputing row 14801/17812 with 0 missing, elapsed time: 89.103
Imputing row 14901/17812 with 0 missing, elapsed time: 89.108
Imputing row 15001/17812 with 0 missing, elapsed time: 89.112
Imputing row 15101/17812 with 0 missing, elapsed time: 89.119
Imputing row 15201/17812 with 0 missing, elapsed time: 89.129
Imputing row 15301/17812 with 4 missing, elapsed time: 89.134
Imputing row 15401/17812 with 0 missing, elapsed time: 89.141
Imputing row 15501/17812 with 0 missing, elapsed time: 89.151
Imputing row 15601/17812 with 14 missing, elapsed time: 89.156
Imputing row 15701/17812 with 0 missing, elapsed time: 89.158
Imputing row 15801/17812 with 0 missing, elapsed time: 89.163
Imputing row 15901/17812 with 0 missing, elapsed time: 89.172
Imputing row 16001/17812 with 0 missing, elapsed time: 89.179
Imputing row 16101/17812 with 0 missing, elapsed time: 89.183
Imputing row 16201/17812 with 0 missing, elapsed time: 89.191
Imputing row 16301/17812 with 4 missing, elapsed time: 89.200
Imputing row 16401/17812 with 0 missing, elapsed time: 89.208
Imputing row 16501/17812 with 0 missing, elapsed time: 89.215
Imputing row 16601/17812 with 0 missing, elapsed time: 89.223
Imputing row 16701/17812 with 6 missing, elapsed time: 89.228
Imputing row 16801/17812 with 0 missing, elapsed time: 89.234
Imputing row 16901/17812 with 0 missing, elapsed time: 89.244
Imputing row 17001/17812 with 0 missing, elapsed time: 89.254
Imputing row 17101/17812 with 14 missing, elapsed time: 89.258
Imputing row 17201/17812 with 0 missing, elapsed time: 89.267
Imputing row 17301/17812 with 0 missing, elapsed time: 89.275
Imputing row 17401/17812 with 0 missing, elapsed time: 89.282
Imputing row 17501/17812 with 14 missing, elapsed time: 89.288
Imputing row 17601/17812 with 0 missing, elapsed time: 89.293
Imputing row 17701/17812 with 0 missing, elapsed time: 89.298
Imputing row 17801/17812 with 0 missing, elapsed time: 89.307
Imputing row 1/17812 with 0 missing, elapsed time: 90.100
Imputing row 101/17812 with 0 missing, elapsed time: 90.104
Imputing row 201/17812 with 0 missing, elapsed time: 90.110
Imputing row 301/17812 with 14 missing, elapsed time: 90.113
Imputing row 401/17812 with 0 missing, elapsed time: 90.125
Imputing row 501/17812 with 0 missing, elapsed time: 90.131
Imputing row 601/17812 with 0 missing, elapsed time: 90.137
Imputing row 701/17812 with 0 missing, elapsed time: 90.146
Imputing row 801/17812 with 0 missing, elapsed time: 90.151
Imputing row 901/17812 with 0 missing, elapsed time: 90.162
Imputing row 1001/17812 with 0 missing, elapsed time: 90.166
Imputing row 1101/17812 with 0 missing, elapsed time: 90.170
Imputing row 1201/17812 with 0 missing, elapsed time: 90.176
Imputing row 1301/17812 with 0 missing, elapsed time: 90.185
Imputing row 1401/17812 with 0 missing, elapsed time: 90.189
Imputing row 1501/17812 with 0 missing, elapsed time: 90.194
Imputing row 1601/17812 with 0 missing, elapsed time: 90.204
Imputing row 1701/17812 with 14 missing, elapsed time: 90.212
Imputing row 1801/17812 with 0 missing, elapsed time: 90.219
Imputing row 1901/17812 with 14 missing, elapsed time: 90.224
Imputing row 2001/17812 with 0 missing, elapsed time: 90.233
Imputing row 2101/17812 with 0 missing, elapsed time: 90.238
Imputing row 2201/17812 with 0 missing, elapsed time: 90.248
Imputing row 2301/17812 with 0 missing, elapsed time: 90.258
Imputing row 2401/17812 with 0 missing, elapsed time: 90.262
Imputing row 2501/17812 with 14 missing, elapsed time: 90.265
Imputing row 2601/17812 with 0 missing, elapsed time: 90.272
Imputing row 2701/17812 with 0 missing, elapsed time: 90.279
Imputing row 2801/17812 with 0 missing, elapsed time: 90.285
Imputing row 2901/17812 with 0 missing, elapsed time: 90.293
Imputing row 3001/17812 with 0 missing, elapsed time: 90.300

Imputing row 3101/17812 with 0 missing, elapsed time: 90.304
Imputing row 3201/17812 with 0 missing, elapsed time: 90.310
Imputing row 3301/17812 with 0 missing, elapsed time: 90.313
Imputing row 3401/17812 with 0 missing, elapsed time: 90.318
Imputing row 3501/17812 with 0 missing, elapsed time: 90.326
Imputing row 3601/17812 with 0 missing, elapsed time: 90.332
Imputing row 3701/17812 with 0 missing, elapsed time: 90.339
Imputing row 3801/17812 with 0 missing, elapsed time: 90.346
Imputing row 3901/17812 with 0 missing, elapsed time: 90.359
Imputing row 4001/17812 with 0 missing, elapsed time: 90.366
Imputing row 4101/17812 with 14 missing, elapsed time: 90.370
Imputing row 4201/17812 with 0 missing, elapsed time: 90.378
Imputing row 4301/17812 with 0 missing, elapsed time: 90.383
Imputing row 4401/17812 with 0 missing, elapsed time: 90.389
Imputing row 4501/17812 with 0 missing, elapsed time: 90.394
Imputing row 4601/17812 with 0 missing, elapsed time: 90.401
Imputing row 4701/17812 with 0 missing, elapsed time: 90.408
Imputing row 4801/17812 with 0 missing, elapsed time: 90.411
Imputing row 4901/17812 with 0 missing, elapsed time: 90.421
Imputing row 5001/17812 with 0 missing, elapsed time: 90.425
Imputing row 5101/17812 with 0 missing, elapsed time: 90.432
Imputing row 5201/17812 with 0 missing, elapsed time: 90.440
Imputing row 5301/17812 with 0 missing, elapsed time: 90.444
Imputing row 5401/17812 with 0 missing, elapsed time: 90.450
Imputing row 5501/17812 with 0 missing, elapsed time: 90.454
Imputing row 5601/17812 with 0 missing, elapsed time: 90.460
Imputing row 5701/17812 with 0 missing, elapsed time: 90.467
Imputing row 5801/17812 with 0 missing, elapsed time: 90.475
Imputing row 5901/17812 with 14 missing, elapsed time: 90.480
Imputing row 6001/17812 with 0 missing, elapsed time: 90.484
Imputing row 6101/17812 with 0 missing, elapsed time: 90.486
Imputing row 6201/17812 with 0 missing, elapsed time: 90.492
Imputing row 6301/17812 with 0 missing, elapsed time: 90.495
Imputing row 6401/17812 with 0 missing, elapsed time: 90.502
Imputing row 6501/17812 with 0 missing, elapsed time: 90.506
Imputing row 6601/17812 with 0 missing, elapsed time: 90.520
Imputing row 6701/17812 with 0 missing, elapsed time: 90.523
Imputing row 6801/17812 with 0 missing, elapsed time: 90.533
Imputing row 6901/17812 with 0 missing, elapsed time: 90.543
Imputing row 7001/17812 with 0 missing, elapsed time: 90.549
Imputing row 7101/17812 with 0 missing, elapsed time: 90.556
Imputing row 7201/17812 with 0 missing, elapsed time: 90.560
Imputing row 7301/17812 with 0 missing, elapsed time: 90.564
Imputing row 7401/17812 with 0 missing, elapsed time: 90.569
Imputing row 7501/17812 with 0 missing, elapsed time: 90.575
Imputing row 7601/17812 with 0 missing, elapsed time: 90.580
Imputing row 7701/17812 with 0 missing, elapsed time: 90.585
Imputing row 7801/17812 with 0 missing, elapsed time: 90.588
Imputing row 7901/17812 with 0 missing, elapsed time: 90.595
Imputing row 8001/17812 with 0 missing, elapsed time: 90.603
Imputing row 8101/17812 with 0 missing, elapsed time: 90.608
Imputing row 8201/17812 with 0 missing, elapsed time: 90.615
Imputing row 8301/17812 with 0 missing, elapsed time: 90.621
Imputing row 8401/17812 with 0 missing, elapsed time: 90.627
Imputing row 8501/17812 with 0 missing, elapsed time: 90.634
Imputing row 8601/17812 with 0 missing, elapsed time: 90.643
Imputing row 8701/17812 with 0 missing, elapsed time: 90.647
Imputing row 8801/17812 with 0 missing, elapsed time: 90.652
Imputing row 8901/17812 with 0 missing, elapsed time: 90.656
Imputing row 9001/17812 with 0 missing, elapsed time: 90.662
Imputing row 9101/17812 with 0 missing, elapsed time: 90.667
Imputing row 9201/17812 with 0 missing, elapsed time: 90.672
Imputing row 9301/17812 with 0 missing, elapsed time: 90.680
Imputing row 9401/17812 with 0 missing, elapsed time: 90.685
Imputing row 9501/17812 with 0 missing, elapsed time: 90.690
Imputing row 9601/17812 with 0 missing, elapsed time: 90.697
Imputing row 9701/17812 with 0 missing, elapsed time: 90.702
Imputing row 9801/17812 with 0 missing, elapsed time: 90.708
Imputing row 9901/17812 with 14 missing, elapsed time: 90.713
Imputing row 10001/17812 with 0 missing, elapsed time: 90.719
Imputing row 10101/17812 with 0 missing, elapsed time: 90.722
Imputing row 10201/17812 with 0 missing, elapsed time: 90.725
Imputing row 10301/17812 with 0 missing, elapsed time: 90.731
Imputing row 10401/17812 with 0 missing, elapsed time: 90.734
Imputing row 10501/17812 with 0 missing, elapsed time: 90.740
Imputing row 10601/17812 with 0 missing, elapsed time: 90.747
Imputing row 10701/17812 with 0 missing, elapsed time: 90.749
Imputing row 10801/17812 with 0 missing, elapsed time: 90.759
Imputing row 10901/17812 with 0 missing, elapsed time: 90.765
Imputing row 11001/17812 with 0 missing, elapsed time: 90.771
Imputing row 11101/17812 with 0 missing, elapsed time: 90.776
Imputing row 11201/17812 with 0 missing, elapsed time: 90.780
Imputing row 11301/17812 with 0 missing, elapsed time: 90.784
Imputing row 11401/17812 with 0 missing, elapsed time: 90.788
Imputing row 11501/17812 with 2 missing, elapsed time: 90.796
Imputing row 11601/17812 with 0 missing, elapsed time: 90.803
Imputing row 11701/17812 with 0 missing, elapsed time: 90.814
Imputing row 11801/17812 with 0 missing, elapsed time: 90.822
Imputing row 11901/17812 with 0 missing, elapsed time: 90.831
Imputing row 12001/17812 with 0 missing, elapsed time: 90.839
Imputing row 12101/17812 with 0 missing, elapsed time: 90.843
Imputing row 12201/17812 with 0 missing, elapsed time: 90.847
Imputing row 12301/17812 with 14 missing, elapsed time: 90.850
Imputing row 12401/17812 with 0 missing, elapsed time: 90.854
Imputing row 12501/17812 with 0 missing, elapsed time: 90.857
Imputing row 12601/17812 with 14 missing, elapsed time: 90.862
Imputing row 12701/17812 with 0 missing, elapsed time: 90.868
Imputing row 12801/17812 with 0 missing, elapsed time: 90.872
Imputing row 12901/17812 with 2 missing, elapsed time: 90.878
Imputing row 13001/17812 with 0 missing, elapsed time: 90.886
Imputing row 13101/17812 with 0 missing, elapsed time: 90.889
Imputing row 13201/17812 with 0 missing, elapsed time: 90.898
Imputing row 13301/17812 with 0 missing, elapsed time: 90.903
Imputing row 13401/17812 with 14 missing, elapsed time: 90.913
Imputing row 13501/17812 with 0 missing, elapsed time: 90.921
Imputing row 13601/17812 with 0 missing, elapsed time: 90.932
Imputing row 13701/17812 with 0 missing, elapsed time: 90.940
Imputing row 13801/17812 with 0 missing, elapsed time: 90.948
Imputing row 13901/17812 with 2 missing, elapsed time: 90.953
Imputing row 14001/17812 with 0 missing, elapsed time: 90.958
Imputing row 14101/17812 with 0 missing, elapsed time: 90.963
Imputing row 14201/17812 with 0 missing, elapsed time: 90.970
Imputing row 14301/17812 with 0 missing, elapsed time: 90.975
Imputing row 14401/17812 with 0 missing, elapsed time: 90.982
Imputing row 14501/17812 with 0 missing, elapsed time: 90.994
Imputing row 14601/17812 with 0 missing, elapsed time: 91.002
Imputing row 14701/17812 with 0 missing, elapsed time: 91.007
Imputing row 14801/17812 with 0 missing, elapsed time: 91.013
Imputing row 14901/17812 with 0 missing, elapsed time: 91.017
Imputing row 15001/17812 with 0 missing, elapsed time: 91.022
Imputing row 15101/17812 with 0 missing, elapsed time: 91.028
Imputing row 15201/17812 with 0 missing, elapsed time: 91.033
Imputing row 15301/17812 with 14 missing, elapsed time: 91.037
Imputing row 15401/17812 with 0 missing, elapsed time: 91.046
Imputing row 15501/17812 with 0 missing, elapsed time: 91.049
Imputing row 15601/17812 with 0 missing, elapsed time: 91.056
Imputing row 15701/17812 with 0 missing, elapsed time: 91.063
Imputing row 15801/17812 with 0 missing, elapsed time: 91.068
Imputing row 15901/17812 with 0 missing, elapsed time: 91.076
Imputing row 16001/17812 with 0 missing, elapsed time: 91.083
Imputing row 16101/17812 with 0 missing, elapsed time: 91.087
Imputing row 16201/17812 with 0 missing, elapsed time: 91.095
Imputing row 16301/17812 with 0 missing, elapsed time: 91.100
Imputing row 16401/17812 with 14 missing, elapsed time: 91.109

Imputing row 16501/17812 with 10 missing, elapsed time: 91.118
Imputing row 16601/17812 with 0 missing, elapsed time: 91.123
Imputing row 16701/17812 with 0 missing, elapsed time: 91.130
Imputing row 16801/17812 with 0 missing, elapsed time: 91.140
Imputing row 16901/17812 with 0 missing, elapsed time: 91.153
Imputing row 17001/17812 with 0 missing, elapsed time: 91.158
Imputing row 17101/17812 with 0 missing, elapsed time: 91.167
Imputing row 17201/17812 with 0 missing, elapsed time: 91.177
Imputing row 17301/17812 with 0 missing, elapsed time: 91.183
Imputing row 17401/17812 with 14 missing, elapsed time: 91.187
Imputing row 17501/17812 with 14 missing, elapsed time: 91.193
Imputing row 17601/17812 with 0 missing, elapsed time: 91.201
Imputing row 17701/17812 with 0 missing, elapsed time: 91.206
Imputing row 17801/17812 with 0 missing, elapsed time: 91.212
Imputing row 1/17812 with 0 missing, elapsed time: 93.201
Imputing row 101/17812 with 14 missing, elapsed time: 93.208
Imputing row 201/17812 with 0 missing, elapsed time: 93.216
Imputing row 301/17812 with 0 missing, elapsed time: 93.221
Imputing row 401/17812 with 0 missing, elapsed time: 93.227
Imputing row 501/17812 with 0 missing, elapsed time: 93.231
Imputing row 601/17812 with 0 missing, elapsed time: 93.238
Imputing row 701/17812 with 0 missing, elapsed time: 93.243
Imputing row 801/17812 with 0 missing, elapsed time: 93.251
Imputing row 901/17812 with 0 missing, elapsed time: 93.256
Imputing row 1001/17812 with 0 missing, elapsed time: 93.259
Imputing row 1101/17812 with 0 missing, elapsed time: 93.264
Imputing row 1201/17812 with 0 missing, elapsed time: 93.265
Imputing row 1301/17812 with 0 missing, elapsed time: 93.274
Imputing row 1401/17812 with 0 missing, elapsed time: 93.281
Imputing row 1501/17812 with 0 missing, elapsed time: 93.285
Imputing row 1601/17812 with 2 missing, elapsed time: 93.291
Imputing row 1701/17812 with 0 missing, elapsed time: 93.299
Imputing row 1801/17812 with 2 missing, elapsed time: 93.304
Imputing row 1901/17812 with 0 missing, elapsed time: 93.311
Imputing row 2001/17812 with 0 missing, elapsed time: 93.317
Imputing row 2101/17812 with 0 missing, elapsed time: 93.320
Imputing row 2201/17812 with 0 missing, elapsed time: 93.321
Imputing row 2301/17812 with 14 missing, elapsed time: 93.331
Imputing row 2401/17812 with 0 missing, elapsed time: 93.340
Imputing row 2501/17812 with 0 missing, elapsed time: 93.344
Imputing row 2601/17812 with 0 missing, elapsed time: 93.347
Imputing row 2701/17812 with 0 missing, elapsed time: 93.353
Imputing row 2801/17812 with 14 missing, elapsed time: 93.357
Imputing row 2901/17812 with 0 missing, elapsed time: 93.366
Imputing row 3001/17812 with 0 missing, elapsed time: 93.372
Imputing row 3101/17812 with 0 missing, elapsed time: 93.380
Imputing row 3201/17812 with 0 missing, elapsed time: 93.389
Imputing row 3301/17812 with 0 missing, elapsed time: 93.395
Imputing row 3401/17812 with 0 missing, elapsed time: 93.402
Imputing row 3501/17812 with 0 missing, elapsed time: 93.409
Imputing row 3601/17812 with 0 missing, elapsed time: 93.416
Imputing row 3701/17812 with 0 missing, elapsed time: 93.419
Imputing row 3801/17812 with 0 missing, elapsed time: 93.422
Imputing row 3901/17812 with 0 missing, elapsed time: 93.427
Imputing row 4001/17812 with 0 missing, elapsed time: 93.430
Imputing row 4101/17812 with 14 missing, elapsed time: 93.435
Imputing row 4201/17812 with 0 missing, elapsed time: 93.439
Imputing row 4301/17812 with 0 missing, elapsed time: 93.443
Imputing row 4401/17812 with 0 missing, elapsed time: 93.444
Imputing row 4501/17812 with 0 missing, elapsed time: 93.448
Imputing row 4601/17812 with 0 missing, elapsed time: 93.454
Imputing row 4701/17812 with 0 missing, elapsed time: 93.463
Imputing row 4801/17812 with 0 missing, elapsed time: 93.471
Imputing row 4901/17812 with 0 missing, elapsed time: 93.474
Imputing row 5001/17812 with 0 missing, elapsed time: 93.477
Imputing row 5101/17812 with 0 missing, elapsed time: 93.482
Imputing row 5201/17812 with 0 missing, elapsed time: 93.489
Imputing row 5301/17812 with 0 missing, elapsed time: 93.502
Imputing row 5401/17812 with 0 missing, elapsed time: 93.504
Imputing row 5501/17812 with 0 missing, elapsed time: 93.508
Imputing row 5601/17812 with 0 missing, elapsed time: 93.515
Imputing row 5701/17812 with 0 missing, elapsed time: 93.519
Imputing row 5801/17812 with 0 missing, elapsed time: 93.524
Imputing row 5901/17812 with 0 missing, elapsed time: 93.531
Imputing row 6001/17812 with 0 missing, elapsed time: 93.540
Imputing row 6101/17812 with 0 missing, elapsed time: 93.547
Imputing row 6201/17812 with 0 missing, elapsed time: 93.552
Imputing row 6301/17812 with 0 missing, elapsed time: 93.558
Imputing row 6401/17812 with 0 missing, elapsed time: 93.562
Imputing row 6501/17812 with 0 missing, elapsed time: 93.567
Imputing row 6601/17812 with 0 missing, elapsed time: 93.579
Imputing row 6701/17812 with 0 missing, elapsed time: 93.582
Imputing row 6801/17812 with 0 missing, elapsed time: 93.589
Imputing row 6901/17812 with 0 missing, elapsed time: 93.593
Imputing row 7001/17812 with 0 missing, elapsed time: 93.598
Imputing row 7101/17812 with 14 missing, elapsed time: 93.603
Imputing row 7201/17812 with 0 missing, elapsed time: 93.607
Imputing row 7301/17812 with 0 missing, elapsed time: 93.613
Imputing row 7401/17812 with 14 missing, elapsed time: 93.617
Imputing row 7501/17812 with 0 missing, elapsed time: 93.627
Imputing row 7601/17812 with 0 missing, elapsed time: 93.632
Imputing row 7701/17812 with 0 missing, elapsed time: 93.640
Imputing row 7801/17812 with 0 missing, elapsed time: 93.647
Imputing row 7901/17812 with 0 missing, elapsed time: 93.649
Imputing row 8001/17812 with 0 missing, elapsed time: 93.656
Imputing row 8101/17812 with 0 missing, elapsed time: 93.663
Imputing row 8201/17812 with 0 missing, elapsed time: 93.666
Imputing row 8301/17812 with 0 missing, elapsed time: 93.670
Imputing row 8401/17812 with 0 missing, elapsed time: 93.673
Imputing row 8501/17812 with 0 missing, elapsed time: 93.683
Imputing row 8601/17812 with 14 missing, elapsed time: 93.687
Imputing row 8701/17812 with 0 missing, elapsed time: 93.692
Imputing row 8801/17812 with 0 missing, elapsed time: 93.699
Imputing row 8901/17812 with 0 missing, elapsed time: 93.708
Imputing row 9001/17812 with 14 missing, elapsed time: 93.713
Imputing row 9101/17812 with 0 missing, elapsed time: 93.717
Imputing row 9201/17812 with 0 missing, elapsed time: 93.722
Imputing row 9301/17812 with 0 missing, elapsed time: 93.727
Imputing row 9401/17812 with 0 missing, elapsed time: 93.733
Imputing row 9501/17812 with 0 missing, elapsed time: 93.742
Imputing row 9601/17812 with 0 missing, elapsed time: 93.750
Imputing row 9701/17812 with 0 missing, elapsed time: 93.756
Imputing row 9801/17812 with 0 missing, elapsed time: 93.764
Imputing row 9901/17812 with 0 missing, elapsed time: 93.772
Imputing row 10001/17812 with 0 missing, elapsed time: 93.774
Imputing row 10101/17812 with 0 missing, elapsed time: 93.780
Imputing row 10201/17812 with 0 missing, elapsed time: 93.784
Imputing row 10301/17812 with 0 missing, elapsed time: 93.790
Imputing row 10401/17812 with 0 missing, elapsed time: 93.796
Imputing row 10501/17812 with 0 missing, elapsed time: 93.799
Imputing row 10601/17812 with 0 missing, elapsed time: 93.806
Imputing row 10701/17812 with 0 missing, elapsed time: 93.810
Imputing row 10801/17812 with 0 missing, elapsed time: 93.818
Imputing row 10901/17812 with 0 missing, elapsed time: 93.822
Imputing row 11001/17812 with 0 missing, elapsed time: 93.827
Imputing row 11101/17812 with 0 missing, elapsed time: 93.832
Imputing row 11201/17812 with 0 missing, elapsed time: 93.834
Imputing row 11301/17812 with 0 missing, elapsed time: 93.839
Imputing row 11401/17812 with 14 missing, elapsed time: 93.847
Imputing row 11501/17812 with 0 missing, elapsed time: 93.853
Imputing row 11601/17812 with 14 missing, elapsed time: 93.861
Imputing row 11701/17812 with 0 missing, elapsed time: 93.867
Imputing row 11801/17812 with 0 missing, elapsed time: 93.873
Imputing row 11901/17812 with 0 missing, elapsed time: 93.878
Imputing row 12001/17812 with 0 missing, elapsed time: 93.888
Imputing row 12101/17812 with 0 missing, elapsed time: 93.891
Imputing row 12201/17812 with 0 missing, elapsed time: 93.901
Imputing row 12301/17812 with 0 missing, elapsed time: 93.912
Imputing row 12401/17812 with 0 missing, elapsed time: 93.915
Imputing row 12501/17812 with 0 missing, elapsed time: 93.920
Imputing row 12601/17812 with 0 missing, elapsed time: 93.927
Imputing row 12701/17812 with 0 missing, elapsed time: 93.930
Imputing row 12801/17812 with 0 missing, elapsed time: 93.933
Imputing row 12901/17812 with 0 missing, elapsed time: 93.938
Imputing row 13001/17812 with 0 missing, elapsed time: 93.944
Imputing row 13101/17812 with 0 missing, elapsed time: 93.948
Imputing row 13201/17812 with 0 missing, elapsed time: 93.952
Imputing row 13301/17812 with 0 missing, elapsed time: 93.955
Imputing row 13401/17812 with 14 missing, elapsed time: 93.961
Imputing row 13501/17812 with 0 missing, elapsed time: 93.965
Imputing row 13601/17812 with 0 missing, elapsed time: 93.973
Imputing row 13701/17812 with 0 missing, elapsed time: 93.982
Imputing row 13801/17812 with 0 missing, elapsed time: 93.989
Imputing row 13901/17812 with 14 missing, elapsed time: 93.992
Imputing row 14001/17812 with 0 missing, elapsed time: 94.000
Imputing row 14101/17812 with 0 missing, elapsed time: 94.005
Imputing row 14201/17812 with 0 missing, elapsed time: 94.009

Imputing row 14301/17812 with 0 missing, elapsed time: 94.022
Imputing row 14401/17812 with 0 missing, elapsed time: 94.030
Imputing row 14501/17812 with 0 missing, elapsed time: 94.036
Imputing row 14601/17812 with 0 missing, elapsed time: 94.043
Imputing row 14701/17812 with 0 missing, elapsed time: 94.046
Imputing row 14801/17812 with 0 missing, elapsed time: 94.049
Imputing row 14901/17812 with 0 missing, elapsed time: 94.055
Imputing row 15001/17812 with 0 missing, elapsed time: 94.058
Imputing row 15101/17812 with 0 missing, elapsed time: 94.065
Imputing row 15201/17812 with 0 missing, elapsed time: 94.066
Imputing row 15301/17812 with 0 missing, elapsed time: 94.073
Imputing row 15401/17812 with 0 missing, elapsed time: 94.085
Imputing row 15501/17812 with 0 missing, elapsed time: 94.091
Imputing row 15601/17812 with 0 missing, elapsed time: 94.095
Imputing row 15701/17812 with 0 missing, elapsed time: 94.101
Imputing row 15801/17812 with 0 missing, elapsed time: 94.110
Imputing row 15901/17812 with 0 missing, elapsed time: 94.116
Imputing row 16001/17812 with 0 missing, elapsed time: 94.123
Imputing row 16101/17812 with 14 missing, elapsed time: 94.132
Imputing row 16201/17812 with 2 missing, elapsed time: 94.136
Imputing row 16301/17812 with 0 missing, elapsed time: 94.142
Imputing row 16401/17812 with 0 missing, elapsed time: 94.148
Imputing row 16501/17812 with 0 missing, elapsed time: 94.154
Imputing row 16601/17812 with 0 missing, elapsed time: 94.158
Imputing row 16701/17812 with 0 missing, elapsed time: 94.160
Imputing row 16801/17812 with 0 missing, elapsed time: 94.167
Imputing row 16901/17812 with 14 missing, elapsed time: 94.173
Imputing row 17001/17812 with 14 missing, elapsed time: 94.180
Imputing row 17101/17812 with 0 missing, elapsed time: 94.189
Imputing row 17201/17812 with 0 missing, elapsed time: 94.195
Imputing row 17301/17812 with 0 missing, elapsed time: 94.200
Imputing row 17401/17812 with 0 missing, elapsed time: 94.203
Imputing row 17501/17812 with 0 missing, elapsed time: 94.207
Imputing row 17601/17812 with 0 missing, elapsed time: 94.213
Imputing row 17701/17812 with 0 missing, elapsed time: 94.217
Imputing row 17801/17812 with 0 missing, elapsed time: 94.220
Imputing row 1/17812 with 0 missing, elapsed time: 86.670
Imputing row 101/17812 with 0 missing, elapsed time: 86.681
Imputing row 201/17812 with 0 missing, elapsed time: 86.690
Imputing row 301/17812 with 0 missing, elapsed time: 86.696
Imputing row 401/17812 with 0 missing, elapsed time: 86.706
Imputing row 501/17812 with 0 missing, elapsed time: 86.715
Imputing row 601/17812 with 0 missing, elapsed time: 86.723
Imputing row 701/17812 with 12 missing, elapsed time: 86.730
Imputing row 801/17812 with 14 missing, elapsed time: 86.738
Imputing row 901/17812 with 0 missing, elapsed time: 86.751
Imputing row 1001/17812 with 0 missing, elapsed time: 86.765
Imputing row 1101/17812 with 0 missing, elapsed time: 86.773
Imputing row 1201/17812 with 0 missing, elapsed time: 86.781
Imputing row 1301/17812 with 14 missing, elapsed time: 86.789
Imputing row 1401/17812 with 0 missing, elapsed time: 86.799
Imputing row 1501/17812 with 0 missing, elapsed time: 86.810
Imputing row 1601/17812 with 0 missing, elapsed time: 86.817
Imputing row 1701/17812 with 0 missing, elapsed time: 86.822
Imputing row 1801/17812 with 0 missing, elapsed time: 86.830
Imputing row 1901/17812 with 0 missing, elapsed time: 86.840
Imputing row 2001/17812 with 0 missing, elapsed time: 86.847
Imputing row 2101/17812 with 0 missing, elapsed time: 86.858
Imputing row 2201/17812 with 0 missing, elapsed time: 86.873
Imputing row 2301/17812 with 0 missing, elapsed time: 86.885
Imputing row 2401/17812 with 0 missing, elapsed time: 86.895
Imputing row 2501/17812 with 0 missing, elapsed time: 86.902
Imputing row 2601/17812 with 0 missing, elapsed time: 86.904
Imputing row 2701/17812 with 0 missing, elapsed time: 86.916
Imputing row 2801/17812 with 0 missing, elapsed time: 86.935
Imputing row 2901/17812 with 6 missing, elapsed time: 86.941
Imputing row 3001/17812 with 0 missing, elapsed time: 86.951
Imputing row 3101/17812 with 0 missing, elapsed time: 86.970
Imputing row 3201/17812 with 0 missing, elapsed time: 86.982
Imputing row 3301/17812 with 0 missing, elapsed time: 86.994
Imputing row 3401/17812 with 0 missing, elapsed time: 87.002
Imputing row 3501/17812 with 0 missing, elapsed time: 87.008
Imputing row 3601/17812 with 0 missing, elapsed time: 87.017
Imputing row 3701/17812 with 0 missing, elapsed time: 87.026
Imputing row 3801/17812 with 0 missing, elapsed time: 87.040
Imputing row 3901/17812 with 0 missing, elapsed time: 87.054
Imputing row 4001/17812 with 0 missing, elapsed time: 87.065
Imputing row 4101/17812 with 0 missing, elapsed time: 87.075
Imputing row 4201/17812 with 0 missing, elapsed time: 87.085
Imputing row 4301/17812 with 0 missing, elapsed time: 87.094
Imputing row 4401/17812 with 0 missing, elapsed time: 87.097
Imputing row 4501/17812 with 0 missing, elapsed time: 87.107
Imputing row 4601/17812 with 0 missing, elapsed time: 87.118
Imputing row 4701/17812 with 0 missing, elapsed time: 87.125
Imputing row 4801/17812 with 0 missing, elapsed time: 87.133
Imputing row 4901/17812 with 0 missing, elapsed time: 87.138
Imputing row 5001/17812 with 0 missing, elapsed time: 87.148
Imputing row 5101/17812 with 0 missing, elapsed time: 87.153
Imputing row 5201/17812 with 0 missing, elapsed time: 87.156
Imputing row 5301/17812 with 0 missing, elapsed time: 87.170
Imputing row 5401/17812 with 14 missing, elapsed time: 87.181
Imputing row 5501/17812 with 0 missing, elapsed time: 87.188
Imputing row 5601/17812 with 0 missing, elapsed time: 87.199
Imputing row 5701/17812 with 0 missing, elapsed time: 87.205
Imputing row 5801/17812 with 0 missing, elapsed time: 87.219
Imputing row 5901/17812 with 0 missing, elapsed time: 87.229
Imputing row 6001/17812 with 0 missing, elapsed time: 87.239
Imputing row 6101/17812 with 0 missing, elapsed time: 87.251
Imputing row 6201/17812 with 0 missing, elapsed time: 87.263
Imputing row 6301/17812 with 12 missing, elapsed time: 87.276
Imputing row 6401/17812 with 0 missing, elapsed time: 87.284
Imputing row 6501/17812 with 0 missing, elapsed time: 87.297
Imputing row 6601/17812 with 0 missing, elapsed time: 87.305
Imputing row 6701/17812 with 0 missing, elapsed time: 87.315
Imputing row 6801/17812 with 14 missing, elapsed time: 87.325
Imputing row 6901/17812 with 0 missing, elapsed time: 87.333
Imputing row 7001/17812 with 0 missing, elapsed time: 87.339
Imputing row 7101/17812 with 0 missing, elapsed time: 87.346
Imputing row 7201/17812 with 0 missing, elapsed time: 87.355
Imputing row 7301/17812 with 0 missing, elapsed time: 87.359
Imputing row 7401/17812 with 0 missing, elapsed time: 87.365
Imputing row 7501/17812 with 0 missing, elapsed time: 87.378
Imputing row 7601/17812 with 0 missing, elapsed time: 87.387
Imputing row 7701/17812 with 0 missing, elapsed time: 87.397
Imputing row 7801/17812 with 0 missing, elapsed time: 87.406
Imputing row 7901/17812 with 0 missing, elapsed time: 87.424
Imputing row 8001/17812 with 0 missing, elapsed time: 87.430
Imputing row 8101/17812 with 0 missing, elapsed time: 87.439
Imputing row 8201/17812 with 0 missing, elapsed time: 87.448
Imputing row 8301/17812 with 0 missing, elapsed time: 87.454
Imputing row 8401/17812 with 14 missing, elapsed time: 87.457
Imputing row 8501/17812 with 0 missing, elapsed time: 87.466
Imputing row 8601/17812 with 0 missing, elapsed time: 87.473
Imputing row 8701/17812 with 0 missing, elapsed time: 87.482
Imputing row 8801/17812 with 0 missing, elapsed time: 87.488
Imputing row 8901/17812 with 0 missing, elapsed time: 87.494
Imputing row 9001/17812 with 0 missing, elapsed time: 87.503
Imputing row 9101/17812 with 0 missing, elapsed time: 87.516
Imputing row 9201/17812 with 0 missing, elapsed time: 87.526
Imputing row 9301/17812 with 0 missing, elapsed time: 87.541
Imputing row 9401/17812 with 0 missing, elapsed time: 87.554
Imputing row 9501/17812 with 0 missing, elapsed time: 87.566
Imputing row 9601/17812 with 0 missing, elapsed time: 87.577
Imputing row 9701/17812 with 1 missing, elapsed time: 87.594
Imputing row 9801/17812 with 14 missing, elapsed time: 87.613
Imputing row 9901/17812 with 0 missing, elapsed time: 87.623
Imputing row 10001/17812 with 0 missing, elapsed time: 87.638
Imputing row 10101/17812 with 0 missing, elapsed time: 87.646
Imputing row 10201/17812 with 0 missing, elapsed time: 87.653
Imputing row 10301/17812 with 0 missing, elapsed time: 87.660
Imputing row 10401/17812 with 0 missing, elapsed time: 87.670
Imputing row 10501/17812 with 0 missing, elapsed time: 87.675
Imputing row 10601/17812 with 0 missing, elapsed time: 87.678
Imputing row 10701/17812 with 0 missing, elapsed time: 87.685
Imputing row 10801/17812 with 0 missing, elapsed time: 87.690
Imputing row 10901/17812 with 0 missing, elapsed time: 87.694

Imputing row 11001/17812 with 0 missing, elapsed time: 87.707
Imputing row 11101/17812 with 0 missing, elapsed time: 87.714
Imputing row 11201/17812 with 0 missing, elapsed time: 87.721
Imputing row 11301/17812 with 0 missing, elapsed time: 87.728
Imputing row 11401/17812 with 0 missing, elapsed time: 87.731
Imputing row 11501/17812 with 0 missing, elapsed time: 87.740
Imputing row 11601/17812 with 0 missing, elapsed time: 87.756
Imputing row 11701/17812 with 14 missing, elapsed time: 87.764
Imputing row 11801/17812 with 0 missing, elapsed time: 87.785
Imputing row 11901/17812 with 0 missing, elapsed time: 87.801
Imputing row 12001/17812 with 0 missing, elapsed time: 87.813
Imputing row 12101/17812 with 0 missing, elapsed time: 87.827
Imputing row 12201/17812 with 0 missing, elapsed time: 87.832
Imputing row 12301/17812 with 0 missing, elapsed time: 87.839
Imputing row 12401/17812 with 0 missing, elapsed time: 87.848
Imputing row 12501/17812 with 0 missing, elapsed time: 87.860
Imputing row 12601/17812 with 0 missing, elapsed time: 87.874
Imputing row 12701/17812 with 0 missing, elapsed time: 87.880
Imputing row 12801/17812 with 0 missing, elapsed time: 87.890
Imputing row 12901/17812 with 0 missing, elapsed time: 87.898
Imputing row 13001/17812 with 0 missing, elapsed time: 87.902
Imputing row 13101/17812 with 0 missing, elapsed time: 87.914
Imputing row 13201/17812 with 0 missing, elapsed time: 87.922
Imputing row 13301/17812 with 2 missing, elapsed time: 87.929
Imputing row 13401/17812 with 0 missing, elapsed time: 87.939
Imputing row 13501/17812 with 0 missing, elapsed time: 87.945
Imputing row 13601/17812 with 0 missing, elapsed time: 87.952
Imputing row 13701/17812 with 0 missing, elapsed time: 87.960
Imputing row 13801/17812 with 0 missing, elapsed time: 87.965
Imputing row 13901/17812 with 0 missing, elapsed time: 87.978
Imputing row 14001/17812 with 0 missing, elapsed time: 87.984
Imputing row 14101/17812 with 0 missing, elapsed time: 87.991
Imputing row 14201/17812 with 0 missing, elapsed time: 87.996
Imputing row 14301/17812 with 0 missing, elapsed time: 88.006
Imputing row 14401/17812 with 0 missing, elapsed time: 88.016
Imputing row 14501/17812 with 0 missing, elapsed time: 88.023
Imputing row 14601/17812 with 0 missing, elapsed time: 88.032
Imputing row 14701/17812 with 0 missing, elapsed time: 88.042
Imputing row 14801/17812 with 0 missing, elapsed time: 88.048
Imputing row 14901/17812 with 0 missing, elapsed time: 88.062
Imputing row 15001/17812 with 0 missing, elapsed time: 88.074
Imputing row 15101/17812 with 0 missing, elapsed time: 88.092
Imputing row 15201/17812 with 0 missing, elapsed time: 88.110
Imputing row 15301/17812 with 0 missing, elapsed time: 88.118
Imputing row 15401/17812 with 0 missing, elapsed time: 88.123
Imputing row 15501/17812 with 0 missing, elapsed time: 88.133
Imputing row 15601/17812 with 0 missing, elapsed time: 88.150
Imputing row 15701/17812 with 0 missing, elapsed time: 88.159
Imputing row 15801/17812 with 0 missing, elapsed time: 88.169
Imputing row 15901/17812 with 0 missing, elapsed time: 88.184
Imputing row 16001/17812 with 0 missing, elapsed time: 88.190
Imputing row 16101/17812 with 0 missing, elapsed time: 88.206
Imputing row 16201/17812 with 0 missing, elapsed time: 88.212
Imputing row 16301/17812 with 0 missing, elapsed time: 88.219
Imputing row 16401/17812 with 0 missing, elapsed time: 88.232
Imputing row 16501/17812 with 0 missing, elapsed time: 88.243
Imputing row 16601/17812 with 0 missing, elapsed time: 88.252
Imputing row 16701/17812 with 0 missing, elapsed time: 88.255
Imputing row 16801/17812 with 0 missing, elapsed time: 88.261
Imputing row 16901/17812 with 0 missing, elapsed time: 88.267
Imputing row 17001/17812 with 0 missing, elapsed time: 88.274
Imputing row 17101/17812 with 0 missing, elapsed time: 88.279
Imputing row 17201/17812 with 0 missing, elapsed time: 88.285
Imputing row 17301/17812 with 0 missing, elapsed time: 88.288
Imputing row 17401/17812 with 0 missing, elapsed time: 88.299
Imputing row 17501/17812 with 0 missing, elapsed time: 88.307
Imputing row 17601/17812 with 0 missing, elapsed time: 88.320
Imputing row 17701/17812 with 0 missing, elapsed time: 88.330
Imputing row 17801/17812 with 0 missing, elapsed time: 88.337
Imputing row 1/17812 with 0 missing, elapsed time: 80.335
Imputing row 101/17812 with 0 missing, elapsed time: 80.349
Imputing row 201/17812 with 14 missing, elapsed time: 80.367
Imputing row 301/17812 with 0 missing, elapsed time: 80.388
Imputing row 401/17812 with 0 missing, elapsed time: 80.402
Imputing row 501/17812 with 0 missing, elapsed time: 80.422
Imputing row 601/17812 with 0 missing, elapsed time: 80.433
Imputing row 701/17812 with 0 missing, elapsed time: 80.457
Imputing row 801/17812 with 14 missing, elapsed time: 80.463
Imputing row 901/17812 with 0 missing, elapsed time: 80.483
Imputing row 1001/17812 with 0 missing, elapsed time: 80.497
Imputing row 1101/17812 with 0 missing, elapsed time: 80.509
Imputing row 1201/17812 with 0 missing, elapsed time: 80.518
Imputing row 1301/17812 with 0 missing, elapsed time: 80.526
Imputing row 1401/17812 with 0 missing, elapsed time: 80.534
Imputing row 1501/17812 with 0 missing, elapsed time: 80.547
Imputing row 1601/17812 with 0 missing, elapsed time: 80.561
Imputing row 1701/17812 with 0 missing, elapsed time: 80.570
Imputing row 1801/17812 with 0 missing, elapsed time: 80.577
Imputing row 1901/17812 with 0 missing, elapsed time: 80.588
Imputing row 2001/17812 with 0 missing, elapsed time: 80.595
Imputing row 2101/17812 with 0 missing, elapsed time: 80.609
Imputing row 2201/17812 with 0 missing, elapsed time: 80.616
Imputing row 2301/17812 with 0 missing, elapsed time: 80.623
Imputing row 2401/17812 with 0 missing, elapsed time: 80.635
Imputing row 2501/17812 with 0 missing, elapsed time: 80.638
Imputing row 2601/17812 with 0 missing, elapsed time: 80.651
Imputing row 2701/17812 with 0 missing, elapsed time: 80.660
Imputing row 2801/17812 with 0 missing, elapsed time: 80.670
Imputing row 2901/17812 with 14 missing, elapsed time: 80.677
Imputing row 3001/17812 with 0 missing, elapsed time: 80.683
Imputing row 3101/17812 with 14 missing, elapsed time: 80.695
Imputing row 3201/17812 with 0 missing, elapsed time: 80.703
Imputing row 3301/17812 with 0 missing, elapsed time: 80.711
Imputing row 3401/17812 with 0 missing, elapsed time: 80.720
Imputing row 3501/17812 with 0 missing, elapsed time: 80.727
Imputing row 3601/17812 with 0 missing, elapsed time: 80.739
Imputing row 3701/17812 with 0 missing, elapsed time: 80.749
Imputing row 3801/17812 with 0 missing, elapsed time: 80.761
Imputing row 3901/17812 with 0 missing, elapsed time: 80.766
Imputing row 4001/17812 with 0 missing, elapsed time: 80.771
Imputing row 4101/17812 with 0 missing, elapsed time: 80.779
Imputing row 4201/17812 with 0 missing, elapsed time: 80.788
Imputing row 4301/17812 with 0 missing, elapsed time: 80.804
Imputing row 4401/17812 with 0 missing, elapsed time: 80.815
Imputing row 4501/17812 with 0 missing, elapsed time: 80.825
Imputing row 4601/17812 with 0 missing, elapsed time: 80.836
Imputing row 4701/17812 with 0 missing, elapsed time: 80.843
Imputing row 4801/17812 with 0 missing, elapsed time: 80.849
Imputing row 4901/17812 with 0 missing, elapsed time: 80.857
Imputing row 5001/17812 with 0 missing, elapsed time: 80.875
Imputing row 5101/17812 with 0 missing, elapsed time: 80.893
Imputing row 5201/17812 with 0 missing, elapsed time: 80.912
Imputing row 5301/17812 with 0 missing, elapsed time: 80.919
Imputing row 5401/17812 with 0 missing, elapsed time: 80.924
Imputing row 5501/17812 with 0 missing, elapsed time: 80.930
Imputing row 5601/17812 with 0 missing, elapsed time: 80.940
Imputing row 5701/17812 with 0 missing, elapsed time: 80.946
Imputing row 5801/17812 with 0 missing, elapsed time: 80.953
Imputing row 5901/17812 with 0 missing, elapsed time: 80.969
Imputing row 6001/17812 with 0 missing, elapsed time: 80.976
Imputing row 6101/17812 with 0 missing, elapsed time: 80.986
Imputing row 6201/17812 with 0 missing, elapsed time: 81.000
Imputing row 6301/17812 with 0 missing, elapsed time: 81.005
Imputing row 6401/17812 with 0 missing, elapsed time: 81.015
Imputing row 6501/17812 with 0 missing, elapsed time: 81.022
Imputing row 6601/17812 with 0 missing, elapsed time: 81.029
Imputing row 6701/17812 with 0 missing, elapsed time: 81.036
Imputing row 6801/17812 with 0 missing, elapsed time: 81.052
Imputing row 6901/17812 with 0 missing, elapsed time: 81.067
Imputing row 7001/17812 with 0 missing, elapsed time: 81.078
Imputing row 7101/17812 with 0 missing, elapsed time: 81.090
Imputing row 7201/17812 with 0 missing, elapsed time: 81.096
Imputing row 7301/17812 with 0 missing, elapsed time: 81.102
Imputing row 7401/17812 with 0 missing, elapsed time: 81.106
Imputing row 7501/17812 with 0 missing, elapsed time: 81.111
Imputing row 7601/17812 with 0 missing, elapsed time: 81.122
Imputing row 7701/17812 with 0 missing, elapsed time: 81.129
Imputing row 7801/17812 with 0 missing, elapsed time: 81.132
Imputing row 7901/17812 with 0 missing, elapsed time: 81.143
Imputing row 8001/17812 with 0 missing, elapsed time: 81.151

Imputing row 8101/17812 with 0 missing, elapsed time: 81.161
Imputing row 8201/17812 with 0 missing, elapsed time: 81.173
Imputing row 8301/17812 with 0 missing, elapsed time: 81.182
Imputing row 8401/17812 with 0 missing, elapsed time: 81.188
Imputing row 8501/17812 with 0 missing, elapsed time: 81.199
Imputing row 8601/17812 with 0 missing, elapsed time: 81.216
Imputing row 8701/17812 with 0 missing, elapsed time: 81.235
Imputing row 8801/17812 with 2 missing, elapsed time: 81.238
Imputing row 8901/17812 with 0 missing, elapsed time: 81.252
Imputing row 9001/17812 with 0 missing, elapsed time: 81.263
Imputing row 9101/17812 with 0 missing, elapsed time: 81.274
Imputing row 9201/17812 with 0 missing, elapsed time: 81.283
Imputing row 9301/17812 with 0 missing, elapsed time: 81.296
Imputing row 9401/17812 with 0 missing, elapsed time: 81.312
Imputing row 9501/17812 with 0 missing, elapsed time: 81.333
Imputing row 9601/17812 with 0 missing, elapsed time: 81.341
Imputing row 9701/17812 with 0 missing, elapsed time: 81.352
Imputing row 9801/17812 with 0 missing, elapsed time: 81.362
Imputing row 9901/17812 with 0 missing, elapsed time: 81.372
Imputing row 10001/17812 with 0 missing, elapsed time: 81.375
Imputing row 10101/17812 with 0 missing, elapsed time: 81.380
Imputing row 10201/17812 with 0 missing, elapsed time: 81.384
Imputing row 10301/17812 with 0 missing, elapsed time: 81.399
Imputing row 10401/17812 with 0 missing, elapsed time: 81.400
Imputing row 10501/17812 with 0 missing, elapsed time: 81.407
Imputing row 10601/17812 with 0 missing, elapsed time: 81.416
Imputing row 10701/17812 with 0 missing, elapsed time: 81.423
Imputing row 10801/17812 with 0 missing, elapsed time: 81.429
Imputing row 10901/17812 with 0 missing, elapsed time: 81.437
Imputing row 11001/17812 with 0 missing, elapsed time: 81.439
Imputing row 11101/17812 with 0 missing, elapsed time: 81.449
Imputing row 11201/17812 with 12 missing, elapsed time: 81.453
Imputing row 11301/17812 with 0 missing, elapsed time: 81.462
Imputing row 11401/17812 with 0 missing, elapsed time: 81.466
Imputing row 11501/17812 with 0 missing, elapsed time: 81.472
Imputing row 11601/17812 with 0 missing, elapsed time: 81.479
Imputing row 11701/17812 with 0 missing, elapsed time: 81.491
Imputing row 11801/17812 with 0 missing, elapsed time: 81.499
Imputing row 11901/17812 with 0 missing, elapsed time: 81.514
Imputing row 12001/17812 with 0 missing, elapsed time: 81.521
Imputing row 12101/17812 with 0 missing, elapsed time: 81.531
Imputing row 12201/17812 with 0 missing, elapsed time: 81.548
Imputing row 12301/17812 with 0 missing, elapsed time: 81.555
Imputing row 12401/17812 with 0 missing, elapsed time: 81.567
Imputing row 12501/17812 with 0 missing, elapsed time: 81.577
Imputing row 12601/17812 with 0 missing, elapsed time: 81.588
Imputing row 12701/17812 with 0 missing, elapsed time: 81.594
Imputing row 12801/17812 with 0 missing, elapsed time: 81.599
Imputing row 12901/17812 with 0 missing, elapsed time: 81.605
Imputing row 13001/17812 with 14 missing, elapsed time: 81.611
Imputing row 13101/17812 with 14 missing, elapsed time: 81.619
Imputing row 13201/17812 with 0 missing, elapsed time: 81.628
Imputing row 13301/17812 with 0 missing, elapsed time: 81.640
Imputing row 13401/17812 with 0 missing, elapsed time: 81.651
Imputing row 13501/17812 with 0 missing, elapsed time: 81.662
Imputing row 13601/17812 with 0 missing, elapsed time: 81.672
Imputing row 13701/17812 with 0 missing, elapsed time: 81.684
Imputing row 13801/17812 with 0 missing, elapsed time: 81.691
Imputing row 13901/17812 with 0 missing, elapsed time: 81.697
Imputing row 14001/17812 with 0 missing, elapsed time: 81.711
Imputing row 14101/17812 with 0 missing, elapsed time: 81.723
Imputing row 14201/17812 with 0 missing, elapsed time: 81.730
Imputing row 14301/17812 with 0 missing, elapsed time: 81.736
Imputing row 14401/17812 with 0 missing, elapsed time: 81.742
Imputing row 14501/17812 with 0 missing, elapsed time: 81.749
Imputing row 14601/17812 with 0 missing, elapsed time: 81.760
Imputing row 14701/17812 with 0 missing, elapsed time: 81.767
Imputing row 14801/17812 with 0 missing, elapsed time: 81.777
Imputing row 14901/17812 with 0 missing, elapsed time: 81.784
Imputing row 15001/17812 with 10 missing, elapsed time: 81.795
Imputing row 15101/17812 with 0 missing, elapsed time: 81.811
Imputing row 15201/17812 with 0 missing, elapsed time: 81.823
Imputing row 15301/17812 with 0 missing, elapsed time: 81.831
Imputing row 15401/17812 with 0 missing, elapsed time: 81.842
Imputing row 15501/17812 with 0 missing, elapsed time: 81.854
Imputing row 15601/17812 with 0 missing, elapsed time: 81.860
Imputing row 15701/17812 with 0 missing, elapsed time: 81.867
Imputing row 15801/17812 with 0 missing, elapsed time: 81.879
Imputing row 15901/17812 with 0 missing, elapsed time: 81.885
Imputing row 16001/17812 with 0 missing, elapsed time: 81.894
Imputing row 16101/17812 with 0 missing, elapsed time: 81.900
Imputing row 16201/17812 with 0 missing, elapsed time: 81.909
Imputing row 16301/17812 with 0 missing, elapsed time: 81.920
Imputing row 16401/17812 with 0 missing, elapsed time: 81.930
Imputing row 16501/17812 with 0 missing, elapsed time: 81.945
Imputing row 16601/17812 with 0 missing, elapsed time: 81.960
Imputing row 16701/17812 with 0 missing, elapsed time: 81.974
Imputing row 16801/17812 with 14 missing, elapsed time: 81.995
Imputing row 16901/17812 with 0 missing, elapsed time: 82.001
Imputing row 17001/17812 with 0 missing, elapsed time: 82.009
Imputing row 17101/17812 with 0 missing, elapsed time: 82.019
Imputing row 17201/17812 with 14 missing, elapsed time: 82.025
Imputing row 17301/17812 with 0 missing, elapsed time: 82.033
Imputing row 17401/17812 with 0 missing, elapsed time: 82.044
Imputing row 17501/17812 with 0 missing, elapsed time: 82.055
Imputing row 17601/17812 with 0 missing, elapsed time: 82.065
Imputing row 17701/17812 with 0 missing, elapsed time: 82.080
Imputing row 17801/17812 with 0 missing, elapsed time: 82.086
Imputing row 1/17812 with 0 missing, elapsed time: 84.427
Imputing row 101/17812 with 0 missing, elapsed time: 84.435
Imputing row 201/17812 with 0 missing, elapsed time: 84.449
Imputing row 301/17812 with 0 missing, elapsed time: 84.463
Imputing row 401/17812 with 0 missing, elapsed time: 84.470
Imputing row 501/17812 with 0 missing, elapsed time: 84.483
Imputing row 601/17812 with 0 missing, elapsed time: 84.492
Imputing row 701/17812 with 0 missing, elapsed time: 84.508
Imputing row 801/17812 with 0 missing, elapsed time: 84.516
Imputing row 901/17812 with 14 missing, elapsed time: 84.529
Imputing row 1001/17812 with 0 missing, elapsed time: 84.539
Imputing row 1101/17812 with 0 missing, elapsed time: 84.545
Imputing row 1201/17812 with 0 missing, elapsed time: 84.556
Imputing row 1301/17812 with 0 missing, elapsed time: 84.563
Imputing row 1401/17812 with 0 missing, elapsed time: 84.569
Imputing row 1501/17812 with 0 missing, elapsed time: 84.576
Imputing row 1601/17812 with 2 missing, elapsed time: 84.582
Imputing row 1701/17812 with 14 missing, elapsed time: 84.591
Imputing row 1801/17812 with 0 missing, elapsed time: 84.602
Imputing row 1901/17812 with 0 missing, elapsed time: 84.609
Imputing row 2001/17812 with 0 missing, elapsed time: 84.623
Imputing row 2101/17812 with 0 missing, elapsed time: 84.634
Imputing row 2201/17812 with 0 missing, elapsed time: 84.639
Imputing row 2301/17812 with 0 missing, elapsed time: 84.653
Imputing row 2401/17812 with 0 missing, elapsed time: 84.664
Imputing row 2501/17812 with 0 missing, elapsed time: 84.674
Imputing row 2601/17812 with 14 missing, elapsed time: 84.686
Imputing row 2701/17812 with 0 missing, elapsed time: 84.698
Imputing row 2801/17812 with 0 missing, elapsed time: 84.712
Imputing row 2901/17812 with 0 missing, elapsed time: 84.719
Imputing row 3001/17812 with 0 missing, elapsed time: 84.724
Imputing row 3101/17812 with 0 missing, elapsed time: 84.742
Imputing row 3201/17812 with 0 missing, elapsed time: 84.750
Imputing row 3301/17812 with 0 missing, elapsed time: 84.756
Imputing row 3401/17812 with 0 missing, elapsed time: 84.763
Imputing row 3501/17812 with 0 missing, elapsed time: 84.774
Imputing row 3601/17812 with 0 missing, elapsed time: 84.783
Imputing row 3701/17812 with 0 missing, elapsed time: 84.788
Imputing row 3801/17812 with 0 missing, elapsed time: 84.793
Imputing row 3901/17812 with 0 missing, elapsed time: 84.797
Imputing row 4001/17812 with 0 missing, elapsed time: 84.801
Imputing row 4101/17812 with 0 missing, elapsed time: 84.811
Imputing row 4201/17812 with 0 missing, elapsed time: 84.819
Imputing row 4301/17812 with 0 missing, elapsed time: 84.824

Imputing row 4401/17812 with 14 missing, elapsed time: 84.837
Imputing row 4501/17812 with 0 missing, elapsed time: 84.853
Imputing row 4601/17812 with 0 missing, elapsed time: 84.861
Imputing row 4701/17812 with 0 missing, elapsed time: 84.867
Imputing row 4801/17812 with 14 missing, elapsed time: 84.877
Imputing row 4901/17812 with 0 missing, elapsed time: 84.891
Imputing row 5001/17812 with 0 missing, elapsed time: 84.914
Imputing row 5101/17812 with 0 missing, elapsed time: 84.921
Imputing row 5201/17812 with 0 missing, elapsed time: 84.927
Imputing row 5301/17812 with 0 missing, elapsed time: 84.936
Imputing row 5401/17812 with 0 missing, elapsed time: 84.944
Imputing row 5501/17812 with 0 missing, elapsed time: 84.950
Imputing row 5601/17812 with 0 missing, elapsed time: 84.956
Imputing row 5701/17812 with 0 missing, elapsed time: 84.964
Imputing row 5801/17812 with 0 missing, elapsed time: 84.974
Imputing row 5901/17812 with 0 missing, elapsed time: 84.983
Imputing row 6001/17812 with 0 missing, elapsed time: 84.994
Imputing row 6101/17812 with 0 missing, elapsed time: 85.003
Imputing row 6201/17812 with 0 missing, elapsed time: 85.012
Imputing row 6301/17812 with 0 missing, elapsed time: 85.024
Imputing row 6401/17812 with 0 missing, elapsed time: 85.038
Imputing row 6501/17812 with 0 missing, elapsed time: 85.055
Imputing row 6601/17812 with 0 missing, elapsed time: 85.061
Imputing row 6701/17812 with 0 missing, elapsed time: 85.073
Imputing row 6801/17812 with 0 missing, elapsed time: 85.088
Imputing row 6901/17812 with 0 missing, elapsed time: 85.104
Imputing row 7001/17812 with 0 missing, elapsed time: 85.118
Imputing row 7101/17812 with 0 missing, elapsed time: 85.127
Imputing row 7201/17812 with 0 missing, elapsed time: 85.145
Imputing row 7301/17812 with 0 missing, elapsed time: 85.155
Imputing row 7401/17812 with 0 missing, elapsed time: 85.160
Imputing row 7501/17812 with 0 missing, elapsed time: 85.174
Imputing row 7601/17812 with 0 missing, elapsed time: 85.192
Imputing row 7701/17812 with 0 missing, elapsed time: 85.201
Imputing row 7801/17812 with 0 missing, elapsed time: 85.212
Imputing row 7901/17812 with 0 missing, elapsed time: 85.216
Imputing row 8001/17812 with 0 missing, elapsed time: 85.225
Imputing row 8101/17812 with 0 missing, elapsed time: 85.232
Imputing row 8201/17812 with 0 missing, elapsed time: 85.238
Imputing row 8301/17812 with 0 missing, elapsed time: 85.246
Imputing row 8401/17812 with 0 missing, elapsed time: 85.254
Imputing row 8501/17812 with 0 missing, elapsed time: 85.262
Imputing row 8601/17812 with 0 missing, elapsed time: 85.270
Imputing row 8701/17812 with 0 missing, elapsed time: 85.274
Imputing row 8801/17812 with 0 missing, elapsed time: 85.285
Imputing row 8901/17812 with 0 missing, elapsed time: 85.292
Imputing row 9001/17812 with 0 missing, elapsed time: 85.295
Imputing row 9101/17812 with 14 missing, elapsed time: 85.301
Imputing row 9201/17812 with 0 missing, elapsed time: 85.310
Imputing row 9301/17812 with 0 missing, elapsed time: 85.316
Imputing row 9401/17812 with 0 missing, elapsed time: 85.321
Imputing row 9501/17812 with 0 missing, elapsed time: 85.327
Imputing row 9601/17812 with 0 missing, elapsed time: 85.335
Imputing row 9701/17812 with 0 missing, elapsed time: 85.346
Imputing row 9801/17812 with 0 missing, elapsed time: 85.353
Imputing row 9901/17812 with 0 missing, elapsed time: 85.367
Imputing row 10001/17812 with 0 missing, elapsed time: 85.376
Imputing row 10101/17812 with 0 missing, elapsed time: 85.381
Imputing row 10201/17812 with 0 missing, elapsed time: 85.389
Imputing row 10301/17812 with 0 missing, elapsed time: 85.407
Imputing row 10401/17812 with 0 missing, elapsed time: 85.425
Imputing row 10501/17812 with 0 missing, elapsed time: 85.439
Imputing row 10601/17812 with 0 missing, elapsed time: 85.449
Imputing row 10701/17812 with 0 missing, elapsed time: 85.458
Imputing row 10801/17812 with 0 missing, elapsed time: 85.465
Imputing row 10901/17812 with 0 missing, elapsed time: 85.473
Imputing row 11001/17812 with 0 missing, elapsed time: 85.478
Imputing row 11101/17812 with 0 missing, elapsed time: 85.483
Imputing row 11201/17812 with 0 missing, elapsed time: 85.491
Imputing row 11301/17812 with 0 missing, elapsed time: 85.497
Imputing row 11401/17812 with 0 missing, elapsed time: 85.505
Imputing row 11501/17812 with 0 missing, elapsed time: 85.516
Imputing row 11601/17812 with 0 missing, elapsed time: 85.522
Imputing row 11701/17812 with 0 missing, elapsed time: 85.532
Imputing row 11801/17812 with 0 missing, elapsed time: 85.540
Imputing row 11901/17812 with 0 missing, elapsed time: 85.544
Imputing row 12001/17812 with 14 missing, elapsed time: 85.550
Imputing row 12101/17812 with 0 missing, elapsed time: 85.559
Imputing row 12201/17812 with 0 missing, elapsed time: 85.564
Imputing row 12301/17812 with 0 missing, elapsed time: 85.569
Imputing row 12401/17812 with 0 missing, elapsed time: 85.575
Imputing row 12501/17812 with 0 missing, elapsed time: 85.580
Imputing row 12601/17812 with 0 missing, elapsed time: 85.582
Imputing row 12701/17812 with 14 missing, elapsed time: 85.593
Imputing row 12801/17812 with 0 missing, elapsed time: 85.603
Imputing row 12901/17812 with 0 missing, elapsed time: 85.614
Imputing row 13001/17812 with 0 missing, elapsed time: 85.621
Imputing row 13101/17812 with 0 missing, elapsed time: 85.627
Imputing row 13201/17812 with 0 missing, elapsed time: 85.634
Imputing row 13301/17812 with 0 missing, elapsed time: 85.638
Imputing row 13401/17812 with 0 missing, elapsed time: 85.647
Imputing row 13501/17812 with 0 missing, elapsed time: 85.652
Imputing row 13601/17812 with 0 missing, elapsed time: 85.656
Imputing row 13701/17812 with 0 missing, elapsed time: 85.659
Imputing row 13801/17812 with 14 missing, elapsed time: 85.667
Imputing row 13901/17812 with 0 missing, elapsed time: 85.674
Imputing row 14001/17812 with 0 missing, elapsed time: 85.680
Imputing row 14101/17812 with 0 missing, elapsed time: 85.685
Imputing row 14201/17812 with 0 missing, elapsed time: 85.691
Imputing row 14301/17812 with 0 missing, elapsed time: 85.696
Imputing row 14401/17812 with 12 missing, elapsed time: 85.706
Imputing row 14501/17812 with 0 missing, elapsed time: 85.722
Imputing row 14601/17812 with 0 missing, elapsed time: 85.731
Imputing row 14701/17812 with 0 missing, elapsed time: 85.737
Imputing row 14801/17812 with 0 missing, elapsed time: 85.747
Imputing row 14901/17812 with 0 missing, elapsed time: 85.758
Imputing row 15001/17812 with 0 missing, elapsed time: 85.772
Imputing row 15101/17812 with 0 missing, elapsed time: 85.782
Imputing row 15201/17812 with 0 missing, elapsed time: 85.795
Imputing row 15301/17812 with 0 missing, elapsed time: 85.811
Imputing row 15401/17812 with 0 missing, elapsed time: 85.831
Imputing row 15501/17812 with 0 missing, elapsed time: 85.842
Imputing row 15601/17812 with 0 missing, elapsed time: 85.850
Imputing row 15701/17812 with 0 missing, elapsed time: 85.857
Imputing row 15801/17812 with 0 missing, elapsed time: 85.867
Imputing row 15901/17812 with 0 missing, elapsed time: 85.872
Imputing row 16001/17812 with 0 missing, elapsed time: 85.884
Imputing row 16101/17812 with 0 missing, elapsed time: 85.894
Imputing row 16201/17812 with 0 missing, elapsed time: 85.902
Imputing row 16301/17812 with 0 missing, elapsed time: 85.910
Imputing row 16401/17812 with 0 missing, elapsed time: 85.920
Imputing row 16501/17812 with 0 missing, elapsed time: 85.926
Imputing row 16601/17812 with 0 missing, elapsed time: 85.934
Imputing row 16701/17812 with 0 missing, elapsed time: 85.938
Imputing row 16801/17812 with 0 missing, elapsed time: 85.940
Imputing row 16901/17812 with 0 missing, elapsed time: 85.952
Imputing row 17001/17812 with 0 missing, elapsed time: 85.964
Imputing row 17101/17812 with 0 missing, elapsed time: 85.979
Imputing row 17201/17812 with 0 missing, elapsed time: 85.990
Imputing row 17301/17812 with 0 missing, elapsed time: 86.002
Imputing row 17401/17812 with 0 missing, elapsed time: 86.018
Imputing row 17501/17812 with 0 missing, elapsed time: 86.031
Imputing row 17601/17812 with 0 missing, elapsed time: 86.050
Imputing row 17701/17812 with 0 missing, elapsed time: 86.052
Imputing row 17801/17812 with 0 missing, elapsed time: 86.060

Imputing row 1/17812 with 14 missing, elapsed time: 86.775
Imputing row 101/17812 with 0 missing, elapsed time: 86.786
Imputing row 201/17812 with 0 missing, elapsed time: 86.793
Imputing row 301/17812 with 0 missing, elapsed time: 86.803
Imputing row 401/17812 with 0 missing, elapsed time: 86.812
Imputing row 501/17812 with 0 missing, elapsed time: 86.821
Imputing row 601/17812 with 0 missing, elapsed time: 86.835
Imputing row 701/17812 with 0 missing, elapsed time: 86.841
Imputing row 801/17812 with 0 missing, elapsed time: 86.848
Imputing row 901/17812 with 0 missing, elapsed time: 86.860
Imputing row 1001/17812 with 0 missing, elapsed time: 86.871
Imputing row 1101/17812 with 0 missing, elapsed time: 86.875
Imputing row 1201/17812 with 0 missing, elapsed time: 86.885
Imputing row 1301/17812 with 0 missing, elapsed time: 86.892
Imputing row 1401/17812 with 0 missing, elapsed time: 86.901
Imputing row 1501/17812 with 0 missing, elapsed time: 86.912
Imputing row 1601/17812 with 0 missing, elapsed time: 86.917
Imputing row 1701/17812 with 0 missing, elapsed time: 86.922
Imputing row 1801/17812 with 0 missing, elapsed time: 86.931
Imputing row 1901/17812 with 0 missing, elapsed time: 86.942
Imputing row 2001/17812 with 0 missing, elapsed time: 86.949
Imputing row 2101/17812 with 0 missing, elapsed time: 86.961
Imputing row 2201/17812 with 0 missing, elapsed time: 86.975
Imputing row 2301/17812 with 0 missing, elapsed time: 86.991
Imputing row 2401/17812 with 0 missing, elapsed time: 87.002
Imputing row 2501/17812 with 0 missing, elapsed time: 87.014
Imputing row 2601/17812 with 0 missing, elapsed time: 87.021
Imputing row 2701/17812 with 0 missing, elapsed time: 87.033
Imputing row 2801/17812 with 0 missing, elapsed time: 87.040
Imputing row 2901/17812 with 0 missing, elapsed time: 87.057
Imputing row 3001/17812 with 14 missing, elapsed time: 87.070
Imputing row 3101/17812 with 0 missing, elapsed time: 87.093
Imputing row 3201/17812 with 14 missing, elapsed time: 87.102
Imputing row 3301/17812 with 0 missing, elapsed time: 87.121
Imputing row 3401/17812 with 0 missing, elapsed time: 87.130
Imputing row 3501/17812 with 0 missing, elapsed time: 87.140
Imputing row 3601/17812 with 0 missing, elapsed time: 87.149
Imputing row 3701/17812 with 0 missing, elapsed time: 87.166
Imputing row 3801/17812 with 0 missing, elapsed time: 87.171
Imputing row 3901/17812 with 0 missing, elapsed time: 87.183
Imputing row 4001/17812 with 0 missing, elapsed time: 87.194
Imputing row 4101/17812 with 0 missing, elapsed time: 87.212
Imputing row 4201/17812 with 0 missing, elapsed time: 87.224
Imputing row 4301/17812 with 0 missing, elapsed time: 87.238
Imputing row 4401/17812 with 0 missing, elapsed time: 87.247
Imputing row 4501/17812 with 0 missing, elapsed time: 87.256
Imputing row 4601/17812 with 0 missing, elapsed time: 87.261
Imputing row 4701/17812 with 0 missing, elapsed time: 87.277
Imputing row 4801/17812 with 6 missing, elapsed time: 87.281
Imputing row 4901/17812 with 0 missing, elapsed time: 87.291
Imputing row 5001/17812 with 0 missing, elapsed time: 87.298
Imputing row 5101/17812 with 0 missing, elapsed time: 87.304
Imputing row 5201/17812 with 0 missing, elapsed time: 87.309
Imputing row 5301/17812 with 14 missing, elapsed time: 87.319
Imputing row 5401/17812 with 0 missing, elapsed time: 87.329
Imputing row 5501/17812 with 14 missing, elapsed time: 87.334
Imputing row 5601/17812 with 0 missing, elapsed time: 87.342
Imputing row 5701/17812 with 0 missing, elapsed time: 87.352
Imputing row 5801/17812 with 0 missing, elapsed time: 87.362
Imputing row 5901/17812 with 0 missing, elapsed time: 87.379
Imputing row 6001/17812 with 0 missing, elapsed time: 87.386
Imputing row 6101/17812 with 0 missing, elapsed time: 87.396
Imputing row 6201/17812 with 0 missing, elapsed time: 87.411
Imputing row 6301/17812 with 0 missing, elapsed time: 87.421
Imputing row 6401/17812 with 0 missing, elapsed time: 87.437
Imputing row 6501/17812 with 0 missing, elapsed time: 87.449
Imputing row 6601/17812 with 0 missing, elapsed time: 87.471
Imputing row 6701/17812 with 0 missing, elapsed time: 87.490
Imputing row 6801/17812 with 0 missing, elapsed time: 87.506
Imputing row 6901/17812 with 0 missing, elapsed time: 87.517
Imputing row 7001/17812 with 0 missing, elapsed time: 87.543
Imputing row 7101/17812 with 14 missing, elapsed time: 87.558
Imputing row 7201/17812 with 0 missing, elapsed time: 87.568
Imputing row 7301/17812 with 0 missing, elapsed time: 87.576
Imputing row 7401/17812 with 0 missing, elapsed time: 87.593
Imputing row 7501/17812 with 0 missing, elapsed time: 87.602
Imputing row 7601/17812 with 0 missing, elapsed time: 87.611
Imputing row 7701/17812 with 0 missing, elapsed time: 87.630
Imputing row 7801/17812 with 0 missing, elapsed time: 87.648
Imputing row 7901/17812 with 0 missing, elapsed time: 87.663
Imputing row 8001/17812 with 0 missing, elapsed time: 87.671
Imputing row 8101/17812 with 0 missing, elapsed time: 87.681
Imputing row 8201/17812 with 0 missing, elapsed time: 87.691
Imputing row 8301/17812 with 0 missing, elapsed time: 87.697
Imputing row 8401/17812 with 0 missing, elapsed time: 87.709
Imputing row 8501/17812 with 0 missing, elapsed time: 87.718
Imputing row 8601/17812 with 14 missing, elapsed time: 87.724
Imputing row 8701/17812 with 0 missing, elapsed time: 87.730
Imputing row 8801/17812 with 0 missing, elapsed time: 87.738
Imputing row 8901/17812 with 0 missing, elapsed time: 87.744
Imputing row 9001/17812 with 14 missing, elapsed time: 87.750
Imputing row 9101/17812 with 0 missing, elapsed time: 87.756
Imputing row 9201/17812 with 0 missing, elapsed time: 87.760
Imputing row 9301/17812 with 0 missing, elapsed time: 87.768
Imputing row 9401/17812 with 0 missing, elapsed time: 87.775
Imputing row 9501/17812 with 0 missing, elapsed time: 87.782
Imputing row 9601/17812 with 0 missing, elapsed time: 87.788
Imputing row 9701/17812 with 0 missing, elapsed time: 87.793
Imputing row 9801/17812 with 0 missing, elapsed time: 87.800
Imputing row 9901/17812 with 0 missing, elapsed time: 87.809
Imputing row 10001/17812 with 0 missing, elapsed time: 87.817
Imputing row 10101/17812 with 14 missing, elapsed time: 87.826
Imputing row 10201/17812 with 0 missing, elapsed time: 87.832
Imputing row 10301/17812 with 14 missing, elapsed time: 87.844
Imputing row 10401/17812 with 0 missing, elapsed time: 87.854
Imputing row 10501/17812 with 0 missing, elapsed time: 87.859
Imputing row 10601/17812 with 0 missing, elapsed time: 87.864
Imputing row 10701/17812 with 0 missing, elapsed time: 87.873
Imputing row 10801/17812 with 0 missing, elapsed time: 87.879
Imputing row 10901/17812 with 0 missing, elapsed time: 87.884
Imputing row 11001/17812 with 0 missing, elapsed time: 87.889
Imputing row 11101/17812 with 0 missing, elapsed time: 87.898
Imputing row 11201/17812 with 0 missing, elapsed time: 87.911
Imputing row 11301/17812 with 0 missing, elapsed time: 87.920
Imputing row 11401/17812 with 0 missing, elapsed time: 87.934
Imputing row 11501/17812 with 0 missing, elapsed time: 87.948
Imputing row 11601/17812 with 0 missing, elapsed time: 87.956
Imputing row 11701/17812 with 0 missing, elapsed time: 87.964
Imputing row 11801/17812 with 0 missing, elapsed time: 87.968
Imputing row 11901/17812 with 0 missing, elapsed time: 87.974
Imputing row 12001/17812 with 0 missing, elapsed time: 87.989
Imputing row 12101/17812 with 0 missing, elapsed time: 88.000
Imputing row 12201/17812 with 0 missing, elapsed time: 88.014
Imputing row 12301/17812 with 0 missing, elapsed time: 88.020
Imputing row 12401/17812 with 0 missing, elapsed time: 88.027
Imputing row 12501/17812 with 0 missing, elapsed time: 88.035
Imputing row 12601/17812 with 0 missing, elapsed time: 88.052
Imputing row 12701/17812 with 0 missing, elapsed time: 88.059
Imputing row 12801/17812 with 0 missing, elapsed time: 88.066
Imputing row 12901/17812 with 0 missing, elapsed time: 88.072
Imputing row 13001/17812 with 0 missing, elapsed time: 88.077
Imputing row 13101/17812 with 14 missing, elapsed time: 88.081
Imputing row 13201/17812 with 0 missing, elapsed time: 88.086
Imputing row 13301/17812 with 0 missing, elapsed time: 88.095
Imputing row 13401/17812 with 0 missing, elapsed time: 88.100
Imputing row 13501/17812 with 0 missing, elapsed time: 88.107
Imputing row 13601/17812 with 0 missing, elapsed time: 88.115
Imputing row 13701/17812 with 0 missing, elapsed time: 88.124
Imputing row 13801/17812 with 0 missing, elapsed time: 88.130
Imputing row 13901/17812 with 0 missing, elapsed time: 88.140
Imputing row 14001/17812 with 0 missing, elapsed time: 88.145
Imputing row 14101/17812 with 0 missing, elapsed time: 88.155
Imputing row 14201/17812 with 0 missing, elapsed time: 88.169
Imputing row 14301/17812 with 0 missing, elapsed time: 88.180
Imputing row 14401/17812 with 0 missing, elapsed time: 88.201
Imputing row 14501/17812 with 0 missing, elapsed time: 88.210

Imputing row 14601/17812 with 0 missing, elapsed time: 88.222
Imputing row 14701/17812 with 0 missing, elapsed time: 88.230
Imputing row 14801/17812 with 0 missing, elapsed time: 88.240
Imputing row 14901/17812 with 0 missing, elapsed time: 88.244
Imputing row 15001/17812 with 0 missing, elapsed time: 88.250
Imputing row 15101/17812 with 0 missing, elapsed time: 88.253
Imputing row 15201/17812 with 0 missing, elapsed time: 88.260
Imputing row 15301/17812 with 0 missing, elapsed time: 88.269
Imputing row 15401/17812 with 0 missing, elapsed time: 88.277
Imputing row 15501/17812 with 0 missing, elapsed time: 88.283
Imputing row 15601/17812 with 0 missing, elapsed time: 88.294
Imputing row 15701/17812 with 0 missing, elapsed time: 88.299
Imputing row 15801/17812 with 0 missing, elapsed time: 88.308
Imputing row 15901/17812 with 14 missing, elapsed time: 88.317
Imputing row 16001/17812 with 0 missing, elapsed time: 88.329
Imputing row 16101/17812 with 0 missing, elapsed time: 88.338
Imputing row 16201/17812 with 0 missing, elapsed time: 88.345
Imputing row 16301/17812 with 0 missing, elapsed time: 88.355
Imputing row 16401/17812 with 0 missing, elapsed time: 88.359
Imputing row 16501/17812 with 0 missing, elapsed time: 88.370
Imputing row 16601/17812 with 0 missing, elapsed time: 88.379
Imputing row 16701/17812 with 0 missing, elapsed time: 88.386
Imputing row 16801/17812 with 0 missing, elapsed time: 88.396
Imputing row 16901/17812 with 0 missing, elapsed time: 88.403
Imputing row 17001/17812 with 14 missing, elapsed time: 88.408
Imputing row 17101/17812 with 0 missing, elapsed time: 88.414
Imputing row 17201/17812 with 0 missing, elapsed time: 88.421
Imputing row 17301/17812 with 0 missing, elapsed time: 88.436
Imputing row 17401/17812 with 0 missing, elapsed time: 88.443
Imputing row 17501/17812 with 0 missing, elapsed time: 88.450
Imputing row 17601/17812 with 0 missing, elapsed time: 88.460
Imputing row 17701/17812 with 0 missing, elapsed time: 88.472
Imputing row 17801/17812 with 0 missing, elapsed time: 88.479
Imputing row 1/17812 with 0 missing, elapsed time: 82.136
Imputing row 101/17812 with 0 missing, elapsed time: 82.154
Imputing row 201/17812 with 14 missing, elapsed time: 82.161
Imputing row 301/17812 with 0 missing, elapsed time: 82.171
Imputing row 401/17812 with 0 missing, elapsed time: 82.182
Imputing row 501/17812 with 0 missing, elapsed time: 82.188
Imputing row 601/17812 with 0 missing, elapsed time: 82.194
Imputing row 701/17812 with 0 missing, elapsed time: 82.200
Imputing row 801/17812 with 0 missing, elapsed time: 82.217
Imputing row 901/17812 with 0 missing, elapsed time: 82.232
Imputing row 1001/17812 with 0 missing, elapsed time: 82.248
Imputing row 1101/17812 with 0 missing, elapsed time: 82.264
Imputing row 1201/17812 with 0 missing, elapsed time: 82.281
Imputing row 1301/17812 with 0 missing, elapsed time: 82.290
Imputing row 1401/17812 with 0 missing, elapsed time: 82.297
Imputing row 1501/17812 with 0 missing, elapsed time: 82.305
Imputing row 1601/17812 with 0 missing, elapsed time: 82.314
Imputing row 1701/17812 with 0 missing, elapsed time: 82.329
Imputing row 1801/17812 with 0 missing, elapsed time: 82.345
Imputing row 1901/17812 with 0 missing, elapsed time: 82.362
Imputing row 2001/17812 with 0 missing, elapsed time: 82.378
Imputing row 2101/17812 with 0 missing, elapsed time: 82.391
Imputing row 2201/17812 with 0 missing, elapsed time: 82.404
Imputing row 2301/17812 with 0 missing, elapsed time: 82.407
Imputing row 2401/17812 with 0 missing, elapsed time: 82.415
Imputing row 2501/17812 with 0 missing, elapsed time: 82.419
Imputing row 2601/17812 with 14 missing, elapsed time: 82.427
Imputing row 2701/17812 with 0 missing, elapsed time: 82.436
Imputing row 2801/17812 with 0 missing, elapsed time: 82.444
Imputing row 2901/17812 with 0 missing, elapsed time: 82.453
Imputing row 3001/17812 with 0 missing, elapsed time: 82.460
Imputing row 3101/17812 with 0 missing, elapsed time: 82.464
Imputing row 3201/17812 with 0 missing, elapsed time: 82.475
Imputing row 3301/17812 with 0 missing, elapsed time: 82.488
Imputing row 3401/17812 with 0 missing, elapsed time: 82.494
Imputing row 3501/17812 with 4 missing, elapsed time: 82.502
Imputing row 3601/17812 with 0 missing, elapsed time: 82.514
Imputing row 3701/17812 with 0 missing, elapsed time: 82.519
Imputing row 3801/17812 with 0 missing, elapsed time: 82.529
Imputing row 3901/17812 with 0 missing, elapsed time: 82.547
Imputing row 4001/17812 with 0 missing, elapsed time: 82.553
Imputing row 4101/17812 with 0 missing, elapsed time: 82.559
Imputing row 4201/17812 with 14 missing, elapsed time: 82.569
Imputing row 4301/17812 with 0 missing, elapsed time: 82.584
Imputing row 4401/17812 with 0 missing, elapsed time: 82.592
Imputing row 4501/17812 with 0 missing, elapsed time: 82.606
Imputing row 4601/17812 with 0 missing, elapsed time: 82.621
Imputing row 4701/17812 with 14 missing, elapsed time: 82.639
Imputing row 4801/17812 with 0 missing, elapsed time: 82.647
Imputing row 4901/17812 with 0 missing, elapsed time: 82.655
Imputing row 5001/17812 with 14 missing, elapsed time: 82.657
Imputing row 5101/17812 with 0 missing, elapsed time: 82.661
Imputing row 5201/17812 with 0 missing, elapsed time: 82.667
Imputing row 5301/17812 with 0 missing, elapsed time: 82.682
Imputing row 5401/17812 with 0 missing, elapsed time: 82.687
Imputing row 5501/17812 with 0 missing, elapsed time: 82.702
Imputing row 5601/17812 with 0 missing, elapsed time: 82.711
Imputing row 5701/17812 with 0 missing, elapsed time: 82.719
Imputing row 5801/17812 with 0 missing, elapsed time: 82.728
Imputing row 5901/17812 with 0 missing, elapsed time: 82.740
Imputing row 6001/17812 with 0 missing, elapsed time: 82.747
Imputing row 6101/17812 with 0 missing, elapsed time: 82.750
Imputing row 6201/17812 with 0 missing, elapsed time: 82.764
Imputing row 6301/17812 with 0 missing, elapsed time: 82.775
Imputing row 6401/17812 with 10 missing, elapsed time: 82.781
Imputing row 6501/17812 with 0 missing, elapsed time: 82.798
Imputing row 6601/17812 with 0 missing, elapsed time: 82.813
Imputing row 6701/17812 with 0 missing, elapsed time: 82.819
Imputing row 6801/17812 with 0 missing, elapsed time: 82.829
Imputing row 6901/17812 with 0 missing, elapsed time: 82.839
Imputing row 7001/17812 with 0 missing, elapsed time: 82.847
Imputing row 7101/17812 with 14 missing, elapsed time: 82.856
Imputing row 7201/17812 with 0 missing, elapsed time: 82.866
Imputing row 7301/17812 with 0 missing, elapsed time: 82.870
Imputing row 7401/17812 with 0 missing, elapsed time: 82.878
Imputing row 7501/17812 with 0 missing, elapsed time: 82.884
Imputing row 7601/17812 with 0 missing, elapsed time: 82.890
Imputing row 7701/17812 with 0 missing, elapsed time: 82.894
Imputing row 7801/17812 with 0 missing, elapsed time: 82.901
Imputing row 7901/17812 with 0 missing, elapsed time: 82.907
Imputing row 8001/17812 with 0 missing, elapsed time: 82.913
Imputing row 8101/17812 with 0 missing, elapsed time: 82.921
Imputing row 8201/17812 with 0 missing, elapsed time: 82.931
Imputing row 8301/17812 with 14 missing, elapsed time: 82.946
Imputing row 8401/17812 with 0 missing, elapsed time: 82.955
Imputing row 8501/17812 with 0 missing, elapsed time: 82.963
Imputing row 8601/17812 with 0 missing, elapsed time: 82.980
Imputing row 8701/17812 with 0 missing, elapsed time: 82.992
Imputing row 8801/17812 with 0 missing, elapsed time: 83.003
Imputing row 8901/17812 with 0 missing, elapsed time: 83.017
Imputing row 9001/17812 with 0 missing, elapsed time: 83.028
Imputing row 9101/17812 with 0 missing, elapsed time: 83.040
Imputing row 9201/17812 with 6 missing, elapsed time: 83.049
Imputing row 9301/17812 with 0 missing, elapsed time: 83.061
Imputing row 9401/17812 with 0 missing, elapsed time: 83.066
Imputing row 9501/17812 with 0 missing, elapsed time: 83.078
Imputing row 9601/17812 with 0 missing, elapsed time: 83.083
Imputing row 9701/17812 with 0 missing, elapsed time: 83.097
Imputing row 9801/17812 with 0 missing, elapsed time: 83.107
Imputing row 9901/17812 with 0 missing, elapsed time: 83.116
Imputing row 10001/17812 with 0 missing, elapsed time: 83.125
Imputing row 10101/17812 with 0 missing, elapsed time: 83.131
Imputing row 10201/17812 with 0 missing, elapsed time: 83.138
Imputing row 10301/17812 with 0 missing, elapsed time: 83.146
Imputing row 10401/17812 with 0 missing, elapsed time: 83.151
Imputing row 10501/17812 with 0 missing, elapsed time: 83.159
Imputing row 10601/17812 with 0 missing, elapsed time: 83.165
Imputing row 10701/17812 with 0 missing, elapsed time: 83.171

Imputing row 10801/17812 with 0 missing, elapsed time: 83.185
Imputing row 10901/17812 with 14 missing, elapsed time: 83.193
Imputing row 11001/17812 with 0 missing, elapsed time: 83.208
Imputing row 11101/17812 with 0 missing, elapsed time: 83.218
Imputing row 11201/17812 with 0 missing, elapsed time: 83.220
Imputing row 11301/17812 with 0 missing, elapsed time: 83.227
Imputing row 11401/17812 with 0 missing, elapsed time: 83.233
Imputing row 11501/17812 with 0 missing, elapsed time: 83.239
Imputing row 11601/17812 with 0 missing, elapsed time: 83.249
Imputing row 11701/17812 with 0 missing, elapsed time: 83.253
Imputing row 11801/17812 with 0 missing, elapsed time: 83.258
Imputing row 11901/17812 with 14 missing, elapsed time: 83.272
Imputing row 12001/17812 with 0 missing, elapsed time: 83.289
Imputing row 12101/17812 with 0 missing, elapsed time: 83.303
Imputing row 12201/17812 with 14 missing, elapsed time: 83.313
Imputing row 12301/17812 with 0 missing, elapsed time: 83.323
Imputing row 12401/17812 with 0 missing, elapsed time: 83.335
Imputing row 12501/17812 with 0 missing, elapsed time: 83.348
Imputing row 12601/17812 with 0 missing, elapsed time: 83.355
Imputing row 12701/17812 with 0 missing, elapsed time: 83.362
Imputing row 12801/17812 with 0 missing, elapsed time: 83.376
Imputing row 12901/17812 with 0 missing, elapsed time: 83.379
Imputing row 13001/17812 with 0 missing, elapsed time: 83.398
Imputing row 13101/17812 with 0 missing, elapsed time: 83.413
Imputing row 13201/17812 with 0 missing, elapsed time: 83.426
Imputing row 13301/17812 with 0 missing, elapsed time: 83.434
Imputing row 13401/17812 with 0 missing, elapsed time: 83.443
Imputing row 13501/17812 with 0 missing, elapsed time: 83.454
Imputing row 13601/17812 with 0 missing, elapsed time: 83.461
Imputing row 13701/17812 with 0 missing, elapsed time: 83.471
Imputing row 13801/17812 with 0 missing, elapsed time: 83.480
Imputing row 13901/17812 with 0 missing, elapsed time: 83.487
Imputing row 14001/17812 with 0 missing, elapsed time: 83.495
Imputing row 14101/17812 with 0 missing, elapsed time: 83.504
Imputing row 14201/17812 with 0 missing, elapsed time: 83.515
Imputing row 14301/17812 with 0 missing, elapsed time: 83.519
Imputing row 14401/17812 with 0 missing, elapsed time: 83.525
Imputing row 14501/17812 with 0 missing, elapsed time: 83.532
Imputing row 14601/17812 with 0 missing, elapsed time: 83.538
Imputing row 14701/17812 with 0 missing, elapsed time: 83.545
Imputing row 14801/17812 with 0 missing, elapsed time: 83.548
Imputing row 14901/17812 with 0 missing, elapsed time: 83.554
Imputing row 15001/17812 with 0 missing, elapsed time: 83.559
Imputing row 15101/17812 with 0 missing, elapsed time: 83.564
Imputing row 15201/17812 with 0 missing, elapsed time: 83.573
Imputing row 15301/17812 with 2 missing, elapsed time: 83.578
Imputing row 15401/17812 with 0 missing, elapsed time: 83.582
Imputing row 15501/17812 with 0 missing, elapsed time: 83.592
Imputing row 15601/17812 with 0 missing, elapsed time: 83.603
Imputing row 15701/17812 with 0 missing, elapsed time: 83.612
Imputing row 15801/17812 with 0 missing, elapsed time: 83.620
Imputing row 15901/17812 with 0 missing, elapsed time: 83.631
Imputing row 16001/17812 with 0 missing, elapsed time: 83.639
Imputing row 16101/17812 with 0 missing, elapsed time: 83.647
Imputing row 16201/17812 with 0 missing, elapsed time: 83.662
Imputing row 16301/17812 with 0 missing, elapsed time: 83.672
Imputing row 16401/17812 with 0 missing, elapsed time: 83.680
Imputing row 16501/17812 with 0 missing, elapsed time: 83.691
Imputing row 16601/17812 with 0 missing, elapsed time: 83.696
Imputing row 16701/17812 with 0 missing, elapsed time: 83.710
Imputing row 16801/17812 with 0 missing, elapsed time: 83.716
Imputing row 16901/17812 with 0 missing, elapsed time: 83.733
Imputing row 17001/17812 with 14 missing, elapsed time: 83.741
Imputing row 17101/17812 with 0 missing, elapsed time: 83.749
Imputing row 17201/17812 with 0 missing, elapsed time: 83.760
Imputing row 17301/17812 with 0 missing, elapsed time: 83.768
Imputing row 17401/17812 with 0 missing, elapsed time: 83.780
Imputing row 17501/17812 with 0 missing, elapsed time: 83.784
Imputing row 17601/17812 with 0 missing, elapsed time: 83.794
Imputing row 17701/17812 with 0 missing, elapsed time: 83.810
Imputing row 17801/17812 with 0 missing, elapsed time: 83.815
Imputing row 1/17812 with 1 missing, elapsed time: 85.321
Imputing row 101/17812 with 0 missing, elapsed time: 85.331
Imputing row 201/17812 with 0 missing, elapsed time: 85.340
Imputing row 301/17812 with 0 missing, elapsed time: 85.350
Imputing row 401/17812 with 0 missing, elapsed time: 85.362
Imputing row 501/17812 with 10 missing, elapsed time: 85.366
Imputing row 601/17812 with 0 missing, elapsed time: 85.374
Imputing row 701/17812 with 0 missing, elapsed time: 85.381
Imputing row 801/17812 with 0 missing, elapsed time: 85.387
Imputing row 901/17812 with 0 missing, elapsed time: 85.396
Imputing row 1001/17812 with 0 missing, elapsed time: 85.400
Imputing row 1101/17812 with 12 missing, elapsed time: 85.408
Imputing row 1201/17812 with 0 missing, elapsed time: 85.410
Imputing row 1301/17812 with 0 missing, elapsed time: 85.418
Imputing row 1401/17812 with 14 missing, elapsed time: 85.424
Imputing row 1501/17812 with 0 missing, elapsed time: 85.430
Imputing row 1601/17812 with 0 missing, elapsed time: 85.436
Imputing row 1701/17812 with 0 missing, elapsed time: 85.441
Imputing row 1801/17812 with 0 missing, elapsed time: 85.445
Imputing row 1901/17812 with 0 missing, elapsed time: 85.452
Imputing row 2001/17812 with 14 missing, elapsed time: 85.456
Imputing row 2101/17812 with 0 missing, elapsed time: 85.461
Imputing row 2201/17812 with 0 missing, elapsed time: 85.466
Imputing row 2301/17812 with 0 missing, elapsed time: 85.472
Imputing row 2401/17812 with 0 missing, elapsed time: 85.475
Imputing row 2501/17812 with 0 missing, elapsed time: 85.481
Imputing row 2601/17812 with 0 missing, elapsed time: 85.487
Imputing row 2701/17812 with 0 missing, elapsed time: 85.489
Imputing row 2801/17812 with 0 missing, elapsed time: 85.498
Imputing row 2901/17812 with 0 missing, elapsed time: 85.504
Imputing row 3001/17812 with 0 missing, elapsed time: 85.509
Imputing row 3101/17812 with 0 missing, elapsed time: 85.513
Imputing row 3201/17812 with 0 missing, elapsed time: 85.520
Imputing row 3301/17812 with 14 missing, elapsed time: 85.530
Imputing row 3401/17812 with 0 missing, elapsed time: 85.542
Imputing row 3501/17812 with 0 missing, elapsed time: 85.549
Imputing row 3601/17812 with 0 missing, elapsed time: 85.556
Imputing row 3701/17812 with 0 missing, elapsed time: 85.564
Imputing row 3801/17812 with 0 missing, elapsed time: 85.571
Imputing row 3901/17812 with 0 missing, elapsed time: 85.577
Imputing row 4001/17812 with 0 missing, elapsed time: 85.582
Imputing row 4101/17812 with 0 missing, elapsed time: 85.586
Imputing row 4201/17812 with 0 missing, elapsed time: 85.589
Imputing row 4301/17812 with 0 missing, elapsed time: 85.592
Imputing row 4401/17812 with 0 missing, elapsed time: 85.601
Imputing row 4501/17812 with 14 missing, elapsed time: 85.609
Imputing row 4601/17812 with 0 missing, elapsed time: 85.616
Imputing row 4701/17812 with 0 missing, elapsed time: 85.620
Imputing row 4801/17812 with 14 missing, elapsed time: 85.624
Imputing row 4901/17812 with 0 missing, elapsed time: 85.633
Imputing row 5001/17812 with 0 missing, elapsed time: 85.636
Imputing row 5101/17812 with 0 missing, elapsed time: 85.639
Imputing row 5201/17812 with 0 missing, elapsed time: 85.644
Imputing row 5301/17812 with 14 missing, elapsed time: 85.655
Imputing row 5401/17812 with 0 missing, elapsed time: 85.661
Imputing row 5501/17812 with 0 missing, elapsed time: 85.664
Imputing row 5601/17812 with 0 missing, elapsed time: 85.669
Imputing row 5701/17812 with 0 missing, elapsed time: 85.675
Imputing row 5801/17812 with 0 missing, elapsed time: 85.681
Imputing row 5901/17812 with 0 missing, elapsed time: 85.686
Imputing row 6001/17812 with 0 missing, elapsed time: 85.694
Imputing row 6101/17812 with 10 missing, elapsed time: 85.703
Imputing row 6201/17812 with 0 missing, elapsed time: 85.708
Imputing row 6301/17812 with 0 missing, elapsed time: 85.713
Imputing row 6401/17812 with 0 missing, elapsed time: 85.717
Imputing row 6501/17812 with 0 missing, elapsed time: 85.722

Imputing row 6601/17812 with 0 missing, elapsed time: 85.732
Imputing row 6701/17812 with 0 missing, elapsed time: 85.740
Imputing row 6801/17812 with 0 missing, elapsed time: 85.746
Imputing row 6901/17812 with 0 missing, elapsed time: 85.753
Imputing row 7001/17812 with 0 missing, elapsed time: 85.757
Imputing row 7101/17812 with 2 missing, elapsed time: 85.765
Imputing row 7201/17812 with 0 missing, elapsed time: 85.768
Imputing row 7301/17812 with 0 missing, elapsed time: 85.775
Imputing row 7401/17812 with 0 missing, elapsed time: 85.777
Imputing row 7501/17812 with 0 missing, elapsed time: 85.784
Imputing row 7601/17812 with 0 missing, elapsed time: 85.791
Imputing row 7701/17812 with 0 missing, elapsed time: 85.801
Imputing row 7801/17812 with 0 missing, elapsed time: 85.807
Imputing row 7901/17812 with 0 missing, elapsed time: 85.812
Imputing row 8001/17812 with 0 missing, elapsed time: 85.818
Imputing row 8101/17812 with 0 missing, elapsed time: 85.825
Imputing row 8201/17812 with 0 missing, elapsed time: 85.832
Imputing row 8301/17812 with 0 missing, elapsed time: 85.845
Imputing row 8401/17812 with 0 missing, elapsed time: 85.851
Imputing row 8501/17812 with 0 missing, elapsed time: 85.861
Imputing row 8601/17812 with 0 missing, elapsed time: 85.868
Imputing row 8701/17812 with 14 missing, elapsed time: 85.871
Imputing row 8801/17812 with 0 missing, elapsed time: 85.878
Imputing row 8901/17812 with 0 missing, elapsed time: 85.887
Imputing row 9001/17812 with 0 missing, elapsed time: 85.892
Imputing row 9101/17812 with 0 missing, elapsed time: 85.897
Imputing row 9201/17812 with 0 missing, elapsed time: 85.903
Imputing row 9301/17812 with 0 missing, elapsed time: 85.906
Imputing row 9401/17812 with 0 missing, elapsed time: 85.914
Imputing row 9501/17812 with 0 missing, elapsed time: 85.919
Imputing row 9601/17812 with 0 missing, elapsed time: 85.922
Imputing row 9701/17812 with 0 missing, elapsed time: 85.928
Imputing row 9801/17812 with 0 missing, elapsed time: 85.936
Imputing row 9901/17812 with 0 missing, elapsed time: 85.940
Imputing row 10001/17812 with 0 missing, elapsed time: 85.950
Imputing row 10101/17812 with 0 missing, elapsed time: 85.955
Imputing row 10201/17812 with 0 missing, elapsed time: 85.958
Imputing row 10301/17812 with 0 missing, elapsed time: 85.965
Imputing row 10401/17812 with 0 missing, elapsed time: 85.974
Imputing row 10501/17812 with 0 missing, elapsed time: 85.984
Imputing row 10601/17812 with 0 missing, elapsed time: 85.991
Imputing row 10701/17812 with 0 missing, elapsed time: 86.002
Imputing row 10801/17812 with 0 missing, elapsed time: 86.007
Imputing row 10901/17812 with 0 missing, elapsed time: 86.009
Imputing row 11001/17812 with 0 missing, elapsed time: 86.014
Imputing row 11101/17812 with 0 missing, elapsed time: 86.022
Imputing row 11201/17812 with 0 missing, elapsed time: 86.025
Imputing row 11301/17812 with 0 missing, elapsed time: 86.032
Imputing row 11401/17812 with 0 missing, elapsed time: 86.037
Imputing row 11501/17812 with 0 missing, elapsed time: 86.044
Imputing row 11601/17812 with 0 missing, elapsed time: 86.052
Imputing row 11701/17812 with 0 missing, elapsed time: 86.060
Imputing row 11801/17812 with 0 missing, elapsed time: 86.064
Imputing row 11901/17812 with 0 missing, elapsed time: 86.073
Imputing row 12001/17812 with 14 missing, elapsed time: 86.081
Imputing row 12101/17812 with 0 missing, elapsed time: 86.087
Imputing row 12201/17812 with 0 missing, elapsed time: 86.093
Imputing row 12301/17812 with 0 missing, elapsed time: 86.100
Imputing row 12401/17812 with 14 missing, elapsed time: 86.102
Imputing row 12501/17812 with 0 missing, elapsed time: 86.109
Imputing row 12601/17812 with 0 missing, elapsed time: 86.112
Imputing row 12701/17812 with 0 missing, elapsed time: 86.117
Imputing row 12801/17812 with 0 missing, elapsed time: 86.121
Imputing row 12901/17812 with 0 missing, elapsed time: 86.125
Imputing row 13001/17812 with 0 missing, elapsed time: 86.129
Imputing row 13101/17812 with 0 missing, elapsed time: 86.133
Imputing row 13201/17812 with 0 missing, elapsed time: 86.135
Imputing row 13301/17812 with 0 missing, elapsed time: 86.143
Imputing row 13401/17812 with 0 missing, elapsed time: 86.150
Imputing row 13501/17812 with 0 missing, elapsed time: 86.158
Imputing row 13601/17812 with 0 missing, elapsed time: 86.164
Imputing row 13701/17812 with 0 missing, elapsed time: 86.172
Imputing row 13801/17812 with 0 missing, elapsed time: 86.180
Imputing row 13901/17812 with 0 missing, elapsed time: 86.185
Imputing row 14001/17812 with 0 missing, elapsed time: 86.191
Imputing row 14101/17812 with 0 missing, elapsed time: 86.195
Imputing row 14201/17812 with 0 missing, elapsed time: 86.200
Imputing row 14301/17812 with 0 missing, elapsed time: 86.204
Imputing row 14401/17812 with 0 missing, elapsed time: 86.208
Imputing row 14501/17812 with 0 missing, elapsed time: 86.214
Imputing row 14601/17812 with 0 missing, elapsed time: 86.222
Imputing row 14701/17812 with 0 missing, elapsed time: 86.229
Imputing row 14801/17812 with 0 missing, elapsed time: 86.234
Imputing row 14901/17812 with 0 missing, elapsed time: 86.240
Imputing row 15001/17812 with 0 missing, elapsed time: 86.247
Imputing row 15101/17812 with 14 missing, elapsed time: 86.251
Imputing row 15201/17812 with 0 missing, elapsed time: 86.255
Imputing row 15301/17812 with 0 missing, elapsed time: 86.264
Imputing row 15401/17812 with 0 missing, elapsed time: 86.271
Imputing row 15501/17812 with 0 missing, elapsed time: 86.275
Imputing row 15601/17812 with 0 missing, elapsed time: 86.279
Imputing row 15701/17812 with 0 missing, elapsed time: 86.286
Imputing row 15801/17812 with 0 missing, elapsed time: 86.293
Imputing row 15901/17812 with 0 missing, elapsed time: 86.297
Imputing row 16001/17812 with 0 missing, elapsed time: 86.303
Imputing row 16101/17812 with 0 missing, elapsed time: 86.307
Imputing row 16201/17812 with 0 missing, elapsed time: 86.314
Imputing row 16301/17812 with 14 missing, elapsed time: 86.318
Imputing row 16401/17812 with 0 missing, elapsed time: 86.323
Imputing row 16501/17812 with 0 missing, elapsed time: 86.328
Imputing row 16601/17812 with 0 missing, elapsed time: 86.333
Imputing row 16701/17812 with 0 missing, elapsed time: 86.339
Imputing row 16801/17812 with 0 missing, elapsed time: 86.345
Imputing row 16901/17812 with 0 missing, elapsed time: 86.347
Imputing row 17001/17812 with 0 missing, elapsed time: 86.353
Imputing row 17101/17812 with 0 missing, elapsed time: 86.360
Imputing row 17201/17812 with 0 missing, elapsed time: 86.366
Imputing row 17301/17812 with 0 missing, elapsed time: 86.369
Imputing row 17401/17812 with 10 missing, elapsed time: 86.371
Imputing row 17501/17812 with 0 missing, elapsed time: 86.379
Imputing row 17601/17812 with 0 missing, elapsed time: 86.386
Imputing row 17701/17812 with 0 missing, elapsed time: 86.393
Imputing row 17801/17812 with 0 missing, elapsed time: 86.399
Imputing row 1/17812 with 2 missing, elapsed time: 90.076
Imputing row 101/17812 with 0 missing, elapsed time: 90.091
Imputing row 201/17812 with 0 missing, elapsed time: 90.105
Imputing row 301/17812 with 0 missing, elapsed time: 90.115
Imputing row 401/17812 with 0 missing, elapsed time: 90.123
Imputing row 501/17812 with 0 missing, elapsed time: 90.132
Imputing row 601/17812 with 0 missing, elapsed time: 90.141
Imputing row 701/17812 with 0 missing, elapsed time: 90.147
Imputing row 801/17812 with 0 missing, elapsed time: 90.154
Imputing row 901/17812 with 0 missing, elapsed time: 90.158
Imputing row 1001/17812 with 0 missing, elapsed time: 90.172
Imputing row 1101/17812 with 14 missing, elapsed time: 90.177
Imputing row 1201/17812 with 0 missing, elapsed time: 90.181
Imputing row 1301/17812 with 0 missing, elapsed time: 90.189
Imputing row 1401/17812 with 0 missing, elapsed time: 90.201
Imputing row 1501/17812 with 0 missing, elapsed time: 90.212
Imputing row 1601/17812 with 0 missing, elapsed time: 90.218
Imputing row 1701/17812 with 0 missing, elapsed time: 90.221
Imputing row 1801/17812 with 0 missing, elapsed time: 90.227
Imputing row 1901/17812 with 0 missing, elapsed time: 90.236
Imputing row 2001/17812 with 0 missing, elapsed time: 90.244
Imputing row 2101/17812 with 0 missing, elapsed time: 90.250
Imputing row 2201/17812 with 0 missing, elapsed time: 90.260

Imputing row 2301/17812 with 0 missing, elapsed time: 90.284
Imputing row 2401/17812 with 0 missing, elapsed time: 90.290
Imputing row 2501/17812 with 0 missing, elapsed time: 90.309
Imputing row 2601/17812 with 0 missing, elapsed time: 90.326
Imputing row 2701/17812 with 0 missing, elapsed time: 90.337
Imputing row 2801/17812 with 0 missing, elapsed time: 90.345
Imputing row 2901/17812 with 0 missing, elapsed time: 90.352
Imputing row 3001/17812 with 0 missing, elapsed time: 90.357
Imputing row 3101/17812 with 0 missing, elapsed time: 90.364
Imputing row 3201/17812 with 0 missing, elapsed time: 90.366
Imputing row 3301/17812 with 0 missing, elapsed time: 90.371
Imputing row 3401/17812 with 0 missing, elapsed time: 90.378
Imputing row 3501/17812 with 0 missing, elapsed time: 90.388
Imputing row 3601/17812 with 0 missing, elapsed time: 90.397
Imputing row 3701/17812 with 0 missing, elapsed time: 90.405
Imputing row 3801/17812 with 0 missing, elapsed time: 90.410
Imputing row 3901/17812 with 0 missing, elapsed time: 90.431
Imputing row 4001/17812 with 0 missing, elapsed time: 90.450
Imputing row 4101/17812 with 0 missing, elapsed time: 90.467
Imputing row 4201/17812 with 0 missing, elapsed time: 90.472
Imputing row 4301/17812 with 0 missing, elapsed time: 90.477
Imputing row 4401/17812 with 0 missing, elapsed time: 90.488
Imputing row 4501/17812 with 0 missing, elapsed time: 90.493
Imputing row 4601/17812 with 0 missing, elapsed time: 90.499
Imputing row 4701/17812 with 0 missing, elapsed time: 90.507
Imputing row 4801/17812 with 0 missing, elapsed time: 90.515
Imputing row 4901/17812 with 0 missing, elapsed time: 90.525
Imputing row 5001/17812 with 0 missing, elapsed time: 90.535
Imputing row 5101/17812 with 0 missing, elapsed time: 90.541
Imputing row 5201/17812 with 0 missing, elapsed time: 90.550
Imputing row 5301/17812 with 0 missing, elapsed time: 90.560
Imputing row 5401/17812 with 0 missing, elapsed time: 90.578
Imputing row 5501/17812 with 0 missing, elapsed time: 90.594
Imputing row 5601/17812 with 0 missing, elapsed time: 90.618
Imputing row 5701/17812 with 0 missing, elapsed time: 90.631
Imputing row 5801/17812 with 0 missing, elapsed time: 90.642
Imputing row 5901/17812 with 0 missing, elapsed time: 90.649
Imputing row 6001/17812 with 0 missing, elapsed time: 90.653
Imputing row 6101/17812 with 0 missing, elapsed time: 90.658
Imputing row 6201/17812 with 0 missing, elapsed time: 90.664
Imputing row 6301/17812 with 0 missing, elapsed time: 90.670
Imputing row 6401/17812 with 0 missing, elapsed time: 90.678
Imputing row 6501/17812 with 0 missing, elapsed time: 90.696
Imputing row 6601/17812 with 0 missing, elapsed time: 90.700
Imputing row 6701/17812 with 0 missing, elapsed time: 90.710
Imputing row 6801/17812 with 0 missing, elapsed time: 90.717
Imputing row 6901/17812 with 0 missing, elapsed time: 90.726
Imputing row 7001/17812 with 0 missing, elapsed time: 90.742
Imputing row 7101/17812 with 0 missing, elapsed time: 90.753
Imputing row 7201/17812 with 0 missing, elapsed time: 90.767
Imputing row 7301/17812 with 0 missing, elapsed time: 90.773
Imputing row 7401/17812 with 0 missing, elapsed time: 90.780
Imputing row 7501/17812 with 0 missing, elapsed time: 90.785
Imputing row 7601/17812 with 0 missing, elapsed time: 90.789
Imputing row 7701/17812 with 0 missing, elapsed time: 90.795
Imputing row 7801/17812 with 0 missing, elapsed time: 90.803
Imputing row 7901/17812 with 0 missing, elapsed time: 90.813
Imputing row 8001/17812 with 0 missing, elapsed time: 90.816
Imputing row 8101/17812 with 0 missing, elapsed time: 90.822
Imputing row 8201/17812 with 0 missing, elapsed time: 90.829
Imputing row 8301/17812 with 0 missing, elapsed time: 90.839
Imputing row 8401/17812 with 0 missing, elapsed time: 90.844
Imputing row 8501/17812 with 0 missing, elapsed time: 90.851
Imputing row 8601/17812 with 0 missing, elapsed time: 90.859
Imputing row 8701/17812 with 0 missing, elapsed time: 90.868
Imputing row 8801/17812 with 0 missing, elapsed time: 90.872
Imputing row 8901/17812 with 0 missing, elapsed time: 90.883
Imputing row 9001/17812 with 0 missing, elapsed time: 90.894
Imputing row 9101/17812 with 0 missing, elapsed time: 90.907
Imputing row 9201/17812 with 0 missing, elapsed time: 90.919
Imputing row 9301/17812 with 0 missing, elapsed time: 90.927
Imputing row 9401/17812 with 0 missing, elapsed time: 90.945
Imputing row 9501/17812 with 0 missing, elapsed time: 90.954
Imputing row 9601/17812 with 0 missing, elapsed time: 90.958
Imputing row 9701/17812 with 0 missing, elapsed time: 90.970
Imputing row 9801/17812 with 0 missing, elapsed time: 90.974
Imputing row 9901/17812 with 0 missing, elapsed time: 90.981
Imputing row 10001/17812 with 0 missing, elapsed time: 90.987
Imputing row 10101/17812 with 0 missing, elapsed time: 90.994
Imputing row 10201/17812 with 0 missing, elapsed time: 90.999
Imputing row 10301/17812 with 0 missing, elapsed time: 91.012
Imputing row 10401/17812 with 0 missing, elapsed time: 91.027
Imputing row 10501/17812 with 0 missing, elapsed time: 91.049
Imputing row 10601/17812 with 0 missing, elapsed time: 91.055
Imputing row 10701/17812 with 0 missing, elapsed time: 91.066
Imputing row 10801/17812 with 0 missing, elapsed time: 91.076
Imputing row 10901/17812 with 0 missing, elapsed time: 91.080
Imputing row 11001/17812 with 0 missing, elapsed time: 91.085
Imputing row 11101/17812 with 0 missing, elapsed time: 91.091
Imputing row 11201/17812 with 0 missing, elapsed time: 91.101
Imputing row 11301/17812 with 0 missing, elapsed time: 91.104
Imputing row 11401/17812 with 0 missing, elapsed time: 91.114
Imputing row 11501/17812 with 0 missing, elapsed time: 91.127
Imputing row 11601/17812 with 0 missing, elapsed time: 91.137
Imputing row 11701/17812 with 0 missing, elapsed time: 91.143
Imputing row 11801/17812 with 0 missing, elapsed time: 91.155
Imputing row 11901/17812 with 0 missing, elapsed time: 91.167
Imputing row 12001/17812 with 0 missing, elapsed time: 91.178
Imputing row 12101/17812 with 0 missing, elapsed time: 91.185
Imputing row 12201/17812 with 0 missing, elapsed time: 91.203
Imputing row 12301/17812 with 0 missing, elapsed time: 91.224
Imputing row 12401/17812 with 0 missing, elapsed time: 91.230
Imputing row 12501/17812 with 0 missing, elapsed time: 91.240
Imputing row 12601/17812 with 0 missing, elapsed time: 91.247
Imputing row 12701/17812 with 0 missing, elapsed time: 91.253
Imputing row 12801/17812 with 0 missing, elapsed time: 91.256
Imputing row 12901/17812 with 0 missing, elapsed time: 91.261
Imputing row 13001/17812 with 0 missing, elapsed time: 91.267
Imputing row 13101/17812 with 0 missing, elapsed time: 91.273
Imputing row 13201/17812 with 0 missing, elapsed time: 91.277
Imputing row 13301/17812 with 0 missing, elapsed time: 91.285
Imputing row 13401/17812 with 2 missing, elapsed time: 91.293
Imputing row 13501/17812 with 0 missing, elapsed time: 91.302
Imputing row 13601/17812 with 0 missing, elapsed time: 91.305
Imputing row 13701/17812 with 0 missing, elapsed time: 91.310
Imputing row 13801/17812 with 0 missing, elapsed time: 91.319
Imputing row 13901/17812 with 14 missing, elapsed time: 91.331
Imputing row 14001/17812 with 0 missing, elapsed time: 91.335
Imputing row 14101/17812 with 0 missing, elapsed time: 91.344
Imputing row 14201/17812 with 0 missing, elapsed time: 91.347
Imputing row 14301/17812 with 0 missing, elapsed time: 91.354
Imputing row 14401/17812 with 0 missing, elapsed time: 91.362
Imputing row 14501/17812 with 0 missing, elapsed time: 91.368
Imputing row 14601/17812 with 0 missing, elapsed time: 91.370
Imputing row 14701/17812 with 14 missing, elapsed time: 91.379
Imputing row 14801/17812 with 12 missing, elapsed time: 91.386
Imputing row 14901/17812 with 10 missing, elapsed time: 91.392
Imputing row 15001/17812 with 0 missing, elapsed time: 91.400
Imputing row 15101/17812 with 0 missing, elapsed time: 91.405
Imputing row 15201/17812 with 0 missing, elapsed time: 91.415
Imputing row 15301/17812 with 0 missing, elapsed time: 91.420
Imputing row 15401/17812 with 0 missing, elapsed time: 91.424
Imputing row 15501/17812 with 0 missing, elapsed time: 91.433
Imputing row 15601/17812 with 0 missing, elapsed time: 91.441
Imputing row 15701/17812 with 0 missing, elapsed time: 91.446
Imputing row 15801/17812 with 0 missing, elapsed time: 91.450
Imputing row 15901/17812 with 0 missing, elapsed time: 91.454
Imputing row 16001/17812 with 0 missing, elapsed time: 91.457
Imputing row 16101/17812 with 0 missing, elapsed time: 91.467
Imputing row 16201/17812 with 0 missing, elapsed time: 91.472
Imputing row 16301/17812 with 0 missing, elapsed time: 91.475
Imputing row 16401/17812 with 0 missing, elapsed time: 91.479
Imputing row 16501/17812 with 0 missing, elapsed time: 91.491
Imputing row 16601/17812 with 0 missing, elapsed time: 91.496
Imputing row 16701/17812 with 0 missing, elapsed time: 91.502
Imputing row 16801/17812 with 0 missing, elapsed time: 91.507
Imputing row 16901/17812 with 0 missing, elapsed time: 91.514

Imputing row 17001/17812 with 0 missing, elapsed time: 91.521
Imputing row 17101/17812 with 0 missing, elapsed time: 91.527
Imputing row 17201/17812 with 0 missing, elapsed time: 91.533
Imputing row 17301/17812 with 0 missing, elapsed time: 91.540
Imputing row 17401/17812 with 0 missing, elapsed time: 91.545
Imputing row 17501/17812 with 0 missing, elapsed time: 91.552
Imputing row 17601/17812 with 0 missing, elapsed time: 91.558
Imputing row 17701/17812 with 0 missing, elapsed time: 91.564
Imputing row 17801/17812 with 2 missing, elapsed time: 91.573
Imputing row 1/17812 with 0 missing, elapsed time: 84.456
Imputing row 101/17812 with 0 missing, elapsed time: 84.467
Imputing row 201/17812 with 0 missing, elapsed time: 84.480
Imputing row 301/17812 with 0 missing, elapsed time: 84.484
Imputing row 401/17812 with 10 missing, elapsed time: 84.488
Imputing row 501/17812 with 0 missing, elapsed time: 84.500
Imputing row 601/17812 with 0 missing, elapsed time: 84.508
Imputing row 701/17812 with 0 missing, elapsed time: 84.519
Imputing row 801/17812 with 0 missing, elapsed time: 84.528
Imputing row 901/17812 with 0 missing, elapsed time: 84.537
Imputing row 1001/17812 with 0 missing, elapsed time: 84.544
Imputing row 1101/17812 with 0 missing, elapsed time: 84.553
Imputing row 1201/17812 with 0 missing, elapsed time: 84.561
Imputing row 1301/17812 with 0 missing, elapsed time: 84.569
Imputing row 1401/17812 with 0 missing, elapsed time: 84.576
Imputing row 1501/17812 with 0 missing, elapsed time: 84.584
Imputing row 1601/17812 with 0 missing, elapsed time: 84.594
Imputing row 1701/17812 with 0 missing, elapsed time: 84.603
Imputing row 1801/17812 with 0 missing, elapsed time: 84.612
Imputing row 1901/17812 with 0 missing, elapsed time: 84.619
Imputing row 2001/17812 with 0 missing, elapsed time: 84.628
Imputing row 2101/17812 with 0 missing, elapsed time: 84.635
Imputing row 2201/17812 with 0 missing, elapsed time: 84.646
Imputing row 2301/17812 with 0 missing, elapsed time: 84.654
Imputing row 2401/17812 with 0 missing, elapsed time: 84.660
Imputing row 2501/17812 with 0 missing, elapsed time: 84.669
Imputing row 2601/17812 with 0 missing, elapsed time: 84.677
Imputing row 2701/17812 with 0 missing, elapsed time: 84.685
Imputing row 2801/17812 with 0 missing, elapsed time: 84.694
Imputing row 2901/17812 with 0 missing, elapsed time: 84.698
Imputing row 3001/17812 with 0 missing, elapsed time: 84.704
Imputing row 3101/17812 with 0 missing, elapsed time: 84.712
Imputing row 3201/17812 with 0 missing, elapsed time: 84.721
Imputing row 3301/17812 with 0 missing, elapsed time: 84.728
Imputing row 3401/17812 with 0 missing, elapsed time: 84.733
Imputing row 3501/17812 with 0 missing, elapsed time: 84.740
Imputing row 3601/17812 with 0 missing, elapsed time: 84.746
Imputing row 3701/17812 with 14 missing, elapsed time: 84.753
Imputing row 3801/17812 with 0 missing, elapsed time: 84.762
Imputing row 3901/17812 with 0 missing, elapsed time: 84.770
Imputing row 4001/17812 with 0 missing, elapsed time: 84.773
Imputing row 4101/17812 with 0 missing, elapsed time: 84.789
Imputing row 4201/17812 with 0 missing, elapsed time: 84.793
Imputing row 4301/17812 with 0 missing, elapsed time: 84.799
Imputing row 4401/17812 with 0 missing, elapsed time: 84.806
Imputing row 4501/17812 with 0 missing, elapsed time: 84.817
Imputing row 4601/17812 with 0 missing, elapsed time: 84.822
Imputing row 4701/17812 with 1 missing, elapsed time: 84.826
Imputing row 4801/17812 with 0 missing, elapsed time: 84.834
Imputing row 4901/17812 with 0 missing, elapsed time: 84.847
Imputing row 5001/17812 with 14 missing, elapsed time: 84.858
Imputing row 5101/17812 with 0 missing, elapsed time: 84.875
Imputing row 5201/17812 with 0 missing, elapsed time: 84.891
Imputing row 5301/17812 with 0 missing, elapsed time: 84.895
Imputing row 5401/17812 with 0 missing, elapsed time: 84.905
Imputing row 5501/17812 with 0 missing, elapsed time: 84.916
Imputing row 5601/17812 with 0 missing, elapsed time: 84.925
Imputing row 5701/17812 with 0 missing, elapsed time: 84.938
Imputing row 5801/17812 with 0 missing, elapsed time: 84.947
Imputing row 5901/17812 with 0 missing, elapsed time: 84.960
Imputing row 6001/17812 with 0 missing, elapsed time: 84.971
Imputing row 6101/17812 with 0 missing, elapsed time: 84.984
Imputing row 6201/17812 with 0 missing, elapsed time: 84.990
Imputing row 6301/17812 with 2 missing, elapsed time: 84.992
Imputing row 6401/17812 with 0 missing, elapsed time: 84.993
Imputing row 6501/17812 with 0 missing, elapsed time: 84.994
Imputing row 6601/17812 with 0 missing, elapsed time: 84.995
Imputing row 6701/17812 with 0 missing, elapsed time: 84.996
Imputing row 6801/17812 with 0 missing, elapsed time: 84.999
Imputing row 6901/17812 with 0 missing, elapsed time: 85.000
Imputing row 7001/17812 with 0 missing, elapsed time: 85.002
Imputing row 7101/17812 with 0 missing, elapsed time: 85.003
Imputing row 7201/17812 with 0 missing, elapsed time: 85.004
Imputing row 7301/17812 with 0 missing, elapsed time: 85.004
Imputing row 7401/17812 with 0 missing, elapsed time: 85.009
Imputing row 7501/17812 with 0 missing, elapsed time: 85.009
Imputing row 7601/17812 with 0 missing, elapsed time: 85.014
Imputing row 7701/17812 with 0 missing, elapsed time: 85.015
Imputing row 7801/17812 with 0 missing, elapsed time: 85.017
Imputing row 7901/17812 with 0 missing, elapsed time: 85.019
Imputing row 8001/17812 with 0 missing, elapsed time: 85.020
Imputing row 8101/17812 with 0 missing, elapsed time: 85.023
Imputing row 8201/17812 with 0 missing, elapsed time: 85.025
Imputing row 8301/17812 with 0 missing, elapsed time: 85.028
Imputing row 8401/17812 with 0 missing, elapsed time: 85.032
Imputing row 8501/17812 with 0 missing, elapsed time: 85.033
Imputing row 8601/17812 with 0 missing, elapsed time: 85.037
Imputing row 8701/17812 with 0 missing, elapsed time: 85.038
Imputing row 8801/17812 with 0 missing, elapsed time: 85.039
Imputing row 8901/17812 with 0 missing, elapsed time: 85.040
Imputing row 9001/17812 with 0 missing, elapsed time: 85.041
Imputing row 9101/17812 with 0 missing, elapsed time: 85.043
Imputing row 9201/17812 with 0 missing, elapsed time: 85.045
Imputing row 9301/17812 with 0 missing, elapsed time: 85.047
Imputing row 9401/17812 with 0 missing, elapsed time: 85.047
Imputing row 9501/17812 with 0 missing, elapsed time: 85.049
Imputing row 9601/17812 with 0 missing, elapsed time: 85.050
Imputing row 9701/17812 with 0 missing, elapsed time: 85.053
Imputing row 9801/17812 with 0 missing, elapsed time: 85.055
Imputing row 9901/17812 with 0 missing, elapsed time: 85.058
Imputing row 10001/17812 with 0 missing, elapsed time: 85.058
Imputing row 10101/17812 with 0 missing, elapsed time: 85.060
Imputing row 10201/17812 with 0 missing, elapsed time: 85.062
Imputing row 10301/17812 with 0 missing, elapsed time: 85.063
Imputing row 10401/17812 with 0 missing, elapsed time: 85.065
Imputing row 10501/17812 with 0 missing, elapsed time: 85.067
Imputing row 10601/17812 with 0 missing, elapsed time: 85.068
Imputing row 10701/17812 with 0 missing, elapsed time: 85.069
Imputing row 10801/17812 with 0 missing, elapsed time: 85.071
Imputing row 10901/17812 with 0 missing, elapsed time: 85.072
Imputing row 11001/17812 with 0 missing, elapsed time: 85.072
Imputing row 11101/17812 with 0 missing, elapsed time: 85.075
Imputing row 11201/17812 with 0 missing, elapsed time: 85.075
Imputing row 11301/17812 with 0 missing, elapsed time: 85.081
Imputing row 11401/17812 with 0 missing, elapsed time: 85.083
Imputing row 11501/17812 with 0 missing, elapsed time: 85.083
Imputing row 11601/17812 with 0 missing, elapsed time: 85.085
Imputing row 11701/17812 with 0 missing, elapsed time: 85.089
Imputing row 11801/17812 with 0 missing, elapsed time: 85.094
Imputing row 11901/17812 with 0 missing, elapsed time: 85.098
Imputing row 12001/17812 with 0 missing, elapsed time: 85.100
Imputing row 12101/17812 with 0 missing, elapsed time: 85.104
Imputing row 12201/17812 with 0 missing, elapsed time: 85.106
Imputing row 12301/17812 with 0 missing, elapsed time: 85.106
Imputing row 12401/17812 with 0 missing, elapsed time: 85.109
Imputing row 12501/17812 with 0 missing, elapsed time: 85.114
Imputing row 12601/17812 with 0 missing, elapsed time: 85.114
Imputing row 12701/17812 with 0 missing, elapsed time: 85.115
Imputing row 12801/17812 with 0 missing, elapsed time: 85.116
Imputing row 12901/17812 with 0 missing, elapsed time: 85.117
Imputing row 13001/17812 with 0 missing, elapsed time: 85.121
Imputing row 13101/17812 with 0 missing, elapsed time: 85.123
Imputing row 13201/17812 with 0 missing, elapsed time: 85.123
Imputing row 13301/17812 with 0 missing, elapsed time: 85.125
Imputing row 13401/17812 with 0 missing, elapsed time: 85.127
Imputing row 13501/17812 with 0 missing, elapsed time: 85.128
Imputing row 13601/17812 with 0 missing, elapsed time: 85.135
Imputing row 13701/17812 with 0 missing, elapsed time: 85.138
Imputing row 13801/17812 with 0 missing, elapsed time: 85.150
Imputing row 13901/17812 with 0 missing, elapsed time: 85.154
Imputing row 14001/17812 with 0 missing, elapsed time: 85.158
Imputing row 14101/17812 with 0 missing, elapsed time: 85.159
Imputing row 14201/17812 with 0 missing, elapsed time: 85.160
Imputing row 14301/17812 with 0 missing, elapsed time: 85.164
Imputing row 14401/17812 with 0 missing, elapsed time: 85.168
Imputing row 14501/17812 with 0 missing, elapsed time: 85.186
Imputing row 14601/17812 with 0 missing, elapsed time: 85.194
Imputing row 14701/17812 with 14 missing, elapsed time: 85.199
Imputing row 14801/17812 with 0 missing, elapsed time: 85.202
Imputing row 14901/17812 with 12 missing, elapsed time: 85.204
Imputing row 15001/17812 with 14 missing, elapsed time: 85.206
Imputing row 15101/17812 with 0 missing, elapsed time: 85.209
Imputing row 15201/17812 with 0 missing, elapsed time: 85.213
Imputing row 15301/17812 with 0 missing, elapsed time: 85.219
Imputing row 15401/17812 with 0 missing, elapsed time: 85.225
Imputing row 15501/17812 with 0 missing, elapsed time: 85.226
Imputing row 15601/17812 with 0 missing, elapsed time: 85.228
Imputing row 15701/17812 with 14 missing, elapsed time: 85.229
Imputing row 15801/17812 with 0 missing, elapsed time: 85.231
Imputing row 15901/17812 with 0 missing, elapsed time: 85.234
Imputing row 16001/17812 with 0 missing, elapsed time: 85.237
Imputing row 16101/17812 with 0 missing, elapsed time: 85.239
Imputing row 16201/17812 with 0 missing, elapsed time: 85.240
Imputing row 16301/17812 with 0 missing, elapsed time: 85.243
Imputing row 16401/17812 with 0 missing, elapsed time: 85.245
Imputing row 16501/17812 with 0 missing, elapsed time: 85.247
Imputing row 16601/17812 with 0 missing, elapsed time: 85.247
Imputing row 16701/17812 with 0 missing, elapsed time: 85.250
Imputing row 16801/17812 with 0 missing, elapsed time: 85.251
Imputing row 16901/17812 with 0 missing, elapsed time: 85.253
Imputing row 17001/17812 with 0 missing, elapsed time: 85.255
Imputing row 17101/17812 with 0 missing, elapsed time: 85.256
Imputing row 17201/17812 with 0 missing, elapsed time: 85.257
Imputing row 17301/17812 with 0 missing, elapsed time: 85.259
Imputing row 17401/17812 with 0 missing, elapsed time: 85.261
Imputing row 17501/17812 with 0 missing, elapsed time: 85.265
Imputing row 17601/17812 with 0 missing, elapsed time: 85.267
Imputing row 17701/17812 with 0 missing, elapsed time: 85.267
Imputing row 17801/17812 with 0 missing, elapsed time: 85.274

Imputing row 1/17812 with 0 missing, elapsed time: 84.085
Imputing row 101/17812 with 0 missing, elapsed time: 84.091
Imputing row 201/17812 with 0 missing, elapsed time: 84.095
Imputing row 301/17812 with 0 missing, elapsed time: 84.103
Imputing row 401/17812 with 0 missing, elapsed time: 84.117
Imputing row 501/17812 with 0 missing, elapsed time: 84.136
Imputing row 601/17812 with 0 missing, elapsed time: 84.151
Imputing row 701/17812 with 0 missing, elapsed time: 84.163
Imputing row 801/17812 with 0 missing, elapsed time: 84.173
Imputing row 901/17812 with 0 missing, elapsed time: 84.190
Imputing row 1001/17812 with 0 missing, elapsed time: 84.200
Imputing row 1101/17812 with 0 missing, elapsed time: 84.220
Imputing row 1201/17812 with 0 missing, elapsed time: 84.223
Imputing row 1301/17812 with 0 missing, elapsed time: 84.235
Imputing row 1401/17812 with 0 missing, elapsed time: 84.251
Imputing row 1501/17812 with 0 missing, elapsed time: 84.263
Imputing row 1601/17812 with 0 missing, elapsed time: 84.275
Imputing row 1701/17812 with 0 missing, elapsed time: 84.283
Imputing row 1801/17812 with 0 missing, elapsed time: 84.294
Imputing row 1901/17812 with 0 missing, elapsed time: 84.304
Imputing row 2001/17812 with 0 missing, elapsed time: 84.314
Imputing row 2101/17812 with 0 missing, elapsed time: 84.328
Imputing row 2201/17812 with 0 missing, elapsed time: 84.337
Imputing row 2301/17812 with 0 missing, elapsed time: 84.347
Imputing row 2401/17812 with 0 missing, elapsed time: 84.352
Imputing row 2501/17812 with 0 missing, elapsed time: 84.357
Imputing row 2601/17812 with 0 missing, elapsed time: 84.369
Imputing row 2701/17812 with 10 missing, elapsed time: 84.377
Imputing row 2801/17812 with 0 missing, elapsed time: 84.387
Imputing row 2901/17812 with 0 missing, elapsed time: 84.396
Imputing row 3001/17812 with 0 missing, elapsed time: 84.402
Imputing row 3101/17812 with 0 missing, elapsed time: 84.411
Imputing row 3201/17812 with 0 missing, elapsed time: 84.417
Imputing row 3301/17812 with 0 missing, elapsed time: 84.427
Imputing row 3401/17812 with 0 missing, elapsed time: 84.438
Imputing row 3501/17812 with 0 missing, elapsed time: 84.448
Imputing row 3601/17812 with 0 missing, elapsed time: 84.463
Imputing row 3701/17812 with 0 missing, elapsed time: 84.472
Imputing row 3801/17812 with 0 missing, elapsed time: 84.476
Imputing row 3901/17812 with 0 missing, elapsed time: 84.494
Imputing row 4001/17812 with 0 missing, elapsed time: 84.509
Imputing row 4101/17812 with 0 missing, elapsed time: 84.512
Imputing row 4201/17812 with 0 missing, elapsed time: 84.525
Imputing row 4301/17812 with 0 missing, elapsed time: 84.529
Imputing row 4401/17812 with 0 missing, elapsed time: 84.538
Imputing row 4501/17812 with 0 missing, elapsed time: 84.549
Imputing row 4601/17812 with 0 missing, elapsed time: 84.558
Imputing row 4701/17812 with 0 missing, elapsed time: 84.570
Imputing row 4801/17812 with 0 missing, elapsed time: 84.577
Imputing row 4901/17812 with 0 missing, elapsed time: 84.588
Imputing row 5001/17812 with 0 missing, elapsed time: 84.602
Imputing row 5101/17812 with 0 missing, elapsed time: 84.618
Imputing row 5201/17812 with 0 missing, elapsed time: 84.627
Imputing row 5301/17812 with 0 missing, elapsed time: 84.636
Imputing row 5401/17812 with 0 missing, elapsed time: 84.649
Imputing row 5501/17812 with 0 missing, elapsed time: 84.657
Imputing row 5601/17812 with 0 missing, elapsed time: 84.670
Imputing row 5701/17812 with 0 missing, elapsed time: 84.683
Imputing row 5801/17812 with 0 missing, elapsed time: 84.692
Imputing row 5901/17812 with 0 missing, elapsed time: 84.698
Imputing row 6001/17812 with 0 missing, elapsed time: 84.705
Imputing row 6101/17812 with 0 missing, elapsed time: 84.712
Imputing row 6201/17812 with 0 missing, elapsed time: 84.722
Imputing row 6301/17812 with 0 missing, elapsed time: 84.730
Imputing row 6401/17812 with 0 missing, elapsed time: 84.733
Imputing row 6501/17812 with 0 missing, elapsed time: 84.742
Imputing row 6601/17812 with 4 missing, elapsed time: 84.744
Imputing row 6701/17812 with 0 missing, elapsed time: 84.761
Imputing row 6801/17812 with 0 missing, elapsed time: 84.769
Imputing row 6901/17812 with 0 missing, elapsed time: 84.781
Imputing row 7001/17812 with 0 missing, elapsed time: 84.786
Imputing row 7101/17812 with 0 missing, elapsed time: 84.794
Imputing row 7201/17812 with 0 missing, elapsed time: 84.807
Imputing row 7301/17812 with 0 missing, elapsed time: 84.814
Imputing row 7401/17812 with 0 missing, elapsed time: 84.827
Imputing row 7501/17812 with 0 missing, elapsed time: 84.840
Imputing row 7601/17812 with 0 missing, elapsed time: 84.848
Imputing row 7701/17812 with 0 missing, elapsed time: 84.856
Imputing row 7801/17812 with 0 missing, elapsed time: 84.863
Imputing row 7901/17812 with 0 missing, elapsed time: 84.868
Imputing row 8001/17812 with 0 missing, elapsed time: 84.876
Imputing row 8101/17812 with 0 missing, elapsed time: 84.885
Imputing row 8201/17812 with 0 missing, elapsed time: 84.892
Imputing row 8301/17812 with 0 missing, elapsed time: 84.900
Imputing row 8401/17812 with 0 missing, elapsed time: 84.905
Imputing row 8501/17812 with 0 missing, elapsed time: 84.923
Imputing row 8601/17812 with 0 missing, elapsed time: 84.928
Imputing row 8701/17812 with 0 missing, elapsed time: 84.937
Imputing row 8801/17812 with 0 missing, elapsed time: 84.953
Imputing row 8901/17812 with 0 missing, elapsed time: 84.969
Imputing row 9001/17812 with 0 missing, elapsed time: 84.984
Imputing row 9101/17812 with 0 missing, elapsed time: 84.995
Imputing row 9201/17812 with 0 missing, elapsed time: 85.009
Imputing row 9301/17812 with 0 missing, elapsed time: 85.014
Imputing row 9401/17812 with 0 missing, elapsed time: 85.019
Imputing row 9501/17812 with 0 missing, elapsed time: 85.024
Imputing row 9601/17812 with 0 missing, elapsed time: 85.030
Imputing row 9701/17812 with 0 missing, elapsed time: 85.036
Imputing row 9801/17812 with 0 missing, elapsed time: 85.038
Imputing row 9901/17812 with 0 missing, elapsed time: 85.043
Imputing row 10001/17812 with 0 missing, elapsed time: 85.048
Imputing row 10101/17812 with 0 missing, elapsed time: 85.060
Imputing row 10201/17812 with 0 missing, elapsed time: 85.067
Imputing row 10301/17812 with 0 missing, elapsed time: 85.077
Imputing row 10401/17812 with 0 missing, elapsed time: 85.082
Imputing row 10501/17812 with 0 missing, elapsed time: 85.084
Imputing row 10601/17812 with 0 missing, elapsed time: 85.101
Imputing row 10701/17812 with 0 missing, elapsed time: 85.110
Imputing row 10801/17812 with 0 missing, elapsed time: 85.113
Imputing row 10901/17812 with 0 missing, elapsed time: 85.123
Imputing row 11001/17812 with 0 missing, elapsed time: 85.137
Imputing row 11101/17812 with 0 missing, elapsed time: 85.150
Imputing row 11201/17812 with 0 missing, elapsed time: 85.162
Imputing row 11301/17812 with 0 missing, elapsed time: 85.172
Imputing row 11401/17812 with 0 missing, elapsed time: 85.181
Imputing row 11501/17812 with 0 missing, elapsed time: 85.187
Imputing row 11601/17812 with 0 missing, elapsed time: 85.225
Imputing row 11701/17812 with 0 missing, elapsed time: 85.274
Imputing row 11801/17812 with 0 missing, elapsed time: 85.277
Imputing row 11901/17812 with 0 missing, elapsed time: 85.280
Imputing row 12001/17812 with 0 missing, elapsed time: 85.286
Imputing row 12101/17812 with 0 missing, elapsed time: 85.313
Imputing row 12201/17812 with 0 missing, elapsed time: 85.364
Imputing row 12301/17812 with 0 missing, elapsed time: 85.411
Imputing row 12401/17812 with 0 missing, elapsed time: 85.450
Imputing row 12501/17812 with 0 missing, elapsed time: 85.453
Imputing row 12601/17812 with 0 missing, elapsed time: 85.464
Imputing row 12701/17812 with 0 missing, elapsed time: 85.478
Imputing row 12801/17812 with 14 missing, elapsed time: 85.502
Imputing row 12901/17812 with 14 missing, elapsed time: 85.549
Imputing row 13001/17812 with 0 missing, elapsed time: 85.597
Imputing row 13101/17812 with 0 missing, elapsed time: 85.633
Imputing row 13201/17812 with 1 missing, elapsed time: 85.636
Imputing row 13301/17812 with 0 missing, elapsed time: 85.640
Imputing row 13401/17812 with 0 missing, elapsed time: 85.648
Imputing row 13501/17812 with 0 missing, elapsed time: 85.675
Imputing row 13601/17812 with 14 missing, elapsed time: 85.710

Imputing row 13701/17812 with 0 missing, elapsed time: 85.766
Imputing row 13801/17812 with 0 missing, elapsed time: 85.796
Imputing row 13901/17812 with 0 missing, elapsed time: 85.802
Imputing row 14001/17812 with 0 missing, elapsed time: 85.810
Imputing row 14101/17812 with 0 missing, elapsed time: 85.816
Imputing row 14201/17812 with 14 missing, elapsed time: 85.837
Imputing row 14301/17812 with 0 missing, elapsed time: 85.868
Imputing row 14401/17812 with 14 missing, elapsed time: 85.918
Imputing row 14501/17812 with 0 missing, elapsed time: 85.962
Imputing row 14601/17812 with 0 missing, elapsed time: 85.968
Imputing row 14701/17812 with 14 missing, elapsed time: 85.971
Imputing row 14801/17812 with 0 missing, elapsed time: 85.988
Imputing row 14901/17812 with 0 missing, elapsed time: 86.039
Imputing row 15001/17812 with 0 missing, elapsed time: 86.097
Imputing row 15101/17812 with 0 missing, elapsed time: 86.133
Imputing row 15201/17812 with 0 missing, elapsed time: 86.141
Imputing row 15301/17812 with 0 missing, elapsed time: 86.143
Imputing row 15401/17812 with 0 missing, elapsed time: 86.146
Imputing row 15501/17812 with 0 missing, elapsed time: 86.159
Imputing row 15601/17812 with 0 missing, elapsed time: 86.184
Imputing row 15701/17812 with 0 missing, elapsed time: 86.227
Imputing row 15801/17812 with 0 missing, elapsed time: 86.263
Imputing row 15901/17812 with 0 missing, elapsed time: 86.274
Imputing row 16001/17812 with 0 missing, elapsed time: 86.277
Imputing row 16101/17812 with 0 missing, elapsed time: 86.283
Imputing row 16201/17812 with 14 missing, elapsed time: 86.289
Imputing row 16301/17812 with 0 missing, elapsed time: 86.316
Imputing row 16401/17812 with 0 missing, elapsed time: 86.348
Imputing row 16501/17812 with 0 missing, elapsed time: 86.350
Imputing row 16601/17812 with 0 missing, elapsed time: 86.360
Imputing row 16701/17812 with 0 missing, elapsed time: 86.366
Imputing row 16801/17812 with 0 missing, elapsed time: 86.401
Imputing row 16901/17812 with 0 missing, elapsed time: 86.431
Imputing row 17001/17812 with 0 missing, elapsed time: 86.477
Imputing row 17101/17812 with 0 missing, elapsed time: 86.531
Imputing row 17201/17812 with 0 missing, elapsed time: 86.550
Imputing row 17301/17812 with 0 missing, elapsed time: 86.563
Imputing row 17401/17812 with 0 missing, elapsed time: 86.574
Imputing row 17501/17812 with 0 missing, elapsed time: 86.595
Imputing row 17601/17812 with 0 missing, elapsed time: 86.647
Imputing row 17701/17812 with 0 missing, elapsed time: 86.699
Imputing row 17801/17812 with 0 missing, elapsed time: 86.747
Imputing row 1/17812 with 0 missing, elapsed time: 82.654
Imputing row 101/17812 with 0 missing, elapsed time: 82.657
Imputing row 201/17812 with 0 missing, elapsed time: 82.661
Imputing row 301/17812 with 0 missing, elapsed time: 82.667
Imputing row 401/17812 with 0 missing, elapsed time: 82.680
Imputing row 501/17812 with 14 missing, elapsed time: 82.711
Imputing row 601/17812 with 0 missing, elapsed time: 82.762
Imputing row 701/17812 with 14 missing, elapsed time: 82.818
Imputing row 801/17812 with 0 missing, elapsed time: 82.835
Imputing row 901/17812 with 0 missing, elapsed time: 82.840
Imputing row 1001/17812 with 0 missing, elapsed time: 82.853
Imputing row 1101/17812 with 0 missing, elapsed time: 82.874
Imputing row 1201/17812 with 0 missing, elapsed time: 82.903
Imputing row 1301/17812 with 0 missing, elapsed time: 82.946
Imputing row 1401/17812 with 0 missing, elapsed time: 82.998
Imputing row 1501/17812 with 0 missing, elapsed time: 83.012
Imputing row 1601/17812 with 0 missing, elapsed time: 83.025
Imputing row 1701/17812 with 0 missing, elapsed time: 83.031
Imputing row 1801/17812 with 14 missing, elapsed time: 83.046
Imputing row 1901/17812 with 0 missing, elapsed time: 83.079
Imputing row 2001/17812 with 0 missing, elapsed time: 83.106
Imputing row 2101/17812 with 0 missing, elapsed time: 83.169
Imputing row 2201/17812 with 0 missing, elapsed time: 83.178
Imputing row 2301/17812 with 0 missing, elapsed time: 83.185
Imputing row 2401/17812 with 0 missing, elapsed time: 83.200
Imputing row 2501/17812 with 0 missing, elapsed time: 83.215
Imputing row 2601/17812 with 14 missing, elapsed time: 83.264
Imputing row 2701/17812 with 0 missing, elapsed time: 83.298
Imputing row 2801/17812 with 0 missing, elapsed time: 83.343
Imputing row 2901/17812 with 14 missing, elapsed time: 83.367
Imputing row 3001/17812 with 0 missing, elapsed time: 83.376
Imputing row 3101/17812 with 0 missing, elapsed time: 83.381
Imputing row 3201/17812 with 0 missing, elapsed time: 83.392
Imputing row 3301/17812 with 0 missing, elapsed time: 83.428
Imputing row 3401/17812 with 0 missing, elapsed time: 83.471
Imputing row 3501/17812 with 14 missing, elapsed time: 83.527
Imputing row 3601/17812 with 0 missing, elapsed time: 83.545
Imputing row 3701/17812 with 0 missing, elapsed time: 83.556
Imputing row 3801/17812 with 0 missing, elapsed time: 83.565
Imputing row 3901/17812 with 0 missing, elapsed time: 83.582
Imputing row 4001/17812 with 0 missing, elapsed time: 83.606
Imputing row 4101/17812 with 0 missing, elapsed time: 83.628
Imputing row 4201/17812 with 0 missing, elapsed time: 83.654
Imputing row 4301/17812 with 14 missing, elapsed time: 83.666
Imputing row 4401/17812 with 0 missing, elapsed time: 83.674
Imputing row 4501/17812 with 14 missing, elapsed time: 83.684
Imputing row 4601/17812 with 0 missing, elapsed time: 83.690
Imputing row 4701/17812 with 0 missing, elapsed time: 83.692
Imputing row 4801/17812 with 0 missing, elapsed time: 83.692
Imputing row 4901/17812 with 0 missing, elapsed time: 83.697
Imputing row 5001/17812 with 2 missing, elapsed time: 83.700
Imputing row 5101/17812 with 0 missing, elapsed time: 83.701
Imputing row 5201/17812 with 0 missing, elapsed time: 83.702
Imputing row 5301/17812 with 0 missing, elapsed time: 83.704
Imputing row 5401/17812 with 0 missing, elapsed time: 83.707
Imputing row 5501/17812 with 0 missing, elapsed time: 83.709
Imputing row 5601/17812 with 0 missing, elapsed time: 83.712
Imputing row 5701/17812 with 0 missing, elapsed time: 83.713
Imputing row 5801/17812 with 0 missing, elapsed time: 83.714
Imputing row 5901/17812 with 0 missing, elapsed time: 83.715
Imputing row 6001/17812 with 0 missing, elapsed time: 83.718
Imputing row 6101/17812 with 0 missing, elapsed time: 83.720
Imputing row 6201/17812 with 0 missing, elapsed time: 83.724
Imputing row 6301/17812 with 0 missing, elapsed time: 83.725
Imputing row 6401/17812 with 0 missing, elapsed time: 83.730
Imputing row 6501/17812 with 0 missing, elapsed time: 83.732
Imputing row 6601/17812 with 0 missing, elapsed time: 83.736
Imputing row 6701/17812 with 0 missing, elapsed time: 83.737
Imputing row 6801/17812 with 0 missing, elapsed time: 83.738
Imputing row 6901/17812 with 14 missing, elapsed time: 83.739
Imputing row 7001/17812 with 0 missing, elapsed time: 83.742
Imputing row 7101/17812 with 0 missing, elapsed time: 83.745
Imputing row 7201/17812 with 0 missing, elapsed time: 83.746
Imputing row 7301/17812 with 0 missing, elapsed time: 83.748
Imputing row 7401/17812 with 0 missing, elapsed time: 83.750
Imputing row 7501/17812 with 0 missing, elapsed time: 83.752
Imputing row 7601/17812 with 0 missing, elapsed time: 83.755
Imputing row 7701/17812 with 0 missing, elapsed time: 83.758
Imputing row 7801/17812 with 0 missing, elapsed time: 83.760
Imputing row 7901/17812 with 0 missing, elapsed time: 83.761
Imputing row 8001/17812 with 0 missing, elapsed time: 83.764
Imputing row 8101/17812 with 1 missing, elapsed time: 83.766
Imputing row 8201/17812 with 0 missing, elapsed time: 83.769
Imputing row 8301/17812 with 10 missing, elapsed time: 83.771
Imputing row 8401/17812 with 0 missing, elapsed time: 83.772
Imputing row 8501/17812 with 0 missing, elapsed time: 83.773
Imputing row 8601/17812 with 0 missing, elapsed time: 83.773
Imputing row 8701/17812 with 0 missing, elapsed time: 83.775
Imputing row 8801/17812 with 0 missing, elapsed time: 83.776
Imputing row 8901/17812 with 0 missing, elapsed time: 83.776
Imputing row 9001/17812 with 2 missing, elapsed time: 83.778
Imputing row 9101/17812 with 0 missing, elapsed time: 83.780
Imputing row 9201/17812 with 0 missing, elapsed time: 83.783
Imputing row 9301/17812 with 0 missing, elapsed time: 83.785
Imputing row 9401/17812 with 0 missing, elapsed time: 83.787
Imputing row 9501/17812 with 0 missing, elapsed time: 83.788
Imputing row 9601/17812 with 0 missing, elapsed time: 83.790
Imputing row 9701/17812 with 0 missing, elapsed time: 83.791
Imputing row 9801/17812 with 0 missing, elapsed time: 83.793
Imputing row 9901/17812 with 0 missing, elapsed time: 83.794
Imputing row 10001/17812 with 0 missing, elapsed time: 83.798
Imputing row 10101/17812 with 0 missing, elapsed time: 83.799
Imputing row 10201/17812 with 0 missing, elapsed time: 83.802
Imputing row 10301/17812 with 0 missing, elapsed time: 83.804
Imputing row 10401/17812 with 0 missing, elapsed time: 83.805
Imputing row 10501/17812 with 0 missing, elapsed time: 83.810
Imputing row 10601/17812 with 0 missing, elapsed time: 83.810
Imputing row 10701/17812 with 0 missing, elapsed time: 83.813
Imputing row 10801/17812 with 0 missing, elapsed time: 83.816
Imputing row 10901/17812 with 0 missing, elapsed time: 83.819
Imputing row 11001/17812 with 0 missing, elapsed time: 83.822
Imputing row 11101/17812 with 0 missing, elapsed time: 83.825
Imputing row 11201/17812 with 0 missing, elapsed time: 83.827
Imputing row 11301/17812 with 0 missing, elapsed time: 83.828
Imputing row 11401/17812 with 0 missing, elapsed time: 83.830
Imputing row 11501/17812 with 0 missing, elapsed time: 83.832
Imputing row 11601/17812 with 0 missing, elapsed time: 83.834
Imputing row 11701/17812 with 0 missing, elapsed time: 83.836
Imputing row 11801/17812 with 0 missing, elapsed time: 83.836
Imputing row 11901/17812 with 0 missing, elapsed time: 83.838
Imputing row 12001/17812 with 0 missing, elapsed time: 83.840
Imputing row 12101/17812 with 0 missing, elapsed time: 83.840
Imputing row 12201/17812 with 0 missing, elapsed time: 83.842
Imputing row 12301/17812 with 0 missing, elapsed time: 83.842
Imputing row 12401/17812 with 0 missing, elapsed time: 83.845
Imputing row 12501/17812 with 0 missing, elapsed time: 83.848
Imputing row 12601/17812 with 0 missing, elapsed time: 83.848
Imputing row 12701/17812 with 0 missing, elapsed time: 83.849
Imputing row 12801/17812 with 0 missing, elapsed time: 83.851
Imputing row 12901/17812 with 0 missing, elapsed time: 83.855
Imputing row 13001/17812 with 0 missing, elapsed time: 83.857
Imputing row 13101/17812 with 0 missing, elapsed time: 83.858
Imputing row 13201/17812 with 0 missing, elapsed time: 83.862
Imputing row 13301/17812 with 0 missing, elapsed time: 83.864
Imputing row 13401/17812 with 0 missing, elapsed time: 83.864
Imputing row 13501/17812 with 0 missing, elapsed time: 83.864
Imputing row 13601/17812 with 0 missing, elapsed time: 83.867
Imputing row 13701/17812 with 0 missing, elapsed time: 83.868
Imputing row 13801/17812 with 0 missing, elapsed time: 83.869
Imputing row 13901/17812 with 0 missing, elapsed time: 83.871
Imputing row 14001/17812 with 0 missing, elapsed time: 83.874
Imputing row 14101/17812 with 0 missing, elapsed time: 83.874
Imputing row 14201/17812 with 0 missing, elapsed time: 83.876
Imputing row 14301/17812 with 0 missing, elapsed time: 83.877
Imputing row 14401/17812 with 0 missing, elapsed time: 83.879
Imputing row 14501/17812 with 0 missing, elapsed time: 83.879
Imputing row 14601/17812 with 0 missing, elapsed time: 83.881
Imputing row 14701/17812 with 0 missing, elapsed time: 83.882
Imputing row 14801/17812 with 0 missing, elapsed time: 83.885
Imputing row 14901/17812 with 0 missing, elapsed time: 83.887
Imputing row 15001/17812 with 0 missing, elapsed time: 83.888
Imputing row 15101/17812 with 0 missing, elapsed time: 83.891
Imputing row 15201/17812 with 0 missing, elapsed time: 83.892
Imputing row 15301/17812 with 0 missing, elapsed time: 83.894
Imputing row 15401/17812 with 0 missing, elapsed time: 83.897
Imputing row 15501/17812 with 0 missing, elapsed time: 83.897
Imputing row 15601/17812 with 0 missing, elapsed time: 83.900
Imputing row 15701/17812 with 0 missing, elapsed time: 83.901
Imputing row 15801/17812 with 0 missing, elapsed time: 83.901
Imputing row 15901/17812 with 0 missing, elapsed time: 83.905
Imputing row 16001/17812 with 0 missing, elapsed time: 83.906
Imputing row 16101/17812 with 0 missing, elapsed time: 83.907
Imputing row 16201/17812 with 0 missing, elapsed time: 83.909
Imputing row 16301/17812 with 0 missing, elapsed time: 83.909
Imputing row 16401/17812 with 0 missing, elapsed time: 83.910
Imputing row 16501/17812 with 0 missing, elapsed time: 83.913
Imputing row 16601/17812 with 0 missing, elapsed time: 83.917
Imputing row 16701/17812 with 0 missing, elapsed time: 83.920
Imputing row 16801/17812 with 0 missing, elapsed time: 83.927

Imputing row 16901/17812 with 0 missing, elapsed time: 83.932
Imputing row 17001/17812 with 0 missing, elapsed time: 83.939
Imputing row 17101/17812 with 0 missing, elapsed time: 83.946
Imputing row 17201/17812 with 2 missing, elapsed time: 83.956
Imputing row 17301/17812 with 0 missing, elapsed time: 83.964
Imputing row 17401/17812 with 0 missing, elapsed time: 83.968
Imputing row 17501/17812 with 0 missing, elapsed time: 83.971
Imputing row 17601/17812 with 0 missing, elapsed time: 83.973
Imputing row 17701/17812 with 0 missing, elapsed time: 83.975
Imputing row 17801/17812 with 0 missing, elapsed time: 83.981
Imputing row 1/17812 with 0 missing, elapsed time: 87.562
Imputing row 101/17812 with 0 missing, elapsed time: 87.574
Imputing row 201/17812 with 0 missing, elapsed time: 87.586
Imputing row 301/17812 with 0 missing, elapsed time: 87.601
Imputing row 401/17812 with 0 missing, elapsed time: 87.610
Imputing row 501/17812 with 0 missing, elapsed time: 87.624
Imputing row 601/17812 with 0 missing, elapsed time: 87.628
Imputing row 701/17812 with 0 missing, elapsed time: 87.629
Imputing row 801/17812 with 0 missing, elapsed time: 87.633
Imputing row 901/17812 with 0 missing, elapsed time: 87.639
Imputing row 1001/17812 with 14 missing, elapsed time: 87.651
Imputing row 1101/17812 with 0 missing, elapsed time: 87.667
Imputing row 1201/17812 with 14 missing, elapsed time: 87.679
Imputing row 1301/17812 with 0 missing, elapsed time: 87.694
Imputing row 1401/17812 with 14 missing, elapsed time: 87.704
Imputing row 1501/17812 with 0 missing, elapsed time: 87.717
Imputing row 1601/17812 with 0 missing, elapsed time: 87.724
Imputing row 1701/17812 with 0 missing, elapsed time: 87.732
Imputing row 1801/17812 with 0 missing, elapsed time: 87.736
Imputing row 1901/17812 with 0 missing, elapsed time: 87.742
Imputing row 2001/17812 with 0 missing, elapsed time: 87.747
Imputing row 2101/17812 with 0 missing, elapsed time: 87.761
Imputing row 2201/17812 with 0 missing, elapsed time: 87.772
Imputing row 2301/17812 with 0 missing, elapsed time: 87.778
Imputing row 2401/17812 with 0 missing, elapsed time: 87.785
Imputing row 2501/17812 with 0 missing, elapsed time: 87.786
Imputing row 2601/17812 with 0 missing, elapsed time: 87.792
Imputing row 2701/17812 with 0 missing, elapsed time: 87.800
Imputing row 2801/17812 with 0 missing, elapsed time: 87.824
Imputing row 2901/17812 with 0 missing, elapsed time: 87.836
Imputing row 3001/17812 with 0 missing, elapsed time: 87.842
Imputing row 3101/17812 with 0 missing, elapsed time: 87.849
Imputing row 3201/17812 with 0 missing, elapsed time: 87.858
Imputing row 3301/17812 with 0 missing, elapsed time: 87.864
Imputing row 3401/17812 with 0 missing, elapsed time: 87.866
Imputing row 3501/17812 with 0 missing, elapsed time: 87.886
Imputing row 3601/17812 with 0 missing, elapsed time: 87.889
Imputing row 3701/17812 with 0 missing, elapsed time: 87.893
Imputing row 3801/17812 with 0 missing, elapsed time: 87.896
Imputing row 3901/17812 with 0 missing, elapsed time: 87.900
Imputing row 4001/17812 with 0 missing, elapsed time: 87.902
Imputing row 4101/17812 with 0 missing, elapsed time: 87.902
Imputing row 4201/17812 with 0 missing, elapsed time: 87.908
Imputing row 4301/17812 with 0 missing, elapsed time: 87.912
Imputing row 4401/17812 with 0 missing, elapsed time: 87.920
Imputing row 4501/17812 with 0 missing, elapsed time: 87.926
Imputing row 4601/17812 with 14 missing, elapsed time: 87.927
Imputing row 4701/17812 with 0 missing, elapsed time: 87.931
Imputing row 4801/17812 with 0 missing, elapsed time: 87.932
Imputing row 4901/17812 with 0 missing, elapsed time: 87.936
Imputing row 5001/17812 with 0 missing, elapsed time: 87.942
Imputing row 5101/17812 with 0 missing, elapsed time: 87.949
Imputing row 5201/17812 with 0 missing, elapsed time: 87.955
Imputing row 5301/17812 with 0 missing, elapsed time: 87.955
Imputing row 5401/17812 with 0 missing, elapsed time: 87.962
Imputing row 5501/17812 with 0 missing, elapsed time: 87.964
Imputing row 5601/17812 with 0 missing, elapsed time: 87.967
Imputing row 5701/17812 with 0 missing, elapsed time: 87.976
Imputing row 5801/17812 with 0 missing, elapsed time: 87.979
Imputing row 5901/17812 with 0 missing, elapsed time: 87.981
Imputing row 6001/17812 with 14 missing, elapsed time: 87.985
Imputing row 6101/17812 with 14 missing, elapsed time: 87.992
Imputing row 6201/17812 with 0 missing, elapsed time: 87.996
Imputing row 6301/17812 with 0 missing, elapsed time: 88.000
Imputing row 6401/17812 with 0 missing, elapsed time: 88.005
Imputing row 6501/17812 with 0 missing, elapsed time: 88.011
Imputing row 6601/17812 with 0 missing, elapsed time: 88.021
Imputing row 6701/17812 with 0 missing, elapsed time: 88.027
Imputing row 6801/17812 with 0 missing, elapsed time: 88.034
Imputing row 6901/17812 with 0 missing, elapsed time: 88.036
Imputing row 7001/17812 with 0 missing, elapsed time: 88.039
Imputing row 7101/17812 with 0 missing, elapsed time: 88.043
Imputing row 7201/17812 with 0 missing, elapsed time: 88.053
Imputing row 7301/17812 with 0 missing, elapsed time: 88.056
Imputing row 7401/17812 with 14 missing, elapsed time: 88.065
Imputing row 7501/17812 with 0 missing, elapsed time: 88.071
Imputing row 7601/17812 with 0 missing, elapsed time: 88.076
Imputing row 7701/17812 with 0 missing, elapsed time: 88.076
Imputing row 7801/17812 with 0 missing, elapsed time: 88.082
Imputing row 7901/17812 with 0 missing, elapsed time: 88.087
Imputing row 8001/17812 with 0 missing, elapsed time: 88.089
Imputing row 8101/17812 with 0 missing, elapsed time: 88.096
Imputing row 8201/17812 with 0 missing, elapsed time: 88.102
Imputing row 8301/17812 with 0 missing, elapsed time: 88.107
Imputing row 8401/17812 with 0 missing, elapsed time: 88.110
Imputing row 8501/17812 with 0 missing, elapsed time: 88.116
Imputing row 8601/17812 with 0 missing, elapsed time: 88.119
Imputing row 8701/17812 with 0 missing, elapsed time: 88.123
Imputing row 8801/17812 with 0 missing, elapsed time: 88.126
Imputing row 8901/17812 with 0 missing, elapsed time: 88.131
Imputing row 9001/17812 with 0 missing, elapsed time: 88.135
Imputing row 9101/17812 with 0 missing, elapsed time: 88.143
Imputing row 9201/17812 with 0 missing, elapsed time: 88.148
Imputing row 9301/17812 with 0 missing, elapsed time: 88.155
Imputing row 9401/17812 with 0 missing, elapsed time: 88.163
Imputing row 9501/17812 with 0 missing, elapsed time: 88.170
Imputing row 9601/17812 with 0 missing, elapsed time: 88.179
Imputing row 9701/17812 with 0 missing, elapsed time: 88.183
Imputing row 9801/17812 with 0 missing, elapsed time: 88.187
Imputing row 9901/17812 with 0 missing, elapsed time: 88.190
Imputing row 10001/17812 with 0 missing, elapsed time: 88.196
Imputing row 10101/17812 with 0 missing, elapsed time: 88.203
Imputing row 10201/17812 with 0 missing, elapsed time: 88.207
Imputing row 10301/17812 with 14 missing, elapsed time: 88.215
Imputing row 10401/17812 with 0 missing, elapsed time: 88.218
Imputing row 10501/17812 with 0 missing, elapsed time: 88.221
Imputing row 10601/17812 with 0 missing, elapsed time: 88.224
Imputing row 10701/17812 with 14 missing, elapsed time: 88.233
Imputing row 10801/17812 with 0 missing, elapsed time: 88.237
Imputing row 10901/17812 with 0 missing, elapsed time: 88.239
Imputing row 11001/17812 with 0 missing, elapsed time: 88.244
Imputing row 11101/17812 with 0 missing, elapsed time: 88.251
Imputing row 11201/17812 with 0 missing, elapsed time: 88.255
Imputing row 11301/17812 with 0 missing, elapsed time: 88.261
Imputing row 11401/17812 with 0 missing, elapsed time: 88.268
Imputing row 11501/17812 with 0 missing, elapsed time: 88.275
Imputing row 11601/17812 with 0 missing, elapsed time: 88.278
Imputing row 11701/17812 with 0 missing, elapsed time: 88.281
Imputing row 11801/17812 with 0 missing, elapsed time: 88.287
Imputing row 11901/17812 with 0 missing, elapsed time: 88.295
Imputing row 12001/17812 with 0 missing, elapsed time: 88.300
Imputing row 12101/17812 with 0 missing, elapsed time: 88.304
Imputing row 12201/17812 with 0 missing, elapsed time: 88.311
Imputing row 12301/17812 with 0 missing, elapsed time: 88.316
Imputing row 12401/17812 with 0 missing, elapsed time: 88.321
Imputing row 12501/17812 with 0 missing, elapsed time: 88.326
Imputing row 12601/17812 with 0 missing, elapsed time: 88.330
Imputing row 12701/17812 with 0 missing, elapsed time: 88.334
Imputing row 12801/17812 with 0 missing, elapsed time: 88.342
Imputing row 12901/17812 with 0 missing, elapsed time: 88.344
Imputing row 13001/17812 with 0 missing, elapsed time: 88.349
Imputing row 13101/17812 with 0 missing, elapsed time: 88.352
Imputing row 13201/17812 with 0 missing, elapsed time: 88.360
Imputing row 13301/17812 with 0 missing, elapsed time: 88.362
Imputing row 13401/17812 with 0 missing, elapsed time: 88.367
Imputing row 13501/17812 with 2 missing, elapsed time: 88.372

Imputing row 13601/17812 with 0 missing, elapsed time: 88.381
Imputing row 13701/17812 with 0 missing, elapsed time: 88.387
Imputing row 13801/17812 with 0 missing, elapsed time: 88.394
Imputing row 13901/17812 with 0 missing, elapsed time: 88.402
Imputing row 14001/17812 with 0 missing, elapsed time: 88.412
Imputing row 14101/17812 with 0 missing, elapsed time: 88.416
Imputing row 14201/17812 with 0 missing, elapsed time: 88.417
Imputing row 14301/17812 with 0 missing, elapsed time: 88.426
Imputing row 14401/17812 with 0 missing, elapsed time: 88.431
Imputing row 14501/17812 with 0 missing, elapsed time: 88.434
Imputing row 14601/17812 with 10 missing, elapsed time: 88.442
Imputing row 14701/17812 with 0 missing, elapsed time: 88.451
Imputing row 14801/17812 with 0 missing, elapsed time: 88.460
Imputing row 14901/17812 with 0 missing, elapsed time: 88.465
Imputing row 15001/17812 with 0 missing, elapsed time: 88.468
Imputing row 15101/17812 with 0 missing, elapsed time: 88.475
Imputing row 15201/17812 with 0 missing, elapsed time: 88.484
Imputing row 15301/17812 with 0 missing, elapsed time: 88.490
Imputing row 15401/17812 with 0 missing, elapsed time: 88.496
Imputing row 15501/17812 with 0 missing, elapsed time: 88.504
Imputing row 15601/17812 with 0 missing, elapsed time: 88.512
Imputing row 15701/17812 with 0 missing, elapsed time: 88.519
Imputing row 15801/17812 with 0 missing, elapsed time: 88.524
Imputing row 15901/17812 with 0 missing, elapsed time: 88.532
Imputing row 16001/17812 with 0 missing, elapsed time: 88.534
Imputing row 16101/17812 with 0 missing, elapsed time: 88.538
Imputing row 16201/17812 with 0 missing, elapsed time: 88.541
Imputing row 16301/17812 with 0 missing, elapsed time: 88.544
Imputing row 16401/17812 with 0 missing, elapsed time: 88.548
Imputing row 16501/17812 with 0 missing, elapsed time: 88.556
Imputing row 16601/17812 with 0 missing, elapsed time: 88.566
Imputing row 16701/17812 with 0 missing, elapsed time: 88.571
Imputing row 16801/17812 with 0 missing, elapsed time: 88.576
Imputing row 16901/17812 with 0 missing, elapsed time: 88.584
Imputing row 17001/17812 with 0 missing, elapsed time: 88.590
Imputing row 17101/17812 with 0 missing, elapsed time: 88.593
Imputing row 17201/17812 with 0 missing, elapsed time: 88.598
Imputing row 17301/17812 with 0 missing, elapsed time: 88.603
Imputing row 17401/17812 with 0 missing, elapsed time: 88.607
Imputing row 17501/17812 with 0 missing, elapsed time: 88.614
Imputing row 17601/17812 with 0 missing, elapsed time: 88.617
Imputing row 17701/17812 with 0 missing, elapsed time: 88.620
Imputing row 17801/17812 with 0 missing, elapsed time: 88.626
Imputing row 1/17812 with 0 missing, elapsed time: 88.703
Imputing row 101/17812 with 0 missing, elapsed time: 88.710
Imputing row 201/17812 with 0 missing, elapsed time: 88.716
Imputing row 301/17812 with 0 missing, elapsed time: 88.720
Imputing row 401/17812 with 0 missing, elapsed time: 88.728
Imputing row 501/17812 with 0 missing, elapsed time: 88.734
Imputing row 601/17812 with 0 missing, elapsed time: 88.740
Imputing row 701/17812 with 0 missing, elapsed time: 88.750
Imputing row 801/17812 with 0 missing, elapsed time: 88.755
Imputing row 901/17812 with 0 missing, elapsed time: 88.759
Imputing row 1001/17812 with 0 missing, elapsed time: 88.765
Imputing row 1101/17812 with 0 missing, elapsed time: 88.772
Imputing row 1201/17812 with 0 missing, elapsed time: 88.782
Imputing row 1301/17812 with 0 missing, elapsed time: 88.786
Imputing row 1401/17812 with 0 missing, elapsed time: 88.794
Imputing row 1501/17812 with 0 missing, elapsed time: 88.800
Imputing row 1601/17812 with 0 missing, elapsed time: 88.809
Imputing row 1701/17812 with 0 missing, elapsed time: 88.815
Imputing row 1801/17812 with 0 missing, elapsed time: 88.819
Imputing row 1901/17812 with 0 missing, elapsed time: 88.830
Imputing row 2001/17812 with 0 missing, elapsed time: 88.834
Imputing row 2101/17812 with 0 missing, elapsed time: 88.837
Imputing row 2201/17812 with 0 missing, elapsed time: 88.842
Imputing row 2301/17812 with 0 missing, elapsed time: 88.849
Imputing row 2401/17812 with 0 missing, elapsed time: 88.854
Imputing row 2501/17812 with 0 missing, elapsed time: 88.859
Imputing row 2601/17812 with 0 missing, elapsed time: 88.866
Imputing row 2701/17812 with 0 missing, elapsed time: 88.871
Imputing row 2801/17812 with 0 missing, elapsed time: 88.876
Imputing row 2901/17812 with 0 missing, elapsed time: 88.882
Imputing row 3001/17812 with 0 missing, elapsed time: 88.885
Imputing row 3101/17812 with 0 missing, elapsed time: 88.890
Imputing row 3201/17812 with 0 missing, elapsed time: 88.894
Imputing row 3301/17812 with 0 missing, elapsed time: 88.902
Imputing row 3401/17812 with 14 missing, elapsed time: 88.906
Imputing row 3501/17812 with 0 missing, elapsed time: 88.911
Imputing row 3601/17812 with 0 missing, elapsed time: 88.917
Imputing row 3701/17812 with 0 missing, elapsed time: 88.924
Imputing row 3801/17812 with 0 missing, elapsed time: 88.926
Imputing row 3901/17812 with 0 missing, elapsed time: 88.929
Imputing row 4001/17812 with 0 missing, elapsed time: 88.933
Imputing row 4101/17812 with 0 missing, elapsed time: 88.936
Imputing row 4201/17812 with 0 missing, elapsed time: 88.938
Imputing row 4301/17812 with 0 missing, elapsed time: 88.939
Imputing row 4401/17812 with 0 missing, elapsed time: 88.940
Imputing row 4501/17812 with 0 missing, elapsed time: 88.942
Imputing row 4601/17812 with 0 missing, elapsed time: 88.943
Imputing row 4701/17812 with 0 missing, elapsed time: 88.947
Imputing row 4801/17812 with 0 missing, elapsed time: 88.949
Imputing row 4901/17812 with 0 missing, elapsed time: 88.951
Imputing row 5001/17812 with 0 missing, elapsed time: 88.954
Imputing row 5101/17812 with 0 missing, elapsed time: 88.956
Imputing row 5201/17812 with 0 missing, elapsed time: 88.959
Imputing row 5301/17812 with 0 missing, elapsed time: 88.959
Imputing row 5401/17812 with 0 missing, elapsed time: 88.961
Imputing row 5501/17812 with 0 missing, elapsed time: 88.964
Imputing row 5601/17812 with 0 missing, elapsed time: 88.970
Imputing row 5701/17812 with 0 missing, elapsed time: 88.972
Imputing row 5801/17812 with 0 missing, elapsed time: 88.975
Imputing row 5901/17812 with 0 missing, elapsed time: 88.977
Imputing row 6001/17812 with 0 missing, elapsed time: 88.979
Imputing row 6101/17812 with 0 missing, elapsed time: 88.982
Imputing row 6201/17812 with 0 missing, elapsed time: 88.985
Imputing row 6301/17812 with 0 missing, elapsed time: 88.987
Imputing row 6401/17812 with 0 missing, elapsed time: 88.988
Imputing row 6501/17812 with 0 missing, elapsed time: 88.991
Imputing row 6601/17812 with 0 missing, elapsed time: 88.992
Imputing row 6701/17812 with 0 missing, elapsed time: 88.994
Imputing row 6801/17812 with 0 missing, elapsed time: 88.997
Imputing row 6901/17812 with 0 missing, elapsed time: 88.999
Imputing row 7001/17812 with 0 missing, elapsed time: 89.004
Imputing row 7101/17812 with 0 missing, elapsed time: 89.006
Imputing row 7201/17812 with 0 missing, elapsed time: 89.007
Imputing row 7301/17812 with 0 missing, elapsed time: 89.010
Imputing row 7401/17812 with 0 missing, elapsed time: 89.012
Imputing row 7501/17812 with 0 missing, elapsed time: 89.012
Imputing row 7601/17812 with 0 missing, elapsed time: 89.013
Imputing row 7701/17812 with 0 missing, elapsed time: 89.014
Imputing row 7801/17812 with 0 missing, elapsed time: 89.016
Imputing row 7901/17812 with 0 missing, elapsed time: 89.018
Imputing row 8001/17812 with 0 missing, elapsed time: 89.020
Imputing row 8101/17812 with 0 missing, elapsed time: 89.023
Imputing row 8201/17812 with 0 missing, elapsed time: 89.026
Imputing row 8301/17812 with 0 missing, elapsed time: 89.027
Imputing row 8401/17812 with 0 missing, elapsed time: 89.031
Imputing row 8501/17812 with 0 missing, elapsed time: 89.033
Imputing row 8601/17812 with 0 missing, elapsed time: 89.035
Imputing row 8701/17812 with 0 missing, elapsed time: 89.038
Imputing row 8801/17812 with 0 missing, elapsed time: 89.039
Imputing row 8901/17812 with 0 missing, elapsed time: 89.040
Imputing row 9001/17812 with 0 missing, elapsed time: 89.041
Imputing row 9101/17812 with 0 missing, elapsed time: 89.043
Imputing row 9201/17812 with 0 missing, elapsed time: 89.045
Imputing row 9301/17812 with 0 missing, elapsed time: 89.046
Imputing row 9401/17812 with 0 missing, elapsed time: 89.048
Imputing row 9501/17812 with 0 missing, elapsed time: 89.051
Imputing row 9601/17812 with 0 missing, elapsed time: 89.053
Imputing row 9701/17812 with 0 missing, elapsed time: 89.054
Imputing row 9801/17812 with 0 missing, elapsed time: 89.057
Imputing row 9901/17812 with 0 missing, elapsed time: 89.057
Imputing row 10001/17812 with 0 missing, elapsed time: 89.059
Imputing row 10101/17812 with 0 missing, elapsed time: 89.062
Imputing row 10201/17812 with 0 missing, elapsed time: 89.067
Imputing row 10301/17812 with 0 missing, elapsed time: 89.069
Imputing row 10401/17812 with 0 missing, elapsed time: 89.070
Imputing row 10501/17812 with 0 missing, elapsed time: 89.074
Imputing row 10601/17812 with 0 missing, elapsed time: 89.076
Imputing row 10701/17812 with 0 missing, elapsed time: 89.079
Imputing row 10801/17812 with 0 missing, elapsed time: 89.080
Imputing row 10901/17812 with 8 missing, elapsed time: 89.082
Imputing row 11001/17812 with 0 missing, elapsed time: 89.084
Imputing row 11101/17812 with 0 missing, elapsed time: 89.086
Imputing row 11201/17812 with 0 missing, elapsed time: 89.088
Imputing row 11301/17812 with 0 missing, elapsed time: 89.091
Imputing row 11401/17812 with 0 missing, elapsed time: 89.092
Imputing row 11501/17812 with 0 missing, elapsed time: 89.096
Imputing row 11601/17812 with 0 missing, elapsed time: 89.097
Imputing row 11701/17812 with 0 missing, elapsed time: 89.099
Imputing row 11801/17812 with 0 missing, elapsed time: 89.099
Imputing row 11901/17812 with 0 missing, elapsed time: 89.101
Imputing row 12001/17812 with 0 missing, elapsed time: 89.101
Imputing row 12101/17812 with 0 missing, elapsed time: 89.104
Imputing row 12201/17812 with 0 missing, elapsed time: 89.106

Imputing row 12301/17812 with 0 missing, elapsed time: 89.108
Imputing row 12401/17812 with 0 missing, elapsed time: 89.112
Imputing row 12501/17812 with 0 missing, elapsed time: 89.114
Imputing row 12601/17812 with 0 missing, elapsed time: 89.117
Imputing row 12701/17812 with 0 missing, elapsed time: 89.119
Imputing row 12801/17812 with 0 missing, elapsed time: 89.121
Imputing row 12901/17812 with 0 missing, elapsed time: 89.123
Imputing row 13001/17812 with 0 missing, elapsed time: 89.124
Imputing row 13101/17812 with 0 missing, elapsed time: 89.126
Imputing row 13201/17812 with 0 missing, elapsed time: 89.128
Imputing row 13301/17812 with 0 missing, elapsed time: 89.131
Imputing row 13401/17812 with 0 missing, elapsed time: 89.133
Imputing row 13501/17812 with 0 missing, elapsed time: 89.135
Imputing row 13601/17812 with 0 missing, elapsed time: 89.138
Imputing row 13701/17812 with 0 missing, elapsed time: 89.142
Imputing row 13801/17812 with 0 missing, elapsed time: 89.144
Imputing row 13901/17812 with 0 missing, elapsed time: 89.147
Imputing row 14001/17812 with 0 missing, elapsed time: 89.152
Imputing row 14101/17812 with 0 missing, elapsed time: 89.155
Imputing row 14201/17812 with 0 missing, elapsed time: 89.156
Imputing row 14301/17812 with 0 missing, elapsed time: 89.159
Imputing row 14401/17812 with 0 missing, elapsed time: 89.160
Imputing row 14501/17812 with 0 missing, elapsed time: 89.160
Imputing row 14601/17812 with 0 missing, elapsed time: 89.162
Imputing row 14701/17812 with 0 missing, elapsed time: 89.165
Imputing row 14801/17812 with 0 missing, elapsed time: 89.168
Imputing row 14901/17812 with 0 missing, elapsed time: 89.168
Imputing row 15001/17812 with 0 missing, elapsed time: 89.170
Imputing row 15101/17812 with 0 missing, elapsed time: 89.174
Imputing row 15201/17812 with 0 missing, elapsed time: 89.177
Imputing row 15301/17812 with 0 missing, elapsed time: 89.180
Imputing row 15401/17812 with 0 missing, elapsed time: 89.183
Imputing row 15501/17812 with 0 missing, elapsed time: 89.186
Imputing row 15601/17812 with 0 missing, elapsed time: 89.186
Imputing row 15701/17812 with 0 missing, elapsed time: 89.190
Imputing row 15801/17812 with 0 missing, elapsed time: 89.191
Imputing row 15901/17812 with 0 missing, elapsed time: 89.192
Imputing row 16001/17812 with 0 missing, elapsed time: 89.192
Imputing row 16101/17812 with 0 missing, elapsed time: 89.194
Imputing row 16201/17812 with 0 missing, elapsed time: 89.195
Imputing row 16301/17812 with 0 missing, elapsed time: 89.196
Imputing row 16401/17812 with 0 missing, elapsed time: 89.197
Imputing row 16501/17812 with 0 missing, elapsed time: 89.199
Imputing row 16601/17812 with 0 missing, elapsed time: 89.201
Imputing row 16701/17812 with 0 missing, elapsed time: 89.204
Imputing row 16801/17812 with 0 missing, elapsed time: 89.207
Imputing row 16901/17812 with 0 missing, elapsed time: 89.209
Imputing row 17001/17812 with 0 missing, elapsed time: 89.212
Imputing row 17101/17812 with 0 missing, elapsed time: 89.214
Imputing row 17201/17812 with 0 missing, elapsed time: 89.216
Imputing row 17301/17812 with 0 missing, elapsed time: 89.220
Imputing row 17401/17812 with 0 missing, elapsed time: 89.221
Imputing row 17501/17812 with 0 missing, elapsed time: 89.223
Imputing row 17601/17812 with 0 missing, elapsed time: 89.224
Imputing row 17701/17812 with 0 missing, elapsed time: 89.226
Imputing row 17801/17812 with 0 missing, elapsed time: 89.227
Imputing row 1/17812 with 0 missing, elapsed time: 91.650
Imputing row 101/17812 with 0 missing, elapsed time: 91.656
Imputing row 201/17812 with 0 missing, elapsed time: 91.659
Imputing row 301/17812 with 0 missing, elapsed time: 91.662
Imputing row 401/17812 with 0 missing, elapsed time: 91.671
Imputing row 501/17812 with 0 missing, elapsed time: 91.674
Imputing row 601/17812 with 0 missing, elapsed time: 91.677
Imputing row 701/17812 with 0 missing, elapsed time: 91.679
Imputing row 801/17812 with 0 missing, elapsed time: 91.683
Imputing row 901/17812 with 0 missing, elapsed time: 91.683
Imputing row 1001/17812 with 0 missing, elapsed time: 91.685
Imputing row 1101/17812 with 0 missing, elapsed time: 91.692
Imputing row 1201/17812 with 0 missing, elapsed time: 91.696
Imputing row 1301/17812 with 0 missing, elapsed time: 91.698
Imputing row 1401/17812 with 0 missing, elapsed time: 91.701
Imputing row 1501/17812 with 0 missing, elapsed time: 91.706
Imputing row 1601/17812 with 0 missing, elapsed time: 91.713
Imputing row 1701/17812 with 0 missing, elapsed time: 91.714
Imputing row 1801/17812 with 0 missing, elapsed time: 91.717
Imputing row 1901/17812 with 14 missing, elapsed time: 91.719
Imputing row 2001/17812 with 0 missing, elapsed time: 91.725
Imputing row 2101/17812 with 0 missing, elapsed time: 91.729
Imputing row 2201/17812 with 0 missing, elapsed time: 91.735
Imputing row 2301/17812 with 0 missing, elapsed time: 91.737
Imputing row 2401/17812 with 0 missing, elapsed time: 91.739
Imputing row 2501/17812 with 0 missing, elapsed time: 91.740
Imputing row 2601/17812 with 0 missing, elapsed time: 91.742
Imputing row 2701/17812 with 0 missing, elapsed time: 91.745
Imputing row 2801/17812 with 0 missing, elapsed time: 91.751
Imputing row 2901/17812 with 0 missing, elapsed time: 91.753
Imputing row 3001/17812 with 0 missing, elapsed time: 91.753
Imputing row 3101/17812 with 0 missing, elapsed time: 91.755
Imputing row 3201/17812 with 0 missing, elapsed time: 91.759
Imputing row 3301/17812 with 0 missing, elapsed time: 91.759
Imputing row 3401/17812 with 14 missing, elapsed time: 91.762
Imputing row 3501/17812 with 0 missing, elapsed time: 91.766
Imputing row 3601/17812 with 0 missing, elapsed time: 91.768
Imputing row 3701/17812 with 0 missing, elapsed time: 91.768
Imputing row 3801/17812 with 0 missing, elapsed time: 91.771
Imputing row 3901/17812 with 0 missing, elapsed time: 91.771
Imputing row 4001/17812 with 0 missing, elapsed time: 91.776
Imputing row 4101/17812 with 0 missing, elapsed time: 91.778
Imputing row 4201/17812 with 0 missing, elapsed time: 91.779
Imputing row 4301/17812 with 0 missing, elapsed time: 91.782
Imputing row 4401/17812 with 0 missing, elapsed time: 91.784
Imputing row 4501/17812 with 0 missing, elapsed time: 91.785
Imputing row 4601/17812 with 0 missing, elapsed time: 91.788
Imputing row 4701/17812 with 0 missing, elapsed time: 91.791
Imputing row 4801/17812 with 0 missing, elapsed time: 91.794
Imputing row 4901/17812 with 0 missing, elapsed time: 91.798
Imputing row 5001/17812 with 0 missing, elapsed time: 91.799
Imputing row 5101/17812 with 0 missing, elapsed time: 91.802
Imputing row 5201/17812 with 0 missing, elapsed time: 91.804
Imputing row 5301/17812 with 0 missing, elapsed time: 91.806
Imputing row 5401/17812 with 0 missing, elapsed time: 91.808
Imputing row 5501/17812 with 0 missing, elapsed time: 91.809
Imputing row 5601/17812 with 0 missing, elapsed time: 91.811
Imputing row 5701/17812 with 0 missing, elapsed time: 91.813
Imputing row 5801/17812 with 0 missing, elapsed time: 91.817
Imputing row 5901/17812 with 0 missing, elapsed time: 91.819
Imputing row 6001/17812 with 0 missing, elapsed time: 91.820
Imputing row 6101/17812 with 0 missing, elapsed time: 91.821
Imputing row 6201/17812 with 0 missing, elapsed time: 91.825
Imputing row 6301/17812 with 0 missing, elapsed time: 91.826
Imputing row 6401/17812 with 0 missing, elapsed time: 91.829
Imputing row 6501/17812 with 0 missing, elapsed time: 91.833
Imputing row 6601/17812 with 0 missing, elapsed time: 91.836
Imputing row 6701/17812 with 0 missing, elapsed time: 91.837
Imputing row 6801/17812 with 0 missing, elapsed time: 91.839
Imputing row 6901/17812 with 0 missing, elapsed time: 91.840
Imputing row 7001/17812 with 0 missing, elapsed time: 91.842
Imputing row 7101/17812 with 0 missing, elapsed time: 91.844
Imputing row 7201/17812 with 0 missing, elapsed time: 91.845
Imputing row 7301/17812 with 0 missing, elapsed time: 91.846
Imputing row 7401/17812 with 0 missing, elapsed time: 91.847
Imputing row 7501/17812 with 0 missing, elapsed time: 91.850
Imputing row 7601/17812 with 0 missing, elapsed time: 91.855
Imputing row 7701/17812 with 14 missing, elapsed time: 91.857
Imputing row 7801/17812 with 0 missing, elapsed time: 91.860
Imputing row 7901/17812 with 0 missing, elapsed time: 91.861
Imputing row 8001/17812 with 0 missing, elapsed time: 91.861
Imputing row 8101/17812 with 0 missing, elapsed time: 91.864
Imputing row 8201/17812 with 0 missing, elapsed time: 91.867
Imputing row 8301/17812 with 0 missing, elapsed time: 91.871
Imputing row 8401/17812 with 0 missing, elapsed time: 91.873
Imputing row 8501/17812 with 0 missing, elapsed time: 91.875
Imputing row 8601/17812 with 0 missing, elapsed time: 91.880
Imputing row 8701/17812 with 0 missing, elapsed time: 91.881
Imputing row 8801/17812 with 0 missing, elapsed time: 91.882
Imputing row 8901/17812 with 0 missing, elapsed time: 91.885
Imputing row 9001/17812 with 0 missing, elapsed time: 91.888
Imputing row 9101/17812 with 0 missing, elapsed time: 91.890
Imputing row 9201/17812 with 0 missing, elapsed time: 91.894
Imputing row 9301/17812 with 0 missing, elapsed time: 91.895
Imputing row 9401/17812 with 0 missing, elapsed time: 91.897
Imputing row 9501/17812 with 0 missing, elapsed time: 91.900
Imputing row 9601/17812 with 0 missing, elapsed time: 91.902
Imputing row 9701/17812 with 0 missing, elapsed time: 91.904
Imputing row 9801/17812 with 0 missing, elapsed time: 91.905
Imputing row 9901/17812 with 0 missing, elapsed time: 91.908
Imputing row 10001/17812 with 0 missing, elapsed time: 91.909
Imputing row 10101/17812 with 0 missing, elapsed time: 91.912
Imputing row 10201/17812 with 0 missing, elapsed time: 91.913
Imputing row 10301/17812 with 0 missing, elapsed time: 91.914
Imputing row 10401/17812 with 0 missing, elapsed time: 91.916
Imputing row 10501/17812 with 0 missing, elapsed time: 91.917
Imputing row 10601/17812 with 0 missing, elapsed time: 91.920
Imputing row 10701/17812 with 0 missing, elapsed time: 91.924
Imputing row 10801/17812 with 0 missing, elapsed time: 91.928
Imputing row 10901/17812 with 0 missing, elapsed time: 91.930
Imputing row 11001/17812 with 0 missing, elapsed time: 91.931
Imputing row 11101/17812 with 0 missing, elapsed time: 91.933
Imputing row 11201/17812 with 0 missing, elapsed time: 91.935
Imputing row 11301/17812 with 0 missing, elapsed time: 91.938
Imputing row 11401/17812 with 0 missing, elapsed time: 91.939
Imputing row 11501/17812 with 0 missing, elapsed time: 91.942
Imputing row 11601/17812 with 0 missing, elapsed time: 91.943
Imputing row 11701/17812 with 0 missing, elapsed time: 91.943
Imputing row 11801/17812 with 0 missing, elapsed time: 91.945
Imputing row 11901/17812 with 0 missing, elapsed time: 91.945
Imputing row 12001/17812 with 0 missing, elapsed time: 91.948
Imputing row 12101/17812 with 0 missing, elapsed time: 91.948
Imputing row 12201/17812 with 0 missing, elapsed time: 91.950
Imputing row 12301/17812 with 14 missing, elapsed time: 91.953
Imputing row 12401/17812 with 0 missing, elapsed time: 91.958
Imputing row 12501/17812 with 0 missing, elapsed time: 91.958
Imputing row 12601/17812 with 0 missing, elapsed time: 91.959
Imputing row 12701/17812 with 0 missing, elapsed time: 91.962
Imputing row 12801/17812 with 0 missing, elapsed time: 91.964
Imputing row 12901/17812 with 0 missing, elapsed time: 91.965
Imputing row 13001/17812 with 10 missing, elapsed time: 91.967
Imputing row 13101/17812 with 14 missing, elapsed time: 91.969
Imputing row 13201/17812 with 0 missing, elapsed time: 91.971
Imputing row 13301/17812 with 0 missing, elapsed time: 91.971
Imputing row 13401/17812 with 0 missing, elapsed time: 91.974
Imputing row 13501/17812 with 0 missing, elapsed time: 91.976
Imputing row 13601/17812 with 0 missing, elapsed time: 91.979
Imputing row 13701/17812 with 0 missing, elapsed time: 91.980
Imputing row 13801/17812 with 0 missing, elapsed time: 91.981
Imputing row 13901/17812 with 0 missing, elapsed time: 91.985
Imputing row 14001/17812 with 0 missing, elapsed time: 91.986
Imputing row 14101/17812 with 0 missing, elapsed time: 91.987
Imputing row 14201/17812 with 0 missing, elapsed time: 91.988
Imputing row 14301/17812 with 0 missing, elapsed time: 91.992
Imputing row 14401/17812 with 0 missing, elapsed time: 91.995
Imputing row 14501/17812 with 0 missing, elapsed time: 91.996
Imputing row 14601/17812 with 0 missing, elapsed time: 91.997
Imputing row 14701/17812 with 0 missing, elapsed time: 92.000
Imputing row 14801/17812 with 0 missing, elapsed time: 92.002
Imputing row 14901/17812 with 0 missing, elapsed time: 92.005
Imputing row 15001/17812 with 0 missing, elapsed time: 92.007
Imputing row 15101/17812 with 0 missing, elapsed time: 92.007
Imputing row 15201/17812 with 0 missing, elapsed time: 92.010
Imputing row 15301/17812 with 0 missing, elapsed time: 92.012
Imputing row 15401/17812 with 0 missing, elapsed time: 92.013
Imputing row 15501/17812 with 0 missing, elapsed time: 92.015
Imputing row 15601/17812 with 0 missing, elapsed time: 92.017
Imputing row 15701/17812 with 0 missing, elapsed time: 92.019
Imputing row 15801/17812 with 0 missing, elapsed time: 92.020
Imputing row 15901/17812 with 0 missing, elapsed time: 92.026
Imputing row 16001/17812 with 0 missing, elapsed time: 92.029
Imputing row 16101/17812 with 0 missing, elapsed time: 92.031
Imputing row 16201/17812 with 0 missing, elapsed time: 92.032
Imputing row 16301/17812 with 0 missing, elapsed time: 92.037
Imputing row 16401/17812 with 0 missing, elapsed time: 92.040
Imputing row 16501/17812 with 0 missing, elapsed time: 92.043
Imputing row 16601/17812 with 0 missing, elapsed time: 92.045
Imputing row 16701/17812 with 0 missing, elapsed time: 92.047
Imputing row 16801/17812 with 0 missing, elapsed time: 92.051
Imputing row 16901/17812 with 0 missing, elapsed time: 92.052

Imputing row 17001/17812 with 0 missing, elapsed time: 92.057
Imputing row 17101/17812 with 0 missing, elapsed time: 92.059
Imputing row 17201/17812 with 0 missing, elapsed time: 92.063
Imputing row 17301/17812 with 0 missing, elapsed time: 92.064
Imputing row 17401/17812 with 0 missing, elapsed time: 92.065
Imputing row 17501/17812 with 0 missing, elapsed time: 92.066
Imputing row 17601/17812 with 0 missing, elapsed time: 92.067
Imputing row 17701/17812 with 0 missing, elapsed time: 92.068
Imputing row 17801/17812 with 0 missing, elapsed time: 92.071
Imputing row 1/17823 with 0 missing, elapsed time: 99.841
Imputing row 101/17823 with 0 missing, elapsed time: 99.843
Imputing row 201/17823 with 0 missing, elapsed time: 99.845
Imputing row 301/17823 with 0 missing, elapsed time: 99.847
Imputing row 401/17823 with 0 missing, elapsed time: 99.850
Imputing row 501/17823 with 0 missing, elapsed time: 99.855
Imputing row 601/17823 with 0 missing, elapsed time: 99.858
Imputing row 701/17823 with 0 missing, elapsed time: 99.859
Imputing row 801/17823 with 0 missing, elapsed time: 99.861
Imputing row 901/17823 with 0 missing, elapsed time: 99.865
Imputing row 1001/17823 with 0 missing, elapsed time: 99.866
Imputing row 1101/17823 with 0 missing, elapsed time: 99.868
Imputing row 1201/17823 with 0 missing, elapsed time: 99.871
Imputing row 1301/17823 with 0 missing, elapsed time: 99.872
Imputing row 1401/17823 with 0 missing, elapsed time: 99.874
Imputing row 1501/17823 with 0 missing, elapsed time: 99.876
Imputing row 1601/17823 with 0 missing, elapsed time: 99.879
Imputing row 1701/17823 with 0 missing, elapsed time: 99.880
Imputing row 1801/17823 with 0 missing, elapsed time: 99.881
Imputing row 1901/17823 with 0 missing, elapsed time: 99.882
Imputing row 2001/17823 with 0 missing, elapsed time: 99.884
Imputing row 2101/17823 with 0 missing, elapsed time: 99.886
Imputing row 2201/17823 with 0 missing, elapsed time: 99.889
Imputing row 2301/17823 with 0 missing, elapsed time: 99.889
Imputing row 2401/17823 with 0 missing, elapsed time: 99.891
Imputing row 2501/17823 with 0 missing, elapsed time: 99.893
Imputing row 2601/17823 with 0 missing, elapsed time: 99.894
Imputing row 2701/17823 with 0 missing, elapsed time: 99.896
Imputing row 2801/17823 with 0 missing, elapsed time: 99.897
Imputing row 2901/17823 with 0 missing, elapsed time: 99.899
Imputing row 3001/17823 with 0 missing, elapsed time: 99.900
Imputing row 3101/17823 with 0 missing, elapsed time: 99.901
Imputing row 3201/17823 with 0 missing, elapsed time: 99.903
Imputing row 3301/17823 with 0 missing, elapsed time: 99.904
Imputing row 3401/17823 with 0 missing, elapsed time: 99.906
Imputing row 3501/17823 with 0 missing, elapsed time: 99.906
Imputing row 3601/17823 with 0 missing, elapsed time: 99.908
Imputing row 3701/17823 with 0 missing, elapsed time: 99.911
Imputing row 3801/17823 with 0 missing, elapsed time: 99.915
Imputing row 3901/17823 with 0 missing, elapsed time: 99.917
Imputing row 4001/17823 with 0 missing, elapsed time: 99.920
Imputing row 4101/17823 with 0 missing, elapsed time: 99.924
Imputing row 4201/17823 with 0 missing, elapsed time: 99.925
Imputing row 4301/17823 with 0 missing, elapsed time: 99.925
Imputing row 4401/17823 with 0 missing, elapsed time: 99.927
Imputing row 4501/17823 with 0 missing, elapsed time: 99.929
Imputing row 4601/17823 with 0 missing, elapsed time: 99.930
Imputing row 4701/17823 with 0 missing, elapsed time: 99.931
Imputing row 4801/17823 with 0 missing, elapsed time: 99.935
Imputing row 4901/17823 with 0 missing, elapsed time: 99.937
Imputing row 5001/17823 with 0 missing, elapsed time: 99.939
Imputing row 5101/17823 with 0 missing, elapsed time: 99.941
Imputing row 5201/17823 with 0 missing, elapsed time: 99.944
Imputing row 5301/17823 with 14 missing, elapsed time: 99.945
Imputing row 5401/17823 with 0 missing, elapsed time: 99.946
Imputing row 5501/17823 with 0 missing, elapsed time: 99.948
Imputing row 5601/17823 with 2 missing, elapsed time: 99.951
Imputing row 5701/17823 with 0 missing, elapsed time: 99.952
Imputing row 5801/17823 with 0 missing, elapsed time: 99.954
Imputing row 5901/17823 with 0 missing, elapsed time: 99.956
Imputing row 6001/17823 with 0 missing, elapsed time: 99.957
Imputing row 6101/17823 with 0 missing, elapsed time: 99.958
Imputing row 6201/17823 with 0 missing, elapsed time: 99.960
Imputing row 6301/17823 with 0 missing, elapsed time: 99.961
Imputing row 6401/17823 with 0 missing, elapsed time: 99.963
Imputing row 6501/17823 with 0 missing, elapsed time: 99.966
Imputing row 6601/17823 with 0 missing, elapsed time: 99.966
Imputing row 6701/17823 with 0 missing, elapsed time: 99.969
Imputing row 6801/17823 with 0 missing, elapsed time: 99.970
Imputing row 6901/17823 with 0 missing, elapsed time: 99.970
Imputing row 7001/17823 with 0 missing, elapsed time: 99.971
Imputing row 7101/17823 with 0 missing, elapsed time: 99.972
Imputing row 7201/17823 with 0 missing, elapsed time: 99.972
Imputing row 7301/17823 with 0 missing, elapsed time: 99.974
Imputing row 7401/17823 with 0 missing, elapsed time: 99.975
Imputing row 7501/17823 with 0 missing, elapsed time: 99.976
Imputing row 7601/17823 with 0 missing, elapsed time: 99.976
Imputing row 7701/17823 with 0 missing, elapsed time: 99.976
Imputing row 7801/17823 with 0 missing, elapsed time: 99.980
Imputing row 7901/17823 with 0 missing, elapsed time: 99.980
Imputing row 8001/17823 with 0 missing, elapsed time: 99.981
Imputing row 8101/17823 with 0 missing, elapsed time: 99.982
Imputing row 8201/17823 with 0 missing, elapsed time: 99.982
Imputing row 8301/17823 with 0 missing, elapsed time: 99.983
Imputing row 8401/17823 with 0 missing, elapsed time: 99.984
Imputing row 8501/17823 with 0 missing, elapsed time: 99.985
Imputing row 8601/17823 with 0 missing, elapsed time: 99.986
Imputing row 8701/17823 with 0 missing, elapsed time: 99.987
Imputing row 8801/17823 with 0 missing, elapsed time: 99.989
Imputing row 8901/17823 with 0 missing, elapsed time: 99.993
Imputing row 9001/17823 with 0 missing, elapsed time: 99.995
Imputing row 9101/17823 with 0 missing, elapsed time: 100.000
Imputing row 9201/17823 with 0 missing, elapsed time: 100.000
Imputing row 9301/17823 with 0 missing, elapsed time: 100.003
Imputing row 9401/17823 with 0 missing, elapsed time: 100.006
Imputing row 9501/17823 with 0 missing, elapsed time: 100.009
Imputing row 9601/17823 with 0 missing, elapsed time: 100.010
Imputing row 9701/17823 with 0 missing, elapsed time: 100.010
Imputing row 9801/17823 with 0 missing, elapsed time: 100.012
Imputing row 9901/17823 with 0 missing, elapsed time: 100.015
Imputing row 10001/17823 with 0 missing, elapsed time: 100.017
Imputing row 10101/17823 with 0 missing, elapsed time: 100.020
Imputing row 10201/17823 with 0 missing, elapsed time: 100.025
Imputing row 10301/17823 with 0 missing, elapsed time: 100.030
Imputing row 10401/17823 with 0 missing, elapsed time: 100.030
Imputing row 10501/17823 with 0 missing, elapsed time: 100.035
Imputing row 10601/17823 with 0 missing, elapsed time: 100.039
Imputing row 10701/17823 with 0 missing, elapsed time: 100.045
Imputing row 10801/17823 with 0 missing, elapsed time: 100.049
Imputing row 10901/17823 with 0 missing, elapsed time: 100.052
Imputing row 11001/17823 with 0 missing, elapsed time: 100.054
Imputing row 11101/17823 with 0 missing, elapsed time: 100.055
Imputing row 11201/17823 with 0 missing, elapsed time: 100.061
Imputing row 11301/17823 with 0 missing, elapsed time: 100.064
Imputing row 11401/17823 with 0 missing, elapsed time: 100.066
Imputing row 11501/17823 with 0 missing, elapsed time: 100.070
Imputing row 11601/17823 with 0 missing, elapsed time: 100.077
Imputing row 11701/17823 with 0 missing, elapsed time: 100.080
Imputing row 11801/17823 with 0 missing, elapsed time: 100.086
Imputing row 11901/17823 with 0 missing, elapsed time: 100.092
Imputing row 12001/17823 with 0 missing, elapsed time: 100.095
Imputing row 12101/17823 with 0 missing, elapsed time: 100.097
Imputing row 12201/17823 with 0 missing, elapsed time: 100.104
Imputing row 12301/17823 with 0 missing, elapsed time: 100.109
Imputing row 12401/17823 with 0 missing, elapsed time: 100.112
Imputing row 12501/17823 with 0 missing, elapsed time: 100.112
Imputing row 12601/17823 with 0 missing, elapsed time: 100.113
Imputing row 12701/17823 with 0 missing, elapsed time: 100.114
Imputing row 12801/17823 with 0 missing, elapsed time: 100.116
Imputing row 12901/17823 with 0 missing, elapsed time: 100.117
Imputing row 13001/17823 with 0 missing, elapsed time: 100.118
Imputing row 13101/17823 with 0 missing, elapsed time: 100.120
Imputing row 13201/17823 with 0 missing, elapsed time: 100.121
Imputing row 13301/17823 with 0 missing, elapsed time: 100.121
Imputing row 13401/17823 with 0 missing, elapsed time: 100.123
Imputing row 13501/17823 with 0 missing, elapsed time: 100.123
Imputing row 13601/17823 with 0 missing, elapsed time: 100.125
Imputing row 13701/17823 with 0 missing, elapsed time: 100.126
Imputing row 13801/17823 with 0 missing, elapsed time: 100.126
Imputing row 13901/17823 with 0 missing, elapsed time: 100.127
Imputing row 14001/17823 with 0 missing, elapsed time: 100.127
Imputing row 14101/17823 with 0 missing, elapsed time: 100.129
Imputing row 14201/17823 with 0 missing, elapsed time: 100.133
Imputing row 14301/17823 with 0 missing, elapsed time: 100.136
Imputing row 14401/17823 with 0 missing, elapsed time: 100.139
Imputing row 14501/17823 with 14 missing, elapsed time: 100.139
Imputing row 14601/17823 with 0 missing, elapsed time: 100.144
Imputing row 14701/17823 with 0 missing, elapsed time: 100.147
Imputing row 14801/17823 with 0 missing, elapsed time: 100.149
Imputing row 14901/17823 with 0 missing, elapsed time: 100.152
Imputing row 15001/17823 with 0 missing, elapsed time: 100.155
Imputing row 15101/17823 with 0 missing, elapsed time: 100.158
Imputing row 15201/17823 with 0 missing, elapsed time: 100.161
Imputing row 15301/17823 with 0 missing, elapsed time: 100.162
Imputing row 15401/17823 with 0 missing, elapsed time: 100.162
Imputing row 15501/17823 with 0 missing, elapsed time: 100.163
Imputing row 15601/17823 with 0 missing, elapsed time: 100.165
Imputing row 15701/17823 with 0 missing, elapsed time: 100.166
Imputing row 15801/17823 with 0 missing, elapsed time: 100.167
Imputing row 15901/17823 with 0 missing, elapsed time: 100.168
Imputing row 16001/17823 with 0 missing, elapsed time: 100.170
Imputing row 16101/17823 with 0 missing, elapsed time: 100.170
Imputing row 16201/17823 with 0 missing, elapsed time: 100.172
Imputing row 16301/17823 with 0 missing, elapsed time: 100.173
Imputing row 16401/17823 with 0 missing, elapsed time: 100.174
Imputing row 16501/17823 with 0 missing, elapsed time: 100.177
Imputing row 16601/17823 with 14 missing, elapsed time: 100.178
Imputing row 16701/17823 with 0 missing, elapsed time: 100.181
Imputing row 16801/17823 with 0 missing, elapsed time: 100.186
Imputing row 16901/17823 with 0 missing, elapsed time: 100.186
Imputing row 17001/17823 with 0 missing, elapsed time: 100.191
Imputing row 17101/17823 with 0 missing, elapsed time: 100.193
Imputing row 17201/17823 with 0 missing, elapsed time: 100.200
Imputing row 17301/17823 with 0 missing, elapsed time: 100.202
Imputing row 17401/17823 with 0 missing, elapsed time: 100.203
Imputing row 17501/17823 with 0 missing, elapsed time: 100.205
Imputing row 17601/17823 with 0 missing, elapsed time: 100.208
Imputing row 17701/17823 with 0 missing, elapsed time: 100.210
Imputing row 17801/17823 with 0 missing, elapsed time: 100.212

In [29]:
X_filled1 = pd.concat(small_df_filled_ls, axis = 0)
X_filled1.shape

(356251, 24)

In [33]:
X_filled1.head()

,CODE_GENDER,FLAG_DOCUMENT_3,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,INCOME_TO_GOODS_PRICE_RATIO,NAME_CONTRACT_TYPE_Cash loans,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_HOUSING_TYPE_House / apartment,NAME_INCOME_TYPE_Working,...,PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN,PREV_NAME_CONTRACT_STATUS_Approved_MEAN,PREV_CODE_REJECT_REASON_XAP_MEAN,PREV_NAME_PORTFOLIO_POS_MEAN,APPROVED_APP_CREDIT_PERC_MIN,APPROVED_HUMAN_EVAL_SUM,POS_TIME_DECAYED_UNPAYED_RATIO_MAX,POS_NAME_CONTRACT_STATUS_Active_MEAN,INSTAL_PAYMENT_PERC_MEAN_MEAN,INSTAL_PAYMENT_PERC_SUM_SUM
0,0.0,1.0,2.0,2.0,0.576923,1.0,1.0,0.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.250000,1.000000,1.000000,19.0
1,1.0,1.0,1.0,1.0,0.239044,1.0,0.0,1.0,1.0,0.0,...,0.666667,1.000000,1.000000,0.666667,0.868825,3.0,0.001600,0.928571,1.000000,25.0
2,0.0,0.0,2.0,2.0,0.500000,0.0,1.0,0.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.207699,1.0,0.001372,0.750000,1.000000,3.0
3,1.0,1.0,2.0,2.0,0.454545,1.0,1.0,0.0,1.0,1.0,...,0.222222,0.555556,0.888889,0.222222,0.943934,5.0,0.250000,0.857143,1.000000,16.0
4,0.0,0.0,2.0,2.0,0.236842,1.0,1.0,0.0,1.0,1.0,...,0.333333,1.000000,1.000000,0.333333,0.791139,6.0,0.541667,0.939394,0.956044,63.0

In [31]:
from ycimpute.imputer.knnimput import KNN # inputation library
X_missing_df = df[feature_clustering[feature_clustering.cluster == 2].features.tolist()]
print ('X_missing_df', X_missing_df.shape)
small_df_ls = []
num_split = 20
previous_step = None
for i, step in enumerate(np.arange(0, X_missing_df.shape[0], step = int(X_missing_df.shape[0] / num_split))):
    # for memory problem, we cannot feed all the data points into algorithm, which depends on row and n_features
    if i == 0:
        pass
    elif i == 1:
        small_df_ls.append(X_missing_df[0: step])
        previous_step = step
    elif i == (num_split):
        small_df_ls.append(X_missing_df[previous_step: ])
        break
    else:
        small_df_ls.append(X_missing_df[previous_step: step])
        previous_step = step
#-------------------
# imputating
#------------------
k = 65 # by cv
small_df_filled_ls = []
for small_df in small_df_ls:
    X_missing = small_df.copy()
    # core algorithm: input should be array
    X_filled = KNN(k = k).complete(X_missing.values)
    small_df_filled_ls.append(pd.DataFrame(X_filled, columns = X_missing.columns))

X_missing_df (356251, 11)
Imputing row 1/17812 with 0 missing, elapsed time: 74.512
Imputing row 101/17812 with 0 missing, elapsed time: 74.560
Imputing row 201/17812 with 9 missing, elapsed time: 74.619
Imputing row 301/17812 with 0 missing, elapsed time: 74.655
Imputing row 401/17812 with 9 missing, elapsed time: 74.709
Imputing row 501/17812 with 9 missing, elapsed time: 74.775
Imputing row 601/17812 with 0 missing, elapsed time: 74.827
Imputing row 701/17812 with 0 missing, elapsed time: 74.864
Imputing row 801/17812 with 0 missing, elapsed time: 74.927
Imputing row 901/17812 with 9 missing, elapsed time: 74.982
Imputing row 1001/17812 with 9 missing, elapsed time: 75.026
Imputing row 1101/17812 with 0 missing, elapsed time: 75.081
Imputing row 1201/17812 with 9 missing, elapsed time: 75.129
Imputing row 1301/17812 with 9 missing, elapsed time: 75.169
Imputing row 1401/17812 with 0 missing, elapsed time: 75.222
Imputing row 1501/17812 with 0 missing, elapsed time: 75.279
Imputing row 1601/17812 with 0 missing, elapsed time: 75.331
Imputing row 1701/17812 with 9 missing, elapsed time: 75.395
Imputing row 1801/17812 with 9 missing, elapsed time: 75.454
Imputing row 1901/17812 with 9 missing, elapsed time: 75.491
Imputing row 2001/17812 with 0 missing, elapsed time: 75.567
Imputing row 2101/17812 with 0 missing, elapsed time: 75.631
Imputing row 2201/17812 with 9 missing, elapsed time: 75.689
Imputing row 2301/17812 with 0 missing, elapsed time: 75.727
Imputing row 2401/17812 with 0 missing, elapsed time: 75.790
Imputing row 2501/17812 with 9 missing, elapsed time: 75.859
Imputing row 2601/17812 with 9 missing, elapsed time: 75.912
Imputing row 2701/17812 with 9 missing, elapsed time: 75.967
Imputing row 2801/17812 with 0 missing, elapsed time: 76.007
Imputing row 2901/17812 with 9 missing, elapsed time: 76.068
Imputing row 3001/17812 with 9 missing, elapsed time: 76.123
Imputing row 3101/17812 with 9 missing, elapsed time: 76.184
Imputing row 3201/17812 with 0 missing, elapsed time: 76.256
Imputing row 3301/17812 with 0 missing, elapsed time: 76.299
Imputing row 3401/17812 with 9 missing, elapsed time: 76.352
Imputing row 3501/17812 with 0 missing, elapsed time: 76.408
Imputing row 3601/17812 with 0 missing, elapsed time: 76.468
Imputing row 3701/17812 with 0 missing, elapsed time: 76.509
Imputing row 3801/17812 with 0 missing, elapsed time: 76.567
Imputing row 3901/17812 with 0 missing, elapsed time: 76.632
Imputing row 4001/17812 with 9 missing, elapsed time: 76.706
Imputing row 4101/17812 with 0 missing, elapsed time: 76.777
Imputing row 4201/17812 with 0 missing, elapsed time: 76.813
Imputing row 4301/17812 with 0 missing, elapsed time: 76.865
Imputing row 4401/17812 with 0 missing, elapsed time: 76.920
Imputing row 4501/17812 with 0 missing, elapsed time: 76.972
Imputing row 4601/17812 with 9 missing, elapsed time: 77.021
Imputing row 4701/17812 with 0 missing, elapsed time: 77.067
Imputing row 4801/17812 with 0 missing, elapsed time: 77.119
Imputing row 4901/17812 with 0 missing, elapsed time: 77.161
Imputing row 5001/17812 with 0 missing, elapsed time: 77.225
Imputing row 5101/17812 with 0 missing, elapsed time: 77.297
Imputing row 5201/17812 with 9 missing, elapsed time: 77.356
Imputing row 5301/17812 with 0 missing, elapsed time: 77.427
Imputing row 5401/17812 with 0 missing, elapsed time: 77.485
Imputing row 5501/17812 with 0 missing, elapsed time: 77.525
Imputing row 5601/17812 with 0 missing, elapsed time: 77.591
Imputing row 5701/17812 with 9 missing, elapsed time: 77.625
Imputing row 5801/17812 with 0 missing, elapsed time: 77.665
Imputing row 5901/17812 with 0 missing, elapsed time: 77.724
Imputing row 6001/17812 with 0 missing, elapsed time: 77.786
Imputing row 6101/17812 with 0 missing, elapsed time: 77.820
Imputing row 6201/17812 with 9 missing, elapsed time: 77.875
Imputing row 6301/17812 with 0 missing, elapsed time: 77.924
Imputing row 6401/17812 with 0 missing, elapsed time: 77.965
Imputing row 6501/17812 with 0 missing, elapsed time: 78.029
Imputing row 6601/17812 with 0 missing, elapsed time: 78.079
Imputing row 6701/17812 with 0 missing, elapsed time: 78.141
Imputing row 6801/17812 with 9 missing, elapsed time: 78.189
Imputing row 6901/17812 with 0 missing, elapsed time: 78.247
Imputing row 7001/17812 with 9 missing, elapsed time: 78.312
Imputing row 7101/17812 with 0 missing, elapsed time: 78.367
Imputing row 7201/17812 with 9 missing, elapsed time: 78.413
Imputing row 7301/17812 with 0 missing, elapsed time: 78.457
Imputing row 7401/17812 with 9 missing, elapsed time: 78.505
Imputing row 7501/17812 with 0 missing, elapsed time: 78.563
Imputing row 7601/17812 with 9 missing, elapsed time: 78.607
Imputing row 7701/17812 with 0 missing, elapsed time: 78.659
Imputing row 7801/17812 with 0 missing, elapsed time: 78.718
Imputing row 7901/17812 with 0 missing, elapsed time: 78.774
Imputing row 8001/17812 with 9 missing, elapsed time: 78.845
Imputing row 8101/17812 with 0 missing, elapsed time: 78.907
Imputing row 8201/17812 with 0 missing, elapsed time: 78.973
Imputing row 8301/17812 with 0 missing, elapsed time: 79.038
Imputing row 8401/17812 with 9 missing, elapsed time: 79.081
Imputing row 8501/17812 with 0 missing, elapsed time: 79.125
Imputing row 8601/17812 with 9 missing, elapsed time: 79.176
Imputing row 8701/17812 with 0 missing, elapsed time: 79.238
Imputing row 8801/17812 with 9 missing, elapsed time: 79.298
Imputing row 8901/17812 with 0 missing, elapsed time: 79.342
Imputing row 9001/17812 with 0 missing, elapsed time: 79.391
Imputing row 9101/17812 with 0 missing, elapsed time: 79.453
Imputing row 9201/17812 with 0 missing, elapsed time: 79.496
Imputing row 9301/17812 with 0 missing, elapsed time: 79.547
Imputing row 9401/17812 with 0 missing, elapsed time: 79.595
Imputing row 9501/17812 with 0 missing, elapsed time: 79.646
Imputing row 9601/17812 with 0 missing, elapsed time: 79.696
Imputing row 9701/17812 with 9 missing, elapsed time: 79.734
Imputing row 9801/17812 with 0 missing, elapsed time: 79.783
Imputing row 9901/17812 with 0 missing, elapsed time: 79.827
Imputing row 10001/17812 with 9 missing, elapsed time: 79.878
Imputing row 10101/17812 with 9 missing, elapsed time: 79.943
Imputing row 10201/17812 with 9 missing, elapsed time: 80.021
Imputing row 10301/17812 with 9 missing, elapsed time: 80.083
Imputing row 10401/17812 with 0 missing, elapsed time: 80.149
Imputing row 10501/17812 with 0 missing, elapsed time: 80.215
Imputing row 10601/17812 with 0 missing, elapsed time: 80.254
Imputing row 10701/17812 with 0 missing, elapsed time: 80.309
Imputing row 10801/17812 with 0 missing, elapsed time: 80.364
Imputing row 10901/17812 with 0 missing, elapsed time: 80.403
Imputing row 11001/17812 with 9 missing, elapsed time: 80.444
Imputing row 11101/17812 with 0 missing, elapsed time: 80.491
Imputing row 11201/17812 with 9 missing, elapsed time: 80.536
Imputing row 11301/17812 with 9 missing, elapsed time: 80.599
Imputing row 11401/17812 with 0 missing, elapsed time: 80.665
Imputing row 11501/17812 with 0 missing, elapsed time: 80.708
Imputing row 11601/17812 with 0 missing, elapsed time: 80.774
Imputing row 11701/17812 with 0 missing, elapsed time: 80.819
Imputing row 11801/17812 with 9 missing, elapsed time: 80.875
Imputing row 11901/17812 with 0 missing, elapsed time: 80.926
Imputing row 12001/17812 with 9 missing, elapsed time: 80.981
Imputing row 12101/17812 with 0 missing, elapsed time: 81.036
Imputing row 12201/17812 with 0 missing, elapsed time: 81.100
Imputing row 12301/17812 with 0 missing, elapsed time: 81.157
Imputing row 12401/17812 with 9 missing, elapsed time: 81.205
Imputing row 12501/17812 with 0 missing, elapsed time: 81.254
Imputing row 12601/17812 with 0 missing, elapsed time: 81.295
Imputing row 12701/17812 with 0 missing, elapsed time: 81.361
Imputing row 12801/17812 with 9 missing, elapsed time: 81.417
Imputing row 12901/17812 with 9 missing, elapsed time: 81.493
Imputing row 13001/17812 with 0 missing, elapsed time: 81.539
Imputing row 13101/17812 with 0 missing, elapsed time: 81.598
Imputing row 13201/17812 with 0 missing, elapsed time: 81.654
Imputing row 13301/17812 with 9 missing, elapsed time: 81.691
Imputing row 13401/17812 with 0 missing, elapsed time: 81.740

Imputing row 13501/17812 with 0 missing, elapsed time: 81.809
Imputing row 13601/17812 with 0 missing, elapsed time: 81.858
Imputing row 13701/17812 with 0 missing, elapsed time: 81.916
Imputing row 13801/17812 with 0 missing, elapsed time: 81.982
Imputing row 13901/17812 with 9 missing, elapsed time: 82.034
Imputing row 14001/17812 with 0 missing, elapsed time: 82.103
Imputing row 14101/17812 with 0 missing, elapsed time: 82.143
Imputing row 14201/17812 with 0 missing, elapsed time: 82.213
Imputing row 14301/17812 with 9 missing, elapsed time: 82.278
Imputing row 14401/17812 with 0 missing, elapsed time: 82.332
Imputing row 14501/17812 with 0 missing, elapsed time: 82.390
Imputing row 14601/17812 with 0 missing, elapsed time: 82.464
Imputing row 14701/17812 with 9 missing, elapsed time: 82.524
Imputing row 14801/17812 with 0 missing, elapsed time: 82.573
Imputing row 14901/17812 with 0 missing, elapsed time: 82.631
Imputing row 15001/17812 with 0 missing, elapsed time: 82.691
Imputing row 15101/17812 with 0 missing, elapsed time: 82.743
Imputing row 15201/17812 with 0 missing, elapsed time: 82.780
Imputing row 15301/17812 with 0 missing, elapsed time: 82.832
Imputing row 15401/17812 with 9 missing, elapsed time: 82.901
Imputing row 15501/17812 with 0 missing, elapsed time: 82.956
Imputing row 15601/17812 with 9 missing, elapsed time: 83.002
Imputing row 15701/17812 with 0 missing, elapsed time: 83.049
Imputing row 15801/17812 with 9 missing, elapsed time: 83.098
Imputing row 15901/17812 with 9 missing, elapsed time: 83.172
Imputing row 16001/17812 with 0 missing, elapsed time: 83.234
Imputing row 16101/17812 with 0 missing, elapsed time: 83.284
Imputing row 16201/17812 with 9 missing, elapsed time: 83.347
Imputing row 16301/17812 with 0 missing, elapsed time: 83.400
Imputing row 16401/17812 with 0 missing, elapsed time: 83.441
Imputing row 16501/17812 with 0 missing, elapsed time: 83.484
Imputing row 16601/17812 with 0 missing, elapsed time: 83.538
Imputing row 16701/17812 with 0 missing, elapsed time: 83.594
Imputing row 16801/17812 with 0 missing, elapsed time: 83.665
Imputing row 16901/17812 with 9 missing, elapsed time: 83.722
Imputing row 17001/17812 with 0 missing, elapsed time: 83.785
Imputing row 17101/17812 with 0 missing, elapsed time: 83.856
Imputing row 17201/17812 with 0 missing, elapsed time: 83.908
Imputing row 17301/17812 with 9 missing, elapsed time: 83.949
Imputing row 17401/17812 with 0 missing, elapsed time: 84.000
Imputing row 17501/17812 with 9 missing, elapsed time: 84.050
Imputing row 17601/17812 with 0 missing, elapsed time: 84.098
Imputing row 17701/17812 with 0 missing, elapsed time: 84.168
Imputing row 17801/17812 with 0 missing, elapsed time: 84.248
Imputing row 1/17812 with 0 missing, elapsed time: 64.383
Imputing row 101/17812 with 9 missing, elapsed time: 64.443
Imputing row 201/17812 with 0 missing, elapsed time: 64.495
Imputing row 301/17812 with 0 missing, elapsed time: 64.546
Imputing row 401/17812 with 9 missing, elapsed time: 64.607
Imputing row 501/17812 with 9 missing, elapsed time: 64.662
Imputing row 601/17812 with 9 missing, elapsed time: 64.699
Imputing row 701/17812 with 9 missing, elapsed time: 64.756
Imputing row 801/17812 with 0 missing, elapsed time: 64.830
Imputing row 901/17812 with 0 missing, elapsed time: 64.873
Imputing row 1001/17812 with 9 missing, elapsed time: 64.912
Imputing row 1101/17812 with 0 missing, elapsed time: 64.961
Imputing row 1201/17812 with 9 missing, elapsed time: 65.019
Imputing row 1301/17812 with 9 missing, elapsed time: 65.063
Imputing row 1401/17812 with 0 missing, elapsed time: 65.112
Imputing row 1501/17812 with 9 missing, elapsed time: 65.144
Imputing row 1601/17812 with 9 missing, elapsed time: 65.204
Imputing row 1701/17812 with 9 missing, elapsed time: 65.257
Imputing row 1801/17812 with 0 missing, elapsed time: 65.325
Imputing row 1901/17812 with 9 missing, elapsed time: 65.366
Imputing row 2001/17812 with 9 missing, elapsed time: 65.432
Imputing row 2101/17812 with 0 missing, elapsed time: 65.498
Imputing row 2201/17812 with 9 missing, elapsed time: 65.574
Imputing row 2301/17812 with 0 missing, elapsed time: 65.628
Imputing row 2401/17812 with 9 missing, elapsed time: 65.674
Imputing row 2501/17812 with 0 missing, elapsed time: 65.731
Imputing row 2601/17812 with 9 missing, elapsed time: 65.778
Imputing row 2701/17812 with 0 missing, elapsed time: 65.842
Imputing row 2801/17812 with 0 missing, elapsed time: 65.887
Imputing row 2901/17812 with 0 missing, elapsed time: 65.938
Imputing row 3001/17812 with 0 missing, elapsed time: 66.004
Imputing row 3101/17812 with 0 missing, elapsed time: 66.077
Imputing row 3201/17812 with 0 missing, elapsed time: 66.135
Imputing row 3301/17812 with 0 missing, elapsed time: 66.199
Imputing row 3401/17812 with 0 missing, elapsed time: 66.261
Imputing row 3501/17812 with 9 missing, elapsed time: 66.322
Imputing row 3601/17812 with 9 missing, elapsed time: 66.379
Imputing row 3701/17812 with 0 missing, elapsed time: 66.422
Imputing row 3801/17812 with 0 missing, elapsed time: 66.471
Imputing row 3901/17812 with 0 missing, elapsed time: 66.513
Imputing row 4001/17812 with 0 missing, elapsed time: 66.587
Imputing row 4101/17812 with 0 missing, elapsed time: 66.632
Imputing row 4201/17812 with 0 missing, elapsed time: 66.682
Imputing row 4301/17812 with 9 missing, elapsed time: 66.723
Imputing row 4401/17812 with 0 missing, elapsed time: 66.788
Imputing row 4501/17812 with 9 missing, elapsed time: 66.840
Imputing row 4601/17812 with 9 missing, elapsed time: 66.893
Imputing row 4701/17812 with 0 missing, elapsed time: 66.959
Imputing row 4801/17812 with 0 missing, elapsed time: 67.009
Imputing row 4901/17812 with 0 missing, elapsed time: 67.069
Imputing row 5001/17812 with 9 missing, elapsed time: 67.118
Imputing row 5101/17812 with 9 missing, elapsed time: 67.166
Imputing row 5201/17812 with 0 missing, elapsed time: 67.206
Imputing row 5301/17812 with 0 missing, elapsed time: 67.260
Imputing row 5401/17812 with 0 missing, elapsed time: 67.304
Imputing row 5501/17812 with 0 missing, elapsed time: 67.346
Imputing row 5601/17812 with 9 missing, elapsed time: 67.397
Imputing row 5701/17812 with 0 missing, elapsed time: 67.461
Imputing row 5801/17812 with 0 missing, elapsed time: 67.517
Imputing row 5901/17812 with 0 missing, elapsed time: 67.582
Imputing row 6001/17812 with 0 missing, elapsed time: 67.639
Imputing row 6101/17812 with 9 missing, elapsed time: 67.691
Imputing row 6201/17812 with 0 missing, elapsed time: 67.754
Imputing row 6301/17812 with 0 missing, elapsed time: 67.800
Imputing row 6401/17812 with 0 missing, elapsed time: 67.861
Imputing row 6501/17812 with 0 missing, elapsed time: 67.926
Imputing row 6601/17812 with 0 missing, elapsed time: 67.982
Imputing row 6701/17812 with 0 missing, elapsed time: 68.045
Imputing row 6801/17812 with 0 missing, elapsed time: 68.133
Imputing row 6901/17812 with 9 missing, elapsed time: 68.193
Imputing row 7001/17812 with 9 missing, elapsed time: 68.240
Imputing row 7101/17812 with 9 missing, elapsed time: 68.296
Imputing row 7201/17812 with 0 missing, elapsed time: 68.353
Imputing row 7301/17812 with 0 missing, elapsed time: 68.406
Imputing row 7401/17812 with 9 missing, elapsed time: 68.448
Imputing row 7501/17812 with 9 missing, elapsed time: 68.525
Imputing row 7601/17812 with 0 missing, elapsed time: 68.585
Imputing row 7701/17812 with 9 missing, elapsed time: 68.657
Imputing row 7801/17812 with 9 missing, elapsed time: 68.710
Imputing row 7901/17812 with 9 missing, elapsed time: 68.769
Imputing row 8001/17812 with 0 missing, elapsed time: 68.820
Imputing row 8101/17812 with 9 missing, elapsed time: 68.867
Imputing row 8201/17812 with 9 missing, elapsed time: 68.925
Imputing row 8301/17812 with 0 missing, elapsed time: 68.980
Imputing row 8401/17812 with 9 missing, elapsed time: 69.044
Imputing row 8501/17812 with 9 missing, elapsed time: 69.092
Imputing row 8601/17812 with 9 missing, elapsed time: 69.143
Imputing row 8701/17812 with 0 missing, elapsed time: 69.194
Imputing row 8801/17812 with 0 missing, elapsed time: 69.268
Imputing row 8901/17812 with 0 missing, elapsed time: 69.322
Imputing row 9001/17812 with 0 missing, elapsed time: 69.367

Imputing row 9101/17812 with 0 missing, elapsed time: 69.407
Imputing row 9201/17812 with 0 missing, elapsed time: 69.472
Imputing row 9301/17812 with 0 missing, elapsed time: 69.531
Imputing row 9401/17812 with 9 missing, elapsed time: 69.593
Imputing row 9501/17812 with 0 missing, elapsed time: 69.641
Imputing row 9601/17812 with 0 missing, elapsed time: 69.677
Imputing row 9701/17812 with 0 missing, elapsed time: 69.753
Imputing row 9801/17812 with 0 missing, elapsed time: 69.810
Imputing row 9901/17812 with 0 missing, elapsed time: 69.865
Imputing row 10001/17812 with 0 missing, elapsed time: 69.933
Imputing row 10101/17812 with 0 missing, elapsed time: 69.979
Imputing row 10201/17812 with 9 missing, elapsed time: 70.040
Imputing row 10301/17812 with 0 missing, elapsed time: 70.113
Imputing row 10401/17812 with 9 missing, elapsed time: 70.183
Imputing row 10501/17812 with 0 missing, elapsed time: 70.258
Imputing row 10601/17812 with 0 missing, elapsed time: 70.314
Imputing row 10701/17812 with 0 missing, elapsed time: 70.380
Imputing row 10801/17812 with 9 missing, elapsed time: 70.446
Imputing row 10901/17812 with 0 missing, elapsed time: 70.507
Imputing row 11001/17812 with 0 missing, elapsed time: 70.558
Imputing row 11101/17812 with 0 missing, elapsed time: 70.612
Imputing row 11201/17812 with 0 missing, elapsed time: 70.663
Imputing row 11301/17812 with 9 missing, elapsed time: 70.742
Imputing row 11401/17812 with 9 missing, elapsed time: 70.804
Imputing row 11501/17812 with 0 missing, elapsed time: 70.870
Imputing row 11601/17812 with 0 missing, elapsed time: 70.919
Imputing row 11701/17812 with 9 missing, elapsed time: 70.964
Imputing row 11801/17812 with 0 missing, elapsed time: 71.018
Imputing row 11901/17812 with 0 missing, elapsed time: 71.094
Imputing row 12001/17812 with 0 missing, elapsed time: 71.162
Imputing row 12101/17812 with 0 missing, elapsed time: 71.230
Imputing row 12201/17812 with 0 missing, elapsed time: 71.289
Imputing row 12301/17812 with 0 missing, elapsed time: 71.332
Imputing row 12401/17812 with 0 missing, elapsed time: 71.384
Imputing row 12501/17812 with 0 missing, elapsed time: 71.464
Imputing row 12601/17812 with 9 missing, elapsed time: 71.512
Imputing row 12701/17812 with 0 missing, elapsed time: 71.559
Imputing row 12801/17812 with 9 missing, elapsed time: 71.610
Imputing row 12901/17812 with 0 missing, elapsed time: 71.671
Imputing row 13001/17812 with 0 missing, elapsed time: 71.736
Imputing row 13101/17812 with 9 missing, elapsed time: 71.792
Imputing row 13201/17812 with 0 missing, elapsed time: 71.830
Imputing row 13301/17812 with 9 missing, elapsed time: 71.892
Imputing row 13401/17812 with 9 missing, elapsed time: 71.961
Imputing row 13501/17812 with 0 missing, elapsed time: 72.015
Imputing row 13601/17812 with 0 missing, elapsed time: 72.083
Imputing row 13701/17812 with 0 missing, elapsed time: 72.152
Imputing row 13801/17812 with 0 missing, elapsed time: 72.194
Imputing row 13901/17812 with 0 missing, elapsed time: 72.260
Imputing row 14001/17812 with 0 missing, elapsed time: 72.326
Imputing row 14101/17812 with 9 missing, elapsed time: 72.392
Imputing row 14201/17812 with 0 missing, elapsed time: 72.441
Imputing row 14301/17812 with 9 missing, elapsed time: 72.487
Imputing row 14401/17812 with 0 missing, elapsed time: 72.546
Imputing row 14501/17812 with 0 missing, elapsed time: 72.590
Imputing row 14601/17812 with 0 missing, elapsed time: 72.641
Imputing row 14701/17812 with 9 missing, elapsed time: 72.690
Imputing row 14801/17812 with 9 missing, elapsed time: 72.748
Imputing row 14901/17812 with 0 missing, elapsed time: 72.792
Imputing row 15001/17812 with 0 missing, elapsed time: 72.840
Imputing row 15101/17812 with 0 missing, elapsed time: 72.919
Imputing row 15201/17812 with 9 missing, elapsed time: 72.970
Imputing row 15301/17812 with 0 missing, elapsed time: 73.019
Imputing row 15401/17812 with 0 missing, elapsed time: 73.062
Imputing row 15501/17812 with 0 missing, elapsed time: 73.106
Imputing row 15601/17812 with 0 missing, elapsed time: 73.172
Imputing row 15701/17812 with 0 missing, elapsed time: 73.226
Imputing row 15801/17812 with 0 missing, elapsed time: 73.277
Imputing row 15901/17812 with 9 missing, elapsed time: 73.317
Imputing row 16001/17812 with 9 missing, elapsed time: 73.357
Imputing row 16101/17812 with 0 missing, elapsed time: 73.395
Imputing row 16201/17812 with 0 missing, elapsed time: 73.449
Imputing row 16301/17812 with 0 missing, elapsed time: 73.488
Imputing row 16401/17812 with 0 missing, elapsed time: 73.535
Imputing row 16501/17812 with 9 missing, elapsed time: 73.580
Imputing row 16601/17812 with 0 missing, elapsed time: 73.628
Imputing row 16701/17812 with 0 missing, elapsed time: 73.682
Imputing row 16801/17812 with 0 missing, elapsed time: 73.726
Imputing row 16901/17812 with 0 missing, elapsed time: 73.770
Imputing row 17001/17812 with 9 missing, elapsed time: 73.824
Imputing row 17101/17812 with 0 missing, elapsed time: 73.875
Imputing row 17201/17812 with 0 missing, elapsed time: 73.926
Imputing row 17301/17812 with 0 missing, elapsed time: 73.963
Imputing row 17401/17812 with 9 missing, elapsed time: 74.018
Imputing row 17501/17812 with 0 missing, elapsed time: 74.079
Imputing row 17601/17812 with 0 missing, elapsed time: 74.139
Imputing row 17701/17812 with 0 missing, elapsed time: 74.185
Imputing row 17801/17812 with 9 missing, elapsed time: 74.226
Imputing row 1/17812 with 0 missing, elapsed time: 76.579
Imputing row 101/17812 with 9 missing, elapsed time: 76.647
Imputing row 201/17812 with 0 missing, elapsed time: 76.697
Imputing row 301/17812 with 0 missing, elapsed time: 76.729
Imputing row 401/17812 with 0 missing, elapsed time: 76.768
Imputing row 501/17812 with 0 missing, elapsed time: 76.807
Imputing row 601/17812 with 9 missing, elapsed time: 76.846
Imputing row 701/17812 with 0 missing, elapsed time: 76.884
Imputing row 801/17812 with 9 missing, elapsed time: 76.909
Imputing row 901/17812 with 9 missing, elapsed time: 76.947
Imputing row 1001/17812 with 9 missing, elapsed time: 76.984
Imputing row 1101/17812 with 0 missing, elapsed time: 77.011
Imputing row 1201/17812 with 0 missing, elapsed time: 77.053
Imputing row 1301/17812 with 9 missing, elapsed time: 77.091
Imputing row 1401/17812 with 9 missing, elapsed time: 77.128
Imputing row 1501/17812 with 0 missing, elapsed time: 77.167
Imputing row 1601/17812 with 9 missing, elapsed time: 77.206
Imputing row 1701/17812 with 0 missing, elapsed time: 77.238
Imputing row 1801/17812 with 0 missing, elapsed time: 77.278
Imputing row 1901/17812 with 0 missing, elapsed time: 77.305
Imputing row 2001/17812 with 0 missing, elapsed time: 77.338
Imputing row 2101/17812 with 9 missing, elapsed time: 77.370
Imputing row 2201/17812 with 9 missing, elapsed time: 77.411
Imputing row 2301/17812 with 9 missing, elapsed time: 77.438
Imputing row 2401/17812 with 9 missing, elapsed time: 77.470
Imputing row 2501/17812 with 9 missing, elapsed time: 77.504
Imputing row 2601/17812 with 0 missing, elapsed time: 77.538
Imputing row 2701/17812 with 0 missing, elapsed time: 77.567
Imputing row 2801/17812 with 0 missing, elapsed time: 77.607
Imputing row 2901/17812 with 9 missing, elapsed time: 77.642
Imputing row 3001/17812 with 9 missing, elapsed time: 77.680
Imputing row 3101/17812 with 0 missing, elapsed time: 77.715
Imputing row 3201/17812 with 0 missing, elapsed time: 77.745
Imputing row 3301/17812 with 9 missing, elapsed time: 77.786
Imputing row 3401/17812 with 9 missing, elapsed time: 77.827
Imputing row 3501/17812 with 0 missing, elapsed time: 77.864
Imputing row 3601/17812 with 9 missing, elapsed time: 77.899
Imputing row 3701/17812 with 0 missing, elapsed time: 77.941
Imputing row 3801/17812 with 0 missing, elapsed time: 77.972
Imputing row 3901/17812 with 9 missing, elapsed time: 78.006
Imputing row 4001/17812 with 0 missing, elapsed time: 78.041
Imputing row 4101/17812 with 0 missing, elapsed time: 78.077
Imputing row 4201/17812 with 0 missing, elapsed time: 78.102
Imputing row 4301/17812 with 0 missing, elapsed time: 78.134
Imputing row 4401/17812 with 0 missing, elapsed time: 78.160
Imputing row 4501/17812 with 9 missing, elapsed time: 78.191
Imputing row 4601/17812 with 9 missing, elapsed time: 78.220
Imputing row 4701/17812 with 0 missing, elapsed time: 78.251
Imputing row 4801/17812 with 0 missing, elapsed time: 78.279

Imputing row 4901/17812 with 0 missing, elapsed time: 78.317
Imputing row 5001/17812 with 9 missing, elapsed time: 78.358
Imputing row 5101/17812 with 0 missing, elapsed time: 78.400
Imputing row 5201/17812 with 0 missing, elapsed time: 78.429
Imputing row 5301/17812 with 9 missing, elapsed time: 78.469
Imputing row 5401/17812 with 0 missing, elapsed time: 78.499
Imputing row 5501/17812 with 0 missing, elapsed time: 78.535
Imputing row 5601/17812 with 0 missing, elapsed time: 78.569
Imputing row 5701/17812 with 0 missing, elapsed time: 78.611
Imputing row 5801/17812 with 0 missing, elapsed time: 78.650
Imputing row 5901/17812 with 0 missing, elapsed time: 78.686
Imputing row 6001/17812 with 0 missing, elapsed time: 78.722
Imputing row 6101/17812 with 0 missing, elapsed time: 78.756
Imputing row 6201/17812 with 9 missing, elapsed time: 78.793
Imputing row 6301/17812 with 0 missing, elapsed time: 78.830
Imputing row 6401/17812 with 9 missing, elapsed time: 78.872
Imputing row 6501/17812 with 9 missing, elapsed time: 78.917
Imputing row 6601/17812 with 0 missing, elapsed time: 78.963
Imputing row 6701/17812 with 0 missing, elapsed time: 78.996
Imputing row 6801/17812 with 9 missing, elapsed time: 79.036
Imputing row 6901/17812 with 0 missing, elapsed time: 79.081
Imputing row 7001/17812 with 0 missing, elapsed time: 79.129
Imputing row 7101/17812 with 0 missing, elapsed time: 79.168
Imputing row 7201/17812 with 0 missing, elapsed time: 79.210
Imputing row 7301/17812 with 0 missing, elapsed time: 79.245
Imputing row 7401/17812 with 0 missing, elapsed time: 79.277
Imputing row 7501/17812 with 0 missing, elapsed time: 79.324
Imputing row 7601/17812 with 0 missing, elapsed time: 79.367
Imputing row 7701/17812 with 0 missing, elapsed time: 79.393
Imputing row 7801/17812 with 9 missing, elapsed time: 79.421
Imputing row 7901/17812 with 9 missing, elapsed time: 79.447
Imputing row 8001/17812 with 9 missing, elapsed time: 79.487
Imputing row 8101/17812 with 9 missing, elapsed time: 79.531
Imputing row 8201/17812 with 9 missing, elapsed time: 79.555
Imputing row 8301/17812 with 0 missing, elapsed time: 79.596
Imputing row 8401/17812 with 0 missing, elapsed time: 79.640
Imputing row 8501/17812 with 0 missing, elapsed time: 79.681
Imputing row 8601/17812 with 9 missing, elapsed time: 79.719
Imputing row 8701/17812 with 0 missing, elapsed time: 79.753
Imputing row 8801/17812 with 0 missing, elapsed time: 79.788
Imputing row 8901/17812 with 0 missing, elapsed time: 79.834
Imputing row 9001/17812 with 0 missing, elapsed time: 79.865
Imputing row 9101/17812 with 0 missing, elapsed time: 79.906
Imputing row 9201/17812 with 0 missing, elapsed time: 79.953
Imputing row 9301/17812 with 0 missing, elapsed time: 79.999
Imputing row 9401/17812 with 0 missing, elapsed time: 80.036
Imputing row 9501/17812 with 0 missing, elapsed time: 80.073
Imputing row 9601/17812 with 0 missing, elapsed time: 80.110
Imputing row 9701/17812 with 0 missing, elapsed time: 80.142
Imputing row 9801/17812 with 9 missing, elapsed time: 80.176
Imputing row 9901/17812 with 0 missing, elapsed time: 80.211
Imputing row 10001/17812 with 0 missing, elapsed time: 80.246
Imputing row 10101/17812 with 9 missing, elapsed time: 80.298
Imputing row 10201/17812 with 0 missing, elapsed time: 80.337
Imputing row 10301/17812 with 0 missing, elapsed time: 80.380
Imputing row 10401/17812 with 0 missing, elapsed time: 80.410
Imputing row 10501/17812 with 0 missing, elapsed time: 80.448
Imputing row 10601/17812 with 0 missing, elapsed time: 80.486
Imputing row 10701/17812 with 9 missing, elapsed time: 80.521
Imputing row 10801/17812 with 0 missing, elapsed time: 80.559
Imputing row 10901/17812 with 0 missing, elapsed time: 80.599
Imputing row 11001/17812 with 9 missing, elapsed time: 80.633
Imputing row 11101/17812 with 9 missing, elapsed time: 80.677
Imputing row 11201/17812 with 9 missing, elapsed time: 80.705
Imputing row 11301/17812 with 9 missing, elapsed time: 80.739
Imputing row 11401/17812 with 0 missing, elapsed time: 80.778
Imputing row 11501/17812 with 9 missing, elapsed time: 80.818
Imputing row 11601/17812 with 0 missing, elapsed time: 80.856
Imputing row 11701/17812 with 9 missing, elapsed time: 80.891
Imputing row 11801/17812 with 0 missing, elapsed time: 80.933
Imputing row 11901/17812 with 0 missing, elapsed time: 80.962
Imputing row 12001/17812 with 0 missing, elapsed time: 81.006
Imputing row 12101/17812 with 9 missing, elapsed time: 81.044
Imputing row 12201/17812 with 9 missing, elapsed time: 81.077
Imputing row 12301/17812 with 0 missing, elapsed time: 81.113
Imputing row 12401/17812 with 0 missing, elapsed time: 81.157
Imputing row 12501/17812 with 0 missing, elapsed time: 81.199
Imputing row 12601/17812 with 9 missing, elapsed time: 81.233
Imputing row 12701/17812 with 9 missing, elapsed time: 81.268
Imputing row 12801/17812 with 9 missing, elapsed time: 81.298
Imputing row 12901/17812 with 0 missing, elapsed time: 81.338
Imputing row 13001/17812 with 0 missing, elapsed time: 81.371
Imputing row 13101/17812 with 0 missing, elapsed time: 81.399
Imputing row 13201/17812 with 0 missing, elapsed time: 81.427
Imputing row 13301/17812 with 0 missing, elapsed time: 81.459
Imputing row 13401/17812 with 0 missing, elapsed time: 81.497
Imputing row 13501/17812 with 0 missing, elapsed time: 81.533
Imputing row 13601/17812 with 0 missing, elapsed time: 81.563
Imputing row 13701/17812 with 0 missing, elapsed time: 81.599
Imputing row 13801/17812 with 9 missing, elapsed time: 81.632
Imputing row 13901/17812 with 9 missing, elapsed time: 81.665
Imputing row 14001/17812 with 0 missing, elapsed time: 81.716
Imputing row 14101/17812 with 9 missing, elapsed time: 81.756
Imputing row 14201/17812 with 0 missing, elapsed time: 81.800
Imputing row 14301/17812 with 9 missing, elapsed time: 81.836
Imputing row 14401/17812 with 9 missing, elapsed time: 81.878
Imputing row 14501/17812 with 9 missing, elapsed time: 81.922
Imputing row 14601/17812 with 0 missing, elapsed time: 81.959
Imputing row 14701/17812 with 0 missing, elapsed time: 82.002
Imputing row 14801/17812 with 0 missing, elapsed time: 82.046
Imputing row 14901/17812 with 0 missing, elapsed time: 82.088
Imputing row 15001/17812 with 0 missing, elapsed time: 82.128
Imputing row 15101/17812 with 0 missing, elapsed time: 82.159
Imputing row 15201/17812 with 0 missing, elapsed time: 82.185
Imputing row 15301/17812 with 9 missing, elapsed time: 82.219
Imputing row 15401/17812 with 0 missing, elapsed time: 82.257
Imputing row 15501/17812 with 0 missing, elapsed time: 82.290
Imputing row 15601/17812 with 0 missing, elapsed time: 82.326
Imputing row 15701/17812 with 0 missing, elapsed time: 82.362
Imputing row 15801/17812 with 0 missing, elapsed time: 82.394
Imputing row 15901/17812 with 0 missing, elapsed time: 82.432
Imputing row 16001/17812 with 0 missing, elapsed time: 82.471
Imputing row 16101/17812 with 9 missing, elapsed time: 82.509
Imputing row 16201/17812 with 0 missing, elapsed time: 82.543
Imputing row 16301/17812 with 0 missing, elapsed time: 82.575
Imputing row 16401/17812 with 0 missing, elapsed time: 82.594
Imputing row 16501/17812 with 9 missing, elapsed time: 82.631
Imputing row 16601/17812 with 9 missing, elapsed time: 82.674
Imputing row 16701/17812 with 9 missing, elapsed time: 82.705
Imputing row 16801/17812 with 9 missing, elapsed time: 82.737
Imputing row 16901/17812 with 0 missing, elapsed time: 82.777
Imputing row 17001/17812 with 9 missing, elapsed time: 82.815
Imputing row 17101/17812 with 9 missing, elapsed time: 82.855
Imputing row 17201/17812 with 0 missing, elapsed time: 82.894
Imputing row 17301/17812 with 9 missing, elapsed time: 82.933
Imputing row 17401/17812 with 0 missing, elapsed time: 82.965
Imputing row 17501/17812 with 0 missing, elapsed time: 82.996
Imputing row 17601/17812 with 9 missing, elapsed time: 83.044
Imputing row 17701/17812 with 9 missing, elapsed time: 83.084
Imputing row 17801/17812 with 9 missing, elapsed time: 83.124
Imputing row 1/17812 with 9 missing, elapsed time: 84.394
Imputing row 101/17812 with 0 missing, elapsed time: 84.470
Imputing row 201/17812 with 0 missing, elapsed time: 84.514
Imputing row 301/17812 with 9 missing, elapsed time: 84.541
Imputing row 401/17812 with 0 missing, elapsed time: 84.576

Imputing row 501/17812 with 0 missing, elapsed time: 84.613
Imputing row 601/17812 with 0 missing, elapsed time: 84.653
Imputing row 701/17812 with 0 missing, elapsed time: 84.679
Imputing row 801/17812 with 0 missing, elapsed time: 84.724
Imputing row 901/17812 with 0 missing, elapsed time: 84.760
Imputing row 1001/17812 with 0 missing, elapsed time: 84.805
Imputing row 1101/17812 with 0 missing, elapsed time: 84.846
Imputing row 1201/17812 with 0 missing, elapsed time: 84.885
Imputing row 1301/17812 with 0 missing, elapsed time: 84.917
Imputing row 1401/17812 with 9 missing, elapsed time: 84.956
Imputing row 1501/17812 with 0 missing, elapsed time: 84.992
Imputing row 1601/17812 with 9 missing, elapsed time: 85.029
Imputing row 1701/17812 with 0 missing, elapsed time: 85.065
Imputing row 1801/17812 with 0 missing, elapsed time: 85.109
Imputing row 1901/17812 with 0 missing, elapsed time: 85.136
Imputing row 2001/17812 with 0 missing, elapsed time: 85.166
Imputing row 2101/17812 with 9 missing, elapsed time: 85.204
Imputing row 2201/17812 with 9 missing, elapsed time: 85.243
Imputing row 2301/17812 with 0 missing, elapsed time: 85.284
Imputing row 2401/17812 with 0 missing, elapsed time: 85.322
Imputing row 2501/17812 with 0 missing, elapsed time: 85.356
Imputing row 2601/17812 with 0 missing, elapsed time: 85.391
Imputing row 2701/17812 with 9 missing, elapsed time: 85.422
Imputing row 2801/17812 with 0 missing, elapsed time: 85.459
Imputing row 2901/17812 with 0 missing, elapsed time: 85.500
Imputing row 3001/17812 with 0 missing, elapsed time: 85.531
Imputing row 3101/17812 with 0 missing, elapsed time: 85.565
Imputing row 3201/17812 with 9 missing, elapsed time: 85.603
Imputing row 3301/17812 with 0 missing, elapsed time: 85.646
Imputing row 3401/17812 with 0 missing, elapsed time: 85.691
Imputing row 3501/17812 with 0 missing, elapsed time: 85.720
Imputing row 3601/17812 with 0 missing, elapsed time: 85.749
Imputing row 3701/17812 with 0 missing, elapsed time: 85.782
Imputing row 3801/17812 with 0 missing, elapsed time: 85.824
Imputing row 3901/17812 with 0 missing, elapsed time: 85.850
Imputing row 4001/17812 with 9 missing, elapsed time: 85.884
Imputing row 4101/17812 with 0 missing, elapsed time: 85.916
Imputing row 4201/17812 with 0 missing, elapsed time: 85.948
Imputing row 4301/17812 with 9 missing, elapsed time: 85.983
Imputing row 4401/17812 with 0 missing, elapsed time: 86.013
Imputing row 4501/17812 with 9 missing, elapsed time: 86.046
Imputing row 4601/17812 with 0 missing, elapsed time: 86.078
Imputing row 4701/17812 with 0 missing, elapsed time: 86.115
Imputing row 4801/17812 with 0 missing, elapsed time: 86.148
Imputing row 4901/17812 with 0 missing, elapsed time: 86.178
Imputing row 5001/17812 with 0 missing, elapsed time: 86.210
Imputing row 5101/17812 with 0 missing, elapsed time: 86.250
Imputing row 5201/17812 with 0 missing, elapsed time: 86.288
Imputing row 5301/17812 with 0 missing, elapsed time: 86.321
Imputing row 5401/17812 with 0 missing, elapsed time: 86.360
Imputing row 5501/17812 with 0 missing, elapsed time: 86.399
Imputing row 5601/17812 with 0 missing, elapsed time: 86.438
Imputing row 5701/17812 with 9 missing, elapsed time: 86.469
Imputing row 5801/17812 with 0 missing, elapsed time: 86.508
Imputing row 5901/17812 with 9 missing, elapsed time: 86.546
Imputing row 6001/17812 with 9 missing, elapsed time: 86.583
Imputing row 6101/17812 with 0 missing, elapsed time: 86.621
Imputing row 6201/17812 with 0 missing, elapsed time: 86.660
Imputing row 6301/17812 with 0 missing, elapsed time: 86.684
Imputing row 6401/17812 with 0 missing, elapsed time: 86.718
Imputing row 6501/17812 with 9 missing, elapsed time: 86.754
Imputing row 6601/17812 with 9 missing, elapsed time: 86.780
Imputing row 6701/17812 with 9 missing, elapsed time: 86.806
Imputing row 6801/17812 with 9 missing, elapsed time: 86.838
Imputing row 6901/17812 with 9 missing, elapsed time: 86.877
Imputing row 7001/17812 with 0 missing, elapsed time: 86.926
Imputing row 7101/17812 with 9 missing, elapsed time: 86.963
Imputing row 7201/17812 with 0 missing, elapsed time: 86.993
Imputing row 7301/17812 with 0 missing, elapsed time: 87.024
Imputing row 7401/17812 with 9 missing, elapsed time: 87.060
Imputing row 7501/17812 with 0 missing, elapsed time: 87.104
Imputing row 7601/17812 with 0 missing, elapsed time: 87.140
Imputing row 7701/17812 with 9 missing, elapsed time: 87.184
Imputing row 7801/17812 with 9 missing, elapsed time: 87.215
Imputing row 7901/17812 with 9 missing, elapsed time: 87.249
Imputing row 8001/17812 with 0 missing, elapsed time: 87.273
Imputing row 8101/17812 with 0 missing, elapsed time: 87.309
Imputing row 8201/17812 with 9 missing, elapsed time: 87.341
Imputing row 8301/17812 with 0 missing, elapsed time: 87.386
Imputing row 8401/17812 with 9 missing, elapsed time: 87.420
Imputing row 8501/17812 with 9 missing, elapsed time: 87.454
Imputing row 8601/17812 with 9 missing, elapsed time: 87.485
Imputing row 8701/17812 with 9 missing, elapsed time: 87.521
Imputing row 8801/17812 with 9 missing, elapsed time: 87.556
Imputing row 8901/17812 with 0 missing, elapsed time: 87.590
Imputing row 9001/17812 with 0 missing, elapsed time: 87.620
Imputing row 9101/17812 with 0 missing, elapsed time: 87.663
Imputing row 9201/17812 with 9 missing, elapsed time: 87.685
Imputing row 9301/17812 with 0 missing, elapsed time: 87.719
Imputing row 9401/17812 with 0 missing, elapsed time: 87.756
Imputing row 9501/17812 with 0 missing, elapsed time: 87.789
Imputing row 9601/17812 with 0 missing, elapsed time: 87.820
Imputing row 9701/17812 with 0 missing, elapsed time: 87.857
Imputing row 9801/17812 with 0 missing, elapsed time: 87.883
Imputing row 9901/17812 with 0 missing, elapsed time: 87.918
Imputing row 10001/17812 with 0 missing, elapsed time: 87.954
Imputing row 10101/17812 with 9 missing, elapsed time: 87.991
Imputing row 10201/17812 with 9 missing, elapsed time: 88.030
Imputing row 10301/17812 with 0 missing, elapsed time: 88.065
Imputing row 10401/17812 with 9 missing, elapsed time: 88.102
Imputing row 10501/17812 with 0 missing, elapsed time: 88.139
Imputing row 10601/17812 with 9 missing, elapsed time: 88.166
Imputing row 10701/17812 with 0 missing, elapsed time: 88.206
Imputing row 10801/17812 with 9 missing, elapsed time: 88.240
Imputing row 10901/17812 with 9 missing, elapsed time: 88.285
Imputing row 11001/17812 with 0 missing, elapsed time: 88.319
Imputing row 11101/17812 with 0 missing, elapsed time: 88.352
Imputing row 11201/17812 with 0 missing, elapsed time: 88.387
Imputing row 11301/17812 with 9 missing, elapsed time: 88.418
Imputing row 11401/17812 with 0 missing, elapsed time: 88.458
Imputing row 11501/17812 with 9 missing, elapsed time: 88.498
Imputing row 11601/17812 with 9 missing, elapsed time: 88.541
Imputing row 11701/17812 with 0 missing, elapsed time: 88.579
Imputing row 11801/17812 with 0 missing, elapsed time: 88.621
Imputing row 11901/17812 with 0 missing, elapsed time: 88.654
Imputing row 12001/17812 with 9 missing, elapsed time: 88.680
Imputing row 12101/17812 with 9 missing, elapsed time: 88.716
Imputing row 12201/17812 with 0 missing, elapsed time: 88.758
Imputing row 12301/17812 with 0 missing, elapsed time: 88.796
Imputing row 12401/17812 with 0 missing, elapsed time: 88.831
Imputing row 12501/17812 with 0 missing, elapsed time: 88.864
Imputing row 12601/17812 with 0 missing, elapsed time: 88.903
Imputing row 12701/17812 with 0 missing, elapsed time: 88.935
Imputing row 12801/17812 with 9 missing, elapsed time: 88.969
Imputing row 12901/17812 with 0 missing, elapsed time: 89.004
Imputing row 13001/17812 with 0 missing, elapsed time: 89.039
Imputing row 13101/17812 with 0 missing, elapsed time: 89.080
Imputing row 13201/17812 with 0 missing, elapsed time: 89.111
Imputing row 13301/17812 with 9 missing, elapsed time: 89.139
Imputing row 13401/17812 with 0 missing, elapsed time: 89.179
Imputing row 13501/17812 with 9 missing, elapsed time: 89.212
Imputing row 13601/17812 with 9 missing, elapsed time: 89.254
Imputing row 13701/17812 with 9 missing, elapsed time: 89.291
Imputing row 13801/17812 with 0 missing, elapsed time: 89.331
Imputing row 13901/17812 with 0 missing, elapsed time: 89.366
Imputing row 14001/17812 with 9 missing, elapsed time: 89.406
Imputing row 14101/17812 with 0 missing, elapsed time: 89.445

Imputing row 14201/17812 with 9 missing, elapsed time: 89.494
Imputing row 14301/17812 with 9 missing, elapsed time: 89.522
Imputing row 14401/17812 with 0 missing, elapsed time: 89.567
Imputing row 14501/17812 with 9 missing, elapsed time: 89.607
Imputing row 14601/17812 with 0 missing, elapsed time: 89.645
Imputing row 14701/17812 with 0 missing, elapsed time: 89.681
Imputing row 14801/17812 with 0 missing, elapsed time: 89.714
Imputing row 14901/17812 with 9 missing, elapsed time: 89.754
Imputing row 15001/17812 with 9 missing, elapsed time: 89.786
Imputing row 15101/17812 with 9 missing, elapsed time: 89.826
Imputing row 15201/17812 with 0 missing, elapsed time: 89.860
Imputing row 15301/17812 with 9 missing, elapsed time: 89.902
Imputing row 15401/17812 with 9 missing, elapsed time: 89.948
Imputing row 15501/17812 with 0 missing, elapsed time: 89.990
Imputing row 15601/17812 with 0 missing, elapsed time: 90.038
Imputing row 15701/17812 with 9 missing, elapsed time: 90.072
Imputing row 15801/17812 with 0 missing, elapsed time: 90.111
Imputing row 15901/17812 with 0 missing, elapsed time: 90.141
Imputing row 16001/17812 with 0 missing, elapsed time: 90.177
Imputing row 16101/17812 with 9 missing, elapsed time: 90.208
Imputing row 16201/17812 with 0 missing, elapsed time: 90.250
Imputing row 16301/17812 with 0 missing, elapsed time: 90.292
Imputing row 16401/17812 with 0 missing, elapsed time: 90.323
Imputing row 16501/17812 with 0 missing, elapsed time: 90.366
Imputing row 16601/17812 with 0 missing, elapsed time: 90.407
Imputing row 16701/17812 with 0 missing, elapsed time: 90.440
Imputing row 16801/17812 with 0 missing, elapsed time: 90.473
Imputing row 16901/17812 with 0 missing, elapsed time: 90.520
Imputing row 17001/17812 with 0 missing, elapsed time: 90.547
Imputing row 17101/17812 with 0 missing, elapsed time: 90.588
Imputing row 17201/17812 with 0 missing, elapsed time: 90.626
Imputing row 17301/17812 with 0 missing, elapsed time: 90.673
Imputing row 17401/17812 with 9 missing, elapsed time: 90.715
Imputing row 17501/17812 with 9 missing, elapsed time: 90.750
Imputing row 17601/17812 with 9 missing, elapsed time: 90.778
Imputing row 17701/17812 with 0 missing, elapsed time: 90.819
Imputing row 17801/17812 with 9 missing, elapsed time: 90.857
Imputing row 1/17812 with 9 missing, elapsed time: 71.159
Imputing row 101/17812 with 0 missing, elapsed time: 71.216
Imputing row 201/17812 with 0 missing, elapsed time: 71.273
Imputing row 301/17812 with 0 missing, elapsed time: 71.331
Imputing row 401/17812 with 0 missing, elapsed time: 71.405
Imputing row 501/17812 with 9 missing, elapsed time: 71.465
Imputing row 601/17812 with 0 missing, elapsed time: 71.512
Imputing row 701/17812 with 0 missing, elapsed time: 71.558
Imputing row 801/17812 with 9 missing, elapsed time: 71.618
Imputing row 901/17812 with 0 missing, elapsed time: 71.679
Imputing row 1001/17812 with 0 missing, elapsed time: 71.720
Imputing row 1101/17812 with 0 missing, elapsed time: 71.783
Imputing row 1201/17812 with 9 missing, elapsed time: 71.842
Imputing row 1301/17812 with 0 missing, elapsed time: 71.905
Imputing row 1401/17812 with 9 missing, elapsed time: 71.959
Imputing row 1501/17812 with 9 missing, elapsed time: 72.019
Imputing row 1601/17812 with 0 missing, elapsed time: 72.090
Imputing row 1701/17812 with 0 missing, elapsed time: 72.150
Imputing row 1801/17812 with 9 missing, elapsed time: 72.186
Imputing row 1901/17812 with 9 missing, elapsed time: 72.229
Imputing row 2001/17812 with 9 missing, elapsed time: 72.291
Imputing row 2101/17812 with 9 missing, elapsed time: 72.335
Imputing row 2201/17812 with 0 missing, elapsed time: 72.378
Imputing row 2301/17812 with 0 missing, elapsed time: 72.463
Imputing row 2401/17812 with 9 missing, elapsed time: 72.525
Imputing row 2501/17812 with 9 missing, elapsed time: 72.556
Imputing row 2601/17812 with 0 missing, elapsed time: 72.609
Imputing row 2701/17812 with 0 missing, elapsed time: 72.659
Imputing row 2801/17812 with 0 missing, elapsed time: 72.735
Imputing row 2901/17812 with 9 missing, elapsed time: 72.774
Imputing row 3001/17812 with 9 missing, elapsed time: 72.834
Imputing row 3101/17812 with 9 missing, elapsed time: 72.892
Imputing row 3201/17812 with 9 missing, elapsed time: 72.950
Imputing row 3301/17812 with 0 missing, elapsed time: 73.021
Imputing row 3401/17812 with 9 missing, elapsed time: 73.077
Imputing row 3501/17812 with 0 missing, elapsed time: 73.135
Imputing row 3601/17812 with 0 missing, elapsed time: 73.182
Imputing row 3701/17812 with 0 missing, elapsed time: 73.235
Imputing row 3801/17812 with 0 missing, elapsed time: 73.301
Imputing row 3901/17812 with 0 missing, elapsed time: 73.356
Imputing row 4001/17812 with 0 missing, elapsed time: 73.410
Imputing row 4101/17812 with 0 missing, elapsed time: 73.457
Imputing row 4201/17812 with 0 missing, elapsed time: 73.509
Imputing row 4301/17812 with 0 missing, elapsed time: 73.569
Imputing row 4401/17812 with 9 missing, elapsed time: 73.619
Imputing row 4501/17812 with 0 missing, elapsed time: 73.682
Imputing row 4601/17812 with 0 missing, elapsed time: 73.723
Imputing row 4701/17812 with 0 missing, elapsed time: 73.766
Imputing row 4801/17812 with 0 missing, elapsed time: 73.791
Imputing row 4901/17812 with 0 missing, elapsed time: 73.830
Imputing row 5001/17812 with 0 missing, elapsed time: 73.872
Imputing row 5101/17812 with 9 missing, elapsed time: 73.911
Imputing row 5201/17812 with 9 missing, elapsed time: 73.974
Imputing row 5301/17812 with 0 missing, elapsed time: 74.045
Imputing row 5401/17812 with 0 missing, elapsed time: 74.100
Imputing row 5501/17812 with 9 missing, elapsed time: 74.149
Imputing row 5601/17812 with 0 missing, elapsed time: 74.219
Imputing row 5701/17812 with 0 missing, elapsed time: 74.281
Imputing row 5801/17812 with 9 missing, elapsed time: 74.333
Imputing row 5901/17812 with 0 missing, elapsed time: 74.399
Imputing row 6001/17812 with 9 missing, elapsed time: 74.462
Imputing row 6101/17812 with 0 missing, elapsed time: 74.519
Imputing row 6201/17812 with 0 missing, elapsed time: 74.559
Imputing row 6301/17812 with 0 missing, elapsed time: 74.611
Imputing row 6401/17812 with 0 missing, elapsed time: 74.660
Imputing row 6501/17812 with 9 missing, elapsed time: 74.730
Imputing row 6601/17812 with 0 missing, elapsed time: 74.783
Imputing row 6701/17812 with 0 missing, elapsed time: 74.822
Imputing row 6801/17812 with 9 missing, elapsed time: 74.860
Imputing row 6901/17812 with 0 missing, elapsed time: 74.919
Imputing row 7001/17812 with 0 missing, elapsed time: 74.978
Imputing row 7101/17812 with 9 missing, elapsed time: 75.043
Imputing row 7201/17812 with 0 missing, elapsed time: 75.087
Imputing row 7301/17812 with 0 missing, elapsed time: 75.131
Imputing row 7401/17812 with 9 missing, elapsed time: 75.187
Imputing row 7501/17812 with 0 missing, elapsed time: 75.254
Imputing row 7601/17812 with 9 missing, elapsed time: 75.316
Imputing row 7701/17812 with 0 missing, elapsed time: 75.362
Imputing row 7801/17812 with 0 missing, elapsed time: 75.413
Imputing row 7901/17812 with 0 missing, elapsed time: 75.441
Imputing row 8001/17812 with 0 missing, elapsed time: 75.489
Imputing row 8101/17812 with 0 missing, elapsed time: 75.547
Imputing row 8201/17812 with 0 missing, elapsed time: 75.607
Imputing row 8301/17812 with 0 missing, elapsed time: 75.665
Imputing row 8401/17812 with 0 missing, elapsed time: 75.735
Imputing row 8501/17812 with 0 missing, elapsed time: 75.795
Imputing row 8601/17812 with 0 missing, elapsed time: 75.863
Imputing row 8701/17812 with 0 missing, elapsed time: 75.903
Imputing row 8801/17812 with 9 missing, elapsed time: 75.934
Imputing row 8901/17812 with 0 missing, elapsed time: 75.977
Imputing row 9001/17812 with 0 missing, elapsed time: 76.027
Imputing row 9101/17812 with 9 missing, elapsed time: 76.070
Imputing row 9201/17812 with 0 missing, elapsed time: 76.120
Imputing row 9301/17812 with 0 missing, elapsed time: 76.158
Imputing row 9401/17812 with 9 missing, elapsed time: 76.216
Imputing row 9501/17812 with 9 missing, elapsed time: 76.269
Imputing row 9601/17812 with 0 missing, elapsed time: 76.319

Imputing row 9701/17812 with 0 missing, elapsed time: 76.361
Imputing row 9801/17812 with 0 missing, elapsed time: 76.405
Imputing row 9901/17812 with 0 missing, elapsed time: 76.451
Imputing row 10001/17812 with 0 missing, elapsed time: 76.500
Imputing row 10101/17812 with 0 missing, elapsed time: 76.560
Imputing row 10201/17812 with 9 missing, elapsed time: 76.607
Imputing row 10301/17812 with 0 missing, elapsed time: 76.663
Imputing row 10401/17812 with 0 missing, elapsed time: 76.705
Imputing row 10501/17812 with 0 missing, elapsed time: 76.754
Imputing row 10601/17812 with 0 missing, elapsed time: 76.794
Imputing row 10701/17812 with 0 missing, elapsed time: 76.857
Imputing row 10801/17812 with 0 missing, elapsed time: 76.938
Imputing row 10901/17812 with 0 missing, elapsed time: 77.017
Imputing row 11001/17812 with 0 missing, elapsed time: 77.095
Imputing row 11101/17812 with 9 missing, elapsed time: 77.155
Imputing row 11201/17812 with 0 missing, elapsed time: 77.222
Imputing row 11301/17812 with 0 missing, elapsed time: 77.309
Imputing row 11401/17812 with 0 missing, elapsed time: 77.366
Imputing row 11501/17812 with 0 missing, elapsed time: 77.430
Imputing row 11601/17812 with 0 missing, elapsed time: 77.501
Imputing row 11701/17812 with 0 missing, elapsed time: 77.565
Imputing row 11801/17812 with 9 missing, elapsed time: 77.605
Imputing row 11901/17812 with 9 missing, elapsed time: 77.656
Imputing row 12001/17812 with 0 missing, elapsed time: 77.712
Imputing row 12101/17812 with 0 missing, elapsed time: 77.768
Imputing row 12201/17812 with 0 missing, elapsed time: 77.799
Imputing row 12301/17812 with 9 missing, elapsed time: 77.858
Imputing row 12401/17812 with 0 missing, elapsed time: 77.921
Imputing row 12501/17812 with 9 missing, elapsed time: 77.962
Imputing row 12601/17812 with 0 missing, elapsed time: 78.017
Imputing row 12701/17812 with 9 missing, elapsed time: 78.074
Imputing row 12801/17812 with 0 missing, elapsed time: 78.147
Imputing row 12901/17812 with 0 missing, elapsed time: 78.211
Imputing row 13001/17812 with 9 missing, elapsed time: 78.258
Imputing row 13101/17812 with 9 missing, elapsed time: 78.350
Imputing row 13201/17812 with 0 missing, elapsed time: 78.401
Imputing row 13301/17812 with 9 missing, elapsed time: 78.454
Imputing row 13401/17812 with 0 missing, elapsed time: 78.512
Imputing row 13501/17812 with 0 missing, elapsed time: 78.564
Imputing row 13601/17812 with 0 missing, elapsed time: 78.614
Imputing row 13701/17812 with 9 missing, elapsed time: 78.682
Imputing row 13801/17812 with 0 missing, elapsed time: 78.738
Imputing row 13901/17812 with 0 missing, elapsed time: 78.774
Imputing row 14001/17812 with 9 missing, elapsed time: 78.832
Imputing row 14101/17812 with 9 missing, elapsed time: 78.887
Imputing row 14201/17812 with 9 missing, elapsed time: 78.944
Imputing row 14301/17812 with 0 missing, elapsed time: 78.993
Imputing row 14401/17812 with 0 missing, elapsed time: 79.055
Imputing row 14501/17812 with 0 missing, elapsed time: 79.122
Imputing row 14601/17812 with 0 missing, elapsed time: 79.185
Imputing row 14701/17812 with 0 missing, elapsed time: 79.231
Imputing row 14801/17812 with 0 missing, elapsed time: 79.279
Imputing row 14901/17812 with 0 missing, elapsed time: 79.321
Imputing row 15001/17812 with 0 missing, elapsed time: 79.369
Imputing row 15101/17812 with 0 missing, elapsed time: 79.423
Imputing row 15201/17812 with 0 missing, elapsed time: 79.487
Imputing row 15301/17812 with 9 missing, elapsed time: 79.549
Imputing row 15401/17812 with 9 missing, elapsed time: 79.619
Imputing row 15501/17812 with 9 missing, elapsed time: 79.664
Imputing row 15601/17812 with 0 missing, elapsed time: 79.720
Imputing row 15701/17812 with 0 missing, elapsed time: 79.798
Imputing row 15801/17812 with 9 missing, elapsed time: 79.858
Imputing row 15901/17812 with 0 missing, elapsed time: 79.940
Imputing row 16001/17812 with 9 missing, elapsed time: 79.981
Imputing row 16101/17812 with 0 missing, elapsed time: 80.030
Imputing row 16201/17812 with 0 missing, elapsed time: 80.091
Imputing row 16301/17812 with 9 missing, elapsed time: 80.135
Imputing row 16401/17812 with 0 missing, elapsed time: 80.171
Imputing row 16501/17812 with 9 missing, elapsed time: 80.201
Imputing row 16601/17812 with 9 missing, elapsed time: 80.267
Imputing row 16701/17812 with 0 missing, elapsed time: 80.320
Imputing row 16801/17812 with 0 missing, elapsed time: 80.382
Imputing row 16901/17812 with 0 missing, elapsed time: 80.431
Imputing row 17001/17812 with 0 missing, elapsed time: 80.465
Imputing row 17101/17812 with 9 missing, elapsed time: 80.527
Imputing row 17201/17812 with 0 missing, elapsed time: 80.572
Imputing row 17301/17812 with 9 missing, elapsed time: 80.626
Imputing row 17401/17812 with 9 missing, elapsed time: 80.690
Imputing row 17501/17812 with 0 missing, elapsed time: 80.746
Imputing row 17601/17812 with 0 missing, elapsed time: 80.783
Imputing row 17701/17812 with 9 missing, elapsed time: 80.827
Imputing row 17801/17812 with 0 missing, elapsed time: 80.885
Imputing row 1/17812 with 0 missing, elapsed time: 60.993
Imputing row 101/17812 with 0 missing, elapsed time: 61.039
Imputing row 201/17812 with 9 missing, elapsed time: 61.113
Imputing row 301/17812 with 0 missing, elapsed time: 61.170
Imputing row 401/17812 with 9 missing, elapsed time: 61.218
Imputing row 501/17812 with 0 missing, elapsed time: 61.267
Imputing row 601/17812 with 0 missing, elapsed time: 61.315
Imputing row 701/17812 with 0 missing, elapsed time: 61.345
Imputing row 801/17812 with 9 missing, elapsed time: 61.386
Imputing row 901/17812 with 0 missing, elapsed time: 61.452
Imputing row 1001/17812 with 0 missing, elapsed time: 61.492
Imputing row 1101/17812 with 9 missing, elapsed time: 61.539
Imputing row 1201/17812 with 0 missing, elapsed time: 61.583
Imputing row 1301/17812 with 0 missing, elapsed time: 61.648
Imputing row 1401/17812 with 0 missing, elapsed time: 61.689
Imputing row 1501/17812 with 9 missing, elapsed time: 61.757
Imputing row 1601/17812 with 0 missing, elapsed time: 61.819
Imputing row 1701/17812 with 0 missing, elapsed time: 61.880
Imputing row 1801/17812 with 0 missing, elapsed time: 61.934
Imputing row 1901/17812 with 0 missing, elapsed time: 61.977
Imputing row 2001/17812 with 0 missing, elapsed time: 62.009
Imputing row 2101/17812 with 0 missing, elapsed time: 62.051
Imputing row 2201/17812 with 0 missing, elapsed time: 62.112
Imputing row 2301/17812 with 0 missing, elapsed time: 62.183
Imputing row 2401/17812 with 0 missing, elapsed time: 62.238
Imputing row 2501/17812 with 0 missing, elapsed time: 62.279
Imputing row 2601/17812 with 0 missing, elapsed time: 62.320
Imputing row 2701/17812 with 0 missing, elapsed time: 62.383
Imputing row 2801/17812 with 9 missing, elapsed time: 62.447
Imputing row 2901/17812 with 9 missing, elapsed time: 62.498
Imputing row 3001/17812 with 0 missing, elapsed time: 62.552
Imputing row 3101/17812 with 0 missing, elapsed time: 62.614
Imputing row 3201/17812 with 0 missing, elapsed time: 62.680
Imputing row 3301/17812 with 0 missing, elapsed time: 62.734
Imputing row 3401/17812 with 9 missing, elapsed time: 62.808
Imputing row 3501/17812 with 0 missing, elapsed time: 62.869
Imputing row 3601/17812 with 0 missing, elapsed time: 62.927
Imputing row 3701/17812 with 0 missing, elapsed time: 62.982
Imputing row 3801/17812 with 0 missing, elapsed time: 63.023
Imputing row 3901/17812 with 9 missing, elapsed time: 63.071
Imputing row 4001/17812 with 0 missing, elapsed time: 63.122
Imputing row 4101/17812 with 0 missing, elapsed time: 63.190
Imputing row 4201/17812 with 0 missing, elapsed time: 63.228
Imputing row 4301/17812 with 9 missing, elapsed time: 63.284
Imputing row 4401/17812 with 0 missing, elapsed time: 63.338
Imputing row 4501/17812 with 0 missing, elapsed time: 63.374
Imputing row 4601/17812 with 9 missing, elapsed time: 63.420
Imputing row 4701/17812 with 0 missing, elapsed time: 63.492
Imputing row 4801/17812 with 0 missing, elapsed time: 63.550
Imputing row 4901/17812 with 0 missing, elapsed time: 63.612
Imputing row 5001/17812 with 0 missing, elapsed time: 63.657
Imputing row 5101/17812 with 0 missing, elapsed time: 63.724
Imputing row 5201/17812 with 0 missing, elapsed time: 63.777
Imputing row 5301/17812 with 0 missing, elapsed time: 63.831

Imputing row 5401/17812 with 0 missing, elapsed time: 63.887
Imputing row 5501/17812 with 0 missing, elapsed time: 63.944
Imputing row 5601/17812 with 0 missing, elapsed time: 63.990
Imputing row 5701/17812 with 0 missing, elapsed time: 64.041
Imputing row 5801/17812 with 0 missing, elapsed time: 64.092
Imputing row 5901/17812 with 0 missing, elapsed time: 64.150
Imputing row 6001/17812 with 9 missing, elapsed time: 64.186
Imputing row 6101/17812 with 0 missing, elapsed time: 64.240
Imputing row 6201/17812 with 0 missing, elapsed time: 64.307
Imputing row 6301/17812 with 0 missing, elapsed time: 64.350
Imputing row 6401/17812 with 0 missing, elapsed time: 64.417
Imputing row 6501/17812 with 0 missing, elapsed time: 64.464
Imputing row 6601/17812 with 0 missing, elapsed time: 64.516
Imputing row 6701/17812 with 0 missing, elapsed time: 64.561
Imputing row 6801/17812 with 0 missing, elapsed time: 64.625
Imputing row 6901/17812 with 0 missing, elapsed time: 64.677
Imputing row 7001/17812 with 0 missing, elapsed time: 64.725
Imputing row 7101/17812 with 9 missing, elapsed time: 64.764
Imputing row 7201/17812 with 0 missing, elapsed time: 64.823
Imputing row 7301/17812 with 0 missing, elapsed time: 64.882
Imputing row 7401/17812 with 9 missing, elapsed time: 64.924
Imputing row 7501/17812 with 0 missing, elapsed time: 64.967
Imputing row 7601/17812 with 0 missing, elapsed time: 65.022
Imputing row 7701/17812 with 0 missing, elapsed time: 65.078
Imputing row 7801/17812 with 0 missing, elapsed time: 65.122
Imputing row 7901/17812 with 0 missing, elapsed time: 65.186
Imputing row 8001/17812 with 0 missing, elapsed time: 65.230
Imputing row 8101/17812 with 0 missing, elapsed time: 65.287
Imputing row 8201/17812 with 0 missing, elapsed time: 65.349
Imputing row 8301/17812 with 0 missing, elapsed time: 65.405
Imputing row 8401/17812 with 0 missing, elapsed time: 65.442
Imputing row 8501/17812 with 9 missing, elapsed time: 65.490
Imputing row 8601/17812 with 0 missing, elapsed time: 65.548
Imputing row 8701/17812 with 0 missing, elapsed time: 65.588
Imputing row 8801/17812 with 0 missing, elapsed time: 65.663
Imputing row 8901/17812 with 0 missing, elapsed time: 65.705
Imputing row 9001/17812 with 0 missing, elapsed time: 65.782
Imputing row 9101/17812 with 9 missing, elapsed time: 65.858
Imputing row 9201/17812 with 0 missing, elapsed time: 65.929
Imputing row 9301/17812 with 9 missing, elapsed time: 65.975
Imputing row 9401/17812 with 9 missing, elapsed time: 66.014
Imputing row 9501/17812 with 0 missing, elapsed time: 66.062
Imputing row 9601/17812 with 0 missing, elapsed time: 66.119
Imputing row 9701/17812 with 0 missing, elapsed time: 66.172
Imputing row 9801/17812 with 9 missing, elapsed time: 66.249
Imputing row 9901/17812 with 9 missing, elapsed time: 66.287
Imputing row 10001/17812 with 0 missing, elapsed time: 66.336
Imputing row 10101/17812 with 0 missing, elapsed time: 66.390
Imputing row 10201/17812 with 0 missing, elapsed time: 66.453
Imputing row 10301/17812 with 0 missing, elapsed time: 66.513
Imputing row 10401/17812 with 0 missing, elapsed time: 66.564
Imputing row 10501/17812 with 9 missing, elapsed time: 66.606
Imputing row 10601/17812 with 0 missing, elapsed time: 66.661
Imputing row 10701/17812 with 0 missing, elapsed time: 66.723
Imputing row 10801/17812 with 0 missing, elapsed time: 66.771
Imputing row 10901/17812 with 9 missing, elapsed time: 66.831
Imputing row 11001/17812 with 9 missing, elapsed time: 66.868
Imputing row 11101/17812 with 9 missing, elapsed time: 66.919
Imputing row 11201/17812 with 0 missing, elapsed time: 66.980
Imputing row 11301/17812 with 9 missing, elapsed time: 67.023
Imputing row 11401/17812 with 0 missing, elapsed time: 67.095
Imputing row 11501/17812 with 0 missing, elapsed time: 67.152
Imputing row 11601/17812 with 9 missing, elapsed time: 67.180
Imputing row 11701/17812 with 0 missing, elapsed time: 67.245
Imputing row 11801/17812 with 0 missing, elapsed time: 67.302
Imputing row 11901/17812 with 0 missing, elapsed time: 67.358
Imputing row 12001/17812 with 9 missing, elapsed time: 67.422
Imputing row 12101/17812 with 9 missing, elapsed time: 67.509
Imputing row 12201/17812 with 9 missing, elapsed time: 67.559
Imputing row 12301/17812 with 9 missing, elapsed time: 67.610
Imputing row 12401/17812 with 0 missing, elapsed time: 67.658
Imputing row 12501/17812 with 9 missing, elapsed time: 67.705
Imputing row 12601/17812 with 9 missing, elapsed time: 67.756
Imputing row 12701/17812 with 0 missing, elapsed time: 67.815
Imputing row 12801/17812 with 0 missing, elapsed time: 67.867
Imputing row 12901/17812 with 0 missing, elapsed time: 67.921
Imputing row 13001/17812 with 9 missing, elapsed time: 67.991
Imputing row 13101/17812 with 9 missing, elapsed time: 68.035
Imputing row 13201/17812 with 0 missing, elapsed time: 68.086
Imputing row 13301/17812 with 0 missing, elapsed time: 68.136
Imputing row 13401/17812 with 9 missing, elapsed time: 68.195
Imputing row 13501/17812 with 0 missing, elapsed time: 68.250
Imputing row 13601/17812 with 0 missing, elapsed time: 68.305
Imputing row 13701/17812 with 0 missing, elapsed time: 68.353
Imputing row 13801/17812 with 0 missing, elapsed time: 68.407
Imputing row 13901/17812 with 9 missing, elapsed time: 68.453
Imputing row 14001/17812 with 9 missing, elapsed time: 68.506
Imputing row 14101/17812 with 9 missing, elapsed time: 68.547
Imputing row 14201/17812 with 0 missing, elapsed time: 68.605
Imputing row 14301/17812 with 9 missing, elapsed time: 68.643
Imputing row 14401/17812 with 0 missing, elapsed time: 68.705
Imputing row 14501/17812 with 9 missing, elapsed time: 68.747
Imputing row 14601/17812 with 0 missing, elapsed time: 68.810
Imputing row 14701/17812 with 0 missing, elapsed time: 68.865
Imputing row 14801/17812 with 0 missing, elapsed time: 68.922
Imputing row 14901/17812 with 9 missing, elapsed time: 68.963
Imputing row 15001/17812 with 0 missing, elapsed time: 69.023
Imputing row 15101/17812 with 0 missing, elapsed time: 69.100
Imputing row 15201/17812 with 0 missing, elapsed time: 69.154
Imputing row 15301/17812 with 9 missing, elapsed time: 69.208
Imputing row 15401/17812 with 9 missing, elapsed time: 69.260
Imputing row 15501/17812 with 9 missing, elapsed time: 69.303
Imputing row 15601/17812 with 0 missing, elapsed time: 69.363
Imputing row 15701/17812 with 0 missing, elapsed time: 69.413
Imputing row 15801/17812 with 9 missing, elapsed time: 69.470
Imputing row 15901/17812 with 0 missing, elapsed time: 69.533
Imputing row 16001/17812 with 9 missing, elapsed time: 69.594
Imputing row 16101/17812 with 9 missing, elapsed time: 69.671
Imputing row 16201/17812 with 9 missing, elapsed time: 69.737
Imputing row 16301/17812 with 0 missing, elapsed time: 69.793
Imputing row 16401/17812 with 9 missing, elapsed time: 69.856
Imputing row 16501/17812 with 9 missing, elapsed time: 69.907
Imputing row 16601/17812 with 9 missing, elapsed time: 69.968
Imputing row 16701/17812 with 9 missing, elapsed time: 70.021
Imputing row 16801/17812 with 0 missing, elapsed time: 70.070
Imputing row 16901/17812 with 0 missing, elapsed time: 70.101
Imputing row 17001/17812 with 0 missing, elapsed time: 70.175
Imputing row 17101/17812 with 0 missing, elapsed time: 70.226
Imputing row 17201/17812 with 0 missing, elapsed time: 70.279
Imputing row 17301/17812 with 9 missing, elapsed time: 70.343
Imputing row 17401/17812 with 9 missing, elapsed time: 70.399
Imputing row 17501/17812 with 9 missing, elapsed time: 70.457
Imputing row 17601/17812 with 0 missing, elapsed time: 70.504
Imputing row 17701/17812 with 9 missing, elapsed time: 70.559
Imputing row 17801/17812 with 0 missing, elapsed time: 70.628
Imputing row 1/17812 with 9 missing, elapsed time: 72.910
Imputing row 101/17812 with 0 missing, elapsed time: 72.986
Imputing row 201/17812 with 0 missing, elapsed time: 73.022
Imputing row 301/17812 with 0 missing, elapsed time: 73.063
Imputing row 401/17812 with 0 missing, elapsed time: 73.097
Imputing row 501/17812 with 0 missing, elapsed time: 73.132
Imputing row 601/17812 with 9 missing, elapsed time: 73.167
Imputing row 701/17812 with 9 missing, elapsed time: 73.204
Imputing row 801/17812 with 0 missing, elapsed time: 73.236
Imputing row 901/17812 with 0 missing, elapsed time: 73.271
Imputing row 1001/17812 with 9 missing, elapsed time: 73.299
Imputing row 1101/17812 with 0 missing, elapsed time: 73.330

Imputing row 1201/17812 with 0 missing, elapsed time: 73.364
Imputing row 1301/17812 with 0 missing, elapsed time: 73.399
Imputing row 1401/17812 with 9 missing, elapsed time: 73.429
Imputing row 1501/17812 with 0 missing, elapsed time: 73.461
Imputing row 1601/17812 with 9 missing, elapsed time: 73.490
Imputing row 1701/17812 with 0 missing, elapsed time: 73.530
Imputing row 1801/17812 with 9 missing, elapsed time: 73.576
Imputing row 1901/17812 with 0 missing, elapsed time: 73.611
Imputing row 2001/17812 with 9 missing, elapsed time: 73.646
Imputing row 2101/17812 with 9 missing, elapsed time: 73.687
Imputing row 2201/17812 with 0 missing, elapsed time: 73.722
Imputing row 2301/17812 with 0 missing, elapsed time: 73.761
Imputing row 2401/17812 with 9 missing, elapsed time: 73.802
Imputing row 2501/17812 with 0 missing, elapsed time: 73.841
Imputing row 2601/17812 with 0 missing, elapsed time: 73.877
Imputing row 2701/17812 with 9 missing, elapsed time: 73.911
Imputing row 2801/17812 with 0 missing, elapsed time: 73.951
Imputing row 2901/17812 with 9 missing, elapsed time: 73.989
Imputing row 3001/17812 with 0 missing, elapsed time: 74.026
Imputing row 3101/17812 with 0 missing, elapsed time: 74.056
Imputing row 3201/17812 with 9 missing, elapsed time: 74.087
Imputing row 3301/17812 with 0 missing, elapsed time: 74.120
Imputing row 3401/17812 with 0 missing, elapsed time: 74.155
Imputing row 3501/17812 with 9 missing, elapsed time: 74.195
Imputing row 3601/17812 with 9 missing, elapsed time: 74.223
Imputing row 3701/17812 with 9 missing, elapsed time: 74.266
Imputing row 3801/17812 with 9 missing, elapsed time: 74.297
Imputing row 3901/17812 with 9 missing, elapsed time: 74.341
Imputing row 4001/17812 with 9 missing, elapsed time: 74.378
Imputing row 4101/17812 with 0 missing, elapsed time: 74.416
Imputing row 4201/17812 with 0 missing, elapsed time: 74.460
Imputing row 4301/17812 with 0 missing, elapsed time: 74.483
Imputing row 4401/17812 with 0 missing, elapsed time: 74.523
Imputing row 4501/17812 with 9 missing, elapsed time: 74.564
Imputing row 4601/17812 with 0 missing, elapsed time: 74.608
Imputing row 4701/17812 with 9 missing, elapsed time: 74.646
Imputing row 4801/17812 with 0 missing, elapsed time: 74.693
Imputing row 4901/17812 with 9 missing, elapsed time: 74.729
Imputing row 5001/17812 with 0 missing, elapsed time: 74.777
Imputing row 5101/17812 with 9 missing, elapsed time: 74.811
Imputing row 5201/17812 with 9 missing, elapsed time: 74.847
Imputing row 5301/17812 with 0 missing, elapsed time: 74.888
Imputing row 5401/17812 with 0 missing, elapsed time: 74.920
Imputing row 5501/17812 with 0 missing, elapsed time: 74.955
Imputing row 5601/17812 with 0 missing, elapsed time: 74.994
Imputing row 5701/17812 with 0 missing, elapsed time: 75.030
Imputing row 5801/17812 with 9 missing, elapsed time: 75.069
Imputing row 5901/17812 with 0 missing, elapsed time: 75.107
Imputing row 6001/17812 with 9 missing, elapsed time: 75.148
Imputing row 6101/17812 with 9 missing, elapsed time: 75.179
Imputing row 6201/17812 with 9 missing, elapsed time: 75.222
Imputing row 6301/17812 with 0 missing, elapsed time: 75.271
Imputing row 6401/17812 with 0 missing, elapsed time: 75.309
Imputing row 6501/17812 with 9 missing, elapsed time: 75.361
Imputing row 6601/17812 with 0 missing, elapsed time: 75.391
Imputing row 6701/17812 with 0 missing, elapsed time: 75.425
Imputing row 6801/17812 with 9 missing, elapsed time: 75.465
Imputing row 6901/17812 with 0 missing, elapsed time: 75.506
Imputing row 7001/17812 with 0 missing, elapsed time: 75.545
Imputing row 7101/17812 with 0 missing, elapsed time: 75.582
Imputing row 7201/17812 with 9 missing, elapsed time: 75.613
Imputing row 7301/17812 with 9 missing, elapsed time: 75.649
Imputing row 7401/17812 with 0 missing, elapsed time: 75.679
Imputing row 7501/17812 with 9 missing, elapsed time: 75.716
Imputing row 7601/17812 with 9 missing, elapsed time: 75.752
Imputing row 7701/17812 with 0 missing, elapsed time: 75.795
Imputing row 7801/17812 with 9 missing, elapsed time: 75.834
Imputing row 7901/17812 with 9 missing, elapsed time: 75.870
Imputing row 8001/17812 with 9 missing, elapsed time: 75.900
Imputing row 8101/17812 with 0 missing, elapsed time: 75.930
Imputing row 8201/17812 with 9 missing, elapsed time: 75.967
Imputing row 8301/17812 with 9 missing, elapsed time: 76.007
Imputing row 8401/17812 with 0 missing, elapsed time: 76.039
Imputing row 8501/17812 with 0 missing, elapsed time: 76.075
Imputing row 8601/17812 with 0 missing, elapsed time: 76.111
Imputing row 8701/17812 with 0 missing, elapsed time: 76.147
Imputing row 8801/17812 with 0 missing, elapsed time: 76.185
Imputing row 8901/17812 with 0 missing, elapsed time: 76.206
Imputing row 9001/17812 with 0 missing, elapsed time: 76.234
Imputing row 9101/17812 with 0 missing, elapsed time: 76.278
Imputing row 9201/17812 with 9 missing, elapsed time: 76.316
Imputing row 9301/17812 with 9 missing, elapsed time: 76.347
Imputing row 9401/17812 with 0 missing, elapsed time: 76.377
Imputing row 9501/17812 with 0 missing, elapsed time: 76.411
Imputing row 9601/17812 with 0 missing, elapsed time: 76.438
Imputing row 9701/17812 with 9 missing, elapsed time: 76.470
Imputing row 9801/17812 with 0 missing, elapsed time: 76.512
Imputing row 9901/17812 with 9 missing, elapsed time: 76.544
Imputing row 10001/17812 with 0 missing, elapsed time: 76.579
Imputing row 10101/17812 with 0 missing, elapsed time: 76.617
Imputing row 10201/17812 with 0 missing, elapsed time: 76.657
Imputing row 10301/17812 with 0 missing, elapsed time: 76.685
Imputing row 10401/17812 with 0 missing, elapsed time: 76.727
Imputing row 10501/17812 with 9 missing, elapsed time: 76.760
Imputing row 10601/17812 with 0 missing, elapsed time: 76.795
Imputing row 10701/17812 with 0 missing, elapsed time: 76.828
Imputing row 10801/17812 with 0 missing, elapsed time: 76.861
Imputing row 10901/17812 with 0 missing, elapsed time: 76.892
Imputing row 11001/17812 with 0 missing, elapsed time: 76.931
Imputing row 11101/17812 with 0 missing, elapsed time: 76.968
Imputing row 11201/17812 with 0 missing, elapsed time: 77.002
Imputing row 11301/17812 with 0 missing, elapsed time: 77.034
Imputing row 11401/17812 with 9 missing, elapsed time: 77.072
Imputing row 11501/17812 with 0 missing, elapsed time: 77.115
Imputing row 11601/17812 with 9 missing, elapsed time: 77.153
Imputing row 11701/17812 with 0 missing, elapsed time: 77.181
Imputing row 11801/17812 with 0 missing, elapsed time: 77.214
Imputing row 11901/17812 with 0 missing, elapsed time: 77.259
Imputing row 12001/17812 with 0 missing, elapsed time: 77.301
Imputing row 12101/17812 with 9 missing, elapsed time: 77.340
Imputing row 12201/17812 with 9 missing, elapsed time: 77.384
Imputing row 12301/17812 with 0 missing, elapsed time: 77.414
Imputing row 12401/17812 with 0 missing, elapsed time: 77.449
Imputing row 12501/17812 with 0 missing, elapsed time: 77.476
Imputing row 12601/17812 with 0 missing, elapsed time: 77.517
Imputing row 12701/17812 with 0 missing, elapsed time: 77.559
Imputing row 12801/17812 with 0 missing, elapsed time: 77.596
Imputing row 12901/17812 with 0 missing, elapsed time: 77.631
Imputing row 13001/17812 with 0 missing, elapsed time: 77.678
Imputing row 13101/17812 with 0 missing, elapsed time: 77.716
Imputing row 13201/17812 with 0 missing, elapsed time: 77.755
Imputing row 13301/17812 with 0 missing, elapsed time: 77.793
Imputing row 13401/17812 with 0 missing, elapsed time: 77.828
Imputing row 13501/17812 with 0 missing, elapsed time: 77.865
Imputing row 13601/17812 with 9 missing, elapsed time: 77.903
Imputing row 13701/17812 with 9 missing, elapsed time: 77.947
Imputing row 13801/17812 with 0 missing, elapsed time: 77.986
Imputing row 13901/17812 with 9 missing, elapsed time: 78.017
Imputing row 14001/17812 with 0 missing, elapsed time: 78.052
Imputing row 14101/17812 with 9 missing, elapsed time: 78.081
Imputing row 14201/17812 with 0 missing, elapsed time: 78.113
Imputing row 14301/17812 with 0 missing, elapsed time: 78.147
Imputing row 14401/17812 with 0 missing, elapsed time: 78.181
Imputing row 14501/17812 with 9 missing, elapsed time: 78.216
Imputing row 14601/17812 with 0 missing, elapsed time: 78.256
Imputing row 14701/17812 with 0 missing, elapsed time: 78.289
Imputing row 14801/17812 with 0 missing, elapsed time: 78.316
Imputing row 14901/17812 with 0 missing, elapsed time: 78.353
Imputing row 15001/17812 with 0 missing, elapsed time: 78.389

Imputing row 15101/17812 with 0 missing, elapsed time: 78.418
Imputing row 15201/17812 with 0 missing, elapsed time: 78.454
Imputing row 15301/17812 with 0 missing, elapsed time: 78.493
Imputing row 15401/17812 with 0 missing, elapsed time: 78.541
Imputing row 15501/17812 with 9 missing, elapsed time: 78.578
Imputing row 15601/17812 with 0 missing, elapsed time: 78.607
Imputing row 15701/17812 with 0 missing, elapsed time: 78.640
Imputing row 15801/17812 with 0 missing, elapsed time: 78.684
Imputing row 15901/17812 with 0 missing, elapsed time: 78.724
Imputing row 16001/17812 with 0 missing, elapsed time: 78.755
Imputing row 16101/17812 with 0 missing, elapsed time: 78.791
Imputing row 16201/17812 with 0 missing, elapsed time: 78.830
Imputing row 16301/17812 with 0 missing, elapsed time: 78.868
Imputing row 16401/17812 with 0 missing, elapsed time: 78.898
Imputing row 16501/17812 with 0 missing, elapsed time: 78.930
Imputing row 16601/17812 with 9 missing, elapsed time: 78.970
Imputing row 16701/17812 with 9 missing, elapsed time: 78.999
Imputing row 16801/17812 with 0 missing, elapsed time: 79.031
Imputing row 16901/17812 with 0 missing, elapsed time: 79.065
Imputing row 17001/17812 with 0 missing, elapsed time: 79.108
Imputing row 17101/17812 with 9 missing, elapsed time: 79.136
Imputing row 17201/17812 with 0 missing, elapsed time: 79.168
Imputing row 17301/17812 with 0 missing, elapsed time: 79.198
Imputing row 17401/17812 with 0 missing, elapsed time: 79.230
Imputing row 17501/17812 with 9 missing, elapsed time: 79.268
Imputing row 17601/17812 with 0 missing, elapsed time: 79.307
Imputing row 17701/17812 with 9 missing, elapsed time: 79.346
Imputing row 17801/17812 with 0 missing, elapsed time: 79.374
Imputing row 1/17812 with 9 missing, elapsed time: 76.119
Imputing row 101/17812 with 0 missing, elapsed time: 76.155
Imputing row 201/17812 with 0 missing, elapsed time: 76.194
Imputing row 301/17812 with 9 missing, elapsed time: 76.222
Imputing row 401/17812 with 9 missing, elapsed time: 76.258
Imputing row 501/17812 with 0 missing, elapsed time: 76.301
Imputing row 601/17812 with 9 missing, elapsed time: 76.338
Imputing row 701/17812 with 9 missing, elapsed time: 76.384
Imputing row 801/17812 with 0 missing, elapsed time: 76.424
Imputing row 901/17812 with 9 missing, elapsed time: 76.456
Imputing row 1001/17812 with 0 missing, elapsed time: 76.488
Imputing row 1101/17812 with 9 missing, elapsed time: 76.531
Imputing row 1201/17812 with 0 missing, elapsed time: 76.579
Imputing row 1301/17812 with 9 missing, elapsed time: 76.614
Imputing row 1401/17812 with 0 missing, elapsed time: 76.650
Imputing row 1501/17812 with 0 missing, elapsed time: 76.689
Imputing row 1601/17812 with 0 missing, elapsed time: 76.725
Imputing row 1701/17812 with 0 missing, elapsed time: 76.760
Imputing row 1801/17812 with 0 missing, elapsed time: 76.803
Imputing row 1901/17812 with 9 missing, elapsed time: 76.833
Imputing row 2001/17812 with 0 missing, elapsed time: 76.868
Imputing row 2101/17812 with 0 missing, elapsed time: 76.913
Imputing row 2201/17812 with 0 missing, elapsed time: 76.955
Imputing row 2301/17812 with 0 missing, elapsed time: 77.001
Imputing row 2401/17812 with 0 missing, elapsed time: 77.044
Imputing row 2501/17812 with 0 missing, elapsed time: 77.071
Imputing row 2601/17812 with 0 missing, elapsed time: 77.109
Imputing row 2701/17812 with 9 missing, elapsed time: 77.141
Imputing row 2801/17812 with 0 missing, elapsed time: 77.185
Imputing row 2901/17812 with 0 missing, elapsed time: 77.227
Imputing row 3001/17812 with 0 missing, elapsed time: 77.263
Imputing row 3101/17812 with 0 missing, elapsed time: 77.298
Imputing row 3201/17812 with 0 missing, elapsed time: 77.337
Imputing row 3301/17812 with 0 missing, elapsed time: 77.379
Imputing row 3401/17812 with 0 missing, elapsed time: 77.424
Imputing row 3501/17812 with 9 missing, elapsed time: 77.456
Imputing row 3601/17812 with 9 missing, elapsed time: 77.495
Imputing row 3701/17812 with 0 missing, elapsed time: 77.529
Imputing row 3801/17812 with 9 missing, elapsed time: 77.566
Imputing row 3901/17812 with 9 missing, elapsed time: 77.601
Imputing row 4001/17812 with 0 missing, elapsed time: 77.639
Imputing row 4101/17812 with 0 missing, elapsed time: 77.665
Imputing row 4201/17812 with 9 missing, elapsed time: 77.703
Imputing row 4301/17812 with 0 missing, elapsed time: 77.750
Imputing row 4401/17812 with 9 missing, elapsed time: 77.786
Imputing row 4501/17812 with 0 missing, elapsed time: 77.823
Imputing row 4601/17812 with 0 missing, elapsed time: 77.861
Imputing row 4701/17812 with 9 missing, elapsed time: 77.891
Imputing row 4801/17812 with 9 missing, elapsed time: 77.932
Imputing row 4901/17812 with 0 missing, elapsed time: 77.962
Imputing row 5001/17812 with 9 missing, elapsed time: 78.005
Imputing row 5101/17812 with 9 missing, elapsed time: 78.043
Imputing row 5201/17812 with 0 missing, elapsed time: 78.076
Imputing row 5301/17812 with 0 missing, elapsed time: 78.112
Imputing row 5401/17812 with 0 missing, elapsed time: 78.153
Imputing row 5501/17812 with 0 missing, elapsed time: 78.189
Imputing row 5601/17812 with 0 missing, elapsed time: 78.227
Imputing row 5701/17812 with 9 missing, elapsed time: 78.263
Imputing row 5801/17812 with 0 missing, elapsed time: 78.304
Imputing row 5901/17812 with 9 missing, elapsed time: 78.344
Imputing row 6001/17812 with 9 missing, elapsed time: 78.384
Imputing row 6101/17812 with 9 missing, elapsed time: 78.429
Imputing row 6201/17812 with 0 missing, elapsed time: 78.470
Imputing row 6301/17812 with 9 missing, elapsed time: 78.509
Imputing row 6401/17812 with 0 missing, elapsed time: 78.542
Imputing row 6501/17812 with 9 missing, elapsed time: 78.580
Imputing row 6601/17812 with 0 missing, elapsed time: 78.616
Imputing row 6701/17812 with 9 missing, elapsed time: 78.646
Imputing row 6801/17812 with 0 missing, elapsed time: 78.673
Imputing row 6901/17812 with 0 missing, elapsed time: 78.705
Imputing row 7001/17812 with 0 missing, elapsed time: 78.744
Imputing row 7101/17812 with 0 missing, elapsed time: 78.775
Imputing row 7201/17812 with 0 missing, elapsed time: 78.810
Imputing row 7301/17812 with 9 missing, elapsed time: 78.845
Imputing row 7401/17812 with 0 missing, elapsed time: 78.880
Imputing row 7501/17812 with 9 missing, elapsed time: 78.923
Imputing row 7601/17812 with 0 missing, elapsed time: 78.967
Imputing row 7701/17812 with 0 missing, elapsed time: 79.000
Imputing row 7801/17812 with 0 missing, elapsed time: 79.028
Imputing row 7901/17812 with 9 missing, elapsed time: 79.072
Imputing row 8001/17812 with 0 missing, elapsed time: 79.109
Imputing row 8101/17812 with 0 missing, elapsed time: 79.148
Imputing row 8201/17812 with 0 missing, elapsed time: 79.185
Imputing row 8301/17812 with 0 missing, elapsed time: 79.218
Imputing row 8401/17812 with 0 missing, elapsed time: 79.251
Imputing row 8501/17812 with 0 missing, elapsed time: 79.295
Imputing row 8601/17812 with 9 missing, elapsed time: 79.332
Imputing row 8701/17812 with 0 missing, elapsed time: 79.363
Imputing row 8801/17812 with 0 missing, elapsed time: 79.405
Imputing row 8901/17812 with 0 missing, elapsed time: 79.435
Imputing row 9001/17812 with 0 missing, elapsed time: 79.473
Imputing row 9101/17812 with 0 missing, elapsed time: 79.516
Imputing row 9201/17812 with 9 missing, elapsed time: 79.548
Imputing row 9301/17812 with 9 missing, elapsed time: 79.591
Imputing row 9401/17812 with 9 missing, elapsed time: 79.630
Imputing row 9501/17812 with 0 missing, elapsed time: 79.662
Imputing row 9601/17812 with 0 missing, elapsed time: 79.702
Imputing row 9701/17812 with 0 missing, elapsed time: 79.740
Imputing row 9801/17812 with 0 missing, elapsed time: 79.776
Imputing row 9901/17812 with 0 missing, elapsed time: 79.822
Imputing row 10001/17812 with 9 missing, elapsed time: 79.852
Imputing row 10101/17812 with 0 missing, elapsed time: 79.889
Imputing row 10201/17812 with 0 missing, elapsed time: 79.917
Imputing row 10301/17812 with 0 missing, elapsed time: 79.956
Imputing row 10401/17812 with 9 missing, elapsed time: 79.979
Imputing row 10501/17812 with 0 missing, elapsed time: 80.014
Imputing row 10601/17812 with 9 missing, elapsed time: 80.045
Imputing row 10701/17812 with 0 missing, elapsed time: 80.070
Imputing row 10801/17812 with 9 missing, elapsed time: 80.113
Imputing row 10901/17812 with 9 missing, elapsed time: 80.146

Imputing row 11001/17812 with 9 missing, elapsed time: 80.177
Imputing row 11101/17812 with 9 missing, elapsed time: 80.218
Imputing row 11201/17812 with 0 missing, elapsed time: 80.242
Imputing row 11301/17812 with 0 missing, elapsed time: 80.270
Imputing row 11401/17812 with 0 missing, elapsed time: 80.308
Imputing row 11501/17812 with 0 missing, elapsed time: 80.344
Imputing row 11601/17812 with 0 missing, elapsed time: 80.371
Imputing row 11701/17812 with 9 missing, elapsed time: 80.400
Imputing row 11801/17812 with 0 missing, elapsed time: 80.438
Imputing row 11901/17812 with 0 missing, elapsed time: 80.475
Imputing row 12001/17812 with 9 missing, elapsed time: 80.513
Imputing row 12101/17812 with 0 missing, elapsed time: 80.558
Imputing row 12201/17812 with 0 missing, elapsed time: 80.590
Imputing row 12301/17812 with 0 missing, elapsed time: 80.631
Imputing row 12401/17812 with 9 missing, elapsed time: 80.668
Imputing row 12501/17812 with 0 missing, elapsed time: 80.711
Imputing row 12601/17812 with 0 missing, elapsed time: 80.759
Imputing row 12701/17812 with 9 missing, elapsed time: 80.790
Imputing row 12801/17812 with 0 missing, elapsed time: 80.827
Imputing row 12901/17812 with 9 missing, elapsed time: 80.856
Imputing row 13001/17812 with 0 missing, elapsed time: 80.893
Imputing row 13101/17812 with 0 missing, elapsed time: 80.928
Imputing row 13201/17812 with 0 missing, elapsed time: 80.962
Imputing row 13301/17812 with 0 missing, elapsed time: 81.000
Imputing row 13401/17812 with 9 missing, elapsed time: 81.031
Imputing row 13501/17812 with 9 missing, elapsed time: 81.080
Imputing row 13601/17812 with 9 missing, elapsed time: 81.108
Imputing row 13701/17812 with 0 missing, elapsed time: 81.148
Imputing row 13801/17812 with 0 missing, elapsed time: 81.191
Imputing row 13901/17812 with 0 missing, elapsed time: 81.226
Imputing row 14001/17812 with 0 missing, elapsed time: 81.259
Imputing row 14101/17812 with 0 missing, elapsed time: 81.289
Imputing row 14201/17812 with 9 missing, elapsed time: 81.331
Imputing row 14301/17812 with 0 missing, elapsed time: 81.371
Imputing row 14401/17812 with 9 missing, elapsed time: 81.410
Imputing row 14501/17812 with 0 missing, elapsed time: 81.451
Imputing row 14601/17812 with 0 missing, elapsed time: 81.487
Imputing row 14701/17812 with 0 missing, elapsed time: 81.529
Imputing row 14801/17812 with 0 missing, elapsed time: 81.565
Imputing row 14901/17812 with 0 missing, elapsed time: 81.609
Imputing row 15001/17812 with 9 missing, elapsed time: 81.636
Imputing row 15101/17812 with 9 missing, elapsed time: 81.675
Imputing row 15201/17812 with 0 missing, elapsed time: 81.711
Imputing row 15301/17812 with 0 missing, elapsed time: 81.742
Imputing row 15401/17812 with 0 missing, elapsed time: 81.789
Imputing row 15501/17812 with 0 missing, elapsed time: 81.832
Imputing row 15601/17812 with 9 missing, elapsed time: 81.866
Imputing row 15701/17812 with 0 missing, elapsed time: 81.897
Imputing row 15801/17812 with 0 missing, elapsed time: 81.932
Imputing row 15901/17812 with 0 missing, elapsed time: 81.970
Imputing row 16001/17812 with 9 missing, elapsed time: 82.007
Imputing row 16101/17812 with 0 missing, elapsed time: 82.038
Imputing row 16201/17812 with 0 missing, elapsed time: 82.075
Imputing row 16301/17812 with 0 missing, elapsed time: 82.103
Imputing row 16401/17812 with 0 missing, elapsed time: 82.143
Imputing row 16501/17812 with 0 missing, elapsed time: 82.184
Imputing row 16601/17812 with 0 missing, elapsed time: 82.215
Imputing row 16701/17812 with 9 missing, elapsed time: 82.253
Imputing row 16801/17812 with 0 missing, elapsed time: 82.283
Imputing row 16901/17812 with 9 missing, elapsed time: 82.313
Imputing row 17001/17812 with 0 missing, elapsed time: 82.346
Imputing row 17101/17812 with 0 missing, elapsed time: 82.384
Imputing row 17201/17812 with 9 missing, elapsed time: 82.417
Imputing row 17301/17812 with 9 missing, elapsed time: 82.454
Imputing row 17401/17812 with 0 missing, elapsed time: 82.482
Imputing row 17501/17812 with 0 missing, elapsed time: 82.522
Imputing row 17601/17812 with 9 missing, elapsed time: 82.560
Imputing row 17701/17812 with 9 missing, elapsed time: 82.597
Imputing row 17801/17812 with 0 missing, elapsed time: 82.641
Imputing row 1/17812 with 0 missing, elapsed time: 67.424
Imputing row 101/17812 with 0 missing, elapsed time: 67.471
Imputing row 201/17812 with 0 missing, elapsed time: 67.533
Imputing row 301/17812 with 0 missing, elapsed time: 67.595
Imputing row 401/17812 with 0 missing, elapsed time: 67.648
Imputing row 501/17812 with 9 missing, elapsed time: 67.700
Imputing row 601/17812 with 9 missing, elapsed time: 67.753
Imputing row 701/17812 with 0 missing, elapsed time: 67.824
Imputing row 801/17812 with 9 missing, elapsed time: 67.883
Imputing row 901/17812 with 0 missing, elapsed time: 67.926
Imputing row 1001/17812 with 0 missing, elapsed time: 67.970
Imputing row 1101/17812 with 0 missing, elapsed time: 68.021
Imputing row 1201/17812 with 0 missing, elapsed time: 68.081
Imputing row 1301/17812 with 0 missing, elapsed time: 68.129
Imputing row 1401/17812 with 0 missing, elapsed time: 68.198
Imputing row 1501/17812 with 0 missing, elapsed time: 68.285
Imputing row 1601/17812 with 9 missing, elapsed time: 68.342
Imputing row 1701/17812 with 9 missing, elapsed time: 68.397
Imputing row 1801/17812 with 0 missing, elapsed time: 68.451
Imputing row 1901/17812 with 0 missing, elapsed time: 68.509
Imputing row 2001/17812 with 9 missing, elapsed time: 68.557
Imputing row 2101/17812 with 9 missing, elapsed time: 68.618
Imputing row 2201/17812 with 9 missing, elapsed time: 68.652
Imputing row 2301/17812 with 0 missing, elapsed time: 68.714
Imputing row 2401/17812 with 0 missing, elapsed time: 68.762
Imputing row 2501/17812 with 0 missing, elapsed time: 68.808
Imputing row 2601/17812 with 9 missing, elapsed time: 68.866
Imputing row 2701/17812 with 9 missing, elapsed time: 68.918
Imputing row 2801/17812 with 9 missing, elapsed time: 68.982
Imputing row 2901/17812 with 9 missing, elapsed time: 69.049
Imputing row 3001/17812 with 9 missing, elapsed time: 69.106
Imputing row 3101/17812 with 0 missing, elapsed time: 69.172
Imputing row 3201/17812 with 9 missing, elapsed time: 69.212
Imputing row 3301/17812 with 9 missing, elapsed time: 69.277
Imputing row 3401/17812 with 0 missing, elapsed time: 69.323
Imputing row 3501/17812 with 9 missing, elapsed time: 69.362
Imputing row 3601/17812 with 0 missing, elapsed time: 69.406
Imputing row 3701/17812 with 0 missing, elapsed time: 69.442
Imputing row 3801/17812 with 0 missing, elapsed time: 69.497
Imputing row 3901/17812 with 9 missing, elapsed time: 69.538
Imputing row 4001/17812 with 0 missing, elapsed time: 69.568
Imputing row 4101/17812 with 9 missing, elapsed time: 69.614
Imputing row 4201/17812 with 0 missing, elapsed time: 69.671
Imputing row 4301/17812 with 0 missing, elapsed time: 69.714
Imputing row 4401/17812 with 9 missing, elapsed time: 69.763
Imputing row 4501/17812 with 0 missing, elapsed time: 69.810
Imputing row 4601/17812 with 0 missing, elapsed time: 69.854
Imputing row 4701/17812 with 0 missing, elapsed time: 69.904
Imputing row 4801/17812 with 0 missing, elapsed time: 69.954
Imputing row 4901/17812 with 0 missing, elapsed time: 70.019
Imputing row 5001/17812 with 0 missing, elapsed time: 70.054
Imputing row 5101/17812 with 9 missing, elapsed time: 70.088
Imputing row 5201/17812 with 0 missing, elapsed time: 70.163
Imputing row 5301/17812 with 9 missing, elapsed time: 70.226
Imputing row 5401/17812 with 0 missing, elapsed time: 70.288
Imputing row 5501/17812 with 0 missing, elapsed time: 70.336
Imputing row 5601/17812 with 0 missing, elapsed time: 70.385
Imputing row 5701/17812 with 9 missing, elapsed time: 70.455
Imputing row 5801/17812 with 9 missing, elapsed time: 70.511
Imputing row 5901/17812 with 9 missing, elapsed time: 70.570
Imputing row 6001/17812 with 9 missing, elapsed time: 70.619
Imputing row 6101/17812 with 9 missing, elapsed time: 70.665
Imputing row 6201/17812 with 0 missing, elapsed time: 70.741
Imputing row 6301/17812 with 9 missing, elapsed time: 70.797
Imputing row 6401/17812 with 0 missing, elapsed time: 70.865
Imputing row 6501/17812 with 0 missing, elapsed time: 70.924
Imputing row 6601/17812 with 0 missing, elapsed time: 70.984
Imputing row 6701/17812 with 9 missing, elapsed time: 71.054

Imputing row 6801/17812 with 9 missing, elapsed time: 71.108
Imputing row 6901/17812 with 0 missing, elapsed time: 71.177
Imputing row 7001/17812 with 0 missing, elapsed time: 71.227
Imputing row 7101/17812 with 9 missing, elapsed time: 71.273
Imputing row 7201/17812 with 0 missing, elapsed time: 71.339
Imputing row 7301/17812 with 0 missing, elapsed time: 71.377
Imputing row 7401/17812 with 9 missing, elapsed time: 71.432
Imputing row 7501/17812 with 0 missing, elapsed time: 71.491
Imputing row 7601/17812 with 0 missing, elapsed time: 71.552
Imputing row 7701/17812 with 9 missing, elapsed time: 71.613
Imputing row 7801/17812 with 0 missing, elapsed time: 71.664
Imputing row 7901/17812 with 9 missing, elapsed time: 71.726
Imputing row 8001/17812 with 9 missing, elapsed time: 71.766
Imputing row 8101/17812 with 0 missing, elapsed time: 71.838
Imputing row 8201/17812 with 0 missing, elapsed time: 71.889
Imputing row 8301/17812 with 9 missing, elapsed time: 71.934
Imputing row 8401/17812 with 0 missing, elapsed time: 71.999
Imputing row 8501/17812 with 0 missing, elapsed time: 72.051
Imputing row 8601/17812 with 9 missing, elapsed time: 72.093
Imputing row 8701/17812 with 0 missing, elapsed time: 72.131
Imputing row 8801/17812 with 0 missing, elapsed time: 72.187
Imputing row 8901/17812 with 0 missing, elapsed time: 72.248
Imputing row 9001/17812 with 0 missing, elapsed time: 72.289
Imputing row 9101/17812 with 0 missing, elapsed time: 72.331
Imputing row 9201/17812 with 0 missing, elapsed time: 72.363
Imputing row 9301/17812 with 0 missing, elapsed time: 72.405
Imputing row 9401/17812 with 0 missing, elapsed time: 72.472
Imputing row 9501/17812 with 0 missing, elapsed time: 72.517
Imputing row 9601/17812 with 0 missing, elapsed time: 72.563
Imputing row 9701/17812 with 0 missing, elapsed time: 72.623
Imputing row 9801/17812 with 0 missing, elapsed time: 72.673
Imputing row 9901/17812 with 0 missing, elapsed time: 72.732
Imputing row 10001/17812 with 0 missing, elapsed time: 72.785
Imputing row 10101/17812 with 9 missing, elapsed time: 72.834
Imputing row 10201/17812 with 0 missing, elapsed time: 72.896
Imputing row 10301/17812 with 9 missing, elapsed time: 72.932
Imputing row 10401/17812 with 9 missing, elapsed time: 72.980
Imputing row 10501/17812 with 9 missing, elapsed time: 73.040
Imputing row 10601/17812 with 9 missing, elapsed time: 73.093
Imputing row 10701/17812 with 0 missing, elapsed time: 73.154
Imputing row 10801/17812 with 9 missing, elapsed time: 73.224
Imputing row 10901/17812 with 9 missing, elapsed time: 73.276
Imputing row 11001/17812 with 9 missing, elapsed time: 73.321
Imputing row 11101/17812 with 9 missing, elapsed time: 73.364
Imputing row 11201/17812 with 0 missing, elapsed time: 73.408
Imputing row 11301/17812 with 0 missing, elapsed time: 73.456
Imputing row 11401/17812 with 9 missing, elapsed time: 73.517
Imputing row 11501/17812 with 0 missing, elapsed time: 73.585
Imputing row 11601/17812 with 9 missing, elapsed time: 73.636
Imputing row 11701/17812 with 0 missing, elapsed time: 73.673
Imputing row 11801/17812 with 9 missing, elapsed time: 73.728
Imputing row 11901/17812 with 9 missing, elapsed time: 73.790
Imputing row 12001/17812 with 0 missing, elapsed time: 73.846
Imputing row 12101/17812 with 9 missing, elapsed time: 73.887
Imputing row 12201/17812 with 0 missing, elapsed time: 73.935
Imputing row 12301/17812 with 0 missing, elapsed time: 73.992
Imputing row 12401/17812 with 0 missing, elapsed time: 74.056
Imputing row 12501/17812 with 0 missing, elapsed time: 74.100
Imputing row 12601/17812 with 0 missing, elapsed time: 74.154
Imputing row 12701/17812 with 9 missing, elapsed time: 74.218
Imputing row 12801/17812 with 9 missing, elapsed time: 74.274
Imputing row 12901/17812 with 0 missing, elapsed time: 74.338
Imputing row 13001/17812 with 9 missing, elapsed time: 74.383
Imputing row 13101/17812 with 0 missing, elapsed time: 74.444
Imputing row 13201/17812 with 0 missing, elapsed time: 74.493
Imputing row 13301/17812 with 9 missing, elapsed time: 74.546
Imputing row 13401/17812 with 0 missing, elapsed time: 74.603
Imputing row 13501/17812 with 9 missing, elapsed time: 74.652
Imputing row 13601/17812 with 9 missing, elapsed time: 74.689
Imputing row 13701/17812 with 0 missing, elapsed time: 74.747
Imputing row 13801/17812 with 0 missing, elapsed time: 74.816
Imputing row 13901/17812 with 0 missing, elapsed time: 74.870
Imputing row 14001/17812 with 0 missing, elapsed time: 74.930
Imputing row 14101/17812 with 9 missing, elapsed time: 74.986
Imputing row 14201/17812 with 0 missing, elapsed time: 75.041
Imputing row 14301/17812 with 9 missing, elapsed time: 75.067
Imputing row 14401/17812 with 9 missing, elapsed time: 75.130
Imputing row 14501/17812 with 9 missing, elapsed time: 75.196
Imputing row 14601/17812 with 0 missing, elapsed time: 75.237
Imputing row 14701/17812 with 9 missing, elapsed time: 75.296
Imputing row 14801/17812 with 9 missing, elapsed time: 75.366
Imputing row 14901/17812 with 0 missing, elapsed time: 75.408
Imputing row 15001/17812 with 9 missing, elapsed time: 75.451
Imputing row 15101/17812 with 0 missing, elapsed time: 75.497
Imputing row 15201/17812 with 0 missing, elapsed time: 75.543
Imputing row 15301/17812 with 0 missing, elapsed time: 75.605
Imputing row 15401/17812 with 0 missing, elapsed time: 75.674
Imputing row 15501/17812 with 0 missing, elapsed time: 75.744
Imputing row 15601/17812 with 0 missing, elapsed time: 75.801
Imputing row 15701/17812 with 9 missing, elapsed time: 75.846
Imputing row 15801/17812 with 9 missing, elapsed time: 75.925
Imputing row 15901/17812 with 0 missing, elapsed time: 75.991
Imputing row 16001/17812 with 0 missing, elapsed time: 76.043
Imputing row 16101/17812 with 9 missing, elapsed time: 76.104
Imputing row 16201/17812 with 0 missing, elapsed time: 76.149
Imputing row 16301/17812 with 0 missing, elapsed time: 76.201
Imputing row 16401/17812 with 9 missing, elapsed time: 76.268
Imputing row 16501/17812 with 0 missing, elapsed time: 76.325
Imputing row 16601/17812 with 9 missing, elapsed time: 76.396
Imputing row 16701/17812 with 0 missing, elapsed time: 76.466
Imputing row 16801/17812 with 0 missing, elapsed time: 76.510
Imputing row 16901/17812 with 9 missing, elapsed time: 76.573
Imputing row 17001/17812 with 0 missing, elapsed time: 76.635
Imputing row 17101/17812 with 0 missing, elapsed time: 76.701
Imputing row 17201/17812 with 0 missing, elapsed time: 76.750
Imputing row 17301/17812 with 0 missing, elapsed time: 76.796
Imputing row 17401/17812 with 0 missing, elapsed time: 76.866
Imputing row 17501/17812 with 0 missing, elapsed time: 76.937
Imputing row 17601/17812 with 9 missing, elapsed time: 76.992
Imputing row 17701/17812 with 0 missing, elapsed time: 77.051
Imputing row 17801/17812 with 0 missing, elapsed time: 77.122
Imputing row 1/17812 with 0 missing, elapsed time: 63.027
Imputing row 101/17812 with 9 missing, elapsed time: 63.058
Imputing row 201/17812 with 0 missing, elapsed time: 63.101
Imputing row 301/17812 with 0 missing, elapsed time: 63.127
Imputing row 401/17812 with 0 missing, elapsed time: 63.178
Imputing row 501/17812 with 0 missing, elapsed time: 63.226
Imputing row 601/17812 with 0 missing, elapsed time: 63.255
Imputing row 701/17812 with 0 missing, elapsed time: 63.298
Imputing row 801/17812 with 9 missing, elapsed time: 63.329
Imputing row 901/17812 with 9 missing, elapsed time: 63.373
Imputing row 1001/17812 with 0 missing, elapsed time: 63.405
Imputing row 1101/17812 with 9 missing, elapsed time: 63.443
Imputing row 1201/17812 with 0 missing, elapsed time: 63.476
Imputing row 1301/17812 with 9 missing, elapsed time: 63.510
Imputing row 1401/17812 with 0 missing, elapsed time: 63.551
Imputing row 1501/17812 with 0 missing, elapsed time: 63.608
Imputing row 1601/17812 with 0 missing, elapsed time: 63.671
Imputing row 1701/17812 with 0 missing, elapsed time: 63.728
Imputing row 1801/17812 with 9 missing, elapsed time: 63.779
Imputing row 1901/17812 with 0 missing, elapsed time: 63.825
Imputing row 2001/17812 with 0 missing, elapsed time: 63.857
Imputing row 2101/17812 with 0 missing, elapsed time: 63.896
Imputing row 2201/17812 with 0 missing, elapsed time: 63.936
Imputing row 2301/17812 with 0 missing, elapsed time: 63.975
Imputing row 2401/17812 with 9 missing, elapsed time: 64.046
Imputing row 2501/17812 with 0 missing, elapsed time: 64.117

Imputing row 2601/17812 with 9 missing, elapsed time: 64.207
Imputing row 2701/17812 with 0 missing, elapsed time: 64.281
Imputing row 2801/17812 with 0 missing, elapsed time: 64.332
Imputing row 2901/17812 with 0 missing, elapsed time: 64.383
Imputing row 3001/17812 with 0 missing, elapsed time: 64.412
Imputing row 3101/17812 with 0 missing, elapsed time: 64.460
Imputing row 3201/17812 with 0 missing, elapsed time: 64.491
Imputing row 3301/17812 with 9 missing, elapsed time: 64.523
Imputing row 3401/17812 with 0 missing, elapsed time: 64.552
Imputing row 3501/17812 with 0 missing, elapsed time: 64.601
Imputing row 3601/17812 with 0 missing, elapsed time: 64.633
Imputing row 3701/17812 with 0 missing, elapsed time: 64.669
Imputing row 3801/17812 with 0 missing, elapsed time: 64.703
Imputing row 3901/17812 with 0 missing, elapsed time: 64.749
Imputing row 4001/17812 with 0 missing, elapsed time: 64.785
Imputing row 4101/17812 with 0 missing, elapsed time: 64.823
Imputing row 4201/17812 with 9 missing, elapsed time: 64.861
Imputing row 4301/17812 with 9 missing, elapsed time: 64.892
Imputing row 4401/17812 with 0 missing, elapsed time: 64.927
Imputing row 4501/17812 with 9 missing, elapsed time: 64.957
Imputing row 4601/17812 with 9 missing, elapsed time: 64.984
Imputing row 4701/17812 with 0 missing, elapsed time: 65.026
Imputing row 4801/17812 with 0 missing, elapsed time: 65.055
Imputing row 4901/17812 with 0 missing, elapsed time: 65.090
Imputing row 5001/17812 with 9 missing, elapsed time: 65.128
Imputing row 5101/17812 with 9 missing, elapsed time: 65.157
Imputing row 5201/17812 with 9 missing, elapsed time: 65.190
Imputing row 5301/17812 with 0 missing, elapsed time: 65.230
Imputing row 5401/17812 with 0 missing, elapsed time: 65.270
Imputing row 5501/17812 with 0 missing, elapsed time: 65.337
Imputing row 5601/17812 with 0 missing, elapsed time: 65.394
Imputing row 5701/17812 with 0 missing, elapsed time: 65.455
Imputing row 5801/17812 with 0 missing, elapsed time: 65.494
Imputing row 5901/17812 with 9 missing, elapsed time: 65.536
Imputing row 6001/17812 with 9 missing, elapsed time: 65.586
Imputing row 6101/17812 with 9 missing, elapsed time: 65.634
Imputing row 6201/17812 with 9 missing, elapsed time: 65.684
Imputing row 6301/17812 with 0 missing, elapsed time: 65.743
Imputing row 6401/17812 with 0 missing, elapsed time: 65.806
Imputing row 6501/17812 with 0 missing, elapsed time: 65.854
Imputing row 6601/17812 with 0 missing, elapsed time: 65.903
Imputing row 6701/17812 with 9 missing, elapsed time: 65.962
Imputing row 6801/17812 with 0 missing, elapsed time: 66.026
Imputing row 6901/17812 with 0 missing, elapsed time: 66.077
Imputing row 7001/17812 with 9 missing, elapsed time: 66.145
Imputing row 7101/17812 with 0 missing, elapsed time: 66.183
Imputing row 7201/17812 with 0 missing, elapsed time: 66.242
Imputing row 7301/17812 with 9 missing, elapsed time: 66.288
Imputing row 7401/17812 with 0 missing, elapsed time: 66.355
Imputing row 7501/17812 with 0 missing, elapsed time: 66.413
Imputing row 7601/17812 with 0 missing, elapsed time: 66.465
Imputing row 7701/17812 with 0 missing, elapsed time: 66.533
Imputing row 7801/17812 with 0 missing, elapsed time: 66.607
Imputing row 7901/17812 with 0 missing, elapsed time: 66.696
Imputing row 8001/17812 with 9 missing, elapsed time: 66.766
Imputing row 8101/17812 with 0 missing, elapsed time: 66.823
Imputing row 8201/17812 with 9 missing, elapsed time: 66.888
Imputing row 8301/17812 with 0 missing, elapsed time: 66.962
Imputing row 8401/17812 with 9 missing, elapsed time: 67.019
Imputing row 8501/17812 with 0 missing, elapsed time: 67.069
Imputing row 8601/17812 with 9 missing, elapsed time: 67.126
Imputing row 8701/17812 with 0 missing, elapsed time: 67.192
Imputing row 8801/17812 with 0 missing, elapsed time: 67.247
Imputing row 8901/17812 with 9 missing, elapsed time: 67.299
Imputing row 9001/17812 with 0 missing, elapsed time: 67.347
Imputing row 9101/17812 with 0 missing, elapsed time: 67.398
Imputing row 9201/17812 with 0 missing, elapsed time: 67.461
Imputing row 9301/17812 with 0 missing, elapsed time: 67.512
Imputing row 9401/17812 with 0 missing, elapsed time: 67.584
Imputing row 9501/17812 with 0 missing, elapsed time: 67.634
Imputing row 9601/17812 with 0 missing, elapsed time: 67.666
Imputing row 9701/17812 with 0 missing, elapsed time: 67.740
Imputing row 9801/17812 with 0 missing, elapsed time: 67.810
Imputing row 9901/17812 with 0 missing, elapsed time: 67.860
Imputing row 10001/17812 with 0 missing, elapsed time: 67.909
Imputing row 10101/17812 with 0 missing, elapsed time: 67.961
Imputing row 10201/17812 with 0 missing, elapsed time: 67.996
Imputing row 10301/17812 with 9 missing, elapsed time: 68.068
Imputing row 10401/17812 with 9 missing, elapsed time: 68.154
Imputing row 10501/17812 with 0 missing, elapsed time: 68.210
Imputing row 10601/17812 with 0 missing, elapsed time: 68.264
Imputing row 10701/17812 with 0 missing, elapsed time: 68.317
Imputing row 10801/17812 with 9 missing, elapsed time: 68.363
Imputing row 10901/17812 with 0 missing, elapsed time: 68.405
Imputing row 11001/17812 with 0 missing, elapsed time: 68.462
Imputing row 11101/17812 with 9 missing, elapsed time: 68.526
Imputing row 11201/17812 with 0 missing, elapsed time: 68.598
Imputing row 11301/17812 with 0 missing, elapsed time: 68.670
Imputing row 11401/17812 with 9 missing, elapsed time: 68.734
Imputing row 11501/17812 with 0 missing, elapsed time: 68.809
Imputing row 11601/17812 with 0 missing, elapsed time: 68.859
Imputing row 11701/17812 with 0 missing, elapsed time: 68.911
Imputing row 11801/17812 with 0 missing, elapsed time: 68.958
Imputing row 11901/17812 with 9 missing, elapsed time: 69.011
Imputing row 12001/17812 with 0 missing, elapsed time: 69.082
Imputing row 12101/17812 with 9 missing, elapsed time: 69.143
Imputing row 12201/17812 with 0 missing, elapsed time: 69.210
Imputing row 12301/17812 with 9 missing, elapsed time: 69.259
Imputing row 12401/17812 with 0 missing, elapsed time: 69.310
Imputing row 12501/17812 with 0 missing, elapsed time: 69.356
Imputing row 12601/17812 with 0 missing, elapsed time: 69.405
Imputing row 12701/17812 with 9 missing, elapsed time: 69.454
Imputing row 12801/17812 with 0 missing, elapsed time: 69.505
Imputing row 12901/17812 with 9 missing, elapsed time: 69.569
Imputing row 13001/17812 with 9 missing, elapsed time: 69.632
Imputing row 13101/17812 with 0 missing, elapsed time: 69.698
Imputing row 13201/17812 with 0 missing, elapsed time: 69.743
Imputing row 13301/17812 with 9 missing, elapsed time: 69.811
Imputing row 13401/17812 with 0 missing, elapsed time: 69.853
Imputing row 13501/17812 with 9 missing, elapsed time: 69.933
Imputing row 13601/17812 with 9 missing, elapsed time: 69.980
Imputing row 13701/17812 with 9 missing, elapsed time: 70.036
Imputing row 13801/17812 with 9 missing, elapsed time: 70.096
Imputing row 13901/17812 with 0 missing, elapsed time: 70.145
Imputing row 14001/17812 with 9 missing, elapsed time: 70.200
Imputing row 14101/17812 with 0 missing, elapsed time: 70.277
Imputing row 14201/17812 with 0 missing, elapsed time: 70.321
Imputing row 14301/17812 with 9 missing, elapsed time: 70.381
Imputing row 14401/17812 with 0 missing, elapsed time: 70.435
Imputing row 14501/17812 with 0 missing, elapsed time: 70.505
Imputing row 14601/17812 with 9 missing, elapsed time: 70.577
Imputing row 14701/17812 with 0 missing, elapsed time: 70.635
Imputing row 14801/17812 with 0 missing, elapsed time: 70.703
Imputing row 14901/17812 with 9 missing, elapsed time: 70.749
Imputing row 15001/17812 with 0 missing, elapsed time: 70.798
Imputing row 15101/17812 with 0 missing, elapsed time: 70.841
Imputing row 15201/17812 with 0 missing, elapsed time: 70.907
Imputing row 15301/17812 with 0 missing, elapsed time: 70.974
Imputing row 15401/17812 with 0 missing, elapsed time: 71.036
Imputing row 15501/17812 with 0 missing, elapsed time: 71.081
Imputing row 15601/17812 with 0 missing, elapsed time: 71.139
Imputing row 15701/17812 with 0 missing, elapsed time: 71.203
Imputing row 15801/17812 with 9 missing, elapsed time: 71.243
Imputing row 15901/17812 with 0 missing, elapsed time: 71.303
Imputing row 16001/17812 with 0 missing, elapsed time: 71.360
Imputing row 16101/17812 with 0 missing, elapsed time: 71.420
Imputing row 16201/17812 with 0 missing, elapsed time: 71.488

Imputing row 16301/17812 with 0 missing, elapsed time: 71.537
Imputing row 16401/17812 with 0 missing, elapsed time: 71.602
Imputing row 16501/17812 with 9 missing, elapsed time: 71.662
Imputing row 16601/17812 with 9 missing, elapsed time: 71.717
Imputing row 16701/17812 with 0 missing, elapsed time: 71.771
Imputing row 16801/17812 with 0 missing, elapsed time: 71.820
Imputing row 16901/17812 with 0 missing, elapsed time: 71.865
Imputing row 17001/17812 with 0 missing, elapsed time: 71.907
Imputing row 17101/17812 with 9 missing, elapsed time: 71.965
Imputing row 17201/17812 with 0 missing, elapsed time: 72.020
Imputing row 17301/17812 with 0 missing, elapsed time: 72.059
Imputing row 17401/17812 with 0 missing, elapsed time: 72.116
Imputing row 17501/17812 with 0 missing, elapsed time: 72.175
Imputing row 17601/17812 with 9 missing, elapsed time: 72.228
Imputing row 17701/17812 with 0 missing, elapsed time: 72.292
Imputing row 17801/17812 with 9 missing, elapsed time: 72.368
Imputing row 1/17812 with 0 missing, elapsed time: 74.414
Imputing row 101/17812 with 9 missing, elapsed time: 74.482
Imputing row 201/17812 with 0 missing, elapsed time: 74.526
Imputing row 301/17812 with 9 missing, elapsed time: 74.560
Imputing row 401/17812 with 0 missing, elapsed time: 74.599
Imputing row 501/17812 with 0 missing, elapsed time: 74.638
Imputing row 601/17812 with 9 missing, elapsed time: 74.669
Imputing row 701/17812 with 0 missing, elapsed time: 74.703
Imputing row 801/17812 with 9 missing, elapsed time: 74.750
Imputing row 901/17812 with 0 missing, elapsed time: 74.780
Imputing row 1001/17812 with 0 missing, elapsed time: 74.813
Imputing row 1101/17812 with 9 missing, elapsed time: 74.892
Imputing row 1201/17812 with 0 missing, elapsed time: 74.965
Imputing row 1301/17812 with 0 missing, elapsed time: 75.013
Imputing row 1401/17812 with 0 missing, elapsed time: 75.048
Imputing row 1501/17812 with 0 missing, elapsed time: 75.084
Imputing row 1601/17812 with 0 missing, elapsed time: 75.114
Imputing row 1701/17812 with 0 missing, elapsed time: 75.149
Imputing row 1801/17812 with 9 missing, elapsed time: 75.181
Imputing row 1901/17812 with 0 missing, elapsed time: 75.217
Imputing row 2001/17812 with 9 missing, elapsed time: 75.255
Imputing row 2101/17812 with 0 missing, elapsed time: 75.290
Imputing row 2201/17812 with 0 missing, elapsed time: 75.347
Imputing row 2301/17812 with 0 missing, elapsed time: 75.407
Imputing row 2401/17812 with 0 missing, elapsed time: 75.453
Imputing row 2501/17812 with 0 missing, elapsed time: 75.507
Imputing row 2601/17812 with 0 missing, elapsed time: 75.567
Imputing row 2701/17812 with 0 missing, elapsed time: 75.636
Imputing row 2801/17812 with 0 missing, elapsed time: 75.713
Imputing row 2901/17812 with 0 missing, elapsed time: 75.759
Imputing row 3001/17812 with 0 missing, elapsed time: 75.796
Imputing row 3101/17812 with 9 missing, elapsed time: 75.893
Imputing row 3201/17812 with 0 missing, elapsed time: 75.966
Imputing row 3301/17812 with 0 missing, elapsed time: 76.022
Imputing row 3401/17812 with 9 missing, elapsed time: 76.057
Imputing row 3501/17812 with 0 missing, elapsed time: 76.096
Imputing row 3601/17812 with 0 missing, elapsed time: 76.120
Imputing row 3701/17812 with 0 missing, elapsed time: 76.184
Imputing row 3801/17812 with 9 missing, elapsed time: 76.247
Imputing row 3901/17812 with 0 missing, elapsed time: 76.287
Imputing row 4001/17812 with 0 missing, elapsed time: 76.328
Imputing row 4101/17812 with 0 missing, elapsed time: 76.363
Imputing row 4201/17812 with 0 missing, elapsed time: 76.400
Imputing row 4301/17812 with 0 missing, elapsed time: 76.437
Imputing row 4401/17812 with 0 missing, elapsed time: 76.477
Imputing row 4501/17812 with 0 missing, elapsed time: 76.507
Imputing row 4601/17812 with 0 missing, elapsed time: 76.543
Imputing row 4701/17812 with 9 missing, elapsed time: 76.576
Imputing row 4801/17812 with 9 missing, elapsed time: 76.611
Imputing row 4901/17812 with 9 missing, elapsed time: 76.676
Imputing row 5001/17812 with 9 missing, elapsed time: 76.751
Imputing row 5101/17812 with 9 missing, elapsed time: 76.794
Imputing row 5201/17812 with 0 missing, elapsed time: 76.836
Imputing row 5301/17812 with 0 missing, elapsed time: 76.875
Imputing row 5401/17812 with 0 missing, elapsed time: 76.963
Imputing row 5501/17812 with 0 missing, elapsed time: 77.016
Imputing row 5601/17812 with 0 missing, elapsed time: 77.061
Imputing row 5701/17812 with 0 missing, elapsed time: 77.114
Imputing row 5801/17812 with 0 missing, elapsed time: 77.165
Imputing row 5901/17812 with 0 missing, elapsed time: 77.205
Imputing row 6001/17812 with 0 missing, elapsed time: 77.275
Imputing row 6101/17812 with 9 missing, elapsed time: 77.331
Imputing row 6201/17812 with 0 missing, elapsed time: 77.399
Imputing row 6301/17812 with 0 missing, elapsed time: 77.451
Imputing row 6401/17812 with 0 missing, elapsed time: 77.519
Imputing row 6501/17812 with 0 missing, elapsed time: 77.579
Imputing row 6601/17812 with 0 missing, elapsed time: 77.621
Imputing row 6701/17812 with 9 missing, elapsed time: 77.659
Imputing row 6801/17812 with 0 missing, elapsed time: 77.693
Imputing row 6901/17812 with 0 missing, elapsed time: 77.725
Imputing row 7001/17812 with 0 missing, elapsed time: 77.763
Imputing row 7101/17812 with 9 missing, elapsed time: 77.793
Imputing row 7201/17812 with 0 missing, elapsed time: 77.835
Imputing row 7301/17812 with 0 missing, elapsed time: 77.877
Imputing row 7401/17812 with 0 missing, elapsed time: 77.907
Imputing row 7501/17812 with 0 missing, elapsed time: 77.951
Imputing row 7601/17812 with 9 missing, elapsed time: 77.990
Imputing row 7701/17812 with 0 missing, elapsed time: 78.028
Imputing row 7801/17812 with 0 missing, elapsed time: 78.066
Imputing row 7901/17812 with 0 missing, elapsed time: 78.103
Imputing row 8001/17812 with 0 missing, elapsed time: 78.137
Imputing row 8101/17812 with 0 missing, elapsed time: 78.176
Imputing row 8201/17812 with 0 missing, elapsed time: 78.216
Imputing row 8301/17812 with 9 missing, elapsed time: 78.248
Imputing row 8401/17812 with 0 missing, elapsed time: 78.279
Imputing row 8501/17812 with 9 missing, elapsed time: 78.328
Imputing row 8601/17812 with 0 missing, elapsed time: 78.357
Imputing row 8701/17812 with 0 missing, elapsed time: 78.389
Imputing row 8801/17812 with 9 missing, elapsed time: 78.416
Imputing row 8901/17812 with 9 missing, elapsed time: 78.439
Imputing row 9001/17812 with 0 missing, elapsed time: 78.483
Imputing row 9101/17812 with 0 missing, elapsed time: 78.515
Imputing row 9201/17812 with 0 missing, elapsed time: 78.546
Imputing row 9301/17812 with 9 missing, elapsed time: 78.577
Imputing row 9401/17812 with 0 missing, elapsed time: 78.619
Imputing row 9501/17812 with 9 missing, elapsed time: 78.664
Imputing row 9601/17812 with 9 missing, elapsed time: 78.705
Imputing row 9701/17812 with 0 missing, elapsed time: 78.738
Imputing row 9801/17812 with 9 missing, elapsed time: 78.772
Imputing row 9901/17812 with 0 missing, elapsed time: 78.819
Imputing row 10001/17812 with 0 missing, elapsed time: 78.843
Imputing row 10101/17812 with 0 missing, elapsed time: 78.885
Imputing row 10201/17812 with 0 missing, elapsed time: 78.924
Imputing row 10301/17812 with 0 missing, elapsed time: 78.962
Imputing row 10401/17812 with 9 missing, elapsed time: 79.000
Imputing row 10501/17812 with 0 missing, elapsed time: 79.036
Imputing row 10601/17812 with 0 missing, elapsed time: 79.079
Imputing row 10701/17812 with 0 missing, elapsed time: 79.119
Imputing row 10801/17812 with 9 missing, elapsed time: 79.151
Imputing row 10901/17812 with 9 missing, elapsed time: 79.175
Imputing row 11001/17812 with 0 missing, elapsed time: 79.213
Imputing row 11101/17812 with 0 missing, elapsed time: 79.255
Imputing row 11201/17812 with 0 missing, elapsed time: 79.300
Imputing row 11301/17812 with 9 missing, elapsed time: 79.338
Imputing row 11401/17812 with 0 missing, elapsed time: 79.376
Imputing row 11501/17812 with 0 missing, elapsed time: 79.406
Imputing row 11601/17812 with 9 missing, elapsed time: 79.444
Imputing row 11701/17812 with 0 missing, elapsed time: 79.480
Imputing row 11801/17812 with 0 missing, elapsed time: 79.513
Imputing row 11901/17812 with 0 missing, elapsed time: 79.542
Imputing row 12001/17812 with 0 missing, elapsed time: 79.567

Imputing row 12101/17812 with 0 missing, elapsed time: 79.603
Imputing row 12201/17812 with 0 missing, elapsed time: 79.631
Imputing row 12301/17812 with 0 missing, elapsed time: 79.671
Imputing row 12401/17812 with 0 missing, elapsed time: 79.717
Imputing row 12501/17812 with 0 missing, elapsed time: 79.756
Imputing row 12601/17812 with 0 missing, elapsed time: 79.782
Imputing row 12701/17812 with 9 missing, elapsed time: 79.816
Imputing row 12801/17812 with 0 missing, elapsed time: 79.848
Imputing row 12901/17812 with 9 missing, elapsed time: 79.889
Imputing row 13001/17812 with 0 missing, elapsed time: 79.924
Imputing row 13101/17812 with 0 missing, elapsed time: 79.961
Imputing row 13201/17812 with 0 missing, elapsed time: 79.997
Imputing row 13301/17812 with 9 missing, elapsed time: 80.033
Imputing row 13401/17812 with 9 missing, elapsed time: 80.071
Imputing row 13501/17812 with 9 missing, elapsed time: 80.111
Imputing row 13601/17812 with 0 missing, elapsed time: 80.136
Imputing row 13701/17812 with 0 missing, elapsed time: 80.168
Imputing row 13801/17812 with 9 missing, elapsed time: 80.204
Imputing row 13901/17812 with 9 missing, elapsed time: 80.243
Imputing row 14001/17812 with 0 missing, elapsed time: 80.273
Imputing row 14101/17812 with 0 missing, elapsed time: 80.307
Imputing row 14201/17812 with 0 missing, elapsed time: 80.331
Imputing row 14301/17812 with 0 missing, elapsed time: 80.357
Imputing row 14401/17812 with 0 missing, elapsed time: 80.391
Imputing row 14501/17812 with 0 missing, elapsed time: 80.428
Imputing row 14601/17812 with 0 missing, elapsed time: 80.460
Imputing row 14701/17812 with 0 missing, elapsed time: 80.493
Imputing row 14801/17812 with 0 missing, elapsed time: 80.534
Imputing row 14901/17812 with 0 missing, elapsed time: 80.566
Imputing row 15001/17812 with 9 missing, elapsed time: 80.600
Imputing row 15101/17812 with 0 missing, elapsed time: 80.632
Imputing row 15201/17812 with 9 missing, elapsed time: 80.670
Imputing row 15301/17812 with 0 missing, elapsed time: 80.714
Imputing row 15401/17812 with 0 missing, elapsed time: 80.749
Imputing row 15501/17812 with 9 missing, elapsed time: 80.785
Imputing row 15601/17812 with 9 missing, elapsed time: 80.823
Imputing row 15701/17812 with 0 missing, elapsed time: 80.869
Imputing row 15801/17812 with 9 missing, elapsed time: 80.905
Imputing row 15901/17812 with 0 missing, elapsed time: 80.946
Imputing row 16001/17812 with 0 missing, elapsed time: 80.990
Imputing row 16101/17812 with 0 missing, elapsed time: 81.030
Imputing row 16201/17812 with 0 missing, elapsed time: 81.067
Imputing row 16301/17812 with 0 missing, elapsed time: 81.101
Imputing row 16401/17812 with 9 missing, elapsed time: 81.131
Imputing row 16501/17812 with 9 missing, elapsed time: 81.168
Imputing row 16601/17812 with 0 missing, elapsed time: 81.210
Imputing row 16701/17812 with 0 missing, elapsed time: 81.251
Imputing row 16801/17812 with 0 missing, elapsed time: 81.287
Imputing row 16901/17812 with 9 missing, elapsed time: 81.315
Imputing row 17001/17812 with 0 missing, elapsed time: 81.348
Imputing row 17101/17812 with 0 missing, elapsed time: 81.383
Imputing row 17201/17812 with 9 missing, elapsed time: 81.418
Imputing row 17301/17812 with 0 missing, elapsed time: 81.455
Imputing row 17401/17812 with 9 missing, elapsed time: 81.485
Imputing row 17501/17812 with 0 missing, elapsed time: 81.531
Imputing row 17601/17812 with 9 missing, elapsed time: 81.568
Imputing row 17701/17812 with 0 missing, elapsed time: 81.606
Imputing row 17801/17812 with 0 missing, elapsed time: 81.640
Imputing row 1/17812 with 0 missing, elapsed time: 72.915
Imputing row 101/17812 with 0 missing, elapsed time: 72.980
Imputing row 201/17812 with 0 missing, elapsed time: 73.027
Imputing row 301/17812 with 0 missing, elapsed time: 73.071
Imputing row 401/17812 with 0 missing, elapsed time: 73.125
Imputing row 501/17812 with 0 missing, elapsed time: 73.172
Imputing row 601/17812 with 9 missing, elapsed time: 73.220
Imputing row 701/17812 with 0 missing, elapsed time: 73.285
Imputing row 801/17812 with 0 missing, elapsed time: 73.325
Imputing row 901/17812 with 0 missing, elapsed time: 73.398
Imputing row 1001/17812 with 0 missing, elapsed time: 73.463
Imputing row 1101/17812 with 0 missing, elapsed time: 73.523
Imputing row 1201/17812 with 0 missing, elapsed time: 73.580
Imputing row 1301/17812 with 9 missing, elapsed time: 73.628
Imputing row 1401/17812 with 9 missing, elapsed time: 73.671
Imputing row 1501/17812 with 0 missing, elapsed time: 73.710
Imputing row 1601/17812 with 0 missing, elapsed time: 73.784
Imputing row 1701/17812 with 9 missing, elapsed time: 73.833
Imputing row 1801/17812 with 9 missing, elapsed time: 73.882
Imputing row 1901/17812 with 0 missing, elapsed time: 73.936
Imputing row 2001/17812 with 0 missing, elapsed time: 73.985
Imputing row 2101/17812 with 0 missing, elapsed time: 74.033
Imputing row 2201/17812 with 0 missing, elapsed time: 74.091
Imputing row 2301/17812 with 9 missing, elapsed time: 74.147
Imputing row 2401/17812 with 9 missing, elapsed time: 74.213
Imputing row 2501/17812 with 9 missing, elapsed time: 74.281
Imputing row 2601/17812 with 9 missing, elapsed time: 74.329
Imputing row 2701/17812 with 0 missing, elapsed time: 74.409
Imputing row 2801/17812 with 0 missing, elapsed time: 74.474
Imputing row 2901/17812 with 0 missing, elapsed time: 74.538
Imputing row 3001/17812 with 9 missing, elapsed time: 74.592
Imputing row 3101/17812 with 9 missing, elapsed time: 74.630
Imputing row 3201/17812 with 9 missing, elapsed time: 74.690
Imputing row 3301/17812 with 9 missing, elapsed time: 74.740
Imputing row 3401/17812 with 0 missing, elapsed time: 74.791
Imputing row 3501/17812 with 0 missing, elapsed time: 74.847
Imputing row 3601/17812 with 0 missing, elapsed time: 74.912
Imputing row 3701/17812 with 0 missing, elapsed time: 74.989
Imputing row 3801/17812 with 0 missing, elapsed time: 75.048
Imputing row 3901/17812 with 0 missing, elapsed time: 75.086
Imputing row 4001/17812 with 0 missing, elapsed time: 75.129
Imputing row 4101/17812 with 0 missing, elapsed time: 75.177
Imputing row 4201/17812 with 0 missing, elapsed time: 75.221
Imputing row 4301/17812 with 0 missing, elapsed time: 75.263
Imputing row 4401/17812 with 9 missing, elapsed time: 75.309
Imputing row 4501/17812 with 0 missing, elapsed time: 75.363
Imputing row 4601/17812 with 0 missing, elapsed time: 75.427
Imputing row 4701/17812 with 0 missing, elapsed time: 75.463
Imputing row 4801/17812 with 0 missing, elapsed time: 75.513
Imputing row 4901/17812 with 9 missing, elapsed time: 75.556
Imputing row 5001/17812 with 9 missing, elapsed time: 75.611
Imputing row 5101/17812 with 0 missing, elapsed time: 75.664
Imputing row 5201/17812 with 0 missing, elapsed time: 75.721
Imputing row 5301/17812 with 9 missing, elapsed time: 75.790
Imputing row 5401/17812 with 0 missing, elapsed time: 75.855
Imputing row 5501/17812 with 9 missing, elapsed time: 75.883
Imputing row 5601/17812 with 0 missing, elapsed time: 75.937
Imputing row 5701/17812 with 0 missing, elapsed time: 75.998
Imputing row 5801/17812 with 9 missing, elapsed time: 76.062
Imputing row 5901/17812 with 0 missing, elapsed time: 76.130
Imputing row 6001/17812 with 0 missing, elapsed time: 76.171
Imputing row 6101/17812 with 0 missing, elapsed time: 76.205
Imputing row 6201/17812 with 9 missing, elapsed time: 76.237
Imputing row 6301/17812 with 0 missing, elapsed time: 76.306
Imputing row 6401/17812 with 0 missing, elapsed time: 76.370
Imputing row 6501/17812 with 0 missing, elapsed time: 76.417
Imputing row 6601/17812 with 9 missing, elapsed time: 76.473
Imputing row 6701/17812 with 9 missing, elapsed time: 76.526
Imputing row 6801/17812 with 0 missing, elapsed time: 76.574
Imputing row 6901/17812 with 9 missing, elapsed time: 76.649
Imputing row 7001/17812 with 9 missing, elapsed time: 76.706
Imputing row 7101/17812 with 9 missing, elapsed time: 76.750
Imputing row 7201/17812 with 9 missing, elapsed time: 76.814
Imputing row 7301/17812 with 9 missing, elapsed time: 76.858
Imputing row 7401/17812 with 0 missing, elapsed time: 76.915
Imputing row 7501/17812 with 9 missing, elapsed time: 76.976
Imputing row 7601/17812 with 0 missing, elapsed time: 77.035
Imputing row 7701/17812 with 0 missing, elapsed time: 77.073
Imputing row 7801/17812 with 0 missing, elapsed time: 77.126
Imputing row 7901/17812 with 9 missing, elapsed time: 77.164

Imputing row 8001/17812 with 0 missing, elapsed time: 77.192
Imputing row 8101/17812 with 0 missing, elapsed time: 77.233
Imputing row 8201/17812 with 0 missing, elapsed time: 77.266
Imputing row 8301/17812 with 0 missing, elapsed time: 77.304
Imputing row 8401/17812 with 0 missing, elapsed time: 77.338
Imputing row 8501/17812 with 0 missing, elapsed time: 77.375
Imputing row 8601/17812 with 0 missing, elapsed time: 77.413
Imputing row 8701/17812 with 0 missing, elapsed time: 77.456
Imputing row 8801/17812 with 9 missing, elapsed time: 77.485
Imputing row 8901/17812 with 0 missing, elapsed time: 77.523
Imputing row 9001/17812 with 0 missing, elapsed time: 77.575
Imputing row 9101/17812 with 9 missing, elapsed time: 77.615
Imputing row 9201/17812 with 0 missing, elapsed time: 77.648
Imputing row 9301/17812 with 9 missing, elapsed time: 77.683
Imputing row 9401/17812 with 9 missing, elapsed time: 77.711
Imputing row 9501/17812 with 0 missing, elapsed time: 77.746
Imputing row 9601/17812 with 9 missing, elapsed time: 77.772
Imputing row 9701/17812 with 9 missing, elapsed time: 77.804
Imputing row 9801/17812 with 0 missing, elapsed time: 77.839
Imputing row 9901/17812 with 0 missing, elapsed time: 77.876
Imputing row 10001/17812 with 0 missing, elapsed time: 77.909
Imputing row 10101/17812 with 0 missing, elapsed time: 77.953
Imputing row 10201/17812 with 0 missing, elapsed time: 77.996
Imputing row 10301/17812 with 9 missing, elapsed time: 78.024
Imputing row 10401/17812 with 0 missing, elapsed time: 78.058
Imputing row 10501/17812 with 9 missing, elapsed time: 78.099
Imputing row 10601/17812 with 0 missing, elapsed time: 78.139
Imputing row 10701/17812 with 0 missing, elapsed time: 78.167
Imputing row 10801/17812 with 0 missing, elapsed time: 78.193
Imputing row 10901/17812 with 0 missing, elapsed time: 78.219
Imputing row 11001/17812 with 9 missing, elapsed time: 78.251
Imputing row 11101/17812 with 0 missing, elapsed time: 78.292
Imputing row 11201/17812 with 0 missing, elapsed time: 78.317
Imputing row 11301/17812 with 9 missing, elapsed time: 78.349
Imputing row 11401/17812 with 9 missing, elapsed time: 78.384
Imputing row 11501/17812 with 9 missing, elapsed time: 78.422
Imputing row 11601/17812 with 9 missing, elapsed time: 78.460
Imputing row 11701/17812 with 0 missing, elapsed time: 78.491
Imputing row 11801/17812 with 0 missing, elapsed time: 78.534
Imputing row 11901/17812 with 0 missing, elapsed time: 78.570
Imputing row 12001/17812 with 0 missing, elapsed time: 78.608
Imputing row 12101/17812 with 0 missing, elapsed time: 78.639
Imputing row 12201/17812 with 9 missing, elapsed time: 78.672
Imputing row 12301/17812 with 0 missing, elapsed time: 78.708
Imputing row 12401/17812 with 0 missing, elapsed time: 78.743
Imputing row 12501/17812 with 0 missing, elapsed time: 78.775
Imputing row 12601/17812 with 9 missing, elapsed time: 78.804
Imputing row 12701/17812 with 0 missing, elapsed time: 78.847
Imputing row 12801/17812 with 0 missing, elapsed time: 78.879
Imputing row 12901/17812 with 0 missing, elapsed time: 78.916
Imputing row 13001/17812 with 0 missing, elapsed time: 78.952
Imputing row 13101/17812 with 0 missing, elapsed time: 78.982
Imputing row 13201/17812 with 0 missing, elapsed time: 79.011
Imputing row 13301/17812 with 0 missing, elapsed time: 79.048
Imputing row 13401/17812 with 9 missing, elapsed time: 79.083
Imputing row 13501/17812 with 9 missing, elapsed time: 79.128
Imputing row 13601/17812 with 9 missing, elapsed time: 79.175
Imputing row 13701/17812 with 0 missing, elapsed time: 79.211
Imputing row 13801/17812 with 9 missing, elapsed time: 79.239
Imputing row 13901/17812 with 0 missing, elapsed time: 79.273
Imputing row 14001/17812 with 0 missing, elapsed time: 79.316
Imputing row 14101/17812 with 0 missing, elapsed time: 79.347
Imputing row 14201/17812 with 9 missing, elapsed time: 79.383
Imputing row 14301/17812 with 0 missing, elapsed time: 79.429
Imputing row 14401/17812 with 0 missing, elapsed time: 79.465
Imputing row 14501/17812 with 0 missing, elapsed time: 79.503
Imputing row 14601/17812 with 0 missing, elapsed time: 79.551
Imputing row 14701/17812 with 9 missing, elapsed time: 79.590
Imputing row 14801/17812 with 9 missing, elapsed time: 79.625
Imputing row 14901/17812 with 0 missing, elapsed time: 79.669
Imputing row 15001/17812 with 0 missing, elapsed time: 79.706
Imputing row 15101/17812 with 0 missing, elapsed time: 79.749
Imputing row 15201/17812 with 0 missing, elapsed time: 79.787
Imputing row 15301/17812 with 0 missing, elapsed time: 79.812
Imputing row 15401/17812 with 0 missing, elapsed time: 79.855
Imputing row 15501/17812 with 0 missing, elapsed time: 79.883
Imputing row 15601/17812 with 9 missing, elapsed time: 79.915
Imputing row 15701/17812 with 9 missing, elapsed time: 79.953
Imputing row 15801/17812 with 0 missing, elapsed time: 79.983
Imputing row 15901/17812 with 0 missing, elapsed time: 80.027
Imputing row 16001/17812 with 0 missing, elapsed time: 80.103
Imputing row 16101/17812 with 0 missing, elapsed time: 80.151
Imputing row 16201/17812 with 0 missing, elapsed time: 80.208
Imputing row 16301/17812 with 9 missing, elapsed time: 80.286
Imputing row 16401/17812 with 0 missing, elapsed time: 80.347
Imputing row 16501/17812 with 0 missing, elapsed time: 80.430
Imputing row 16601/17812 with 9 missing, elapsed time: 80.508
Imputing row 16701/17812 with 9 missing, elapsed time: 80.575
Imputing row 16801/17812 with 9 missing, elapsed time: 80.624
Imputing row 16901/17812 with 0 missing, elapsed time: 80.664
Imputing row 17001/17812 with 0 missing, elapsed time: 80.693
Imputing row 17101/17812 with 0 missing, elapsed time: 80.733
Imputing row 17201/17812 with 0 missing, elapsed time: 80.773
Imputing row 17301/17812 with 0 missing, elapsed time: 80.810
Imputing row 17401/17812 with 0 missing, elapsed time: 80.845
Imputing row 17501/17812 with 0 missing, elapsed time: 80.876
Imputing row 17601/17812 with 0 missing, elapsed time: 80.909
Imputing row 17701/17812 with 9 missing, elapsed time: 80.943
Imputing row 17801/17812 with 0 missing, elapsed time: 80.984
Imputing row 1/17812 with 0 missing, elapsed time: 73.887
Imputing row 101/17812 with 0 missing, elapsed time: 73.943
Imputing row 201/17812 with 0 missing, elapsed time: 74.003
Imputing row 301/17812 with 0 missing, elapsed time: 74.083
Imputing row 401/17812 with 9 missing, elapsed time: 74.150
Imputing row 501/17812 with 9 missing, elapsed time: 74.206
Imputing row 601/17812 with 0 missing, elapsed time: 74.272
Imputing row 701/17812 with 9 missing, elapsed time: 74.341
Imputing row 801/17812 with 9 missing, elapsed time: 74.392
Imputing row 901/17812 with 0 missing, elapsed time: 74.453
Imputing row 1001/17812 with 0 missing, elapsed time: 74.499
Imputing row 1101/17812 with 0 missing, elapsed time: 74.559
Imputing row 1201/17812 with 9 missing, elapsed time: 74.626
Imputing row 1301/17812 with 0 missing, elapsed time: 74.689
Imputing row 1401/17812 with 0 missing, elapsed time: 74.736
Imputing row 1501/17812 with 9 missing, elapsed time: 74.777
Imputing row 1601/17812 with 0 missing, elapsed time: 74.817
Imputing row 1701/17812 with 9 missing, elapsed time: 74.870
Imputing row 1801/17812 with 0 missing, elapsed time: 74.944
Imputing row 1901/17812 with 0 missing, elapsed time: 74.998
Imputing row 2001/17812 with 0 missing, elapsed time: 75.046
Imputing row 2101/17812 with 0 missing, elapsed time: 75.111
Imputing row 2201/17812 with 9 missing, elapsed time: 75.164
Imputing row 2301/17812 with 0 missing, elapsed time: 75.210
Imputing row 2401/17812 with 0 missing, elapsed time: 75.248
Imputing row 2501/17812 with 9 missing, elapsed time: 75.301
Imputing row 2601/17812 with 0 missing, elapsed time: 75.360
Imputing row 2701/17812 with 0 missing, elapsed time: 75.423
Imputing row 2801/17812 with 9 missing, elapsed time: 75.508
Imputing row 2901/17812 with 0 missing, elapsed time: 75.574
Imputing row 3001/17812 with 9 missing, elapsed time: 75.613
Imputing row 3101/17812 with 0 missing, elapsed time: 75.674
Imputing row 3201/17812 with 0 missing, elapsed time: 75.731
Imputing row 3301/17812 with 0 missing, elapsed time: 75.778
Imputing row 3401/17812 with 0 missing, elapsed time: 75.828
Imputing row 3501/17812 with 9 missing, elapsed time: 75.898
Imputing row 3601/17812 with 0 missing, elapsed time: 75.955

Imputing row 3701/17812 with 0 missing, elapsed time: 76.007
Imputing row 3801/17812 with 0 missing, elapsed time: 76.050
Imputing row 3901/17812 with 0 missing, elapsed time: 76.090
Imputing row 4001/17812 with 0 missing, elapsed time: 76.138
Imputing row 4101/17812 with 9 missing, elapsed time: 76.186
Imputing row 4201/17812 with 0 missing, elapsed time: 76.232
Imputing row 4301/17812 with 0 missing, elapsed time: 76.277
Imputing row 4401/17812 with 0 missing, elapsed time: 76.321
Imputing row 4501/17812 with 0 missing, elapsed time: 76.383
Imputing row 4601/17812 with 9 missing, elapsed time: 76.440
Imputing row 4701/17812 with 0 missing, elapsed time: 76.502
Imputing row 4801/17812 with 0 missing, elapsed time: 76.567
Imputing row 4901/17812 with 9 missing, elapsed time: 76.614
Imputing row 5001/17812 with 9 missing, elapsed time: 76.671
Imputing row 5101/17812 with 9 missing, elapsed time: 76.742
Imputing row 5201/17812 with 0 missing, elapsed time: 76.797
Imputing row 5301/17812 with 0 missing, elapsed time: 76.845
Imputing row 5401/17812 with 0 missing, elapsed time: 76.891
Imputing row 5501/17812 with 0 missing, elapsed time: 76.944
Imputing row 5601/17812 with 9 missing, elapsed time: 77.006
Imputing row 5701/17812 with 9 missing, elapsed time: 77.054
Imputing row 5801/17812 with 9 missing, elapsed time: 77.129
Imputing row 5901/17812 with 9 missing, elapsed time: 77.188
Imputing row 6001/17812 with 9 missing, elapsed time: 77.233
Imputing row 6101/17812 with 0 missing, elapsed time: 77.289
Imputing row 6201/17812 with 0 missing, elapsed time: 77.347
Imputing row 6301/17812 with 0 missing, elapsed time: 77.399
Imputing row 6401/17812 with 9 missing, elapsed time: 77.444
Imputing row 6501/17812 with 9 missing, elapsed time: 77.498
Imputing row 6601/17812 with 9 missing, elapsed time: 77.563
Imputing row 6701/17812 with 9 missing, elapsed time: 77.617
Imputing row 6801/17812 with 9 missing, elapsed time: 77.667
Imputing row 6901/17812 with 9 missing, elapsed time: 77.722
Imputing row 7001/17812 with 9 missing, elapsed time: 77.768
Imputing row 7101/17812 with 0 missing, elapsed time: 77.801
Imputing row 7201/17812 with 0 missing, elapsed time: 77.857
Imputing row 7301/17812 with 0 missing, elapsed time: 77.907
Imputing row 7401/17812 with 9 missing, elapsed time: 77.956
Imputing row 7501/17812 with 0 missing, elapsed time: 78.019
Imputing row 7601/17812 with 0 missing, elapsed time: 78.072
Imputing row 7701/17812 with 9 missing, elapsed time: 78.111
Imputing row 7801/17812 with 0 missing, elapsed time: 78.159
Imputing row 7901/17812 with 0 missing, elapsed time: 78.219
Imputing row 8001/17812 with 0 missing, elapsed time: 78.276
Imputing row 8101/17812 with 0 missing, elapsed time: 78.350
Imputing row 8201/17812 with 9 missing, elapsed time: 78.420
Imputing row 8301/17812 with 0 missing, elapsed time: 78.489
Imputing row 8401/17812 with 9 missing, elapsed time: 78.554
Imputing row 8501/17812 with 0 missing, elapsed time: 78.607
Imputing row 8601/17812 with 0 missing, elapsed time: 78.661
Imputing row 8701/17812 with 0 missing, elapsed time: 78.717
Imputing row 8801/17812 with 0 missing, elapsed time: 78.796
Imputing row 8901/17812 with 0 missing, elapsed time: 78.861
Imputing row 9001/17812 with 0 missing, elapsed time: 78.913
Imputing row 9101/17812 with 0 missing, elapsed time: 78.980
Imputing row 9201/17812 with 0 missing, elapsed time: 79.045
Imputing row 9301/17812 with 9 missing, elapsed time: 79.107
Imputing row 9401/17812 with 0 missing, elapsed time: 79.151
Imputing row 9501/17812 with 0 missing, elapsed time: 79.219
Imputing row 9601/17812 with 0 missing, elapsed time: 79.276
Imputing row 9701/17812 with 9 missing, elapsed time: 79.344
Imputing row 9801/17812 with 0 missing, elapsed time: 79.395
Imputing row 9901/17812 with 0 missing, elapsed time: 79.446
Imputing row 10001/17812 with 0 missing, elapsed time: 79.504
Imputing row 10101/17812 with 0 missing, elapsed time: 79.561
Imputing row 10201/17812 with 0 missing, elapsed time: 79.602
Imputing row 10301/17812 with 9 missing, elapsed time: 79.667
Imputing row 10401/17812 with 9 missing, elapsed time: 79.704
Imputing row 10501/17812 with 0 missing, elapsed time: 79.756
Imputing row 10601/17812 with 9 missing, elapsed time: 79.789
Imputing row 10701/17812 with 0 missing, elapsed time: 79.837
Imputing row 10801/17812 with 9 missing, elapsed time: 79.896
Imputing row 10901/17812 with 0 missing, elapsed time: 79.973
Imputing row 11001/17812 with 0 missing, elapsed time: 80.014
Imputing row 11101/17812 with 0 missing, elapsed time: 80.091
Imputing row 11201/17812 with 0 missing, elapsed time: 80.141
Imputing row 11301/17812 with 0 missing, elapsed time: 80.193
Imputing row 11401/17812 with 0 missing, elapsed time: 80.246
Imputing row 11501/17812 with 0 missing, elapsed time: 80.313
Imputing row 11601/17812 with 9 missing, elapsed time: 80.350
Imputing row 11701/17812 with 9 missing, elapsed time: 80.405
Imputing row 11801/17812 with 0 missing, elapsed time: 80.458
Imputing row 11901/17812 with 0 missing, elapsed time: 80.511
Imputing row 12001/17812 with 9 missing, elapsed time: 80.559
Imputing row 12101/17812 with 9 missing, elapsed time: 80.616
Imputing row 12201/17812 with 0 missing, elapsed time: 80.665
Imputing row 12301/17812 with 9 missing, elapsed time: 80.708
Imputing row 12401/17812 with 0 missing, elapsed time: 80.760
Imputing row 12501/17812 with 0 missing, elapsed time: 80.803
Imputing row 12601/17812 with 9 missing, elapsed time: 80.857
Imputing row 12701/17812 with 0 missing, elapsed time: 80.906
Imputing row 12801/17812 with 9 missing, elapsed time: 80.949
Imputing row 12901/17812 with 0 missing, elapsed time: 81.002
Imputing row 13001/17812 with 9 missing, elapsed time: 81.075
Imputing row 13101/17812 with 0 missing, elapsed time: 81.125
Imputing row 13201/17812 with 0 missing, elapsed time: 81.179
Imputing row 13301/17812 with 0 missing, elapsed time: 81.226
Imputing row 13401/17812 with 0 missing, elapsed time: 81.276
Imputing row 13501/17812 with 9 missing, elapsed time: 81.325
Imputing row 13601/17812 with 0 missing, elapsed time: 81.355
Imputing row 13701/17812 with 0 missing, elapsed time: 81.425
Imputing row 13801/17812 with 9 missing, elapsed time: 81.498
Imputing row 13901/17812 with 0 missing, elapsed time: 81.542
Imputing row 14001/17812 with 0 missing, elapsed time: 81.576
Imputing row 14101/17812 with 9 missing, elapsed time: 81.622
Imputing row 14201/17812 with 0 missing, elapsed time: 81.672
Imputing row 14301/17812 with 9 missing, elapsed time: 81.724
Imputing row 14401/17812 with 0 missing, elapsed time: 81.768
Imputing row 14501/17812 with 0 missing, elapsed time: 81.831
Imputing row 14601/17812 with 0 missing, elapsed time: 81.892
Imputing row 14701/17812 with 0 missing, elapsed time: 81.958
Imputing row 14801/17812 with 0 missing, elapsed time: 82.013
Imputing row 14901/17812 with 9 missing, elapsed time: 82.078
Imputing row 15001/17812 with 0 missing, elapsed time: 82.120
Imputing row 15101/17812 with 9 missing, elapsed time: 82.171
Imputing row 15201/17812 with 0 missing, elapsed time: 82.232
Imputing row 15301/17812 with 0 missing, elapsed time: 82.266
Imputing row 15401/17812 with 9 missing, elapsed time: 82.315
Imputing row 15501/17812 with 0 missing, elapsed time: 82.380
Imputing row 15601/17812 with 9 missing, elapsed time: 82.454
Imputing row 15701/17812 with 0 missing, elapsed time: 82.510
Imputing row 15801/17812 with 9 missing, elapsed time: 82.568
Imputing row 15901/17812 with 0 missing, elapsed time: 82.625
Imputing row 16001/17812 with 0 missing, elapsed time: 82.690
Imputing row 16101/17812 with 0 missing, elapsed time: 82.743
Imputing row 16201/17812 with 0 missing, elapsed time: 82.787
Imputing row 16301/17812 with 0 missing, elapsed time: 82.833
Imputing row 16401/17812 with 0 missing, elapsed time: 82.884
Imputing row 16501/17812 with 9 missing, elapsed time: 82.941
Imputing row 16601/17812 with 0 missing, elapsed time: 82.983
Imputing row 16701/17812 with 9 missing, elapsed time: 83.034
Imputing row 16801/17812 with 0 missing, elapsed time: 83.093
Imputing row 16901/17812 with 9 missing, elapsed time: 83.147
Imputing row 17001/17812 with 0 missing, elapsed time: 83.180
Imputing row 17101/17812 with 9 missing, elapsed time: 83.233
Imputing row 17201/17812 with 9 missing, elapsed time: 83.271

Imputing row 17301/17812 with 0 missing, elapsed time: 83.329
Imputing row 17401/17812 with 0 missing, elapsed time: 83.395
Imputing row 17501/17812 with 0 missing, elapsed time: 83.441
Imputing row 17601/17812 with 9 missing, elapsed time: 83.495
Imputing row 17701/17812 with 0 missing, elapsed time: 83.536
Imputing row 17801/17812 with 0 missing, elapsed time: 83.577
Imputing row 1/17812 with 0 missing, elapsed time: 60.943
Imputing row 101/17812 with 9 missing, elapsed time: 61.008
Imputing row 201/17812 with 9 missing, elapsed time: 61.078
Imputing row 301/17812 with 0 missing, elapsed time: 61.131
Imputing row 401/17812 with 9 missing, elapsed time: 61.180
Imputing row 501/17812 with 0 missing, elapsed time: 61.229
Imputing row 601/17812 with 0 missing, elapsed time: 61.268
Imputing row 701/17812 with 9 missing, elapsed time: 61.324
Imputing row 801/17812 with 0 missing, elapsed time: 61.391
Imputing row 901/17812 with 0 missing, elapsed time: 61.424
Imputing row 1001/17812 with 9 missing, elapsed time: 61.481
Imputing row 1101/17812 with 0 missing, elapsed time: 61.520
Imputing row 1201/17812 with 9 missing, elapsed time: 61.591
Imputing row 1301/17812 with 9 missing, elapsed time: 61.634
Imputing row 1401/17812 with 0 missing, elapsed time: 61.679
Imputing row 1501/17812 with 0 missing, elapsed time: 61.706
Imputing row 1601/17812 with 0 missing, elapsed time: 61.750
Imputing row 1701/17812 with 0 missing, elapsed time: 61.808
Imputing row 1801/17812 with 0 missing, elapsed time: 61.865
Imputing row 1901/17812 with 0 missing, elapsed time: 61.927
Imputing row 2001/17812 with 9 missing, elapsed time: 61.979
Imputing row 2101/17812 with 9 missing, elapsed time: 62.036
Imputing row 2201/17812 with 0 missing, elapsed time: 62.095
Imputing row 2301/17812 with 0 missing, elapsed time: 62.152
Imputing row 2401/17812 with 0 missing, elapsed time: 62.196
Imputing row 2501/17812 with 0 missing, elapsed time: 62.253
Imputing row 2601/17812 with 0 missing, elapsed time: 62.308
Imputing row 2701/17812 with 0 missing, elapsed time: 62.392
Imputing row 2801/17812 with 0 missing, elapsed time: 62.446
Imputing row 2901/17812 with 9 missing, elapsed time: 62.506
Imputing row 3001/17812 with 0 missing, elapsed time: 62.557
Imputing row 3101/17812 with 0 missing, elapsed time: 62.608
Imputing row 3201/17812 with 0 missing, elapsed time: 62.662
Imputing row 3301/17812 with 0 missing, elapsed time: 62.703
Imputing row 3401/17812 with 9 missing, elapsed time: 62.760
Imputing row 3501/17812 with 9 missing, elapsed time: 62.820
Imputing row 3601/17812 with 0 missing, elapsed time: 62.875
Imputing row 3701/17812 with 9 missing, elapsed time: 62.935
Imputing row 3801/17812 with 0 missing, elapsed time: 62.991
Imputing row 3901/17812 with 0 missing, elapsed time: 63.047
Imputing row 4001/17812 with 9 missing, elapsed time: 63.103
Imputing row 4101/17812 with 0 missing, elapsed time: 63.165
Imputing row 4201/17812 with 0 missing, elapsed time: 63.233
Imputing row 4301/17812 with 0 missing, elapsed time: 63.282
Imputing row 4401/17812 with 0 missing, elapsed time: 63.334
Imputing row 4501/17812 with 0 missing, elapsed time: 63.383
Imputing row 4601/17812 with 9 missing, elapsed time: 63.457
Imputing row 4701/17812 with 9 missing, elapsed time: 63.509
Imputing row 4801/17812 with 0 missing, elapsed time: 63.574
Imputing row 4901/17812 with 0 missing, elapsed time: 63.620
Imputing row 5001/17812 with 0 missing, elapsed time: 63.700
Imputing row 5101/17812 with 0 missing, elapsed time: 63.741
Imputing row 5201/17812 with 9 missing, elapsed time: 63.783
Imputing row 5301/17812 with 0 missing, elapsed time: 63.840
Imputing row 5401/17812 with 0 missing, elapsed time: 63.910
Imputing row 5501/17812 with 9 missing, elapsed time: 63.969
Imputing row 5601/17812 with 0 missing, elapsed time: 64.016
Imputing row 5701/17812 with 9 missing, elapsed time: 64.072
Imputing row 5801/17812 with 0 missing, elapsed time: 64.132
Imputing row 5901/17812 with 0 missing, elapsed time: 64.199
Imputing row 6001/17812 with 0 missing, elapsed time: 64.249
Imputing row 6101/17812 with 0 missing, elapsed time: 64.293
Imputing row 6201/17812 with 0 missing, elapsed time: 64.344
Imputing row 6301/17812 with 9 missing, elapsed time: 64.395
Imputing row 6401/17812 with 9 missing, elapsed time: 64.452
Imputing row 6501/17812 with 0 missing, elapsed time: 64.513
Imputing row 6601/17812 with 9 missing, elapsed time: 64.563
Imputing row 6701/17812 with 0 missing, elapsed time: 64.611
Imputing row 6801/17812 with 9 missing, elapsed time: 64.648
Imputing row 6901/17812 with 0 missing, elapsed time: 64.707
Imputing row 7001/17812 with 0 missing, elapsed time: 64.755
Imputing row 7101/17812 with 9 missing, elapsed time: 64.805
Imputing row 7201/17812 with 0 missing, elapsed time: 64.855
Imputing row 7301/17812 with 0 missing, elapsed time: 64.908
Imputing row 7401/17812 with 0 missing, elapsed time: 64.973
Imputing row 7501/17812 with 9 missing, elapsed time: 65.040
Imputing row 7601/17812 with 9 missing, elapsed time: 65.124
Imputing row 7701/17812 with 0 missing, elapsed time: 65.179
Imputing row 7801/17812 with 0 missing, elapsed time: 65.211
Imputing row 7901/17812 with 9 missing, elapsed time: 65.261
Imputing row 8001/17812 with 0 missing, elapsed time: 65.332
Imputing row 8101/17812 with 9 missing, elapsed time: 65.392
Imputing row 8201/17812 with 9 missing, elapsed time: 65.445
Imputing row 8301/17812 with 0 missing, elapsed time: 65.491
Imputing row 8401/17812 with 9 missing, elapsed time: 65.554
Imputing row 8501/17812 with 9 missing, elapsed time: 65.631
Imputing row 8601/17812 with 0 missing, elapsed time: 65.687
Imputing row 8701/17812 with 0 missing, elapsed time: 65.734
Imputing row 8801/17812 with 0 missing, elapsed time: 65.783
Imputing row 8901/17812 with 9 missing, elapsed time: 65.818
Imputing row 9001/17812 with 0 missing, elapsed time: 65.857
Imputing row 9101/17812 with 0 missing, elapsed time: 65.919
Imputing row 9201/17812 with 9 missing, elapsed time: 65.971
Imputing row 9301/17812 with 0 missing, elapsed time: 66.021
Imputing row 9401/17812 with 0 missing, elapsed time: 66.083
Imputing row 9501/17812 with 0 missing, elapsed time: 66.133
Imputing row 9601/17812 with 0 missing, elapsed time: 66.177
Imputing row 9701/17812 with 0 missing, elapsed time: 66.214
Imputing row 9801/17812 with 0 missing, elapsed time: 66.272
Imputing row 9901/17812 with 0 missing, elapsed time: 66.341
Imputing row 10001/17812 with 0 missing, elapsed time: 66.391
Imputing row 10101/17812 with 9 missing, elapsed time: 66.457
Imputing row 10201/17812 with 0 missing, elapsed time: 66.525
Imputing row 10301/17812 with 9 missing, elapsed time: 66.590
Imputing row 10401/17812 with 9 missing, elapsed time: 66.634
Imputing row 10501/17812 with 9 missing, elapsed time: 66.689
Imputing row 10601/17812 with 9 missing, elapsed time: 66.752
Imputing row 10701/17812 with 9 missing, elapsed time: 66.805
Imputing row 10801/17812 with 0 missing, elapsed time: 66.843
Imputing row 10901/17812 with 9 missing, elapsed time: 66.884
Imputing row 11001/17812 with 0 missing, elapsed time: 66.941
Imputing row 11101/17812 with 9 missing, elapsed time: 67.004
Imputing row 11201/17812 with 0 missing, elapsed time: 67.047
Imputing row 11301/17812 with 0 missing, elapsed time: 67.106
Imputing row 11401/17812 with 9 missing, elapsed time: 67.163
Imputing row 11501/17812 with 0 missing, elapsed time: 67.230
Imputing row 11601/17812 with 0 missing, elapsed time: 67.295
Imputing row 11701/17812 with 9 missing, elapsed time: 67.371
Imputing row 11801/17812 with 9 missing, elapsed time: 67.415
Imputing row 11901/17812 with 0 missing, elapsed time: 67.491
Imputing row 12001/17812 with 0 missing, elapsed time: 67.551
Imputing row 12101/17812 with 9 missing, elapsed time: 67.605
Imputing row 12201/17812 with 9 missing, elapsed time: 67.669
Imputing row 12301/17812 with 0 missing, elapsed time: 67.731
Imputing row 12401/17812 with 9 missing, elapsed time: 67.795
Imputing row 12501/17812 with 0 missing, elapsed time: 67.842
Imputing row 12601/17812 with 0 missing, elapsed time: 67.907
Imputing row 12701/17812 with 0 missing, elapsed time: 67.945
Imputing row 12801/17812 with 0 missing, elapsed time: 67.994

Imputing row 12901/17812 with 9 missing, elapsed time: 68.034
Imputing row 13001/17812 with 0 missing, elapsed time: 68.088
Imputing row 13101/17812 with 0 missing, elapsed time: 68.132
Imputing row 13201/17812 with 9 missing, elapsed time: 68.177
Imputing row 13301/17812 with 0 missing, elapsed time: 68.244
Imputing row 13401/17812 with 9 missing, elapsed time: 68.306
Imputing row 13501/17812 with 0 missing, elapsed time: 68.383
Imputing row 13601/17812 with 0 missing, elapsed time: 68.421
Imputing row 13701/17812 with 0 missing, elapsed time: 68.471
Imputing row 13801/17812 with 9 missing, elapsed time: 68.515
Imputing row 13901/17812 with 0 missing, elapsed time: 68.575
Imputing row 14001/17812 with 9 missing, elapsed time: 68.629
Imputing row 14101/17812 with 0 missing, elapsed time: 68.679
Imputing row 14201/17812 with 0 missing, elapsed time: 68.738
Imputing row 14301/17812 with 0 missing, elapsed time: 68.778
Imputing row 14401/17812 with 9 missing, elapsed time: 68.830
Imputing row 14501/17812 with 9 missing, elapsed time: 68.890
Imputing row 14601/17812 with 0 missing, elapsed time: 68.939
Imputing row 14701/17812 with 0 missing, elapsed time: 68.992
Imputing row 14801/17812 with 0 missing, elapsed time: 69.046
Imputing row 14901/17812 with 0 missing, elapsed time: 69.088
Imputing row 15001/17812 with 0 missing, elapsed time: 69.144
Imputing row 15101/17812 with 0 missing, elapsed time: 69.197
Imputing row 15201/17812 with 9 missing, elapsed time: 69.252
Imputing row 15301/17812 with 0 missing, elapsed time: 69.299
Imputing row 15401/17812 with 0 missing, elapsed time: 69.364
Imputing row 15501/17812 with 9 missing, elapsed time: 69.409
Imputing row 15601/17812 with 0 missing, elapsed time: 69.484
Imputing row 15701/17812 with 0 missing, elapsed time: 69.544
Imputing row 15801/17812 with 0 missing, elapsed time: 69.582
Imputing row 15901/17812 with 0 missing, elapsed time: 69.641
Imputing row 16001/17812 with 0 missing, elapsed time: 69.682
Imputing row 16101/17812 with 0 missing, elapsed time: 69.730
Imputing row 16201/17812 with 9 missing, elapsed time: 69.782
Imputing row 16301/17812 with 9 missing, elapsed time: 69.847
Imputing row 16401/17812 with 0 missing, elapsed time: 69.892
Imputing row 16501/17812 with 9 missing, elapsed time: 69.935
Imputing row 16601/17812 with 0 missing, elapsed time: 69.999
Imputing row 16701/17812 with 0 missing, elapsed time: 70.044
Imputing row 16801/17812 with 0 missing, elapsed time: 70.101
Imputing row 16901/17812 with 9 missing, elapsed time: 70.162
Imputing row 17001/17812 with 9 missing, elapsed time: 70.207
Imputing row 17101/17812 with 9 missing, elapsed time: 70.268
Imputing row 17201/17812 with 9 missing, elapsed time: 70.336
Imputing row 17301/17812 with 0 missing, elapsed time: 70.377
Imputing row 17401/17812 with 0 missing, elapsed time: 70.441
Imputing row 17501/17812 with 0 missing, elapsed time: 70.509
Imputing row 17601/17812 with 9 missing, elapsed time: 70.562
Imputing row 17701/17812 with 9 missing, elapsed time: 70.628
Imputing row 17801/17812 with 0 missing, elapsed time: 70.684
Imputing row 1/17812 with 0 missing, elapsed time: 75.360
Imputing row 101/17812 with 0 missing, elapsed time: 75.406
Imputing row 201/17812 with 0 missing, elapsed time: 75.468
Imputing row 301/17812 with 9 missing, elapsed time: 75.502
Imputing row 401/17812 with 9 missing, elapsed time: 75.537
Imputing row 501/17812 with 0 missing, elapsed time: 75.567
Imputing row 601/17812 with 0 missing, elapsed time: 75.604
Imputing row 701/17812 with 9 missing, elapsed time: 75.634
Imputing row 801/17812 with 0 missing, elapsed time: 75.669
Imputing row 901/17812 with 0 missing, elapsed time: 75.693
Imputing row 1001/17812 with 9 missing, elapsed time: 75.726
Imputing row 1101/17812 with 0 missing, elapsed time: 75.762
Imputing row 1201/17812 with 0 missing, elapsed time: 75.798
Imputing row 1301/17812 with 9 missing, elapsed time: 75.839
Imputing row 1401/17812 with 9 missing, elapsed time: 75.875
Imputing row 1501/17812 with 0 missing, elapsed time: 75.908
Imputing row 1601/17812 with 0 missing, elapsed time: 75.946
Imputing row 1701/17812 with 0 missing, elapsed time: 75.975
Imputing row 1801/17812 with 0 missing, elapsed time: 76.005
Imputing row 1901/17812 with 9 missing, elapsed time: 76.042
Imputing row 2001/17812 with 0 missing, elapsed time: 76.077
Imputing row 2101/17812 with 0 missing, elapsed time: 76.126
Imputing row 2201/17812 with 9 missing, elapsed time: 76.175
Imputing row 2301/17812 with 0 missing, elapsed time: 76.214
Imputing row 2401/17812 with 0 missing, elapsed time: 76.257
Imputing row 2501/17812 with 0 missing, elapsed time: 76.305
Imputing row 2601/17812 with 0 missing, elapsed time: 76.382
Imputing row 2701/17812 with 9 missing, elapsed time: 76.439
Imputing row 2801/17812 with 0 missing, elapsed time: 76.501
Imputing row 2901/17812 with 0 missing, elapsed time: 76.572
Imputing row 3001/17812 with 9 missing, elapsed time: 76.634
Imputing row 3101/17812 with 0 missing, elapsed time: 76.681
Imputing row 3201/17812 with 9 missing, elapsed time: 76.710
Imputing row 3301/17812 with 0 missing, elapsed time: 76.743
Imputing row 3401/17812 with 0 missing, elapsed time: 76.805
Imputing row 3501/17812 with 9 missing, elapsed time: 76.858
Imputing row 3601/17812 with 9 missing, elapsed time: 76.920
Imputing row 3701/17812 with 0 missing, elapsed time: 76.953
Imputing row 3801/17812 with 0 missing, elapsed time: 76.987
Imputing row 3901/17812 with 0 missing, elapsed time: 77.020
Imputing row 4001/17812 with 0 missing, elapsed time: 77.052
Imputing row 4101/17812 with 0 missing, elapsed time: 77.090
Imputing row 4201/17812 with 0 missing, elapsed time: 77.125
Imputing row 4301/17812 with 9 missing, elapsed time: 77.163
Imputing row 4401/17812 with 0 missing, elapsed time: 77.205
Imputing row 4501/17812 with 0 missing, elapsed time: 77.248
Imputing row 4601/17812 with 0 missing, elapsed time: 77.280
Imputing row 4701/17812 with 0 missing, elapsed time: 77.320
Imputing row 4801/17812 with 9 missing, elapsed time: 77.359
Imputing row 4901/17812 with 9 missing, elapsed time: 77.399
Imputing row 5001/17812 with 0 missing, elapsed time: 77.446
Imputing row 5101/17812 with 0 missing, elapsed time: 77.479
Imputing row 5201/17812 with 0 missing, elapsed time: 77.516
Imputing row 5301/17812 with 0 missing, elapsed time: 77.552
Imputing row 5401/17812 with 0 missing, elapsed time: 77.593
Imputing row 5501/17812 with 9 missing, elapsed time: 77.635
Imputing row 5601/17812 with 0 missing, elapsed time: 77.669
Imputing row 5701/17812 with 9 missing, elapsed time: 77.702
Imputing row 5801/17812 with 0 missing, elapsed time: 77.727
Imputing row 5901/17812 with 0 missing, elapsed time: 77.762
Imputing row 6001/17812 with 0 missing, elapsed time: 77.797
Imputing row 6101/17812 with 0 missing, elapsed time: 77.837
Imputing row 6201/17812 with 9 missing, elapsed time: 77.872
Imputing row 6301/17812 with 0 missing, elapsed time: 77.904
Imputing row 6401/17812 with 0 missing, elapsed time: 77.947
Imputing row 6501/17812 with 9 missing, elapsed time: 77.980
Imputing row 6601/17812 with 9 missing, elapsed time: 78.009
Imputing row 6701/17812 with 9 missing, elapsed time: 78.046
Imputing row 6801/17812 with 0 missing, elapsed time: 78.085
Imputing row 6901/17812 with 9 missing, elapsed time: 78.116
Imputing row 7001/17812 with 9 missing, elapsed time: 78.152
Imputing row 7101/17812 with 0 missing, elapsed time: 78.194
Imputing row 7201/17812 with 0 missing, elapsed time: 78.238
Imputing row 7301/17812 with 0 missing, elapsed time: 78.271
Imputing row 7401/17812 with 0 missing, elapsed time: 78.300
Imputing row 7501/17812 with 0 missing, elapsed time: 78.333
Imputing row 7601/17812 with 0 missing, elapsed time: 78.364
Imputing row 7701/17812 with 9 missing, elapsed time: 78.392
Imputing row 7801/17812 with 0 missing, elapsed time: 78.426
Imputing row 7901/17812 with 0 missing, elapsed time: 78.460
Imputing row 8001/17812 with 9 missing, elapsed time: 78.500
Imputing row 8101/17812 with 9 missing, elapsed time: 78.529
Imputing row 8201/17812 with 0 missing, elapsed time: 78.562
Imputing row 8301/17812 with 9 missing, elapsed time: 78.595
Imputing row 8401/17812 with 0 missing, elapsed time: 78.636

Imputing row 8501/17812 with 0 missing, elapsed time: 78.672
Imputing row 8601/17812 with 9 missing, elapsed time: 78.706
Imputing row 8701/17812 with 0 missing, elapsed time: 78.744
Imputing row 8801/17812 with 0 missing, elapsed time: 78.779
Imputing row 8901/17812 with 9 missing, elapsed time: 78.816
Imputing row 9001/17812 with 0 missing, elapsed time: 78.852
Imputing row 9101/17812 with 0 missing, elapsed time: 78.894
Imputing row 9201/17812 with 0 missing, elapsed time: 78.926
Imputing row 9301/17812 with 0 missing, elapsed time: 78.961
Imputing row 9401/17812 with 9 missing, elapsed time: 78.986
Imputing row 9501/17812 with 0 missing, elapsed time: 79.017
Imputing row 9601/17812 with 0 missing, elapsed time: 79.059
Imputing row 9701/17812 with 0 missing, elapsed time: 79.097
Imputing row 9801/17812 with 9 missing, elapsed time: 79.126
Imputing row 9901/17812 with 9 missing, elapsed time: 79.164
Imputing row 10001/17812 with 0 missing, elapsed time: 79.204
Imputing row 10101/17812 with 9 missing, elapsed time: 79.238
Imputing row 10201/17812 with 0 missing, elapsed time: 79.273
Imputing row 10301/17812 with 0 missing, elapsed time: 79.312
Imputing row 10401/17812 with 0 missing, elapsed time: 79.349
Imputing row 10501/17812 with 0 missing, elapsed time: 79.381
Imputing row 10601/17812 with 0 missing, elapsed time: 79.418
Imputing row 10701/17812 with 0 missing, elapsed time: 79.457
Imputing row 10801/17812 with 9 missing, elapsed time: 79.488
Imputing row 10901/17812 with 9 missing, elapsed time: 79.517
Imputing row 11001/17812 with 9 missing, elapsed time: 79.573
Imputing row 11101/17812 with 0 missing, elapsed time: 79.643
Imputing row 11201/17812 with 0 missing, elapsed time: 79.695
Imputing row 11301/17812 with 0 missing, elapsed time: 79.738
Imputing row 11401/17812 with 0 missing, elapsed time: 79.773
Imputing row 11501/17812 with 9 missing, elapsed time: 79.812
Imputing row 11601/17812 with 0 missing, elapsed time: 79.849
Imputing row 11701/17812 with 0 missing, elapsed time: 79.891
Imputing row 11801/17812 with 9 missing, elapsed time: 79.928
Imputing row 11901/17812 with 0 missing, elapsed time: 79.970
Imputing row 12001/17812 with 0 missing, elapsed time: 80.004
Imputing row 12101/17812 with 0 missing, elapsed time: 80.055
Imputing row 12201/17812 with 0 missing, elapsed time: 80.116
Imputing row 12301/17812 with 0 missing, elapsed time: 80.173
Imputing row 12401/17812 with 9 missing, elapsed time: 80.227
Imputing row 12501/17812 with 0 missing, elapsed time: 80.271
Imputing row 12601/17812 with 0 missing, elapsed time: 80.311
Imputing row 12701/17812 with 0 missing, elapsed time: 80.354
Imputing row 12801/17812 with 0 missing, elapsed time: 80.385
Imputing row 12901/17812 with 0 missing, elapsed time: 80.418
Imputing row 13001/17812 with 0 missing, elapsed time: 80.449
Imputing row 13101/17812 with 9 missing, elapsed time: 80.482
Imputing row 13201/17812 with 0 missing, elapsed time: 80.516
Imputing row 13301/17812 with 9 missing, elapsed time: 80.552
Imputing row 13401/17812 with 0 missing, elapsed time: 80.590
Imputing row 13501/17812 with 0 missing, elapsed time: 80.631
Imputing row 13601/17812 with 9 missing, elapsed time: 80.677
Imputing row 13701/17812 with 0 missing, elapsed time: 80.712
Imputing row 13801/17812 with 0 missing, elapsed time: 80.742
Imputing row 13901/17812 with 0 missing, elapsed time: 80.771
Imputing row 14001/17812 with 0 missing, elapsed time: 80.815
Imputing row 14101/17812 with 9 missing, elapsed time: 80.851
Imputing row 14201/17812 with 0 missing, elapsed time: 80.885
Imputing row 14301/17812 with 0 missing, elapsed time: 80.922
Imputing row 14401/17812 with 9 missing, elapsed time: 80.959
Imputing row 14501/17812 with 0 missing, elapsed time: 80.994
Imputing row 14601/17812 with 0 missing, elapsed time: 81.041
Imputing row 14701/17812 with 9 missing, elapsed time: 81.073
Imputing row 14801/17812 with 0 missing, elapsed time: 81.113
Imputing row 14901/17812 with 0 missing, elapsed time: 81.153
Imputing row 15001/17812 with 0 missing, elapsed time: 81.185
Imputing row 15101/17812 with 9 missing, elapsed time: 81.226
Imputing row 15201/17812 with 0 missing, elapsed time: 81.269
Imputing row 15301/17812 with 0 missing, elapsed time: 81.294
Imputing row 15401/17812 with 0 missing, elapsed time: 81.332
Imputing row 15501/17812 with 0 missing, elapsed time: 81.374
Imputing row 15601/17812 with 0 missing, elapsed time: 81.413
Imputing row 15701/17812 with 0 missing, elapsed time: 81.445
Imputing row 15801/17812 with 0 missing, elapsed time: 81.487
Imputing row 15901/17812 with 9 missing, elapsed time: 81.530
Imputing row 16001/17812 with 9 missing, elapsed time: 81.569
Imputing row 16101/17812 with 9 missing, elapsed time: 81.591
Imputing row 16201/17812 with 0 missing, elapsed time: 81.624
Imputing row 16301/17812 with 9 missing, elapsed time: 81.660
Imputing row 16401/17812 with 0 missing, elapsed time: 81.696
Imputing row 16501/17812 with 0 missing, elapsed time: 81.724
Imputing row 16601/17812 with 0 missing, elapsed time: 81.752
Imputing row 16701/17812 with 0 missing, elapsed time: 81.796
Imputing row 16801/17812 with 9 missing, elapsed time: 81.830
Imputing row 16901/17812 with 0 missing, elapsed time: 81.866
Imputing row 17001/17812 with 9 missing, elapsed time: 81.906
Imputing row 17101/17812 with 0 missing, elapsed time: 81.936
Imputing row 17201/17812 with 9 missing, elapsed time: 81.966
Imputing row 17301/17812 with 0 missing, elapsed time: 82.005
Imputing row 17401/17812 with 9 missing, elapsed time: 82.049
Imputing row 17501/17812 with 0 missing, elapsed time: 82.077
Imputing row 17601/17812 with 0 missing, elapsed time: 82.119
Imputing row 17701/17812 with 0 missing, elapsed time: 82.150
Imputing row 17801/17812 with 9 missing, elapsed time: 82.187
Imputing row 1/17812 with 0 missing, elapsed time: 82.611
Imputing row 101/17812 with 0 missing, elapsed time: 82.663
Imputing row 201/17812 with 9 missing, elapsed time: 82.700
Imputing row 301/17812 with 0 missing, elapsed time: 82.755
Imputing row 401/17812 with 0 missing, elapsed time: 82.826
Imputing row 501/17812 with 0 missing, elapsed time: 82.884
Imputing row 601/17812 with 0 missing, elapsed time: 82.935
Imputing row 701/17812 with 9 missing, elapsed time: 82.970
Imputing row 801/17812 with 9 missing, elapsed time: 83.040
Imputing row 901/17812 with 0 missing, elapsed time: 83.098
Imputing row 1001/17812 with 9 missing, elapsed time: 83.146
Imputing row 1101/17812 with 0 missing, elapsed time: 83.191
Imputing row 1201/17812 with 9 missing, elapsed time: 83.238
Imputing row 1301/17812 with 9 missing, elapsed time: 83.284
Imputing row 1401/17812 with 0 missing, elapsed time: 83.345
Imputing row 1501/17812 with 0 missing, elapsed time: 83.398
Imputing row 1601/17812 with 0 missing, elapsed time: 83.463
Imputing row 1701/17812 with 0 missing, elapsed time: 83.510
Imputing row 1801/17812 with 0 missing, elapsed time: 83.551
Imputing row 1901/17812 with 9 missing, elapsed time: 83.589
Imputing row 2001/17812 with 9 missing, elapsed time: 83.647
Imputing row 2101/17812 with 0 missing, elapsed time: 83.715
Imputing row 2201/17812 with 9 missing, elapsed time: 83.777
Imputing row 2301/17812 with 0 missing, elapsed time: 83.844
Imputing row 2401/17812 with 0 missing, elapsed time: 83.892
Imputing row 2501/17812 with 0 missing, elapsed time: 83.945
Imputing row 2601/17812 with 0 missing, elapsed time: 84.000
Imputing row 2701/17812 with 9 missing, elapsed time: 84.057
Imputing row 2801/17812 with 9 missing, elapsed time: 84.127
Imputing row 2901/17812 with 0 missing, elapsed time: 84.162
Imputing row 3001/17812 with 9 missing, elapsed time: 84.211
Imputing row 3101/17812 with 0 missing, elapsed time: 84.260
Imputing row 3201/17812 with 9 missing, elapsed time: 84.297
Imputing row 3301/17812 with 0 missing, elapsed time: 84.339
Imputing row 3401/17812 with 0 missing, elapsed time: 84.388
Imputing row 3501/17812 with 9 missing, elapsed time: 84.450
Imputing row 3601/17812 with 0 missing, elapsed time: 84.498
Imputing row 3701/17812 with 9 missing, elapsed time: 84.535
Imputing row 3801/17812 with 9 missing, elapsed time: 84.593
Imputing row 3901/17812 with 9 missing, elapsed time: 84.642
Imputing row 4001/17812 with 0 missing, elapsed time: 84.696
Imputing row 4101/17812 with 9 missing, elapsed time: 84.753

Imputing row 4201/17812 with 9 missing, elapsed time: 84.815
Imputing row 4301/17812 with 0 missing, elapsed time: 84.870
Imputing row 4401/17812 with 0 missing, elapsed time: 84.929
Imputing row 4501/17812 with 0 missing, elapsed time: 84.987
Imputing row 4601/17812 with 0 missing, elapsed time: 85.066
Imputing row 4701/17812 with 0 missing, elapsed time: 85.095
Imputing row 4801/17812 with 0 missing, elapsed time: 85.153
Imputing row 4901/17812 with 0 missing, elapsed time: 85.211
Imputing row 5001/17812 with 0 missing, elapsed time: 85.277
Imputing row 5101/17812 with 0 missing, elapsed time: 85.339
Imputing row 5201/17812 with 9 missing, elapsed time: 85.381
Imputing row 5301/17812 with 9 missing, elapsed time: 85.451
Imputing row 5401/17812 with 0 missing, elapsed time: 85.504
Imputing row 5501/17812 with 9 missing, elapsed time: 85.577
Imputing row 5601/17812 with 0 missing, elapsed time: 85.648
Imputing row 5701/17812 with 9 missing, elapsed time: 85.699
Imputing row 5801/17812 with 9 missing, elapsed time: 85.769
Imputing row 5901/17812 with 0 missing, elapsed time: 85.840
Imputing row 6001/17812 with 0 missing, elapsed time: 85.901
Imputing row 6101/17812 with 0 missing, elapsed time: 85.948
Imputing row 6201/17812 with 9 missing, elapsed time: 86.002
Imputing row 6301/17812 with 0 missing, elapsed time: 86.070
Imputing row 6401/17812 with 0 missing, elapsed time: 86.117
Imputing row 6501/17812 with 0 missing, elapsed time: 86.198
Imputing row 6601/17812 with 9 missing, elapsed time: 86.259
Imputing row 6701/17812 with 0 missing, elapsed time: 86.323
Imputing row 6801/17812 with 0 missing, elapsed time: 86.392
Imputing row 6901/17812 with 9 missing, elapsed time: 86.454
Imputing row 7001/17812 with 0 missing, elapsed time: 86.524
Imputing row 7101/17812 with 0 missing, elapsed time: 86.563
Imputing row 7201/17812 with 0 missing, elapsed time: 86.617
Imputing row 7301/17812 with 9 missing, elapsed time: 86.670
Imputing row 7401/17812 with 0 missing, elapsed time: 86.720
Imputing row 7501/17812 with 9 missing, elapsed time: 86.785
Imputing row 7601/17812 with 0 missing, elapsed time: 86.839
Imputing row 7701/17812 with 0 missing, elapsed time: 86.911
Imputing row 7801/17812 with 0 missing, elapsed time: 86.950
Imputing row 7901/17812 with 0 missing, elapsed time: 87.008
Imputing row 8001/17812 with 0 missing, elapsed time: 87.077
Imputing row 8101/17812 with 0 missing, elapsed time: 87.142
Imputing row 8201/17812 with 9 missing, elapsed time: 87.180
Imputing row 8301/17812 with 0 missing, elapsed time: 87.231
Imputing row 8401/17812 with 0 missing, elapsed time: 87.302
Imputing row 8501/17812 with 0 missing, elapsed time: 87.363
Imputing row 8601/17812 with 0 missing, elapsed time: 87.411
Imputing row 8701/17812 with 0 missing, elapsed time: 87.474
Imputing row 8801/17812 with 0 missing, elapsed time: 87.533
Imputing row 8901/17812 with 9 missing, elapsed time: 87.594
Imputing row 9001/17812 with 9 missing, elapsed time: 87.660
Imputing row 9101/17812 with 0 missing, elapsed time: 87.719
Imputing row 9201/17812 with 9 missing, elapsed time: 87.772
Imputing row 9301/17812 with 0 missing, elapsed time: 87.813
Imputing row 9401/17812 with 0 missing, elapsed time: 87.858
Imputing row 9501/17812 with 0 missing, elapsed time: 87.906
Imputing row 9601/17812 with 9 missing, elapsed time: 87.960
Imputing row 9701/17812 with 9 missing, elapsed time: 88.013
Imputing row 9801/17812 with 9 missing, elapsed time: 88.059
Imputing row 9901/17812 with 9 missing, elapsed time: 88.129
Imputing row 10001/17812 with 0 missing, elapsed time: 88.183
Imputing row 10101/17812 with 9 missing, elapsed time: 88.226
Imputing row 10201/17812 with 0 missing, elapsed time: 88.287
Imputing row 10301/17812 with 0 missing, elapsed time: 88.345
Imputing row 10401/17812 with 0 missing, elapsed time: 88.386
Imputing row 10501/17812 with 9 missing, elapsed time: 88.442
Imputing row 10601/17812 with 0 missing, elapsed time: 88.507
Imputing row 10701/17812 with 0 missing, elapsed time: 88.562
Imputing row 10801/17812 with 0 missing, elapsed time: 88.612
Imputing row 10901/17812 with 0 missing, elapsed time: 88.667
Imputing row 11001/17812 with 0 missing, elapsed time: 88.698
Imputing row 11101/17812 with 9 missing, elapsed time: 88.767
Imputing row 11201/17812 with 0 missing, elapsed time: 88.832
Imputing row 11301/17812 with 9 missing, elapsed time: 88.894
Imputing row 11401/17812 with 9 missing, elapsed time: 88.968
Imputing row 11501/17812 with 9 missing, elapsed time: 89.024
Imputing row 11601/17812 with 0 missing, elapsed time: 89.083
Imputing row 11701/17812 with 0 missing, elapsed time: 89.133
Imputing row 11801/17812 with 9 missing, elapsed time: 89.185
Imputing row 11901/17812 with 9 missing, elapsed time: 89.218
Imputing row 12001/17812 with 9 missing, elapsed time: 89.286
Imputing row 12101/17812 with 0 missing, elapsed time: 89.354
Imputing row 12201/17812 with 0 missing, elapsed time: 89.415
Imputing row 12301/17812 with 9 missing, elapsed time: 89.469
Imputing row 12401/17812 with 9 missing, elapsed time: 89.532
Imputing row 12501/17812 with 0 missing, elapsed time: 89.583
Imputing row 12601/17812 with 0 missing, elapsed time: 89.636
Imputing row 12701/17812 with 0 missing, elapsed time: 89.707
Imputing row 12801/17812 with 0 missing, elapsed time: 89.768
Imputing row 12901/17812 with 9 missing, elapsed time: 89.822
Imputing row 13001/17812 with 0 missing, elapsed time: 89.866
Imputing row 13101/17812 with 0 missing, elapsed time: 89.917
Imputing row 13201/17812 with 0 missing, elapsed time: 89.965
Imputing row 13301/17812 with 0 missing, elapsed time: 90.018
Imputing row 13401/17812 with 0 missing, elapsed time: 90.066
Imputing row 13501/17812 with 9 missing, elapsed time: 90.125
Imputing row 13601/17812 with 0 missing, elapsed time: 90.197
Imputing row 13701/17812 with 0 missing, elapsed time: 90.243
Imputing row 13801/17812 with 0 missing, elapsed time: 90.312
Imputing row 13901/17812 with 0 missing, elapsed time: 90.369
Imputing row 14001/17812 with 9 missing, elapsed time: 90.426
Imputing row 14101/17812 with 9 missing, elapsed time: 90.496
Imputing row 14201/17812 with 0 missing, elapsed time: 90.542
Imputing row 14301/17812 with 9 missing, elapsed time: 90.587
Imputing row 14401/17812 with 0 missing, elapsed time: 90.632
Imputing row 14501/17812 with 0 missing, elapsed time: 90.671
Imputing row 14601/17812 with 9 missing, elapsed time: 90.720
Imputing row 14701/17812 with 9 missing, elapsed time: 90.773
Imputing row 14801/17812 with 0 missing, elapsed time: 90.838
Imputing row 14901/17812 with 0 missing, elapsed time: 90.892
Imputing row 15001/17812 with 0 missing, elapsed time: 90.979
Imputing row 15101/17812 with 0 missing, elapsed time: 91.037
Imputing row 15201/17812 with 9 missing, elapsed time: 91.087
Imputing row 15301/17812 with 0 missing, elapsed time: 91.144
Imputing row 15401/17812 with 9 missing, elapsed time: 91.195
Imputing row 15501/17812 with 0 missing, elapsed time: 91.237
Imputing row 15601/17812 with 9 missing, elapsed time: 91.279
Imputing row 15701/17812 with 0 missing, elapsed time: 91.346
Imputing row 15801/17812 with 0 missing, elapsed time: 91.401
Imputing row 15901/17812 with 0 missing, elapsed time: 91.440
Imputing row 16001/17812 with 9 missing, elapsed time: 91.488
Imputing row 16101/17812 with 0 missing, elapsed time: 91.535
Imputing row 16201/17812 with 0 missing, elapsed time: 91.597
Imputing row 16301/17812 with 0 missing, elapsed time: 91.635
Imputing row 16401/17812 with 0 missing, elapsed time: 91.690
Imputing row 16501/17812 with 0 missing, elapsed time: 91.765
Imputing row 16601/17812 with 0 missing, elapsed time: 91.825
Imputing row 16701/17812 with 0 missing, elapsed time: 91.873
Imputing row 16801/17812 with 0 missing, elapsed time: 91.937
Imputing row 16901/17812 with 9 missing, elapsed time: 91.986
Imputing row 17001/17812 with 0 missing, elapsed time: 92.054
Imputing row 17101/17812 with 9 missing, elapsed time: 92.117
Imputing row 17201/17812 with 9 missing, elapsed time: 92.179
Imputing row 17301/17812 with 0 missing, elapsed time: 92.226
Imputing row 17401/17812 with 9 missing, elapsed time: 92.260
Imputing row 17501/17812 with 0 missing, elapsed time: 92.314

Imputing row 17601/17812 with 0 missing, elapsed time: 92.365
Imputing row 17701/17812 with 9 missing, elapsed time: 92.413
Imputing row 17801/17812 with 0 missing, elapsed time: 92.474
Imputing row 1/17812 with 9 missing, elapsed time: 65.323
Imputing row 101/17812 with 9 missing, elapsed time: 65.372
Imputing row 201/17812 with 0 missing, elapsed time: 65.442
Imputing row 301/17812 with 0 missing, elapsed time: 65.489
Imputing row 401/17812 with 0 missing, elapsed time: 65.550
Imputing row 501/17812 with 0 missing, elapsed time: 65.608
Imputing row 601/17812 with 9 missing, elapsed time: 65.678
Imputing row 701/17812 with 0 missing, elapsed time: 65.745
Imputing row 801/17812 with 0 missing, elapsed time: 65.797
Imputing row 901/17812 with 9 missing, elapsed time: 65.856
Imputing row 1001/17812 with 0 missing, elapsed time: 65.930
Imputing row 1101/17812 with 0 missing, elapsed time: 66.006
Imputing row 1201/17812 with 0 missing, elapsed time: 66.065
Imputing row 1301/17812 with 0 missing, elapsed time: 66.127
Imputing row 1401/17812 with 9 missing, elapsed time: 66.190
Imputing row 1501/17812 with 0 missing, elapsed time: 66.245
Imputing row 1601/17812 with 0 missing, elapsed time: 66.284
Imputing row 1701/17812 with 0 missing, elapsed time: 66.323
Imputing row 1801/17812 with 0 missing, elapsed time: 66.373
Imputing row 1901/17812 with 9 missing, elapsed time: 66.437
Imputing row 2001/17812 with 0 missing, elapsed time: 66.495
Imputing row 2101/17812 with 0 missing, elapsed time: 66.553
Imputing row 2201/17812 with 9 missing, elapsed time: 66.600
Imputing row 2301/17812 with 0 missing, elapsed time: 66.664
Imputing row 2401/17812 with 0 missing, elapsed time: 66.731
Imputing row 2501/17812 with 0 missing, elapsed time: 66.803
Imputing row 2601/17812 with 9 missing, elapsed time: 66.861
Imputing row 2701/17812 with 9 missing, elapsed time: 66.918
Imputing row 2801/17812 with 9 missing, elapsed time: 66.986
Imputing row 2901/17812 with 0 missing, elapsed time: 67.041
Imputing row 3001/17812 with 9 missing, elapsed time: 67.117
Imputing row 3101/17812 with 9 missing, elapsed time: 67.192
Imputing row 3201/17812 with 9 missing, elapsed time: 67.255
Imputing row 3301/17812 with 0 missing, elapsed time: 67.311
Imputing row 3401/17812 with 0 missing, elapsed time: 67.377
Imputing row 3501/17812 with 0 missing, elapsed time: 67.443
Imputing row 3601/17812 with 0 missing, elapsed time: 67.508
Imputing row 3701/17812 with 0 missing, elapsed time: 67.577
Imputing row 3801/17812 with 9 missing, elapsed time: 67.637
Imputing row 3901/17812 with 0 missing, elapsed time: 67.691
Imputing row 4001/17812 with 0 missing, elapsed time: 67.761
Imputing row 4101/17812 with 0 missing, elapsed time: 67.821
Imputing row 4201/17812 with 0 missing, elapsed time: 67.903
Imputing row 4301/17812 with 0 missing, elapsed time: 67.978
Imputing row 4401/17812 with 0 missing, elapsed time: 68.026
Imputing row 4501/17812 with 0 missing, elapsed time: 68.074
Imputing row 4601/17812 with 9 missing, elapsed time: 68.119
Imputing row 4701/17812 with 0 missing, elapsed time: 68.174
Imputing row 4801/17812 with 9 missing, elapsed time: 68.230
Imputing row 4901/17812 with 0 missing, elapsed time: 68.287
Imputing row 5001/17812 with 0 missing, elapsed time: 68.351
Imputing row 5101/17812 with 0 missing, elapsed time: 68.402
Imputing row 5201/17812 with 0 missing, elapsed time: 68.457
Imputing row 5301/17812 with 0 missing, elapsed time: 68.511
Imputing row 5401/17812 with 0 missing, elapsed time: 68.569
Imputing row 5501/17812 with 0 missing, elapsed time: 68.635
Imputing row 5601/17812 with 0 missing, elapsed time: 68.685
Imputing row 5701/17812 with 0 missing, elapsed time: 68.717
Imputing row 5801/17812 with 0 missing, elapsed time: 68.761
Imputing row 5901/17812 with 0 missing, elapsed time: 68.829
Imputing row 6001/17812 with 0 missing, elapsed time: 68.895
Imputing row 6101/17812 with 0 missing, elapsed time: 68.965
Imputing row 6201/17812 with 0 missing, elapsed time: 69.007
Imputing row 6301/17812 with 0 missing, elapsed time: 69.081
Imputing row 6401/17812 with 0 missing, elapsed time: 69.140
Imputing row 6501/17812 with 9 missing, elapsed time: 69.201
Imputing row 6601/17812 with 9 missing, elapsed time: 69.260
Imputing row 6701/17812 with 0 missing, elapsed time: 69.318
Imputing row 6801/17812 with 9 missing, elapsed time: 69.376
Imputing row 6901/17812 with 9 missing, elapsed time: 69.450
Imputing row 7001/17812 with 9 missing, elapsed time: 69.504
Imputing row 7101/17812 with 0 missing, elapsed time: 69.558
Imputing row 7201/17812 with 0 missing, elapsed time: 69.622
Imputing row 7301/17812 with 0 missing, elapsed time: 69.688
Imputing row 7401/17812 with 9 missing, elapsed time: 69.741
Imputing row 7501/17812 with 0 missing, elapsed time: 69.804
Imputing row 7601/17812 with 0 missing, elapsed time: 69.852
Imputing row 7701/17812 with 0 missing, elapsed time: 69.918
Imputing row 7801/17812 with 0 missing, elapsed time: 69.983
Imputing row 7901/17812 with 0 missing, elapsed time: 70.033
Imputing row 8001/17812 with 0 missing, elapsed time: 70.081
Imputing row 8101/17812 with 9 missing, elapsed time: 70.117
Imputing row 8201/17812 with 9 missing, elapsed time: 70.176
Imputing row 8301/17812 with 0 missing, elapsed time: 70.231
Imputing row 8401/17812 with 9 missing, elapsed time: 70.286
Imputing row 8501/17812 with 0 missing, elapsed time: 70.367
Imputing row 8601/17812 with 0 missing, elapsed time: 70.404
Imputing row 8701/17812 with 9 missing, elapsed time: 70.480
Imputing row 8801/17812 with 0 missing, elapsed time: 70.549
Imputing row 8901/17812 with 0 missing, elapsed time: 70.610
Imputing row 9001/17812 with 0 missing, elapsed time: 70.665
Imputing row 9101/17812 with 0 missing, elapsed time: 70.726
Imputing row 9201/17812 with 9 missing, elapsed time: 70.789
Imputing row 9301/17812 with 0 missing, elapsed time: 70.857
Imputing row 9401/17812 with 9 missing, elapsed time: 70.911
Imputing row 9501/17812 with 0 missing, elapsed time: 71.001
Imputing row 9601/17812 with 9 missing, elapsed time: 71.055
Imputing row 9701/17812 with 0 missing, elapsed time: 71.118
Imputing row 9801/17812 with 9 missing, elapsed time: 71.163
Imputing row 9901/17812 with 9 missing, elapsed time: 71.220
Imputing row 10001/17812 with 9 missing, elapsed time: 71.289
Imputing row 10101/17812 with 9 missing, elapsed time: 71.352
Imputing row 10201/17812 with 0 missing, elapsed time: 71.402
Imputing row 10301/17812 with 0 missing, elapsed time: 71.457
Imputing row 10401/17812 with 0 missing, elapsed time: 71.511
Imputing row 10501/17812 with 9 missing, elapsed time: 71.555
Imputing row 10601/17812 with 9 missing, elapsed time: 71.615
Imputing row 10701/17812 with 9 missing, elapsed time: 71.673
Imputing row 10801/17812 with 9 missing, elapsed time: 71.739
Imputing row 10901/17812 with 0 missing, elapsed time: 71.793
Imputing row 11001/17812 with 0 missing, elapsed time: 71.848
Imputing row 11101/17812 with 0 missing, elapsed time: 71.902
Imputing row 11201/17812 with 9 missing, elapsed time: 71.967
Imputing row 11301/17812 with 0 missing, elapsed time: 72.036
Imputing row 11401/17812 with 0 missing, elapsed time: 72.112
Imputing row 11501/17812 with 0 missing, elapsed time: 72.172
Imputing row 11601/17812 with 0 missing, elapsed time: 72.239
Imputing row 11701/17812 with 0 missing, elapsed time: 72.307
Imputing row 11801/17812 with 0 missing, elapsed time: 72.371
Imputing row 11901/17812 with 0 missing, elapsed time: 72.419
Imputing row 12001/17812 with 9 missing, elapsed time: 72.481
Imputing row 12101/17812 with 0 missing, elapsed time: 72.541
Imputing row 12201/17812 with 9 missing, elapsed time: 72.592
Imputing row 12301/17812 with 9 missing, elapsed time: 72.638
Imputing row 12401/17812 with 9 missing, elapsed time: 72.677
Imputing row 12501/17812 with 0 missing, elapsed time: 72.714
Imputing row 12601/17812 with 0 missing, elapsed time: 72.770
Imputing row 12701/17812 with 9 missing, elapsed time: 72.826
Imputing row 12801/17812 with 0 missing, elapsed time: 72.888
Imputing row 12901/17812 with 0 missing, elapsed time: 72.952
Imputing row 13001/17812 with 0 missing, elapsed time: 73.017

Imputing row 13101/17812 with 9 missing, elapsed time: 73.066
Imputing row 13201/17812 with 9 missing, elapsed time: 73.108
Imputing row 13301/17812 with 9 missing, elapsed time: 73.156
Imputing row 13401/17812 with 0 missing, elapsed time: 73.212
Imputing row 13501/17812 with 9 missing, elapsed time: 73.264
Imputing row 13601/17812 with 9 missing, elapsed time: 73.320
Imputing row 13701/17812 with 0 missing, elapsed time: 73.372
Imputing row 13801/17812 with 0 missing, elapsed time: 73.430
Imputing row 13901/17812 with 0 missing, elapsed time: 73.500
Imputing row 14001/17812 with 9 missing, elapsed time: 73.562
Imputing row 14101/17812 with 0 missing, elapsed time: 73.605
Imputing row 14201/17812 with 9 missing, elapsed time: 73.675
Imputing row 14301/17812 with 9 missing, elapsed time: 73.714
Imputing row 14401/17812 with 9 missing, elapsed time: 73.759
Imputing row 14501/17812 with 0 missing, elapsed time: 73.812
Imputing row 14601/17812 with 0 missing, elapsed time: 73.885
Imputing row 14701/17812 with 0 missing, elapsed time: 73.968
Imputing row 14801/17812 with 0 missing, elapsed time: 74.059
Imputing row 14901/17812 with 0 missing, elapsed time: 74.119
Imputing row 15001/17812 with 9 missing, elapsed time: 74.165
Imputing row 15101/17812 with 9 missing, elapsed time: 74.227
Imputing row 15201/17812 with 9 missing, elapsed time: 74.297
Imputing row 15301/17812 with 0 missing, elapsed time: 74.370
Imputing row 15401/17812 with 0 missing, elapsed time: 74.418
Imputing row 15501/17812 with 0 missing, elapsed time: 74.492
Imputing row 15601/17812 with 0 missing, elapsed time: 74.561
Imputing row 15701/17812 with 0 missing, elapsed time: 74.606
Imputing row 15801/17812 with 9 missing, elapsed time: 74.675
Imputing row 15901/17812 with 9 missing, elapsed time: 74.740
Imputing row 16001/17812 with 0 missing, elapsed time: 74.807
Imputing row 16101/17812 with 9 missing, elapsed time: 74.857
Imputing row 16201/17812 with 9 missing, elapsed time: 74.924
Imputing row 16301/17812 with 0 missing, elapsed time: 74.985
Imputing row 16401/17812 with 0 missing, elapsed time: 75.062
Imputing row 16501/17812 with 0 missing, elapsed time: 75.116
Imputing row 16601/17812 with 0 missing, elapsed time: 75.177
Imputing row 16701/17812 with 9 missing, elapsed time: 75.231
Imputing row 16801/17812 with 0 missing, elapsed time: 75.278
Imputing row 16901/17812 with 0 missing, elapsed time: 75.340
Imputing row 17001/17812 with 0 missing, elapsed time: 75.409
Imputing row 17101/17812 with 0 missing, elapsed time: 75.461
Imputing row 17201/17812 with 0 missing, elapsed time: 75.521
Imputing row 17301/17812 with 9 missing, elapsed time: 75.575
Imputing row 17401/17812 with 0 missing, elapsed time: 75.620
Imputing row 17501/17812 with 9 missing, elapsed time: 75.680
Imputing row 17601/17812 with 0 missing, elapsed time: 75.737
Imputing row 17701/17812 with 0 missing, elapsed time: 75.802
Imputing row 17801/17812 with 0 missing, elapsed time: 75.846
Imputing row 1/17812 with 0 missing, elapsed time: 66.582
Imputing row 101/17812 with 0 missing, elapsed time: 66.639
Imputing row 201/17812 with 9 missing, elapsed time: 66.671
Imputing row 301/17812 with 9 missing, elapsed time: 66.709
Imputing row 401/17812 with 9 missing, elapsed time: 66.746
Imputing row 501/17812 with 0 missing, elapsed time: 66.779
Imputing row 601/17812 with 0 missing, elapsed time: 66.827
Imputing row 701/17812 with 9 missing, elapsed time: 66.870
Imputing row 801/17812 with 0 missing, elapsed time: 66.898
Imputing row 901/17812 with 0 missing, elapsed time: 66.929
Imputing row 1001/17812 with 9 missing, elapsed time: 66.969
Imputing row 1101/17812 with 9 missing, elapsed time: 67.009
Imputing row 1201/17812 with 0 missing, elapsed time: 67.046
Imputing row 1301/17812 with 9 missing, elapsed time: 67.083
Imputing row 1401/17812 with 0 missing, elapsed time: 67.127
Imputing row 1501/17812 with 0 missing, elapsed time: 67.163
Imputing row 1601/17812 with 9 missing, elapsed time: 67.200
Imputing row 1701/17812 with 0 missing, elapsed time: 67.235
Imputing row 1801/17812 with 0 missing, elapsed time: 67.280
Imputing row 1901/17812 with 0 missing, elapsed time: 67.311
Imputing row 2001/17812 with 0 missing, elapsed time: 67.346
Imputing row 2101/17812 with 9 missing, elapsed time: 67.377
Imputing row 2201/17812 with 0 missing, elapsed time: 67.420
Imputing row 2301/17812 with 0 missing, elapsed time: 67.455
Imputing row 2401/17812 with 0 missing, elapsed time: 67.498
Imputing row 2501/17812 with 9 missing, elapsed time: 67.534
Imputing row 2601/17812 with 0 missing, elapsed time: 67.580
Imputing row 2701/17812 with 0 missing, elapsed time: 67.629
Imputing row 2801/17812 with 9 missing, elapsed time: 67.668
Imputing row 2901/17812 with 0 missing, elapsed time: 67.712
Imputing row 3001/17812 with 0 missing, elapsed time: 67.775
Imputing row 3101/17812 with 9 missing, elapsed time: 67.821
Imputing row 3201/17812 with 0 missing, elapsed time: 67.865
Imputing row 3301/17812 with 9 missing, elapsed time: 67.897
Imputing row 3401/17812 with 0 missing, elapsed time: 67.938
Imputing row 3501/17812 with 9 missing, elapsed time: 67.978
Imputing row 3601/17812 with 0 missing, elapsed time: 68.036
Imputing row 3701/17812 with 0 missing, elapsed time: 68.105
Imputing row 3801/17812 with 9 missing, elapsed time: 68.153
Imputing row 3901/17812 with 9 missing, elapsed time: 68.192
Imputing row 4001/17812 with 0 missing, elapsed time: 68.239
Imputing row 4101/17812 with 0 missing, elapsed time: 68.306
Imputing row 4201/17812 with 9 missing, elapsed time: 68.369
Imputing row 4301/17812 with 0 missing, elapsed time: 68.430
Imputing row 4401/17812 with 9 missing, elapsed time: 68.470
Imputing row 4501/17812 with 0 missing, elapsed time: 68.509
Imputing row 4601/17812 with 0 missing, elapsed time: 68.556
Imputing row 4701/17812 with 0 missing, elapsed time: 68.605
Imputing row 4801/17812 with 0 missing, elapsed time: 68.633
Imputing row 4901/17812 with 9 missing, elapsed time: 68.680
Imputing row 5001/17812 with 0 missing, elapsed time: 68.713
Imputing row 5101/17812 with 9 missing, elapsed time: 68.739
Imputing row 5201/17812 with 0 missing, elapsed time: 68.768
Imputing row 5301/17812 with 9 missing, elapsed time: 68.813
Imputing row 5401/17812 with 0 missing, elapsed time: 68.858
Imputing row 5501/17812 with 0 missing, elapsed time: 68.891
Imputing row 5601/17812 with 0 missing, elapsed time: 68.935
Imputing row 5701/17812 with 0 missing, elapsed time: 68.974
Imputing row 5801/17812 with 0 missing, elapsed time: 69.015
Imputing row 5901/17812 with 0 missing, elapsed time: 69.057
Imputing row 6001/17812 with 9 missing, elapsed time: 69.099
Imputing row 6101/17812 with 0 missing, elapsed time: 69.139
Imputing row 6201/17812 with 0 missing, elapsed time: 69.168
Imputing row 6301/17812 with 9 missing, elapsed time: 69.196
Imputing row 6401/17812 with 0 missing, elapsed time: 69.245
Imputing row 6501/17812 with 0 missing, elapsed time: 69.276
Imputing row 6601/17812 with 9 missing, elapsed time: 69.321
Imputing row 6701/17812 with 0 missing, elapsed time: 69.352
Imputing row 6801/17812 with 0 missing, elapsed time: 69.394
Imputing row 6901/17812 with 0 missing, elapsed time: 69.433
Imputing row 7001/17812 with 0 missing, elapsed time: 69.497
Imputing row 7101/17812 with 0 missing, elapsed time: 69.554
Imputing row 7201/17812 with 9 missing, elapsed time: 69.599
Imputing row 7301/17812 with 0 missing, elapsed time: 69.654
Imputing row 7401/17812 with 9 missing, elapsed time: 69.713
Imputing row 7501/17812 with 9 missing, elapsed time: 69.779
Imputing row 7601/17812 with 0 missing, elapsed time: 69.844
Imputing row 7701/17812 with 9 missing, elapsed time: 69.912
Imputing row 7801/17812 with 0 missing, elapsed time: 69.957
Imputing row 7901/17812 with 0 missing, elapsed time: 70.010
Imputing row 8001/17812 with 0 missing, elapsed time: 70.070
Imputing row 8101/17812 with 0 missing, elapsed time: 70.128
Imputing row 8201/17812 with 0 missing, elapsed time: 70.182
Imputing row 8301/17812 with 0 missing, elapsed time: 70.243
Imputing row 8401/17812 with 0 missing, elapsed time: 70.309
Imputing row 8501/17812 with 0 missing, elapsed time: 70.371

Imputing row 8601/17812 with 0 missing, elapsed time: 70.427
Imputing row 8701/17812 with 9 missing, elapsed time: 70.477
Imputing row 8801/17812 with 0 missing, elapsed time: 70.535
Imputing row 8901/17812 with 0 missing, elapsed time: 70.601
Imputing row 9001/17812 with 9 missing, elapsed time: 70.677
Imputing row 9101/17812 with 0 missing, elapsed time: 70.731
Imputing row 9201/17812 with 9 missing, elapsed time: 70.786
Imputing row 9301/17812 with 9 missing, elapsed time: 70.845
Imputing row 9401/17812 with 0 missing, elapsed time: 70.915
Imputing row 9501/17812 with 9 missing, elapsed time: 70.961
Imputing row 9601/17812 with 9 missing, elapsed time: 71.016
Imputing row 9701/17812 with 0 missing, elapsed time: 71.094
Imputing row 9801/17812 with 9 missing, elapsed time: 71.170
Imputing row 9901/17812 with 0 missing, elapsed time: 71.219
Imputing row 10001/17812 with 9 missing, elapsed time: 71.269
Imputing row 10101/17812 with 0 missing, elapsed time: 71.334
Imputing row 10201/17812 with 0 missing, elapsed time: 71.387
Imputing row 10301/17812 with 9 missing, elapsed time: 71.431
Imputing row 10401/17812 with 0 missing, elapsed time: 71.474
Imputing row 10501/17812 with 9 missing, elapsed time: 71.530
Imputing row 10601/17812 with 0 missing, elapsed time: 71.597
Imputing row 10701/17812 with 9 missing, elapsed time: 71.644
Imputing row 10801/17812 with 0 missing, elapsed time: 71.689
Imputing row 10901/17812 with 0 missing, elapsed time: 71.757
Imputing row 11001/17812 with 0 missing, elapsed time: 71.830
Imputing row 11101/17812 with 0 missing, elapsed time: 71.874
Imputing row 11201/17812 with 0 missing, elapsed time: 71.944
Imputing row 11301/17812 with 9 missing, elapsed time: 72.003
Imputing row 11401/17812 with 0 missing, elapsed time: 72.056
Imputing row 11501/17812 with 0 missing, elapsed time: 72.116
Imputing row 11601/17812 with 9 missing, elapsed time: 72.176
Imputing row 11701/17812 with 9 missing, elapsed time: 72.217
Imputing row 11801/17812 with 9 missing, elapsed time: 72.274
Imputing row 11901/17812 with 0 missing, elapsed time: 72.341
Imputing row 12001/17812 with 0 missing, elapsed time: 72.386
Imputing row 12101/17812 with 0 missing, elapsed time: 72.432
Imputing row 12201/17812 with 0 missing, elapsed time: 72.498
Imputing row 12301/17812 with 0 missing, elapsed time: 72.565
Imputing row 12401/17812 with 0 missing, elapsed time: 72.603
Imputing row 12501/17812 with 0 missing, elapsed time: 72.643
Imputing row 12601/17812 with 0 missing, elapsed time: 72.684
Imputing row 12701/17812 with 9 missing, elapsed time: 72.741
Imputing row 12801/17812 with 9 missing, elapsed time: 72.798
Imputing row 12901/17812 with 0 missing, elapsed time: 72.874
Imputing row 13001/17812 with 0 missing, elapsed time: 72.941
Imputing row 13101/17812 with 9 missing, elapsed time: 72.993
Imputing row 13201/17812 with 0 missing, elapsed time: 73.041
Imputing row 13301/17812 with 0 missing, elapsed time: 73.104
Imputing row 13401/17812 with 9 missing, elapsed time: 73.164
Imputing row 13501/17812 with 0 missing, elapsed time: 73.222
Imputing row 13601/17812 with 9 missing, elapsed time: 73.297
Imputing row 13701/17812 with 9 missing, elapsed time: 73.368
Imputing row 13801/17812 with 9 missing, elapsed time: 73.424
Imputing row 13901/17812 with 9 missing, elapsed time: 73.497
Imputing row 14001/17812 with 0 missing, elapsed time: 73.535
Imputing row 14101/17812 with 0 missing, elapsed time: 73.591
Imputing row 14201/17812 with 0 missing, elapsed time: 73.657
Imputing row 14301/17812 with 9 missing, elapsed time: 73.714
Imputing row 14401/17812 with 0 missing, elapsed time: 73.769
Imputing row 14501/17812 with 0 missing, elapsed time: 73.828
Imputing row 14601/17812 with 9 missing, elapsed time: 73.892
Imputing row 14701/17812 with 9 missing, elapsed time: 73.949
Imputing row 14801/17812 with 0 missing, elapsed time: 74.006
Imputing row 14901/17812 with 9 missing, elapsed time: 74.066
Imputing row 15001/17812 with 0 missing, elapsed time: 74.123
Imputing row 15101/17812 with 0 missing, elapsed time: 74.174
Imputing row 15201/17812 with 9 missing, elapsed time: 74.229
Imputing row 15301/17812 with 9 missing, elapsed time: 74.279
Imputing row 15401/17812 with 0 missing, elapsed time: 74.323
Imputing row 15501/17812 with 9 missing, elapsed time: 74.382
Imputing row 15601/17812 with 0 missing, elapsed time: 74.456
Imputing row 15701/17812 with 9 missing, elapsed time: 74.511
Imputing row 15801/17812 with 9 missing, elapsed time: 74.581
Imputing row 15901/17812 with 0 missing, elapsed time: 74.629
Imputing row 16001/17812 with 0 missing, elapsed time: 74.678
Imputing row 16101/17812 with 0 missing, elapsed time: 74.721
Imputing row 16201/17812 with 0 missing, elapsed time: 74.750
Imputing row 16301/17812 with 9 missing, elapsed time: 74.811
Imputing row 16401/17812 with 9 missing, elapsed time: 74.866
Imputing row 16501/17812 with 0 missing, elapsed time: 74.921
Imputing row 16601/17812 with 0 missing, elapsed time: 74.965
Imputing row 16701/17812 with 9 missing, elapsed time: 75.000
Imputing row 16801/17812 with 0 missing, elapsed time: 75.048
Imputing row 16901/17812 with 0 missing, elapsed time: 75.088
Imputing row 17001/17812 with 0 missing, elapsed time: 75.144
Imputing row 17101/17812 with 9 missing, elapsed time: 75.209
Imputing row 17201/17812 with 0 missing, elapsed time: 75.262
Imputing row 17301/17812 with 0 missing, elapsed time: 75.304
Imputing row 17401/17812 with 9 missing, elapsed time: 75.358
Imputing row 17501/17812 with 0 missing, elapsed time: 75.405
Imputing row 17601/17812 with 0 missing, elapsed time: 75.461
Imputing row 17701/17812 with 9 missing, elapsed time: 75.548
Imputing row 17801/17812 with 0 missing, elapsed time: 75.606
Imputing row 1/17812 with 0 missing, elapsed time: 73.212
Imputing row 101/17812 with 0 missing, elapsed time: 73.267
Imputing row 201/17812 with 9 missing, elapsed time: 73.299
Imputing row 301/17812 with 0 missing, elapsed time: 73.347
Imputing row 401/17812 with 9 missing, elapsed time: 73.398
Imputing row 501/17812 with 9 missing, elapsed time: 73.452
Imputing row 601/17812 with 0 missing, elapsed time: 73.498
Imputing row 701/17812 with 0 missing, elapsed time: 73.558
Imputing row 801/17812 with 0 missing, elapsed time: 73.643
Imputing row 901/17812 with 0 missing, elapsed time: 73.719
Imputing row 1001/17812 with 9 missing, elapsed time: 73.767
Imputing row 1101/17812 with 9 missing, elapsed time: 73.803
Imputing row 1201/17812 with 0 missing, elapsed time: 73.842
Imputing row 1301/17812 with 0 missing, elapsed time: 73.868
Imputing row 1401/17812 with 9 missing, elapsed time: 73.902
Imputing row 1501/17812 with 0 missing, elapsed time: 73.932
Imputing row 1601/17812 with 0 missing, elapsed time: 73.966
Imputing row 1701/17812 with 0 missing, elapsed time: 74.005
Imputing row 1801/17812 with 9 missing, elapsed time: 74.050
Imputing row 1901/17812 with 0 missing, elapsed time: 74.098
Imputing row 2001/17812 with 0 missing, elapsed time: 74.139
Imputing row 2101/17812 with 0 missing, elapsed time: 74.178
Imputing row 2201/17812 with 9 missing, elapsed time: 74.221
Imputing row 2301/17812 with 9 missing, elapsed time: 74.255
Imputing row 2401/17812 with 9 missing, elapsed time: 74.286
Imputing row 2501/17812 with 0 missing, elapsed time: 74.319
Imputing row 2601/17812 with 0 missing, elapsed time: 74.359
Imputing row 2701/17812 with 0 missing, elapsed time: 74.394
Imputing row 2801/17812 with 0 missing, elapsed time: 74.426
Imputing row 2901/17812 with 9 missing, elapsed time: 74.468
Imputing row 3001/17812 with 9 missing, elapsed time: 74.505
Imputing row 3101/17812 with 0 missing, elapsed time: 74.542
Imputing row 3201/17812 with 9 missing, elapsed time: 74.574
Imputing row 3301/17812 with 9 missing, elapsed time: 74.624
Imputing row 3401/17812 with 0 missing, elapsed time: 74.655
Imputing row 3501/17812 with 0 missing, elapsed time: 74.687
Imputing row 3601/17812 with 9 missing, elapsed time: 74.724
Imputing row 3701/17812 with 0 missing, elapsed time: 74.762
Imputing row 3801/17812 with 9 missing, elapsed time: 74.804
Imputing row 3901/17812 with 9 missing, elapsed time: 74.838
Imputing row 4001/17812 with 9 missing, elapsed time: 74.880
Imputing row 4101/17812 with 9 missing, elapsed time: 74.922
Imputing row 4201/17812 with 9 missing, elapsed time: 74.955
Imputing row 4301/17812 with 0 missing, elapsed time: 74.992

Imputing row 4401/17812 with 0 missing, elapsed time: 75.027
Imputing row 4501/17812 with 0 missing, elapsed time: 75.056
Imputing row 4601/17812 with 0 missing, elapsed time: 75.091
Imputing row 4701/17812 with 9 missing, elapsed time: 75.125
Imputing row 4801/17812 with 0 missing, elapsed time: 75.155
Imputing row 4901/17812 with 0 missing, elapsed time: 75.192
Imputing row 5001/17812 with 0 missing, elapsed time: 75.226
Imputing row 5101/17812 with 9 missing, elapsed time: 75.262
Imputing row 5201/17812 with 9 missing, elapsed time: 75.292
Imputing row 5301/17812 with 9 missing, elapsed time: 75.330
Imputing row 5401/17812 with 9 missing, elapsed time: 75.372
Imputing row 5501/17812 with 9 missing, elapsed time: 75.419
Imputing row 5601/17812 with 0 missing, elapsed time: 75.475
Imputing row 5701/17812 with 0 missing, elapsed time: 75.503
Imputing row 5801/17812 with 9 missing, elapsed time: 75.530
Imputing row 5901/17812 with 9 missing, elapsed time: 75.568
Imputing row 6001/17812 with 0 missing, elapsed time: 75.613
Imputing row 6101/17812 with 0 missing, elapsed time: 75.650
Imputing row 6201/17812 with 9 missing, elapsed time: 75.677
Imputing row 6301/17812 with 9 missing, elapsed time: 75.712
Imputing row 6401/17812 with 0 missing, elapsed time: 75.755
Imputing row 6501/17812 with 9 missing, elapsed time: 75.786
Imputing row 6601/17812 with 9 missing, elapsed time: 75.827
Imputing row 6701/17812 with 0 missing, elapsed time: 75.861
Imputing row 6801/17812 with 9 missing, elapsed time: 75.887
Imputing row 6901/17812 with 9 missing, elapsed time: 75.928
Imputing row 7001/17812 with 9 missing, elapsed time: 75.973
Imputing row 7101/17812 with 0 missing, elapsed time: 76.014
Imputing row 7201/17812 with 9 missing, elapsed time: 76.047
Imputing row 7301/17812 with 0 missing, elapsed time: 76.093
Imputing row 7401/17812 with 0 missing, elapsed time: 76.115
Imputing row 7501/17812 with 0 missing, elapsed time: 76.154
Imputing row 7601/17812 with 9 missing, elapsed time: 76.187
Imputing row 7701/17812 with 9 missing, elapsed time: 76.233
Imputing row 7801/17812 with 9 missing, elapsed time: 76.264
Imputing row 7901/17812 with 0 missing, elapsed time: 76.311
Imputing row 8001/17812 with 0 missing, elapsed time: 76.347
Imputing row 8101/17812 with 0 missing, elapsed time: 76.388
Imputing row 8201/17812 with 0 missing, elapsed time: 76.440
Imputing row 8301/17812 with 0 missing, elapsed time: 76.477
Imputing row 8401/17812 with 0 missing, elapsed time: 76.514
Imputing row 8501/17812 with 0 missing, elapsed time: 76.545
Imputing row 8601/17812 with 0 missing, elapsed time: 76.582
Imputing row 8701/17812 with 9 missing, elapsed time: 76.623
Imputing row 8801/17812 with 0 missing, elapsed time: 76.665
Imputing row 8901/17812 with 9 missing, elapsed time: 76.703
Imputing row 9001/17812 with 0 missing, elapsed time: 76.748
Imputing row 9101/17812 with 9 missing, elapsed time: 76.790
Imputing row 9201/17812 with 0 missing, elapsed time: 76.834
Imputing row 9301/17812 with 0 missing, elapsed time: 76.862
Imputing row 9401/17812 with 9 missing, elapsed time: 76.894
Imputing row 9501/17812 with 0 missing, elapsed time: 76.927
Imputing row 9601/17812 with 9 missing, elapsed time: 76.969
Imputing row 9701/17812 with 0 missing, elapsed time: 77.007
Imputing row 9801/17812 with 0 missing, elapsed time: 77.046
Imputing row 9901/17812 with 0 missing, elapsed time: 77.084
Imputing row 10001/17812 with 9 missing, elapsed time: 77.117
Imputing row 10101/17812 with 0 missing, elapsed time: 77.162
Imputing row 10201/17812 with 9 missing, elapsed time: 77.197
Imputing row 10301/17812 with 0 missing, elapsed time: 77.237
Imputing row 10401/17812 with 0 missing, elapsed time: 77.283
Imputing row 10501/17812 with 0 missing, elapsed time: 77.321
Imputing row 10601/17812 with 0 missing, elapsed time: 77.345
Imputing row 10701/17812 with 0 missing, elapsed time: 77.386
Imputing row 10801/17812 with 0 missing, elapsed time: 77.422
Imputing row 10901/17812 with 0 missing, elapsed time: 77.464
Imputing row 11001/17812 with 0 missing, elapsed time: 77.505
Imputing row 11101/17812 with 9 missing, elapsed time: 77.537
Imputing row 11201/17812 with 0 missing, elapsed time: 77.575
Imputing row 11301/17812 with 0 missing, elapsed time: 77.619
Imputing row 11401/17812 with 9 missing, elapsed time: 77.648
Imputing row 11501/17812 with 0 missing, elapsed time: 77.686
Imputing row 11601/17812 with 9 missing, elapsed time: 77.721
Imputing row 11701/17812 with 0 missing, elapsed time: 77.763
Imputing row 11801/17812 with 0 missing, elapsed time: 77.802
Imputing row 11901/17812 with 9 missing, elapsed time: 77.840
Imputing row 12001/17812 with 9 missing, elapsed time: 77.897
Imputing row 12101/17812 with 9 missing, elapsed time: 77.970
Imputing row 12201/17812 with 0 missing, elapsed time: 78.015
Imputing row 12301/17812 with 0 missing, elapsed time: 78.053
Imputing row 12401/17812 with 0 missing, elapsed time: 78.114
Imputing row 12501/17812 with 0 missing, elapsed time: 78.181
Imputing row 12601/17812 with 9 missing, elapsed time: 78.226
Imputing row 12701/17812 with 0 missing, elapsed time: 78.259
Imputing row 12801/17812 with 0 missing, elapsed time: 78.304
Imputing row 12901/17812 with 0 missing, elapsed time: 78.334
Imputing row 13001/17812 with 0 missing, elapsed time: 78.364
Imputing row 13101/17812 with 9 missing, elapsed time: 78.399
Imputing row 13201/17812 with 0 missing, elapsed time: 78.435
Imputing row 13301/17812 with 0 missing, elapsed time: 78.462
Imputing row 13401/17812 with 0 missing, elapsed time: 78.505
Imputing row 13501/17812 with 0 missing, elapsed time: 78.525
Imputing row 13601/17812 with 0 missing, elapsed time: 78.558
Imputing row 13701/17812 with 0 missing, elapsed time: 78.597
Imputing row 13801/17812 with 0 missing, elapsed time: 78.635
Imputing row 13901/17812 with 0 missing, elapsed time: 78.673
Imputing row 14001/17812 with 0 missing, elapsed time: 78.710
Imputing row 14101/17812 with 0 missing, elapsed time: 78.739
Imputing row 14201/17812 with 9 missing, elapsed time: 78.772
Imputing row 14301/17812 with 9 missing, elapsed time: 78.809
Imputing row 14401/17812 with 0 missing, elapsed time: 78.845
Imputing row 14501/17812 with 9 missing, elapsed time: 78.872
Imputing row 14601/17812 with 0 missing, elapsed time: 78.916
Imputing row 14701/17812 with 0 missing, elapsed time: 78.950
Imputing row 14801/17812 with 0 missing, elapsed time: 78.985
Imputing row 14901/17812 with 0 missing, elapsed time: 79.021
Imputing row 15001/17812 with 0 missing, elapsed time: 79.052
Imputing row 15101/17812 with 9 missing, elapsed time: 79.100
Imputing row 15201/17812 with 9 missing, elapsed time: 79.129
Imputing row 15301/17812 with 0 missing, elapsed time: 79.168
Imputing row 15401/17812 with 0 missing, elapsed time: 79.208
Imputing row 15501/17812 with 0 missing, elapsed time: 79.244
Imputing row 15601/17812 with 9 missing, elapsed time: 79.285
Imputing row 15701/17812 with 0 missing, elapsed time: 79.327
Imputing row 15801/17812 with 0 missing, elapsed time: 79.366
Imputing row 15901/17812 with 0 missing, elapsed time: 79.400
Imputing row 16001/17812 with 9 missing, elapsed time: 79.442
Imputing row 16101/17812 with 0 missing, elapsed time: 79.479
Imputing row 16201/17812 with 0 missing, elapsed time: 79.517
Imputing row 16301/17812 with 0 missing, elapsed time: 79.560
Imputing row 16401/17812 with 9 missing, elapsed time: 79.600
Imputing row 16501/17812 with 0 missing, elapsed time: 79.654
Imputing row 16601/17812 with 0 missing, elapsed time: 79.692
Imputing row 16701/17812 with 9 missing, elapsed time: 79.727
Imputing row 16801/17812 with 0 missing, elapsed time: 79.775
Imputing row 16901/17812 with 0 missing, elapsed time: 79.809
Imputing row 17001/17812 with 9 missing, elapsed time: 79.836
Imputing row 17101/17812 with 0 missing, elapsed time: 79.877
Imputing row 17201/17812 with 9 missing, elapsed time: 79.913
Imputing row 17301/17812 with 0 missing, elapsed time: 79.949
Imputing row 17401/17812 with 0 missing, elapsed time: 79.987
Imputing row 17501/17812 with 9 missing, elapsed time: 80.022
Imputing row 17601/17812 with 0 missing, elapsed time: 80.065
Imputing row 17701/17812 with 9 missing, elapsed time: 80.103
Imputing row 17801/17812 with 0 missing, elapsed time: 80.138

Imputing row 1/17823 with 0 missing, elapsed time: 66.043
Imputing row 101/17823 with 9 missing, elapsed time: 66.088
Imputing row 201/17823 with 0 missing, elapsed time: 66.142
Imputing row 301/17823 with 9 missing, elapsed time: 66.198
Imputing row 401/17823 with 0 missing, elapsed time: 66.260
Imputing row 501/17823 with 0 missing, elapsed time: 66.297
Imputing row 601/17823 with 0 missing, elapsed time: 66.334
Imputing row 701/17823 with 0 missing, elapsed time: 66.369
Imputing row 801/17823 with 0 missing, elapsed time: 66.427
Imputing row 901/17823 with 0 missing, elapsed time: 66.495
Imputing row 1001/17823 with 0 missing, elapsed time: 66.571
Imputing row 1101/17823 with 9 missing, elapsed time: 66.641
Imputing row 1201/17823 with 9 missing, elapsed time: 66.721
Imputing row 1301/17823 with 0 missing, elapsed time: 66.765
Imputing row 1401/17823 with 0 missing, elapsed time: 66.805
Imputing row 1501/17823 with 9 missing, elapsed time: 66.877
Imputing row 1601/17823 with 0 missing, elapsed time: 66.936
Imputing row 1701/17823 with 9 missing, elapsed time: 66.984
Imputing row 1801/17823 with 0 missing, elapsed time: 67.039
Imputing row 1901/17823 with 9 missing, elapsed time: 67.077
Imputing row 2001/17823 with 0 missing, elapsed time: 67.154
Imputing row 2101/17823 with 0 missing, elapsed time: 67.205
Imputing row 2201/17823 with 0 missing, elapsed time: 67.245
Imputing row 2301/17823 with 9 missing, elapsed time: 67.296
Imputing row 2401/17823 with 0 missing, elapsed time: 67.346
Imputing row 2501/17823 with 0 missing, elapsed time: 67.419
Imputing row 2601/17823 with 0 missing, elapsed time: 67.489
Imputing row 2701/17823 with 0 missing, elapsed time: 67.541
Imputing row 2801/17823 with 0 missing, elapsed time: 67.580
Imputing row 2901/17823 with 0 missing, elapsed time: 67.646
Imputing row 3001/17823 with 9 missing, elapsed time: 67.698
Imputing row 3101/17823 with 0 missing, elapsed time: 67.758
Imputing row 3201/17823 with 0 missing, elapsed time: 67.814
Imputing row 3301/17823 with 0 missing, elapsed time: 67.877
Imputing row 3401/17823 with 9 missing, elapsed time: 67.936
Imputing row 3501/17823 with 9 missing, elapsed time: 68.003
Imputing row 3601/17823 with 0 missing, elapsed time: 68.047
Imputing row 3701/17823 with 0 missing, elapsed time: 68.117
Imputing row 3801/17823 with 9 missing, elapsed time: 68.179
Imputing row 3901/17823 with 9 missing, elapsed time: 68.243
Imputing row 4001/17823 with 0 missing, elapsed time: 68.296
Imputing row 4101/17823 with 0 missing, elapsed time: 68.362
Imputing row 4201/17823 with 9 missing, elapsed time: 68.430
Imputing row 4301/17823 with 9 missing, elapsed time: 68.488
Imputing row 4401/17823 with 9 missing, elapsed time: 68.543
Imputing row 4501/17823 with 9 missing, elapsed time: 68.602
Imputing row 4601/17823 with 9 missing, elapsed time: 68.656
Imputing row 4701/17823 with 0 missing, elapsed time: 68.734
Imputing row 4801/17823 with 0 missing, elapsed time: 68.784
Imputing row 4901/17823 with 0 missing, elapsed time: 68.824
Imputing row 5001/17823 with 9 missing, elapsed time: 68.873
Imputing row 5101/17823 with 0 missing, elapsed time: 68.910
Imputing row 5201/17823 with 0 missing, elapsed time: 68.956
Imputing row 5301/17823 with 0 missing, elapsed time: 69.028
Imputing row 5401/17823 with 0 missing, elapsed time: 69.071
Imputing row 5501/17823 with 0 missing, elapsed time: 69.121
Imputing row 5601/17823 with 0 missing, elapsed time: 69.182
Imputing row 5701/17823 with 0 missing, elapsed time: 69.234
Imputing row 5801/17823 with 9 missing, elapsed time: 69.296
Imputing row 5901/17823 with 0 missing, elapsed time: 69.345
Imputing row 6001/17823 with 0 missing, elapsed time: 69.407
Imputing row 6101/17823 with 0 missing, elapsed time: 69.482
Imputing row 6201/17823 with 0 missing, elapsed time: 69.529
Imputing row 6301/17823 with 0 missing, elapsed time: 69.563
Imputing row 6401/17823 with 9 missing, elapsed time: 69.612
Imputing row 6501/17823 with 9 missing, elapsed time: 69.679
Imputing row 6601/17823 with 9 missing, elapsed time: 69.727
Imputing row 6701/17823 with 0 missing, elapsed time: 69.777
Imputing row 6801/17823 with 9 missing, elapsed time: 69.818
Imputing row 6901/17823 with 9 missing, elapsed time: 69.853
Imputing row 7001/17823 with 0 missing, elapsed time: 69.906
Imputing row 7101/17823 with 9 missing, elapsed time: 69.969
Imputing row 7201/17823 with 9 missing, elapsed time: 70.025
Imputing row 7301/17823 with 0 missing, elapsed time: 70.067
Imputing row 7401/17823 with 0 missing, elapsed time: 70.106
Imputing row 7501/17823 with 0 missing, elapsed time: 70.164
Imputing row 7601/17823 with 9 missing, elapsed time: 70.235
Imputing row 7701/17823 with 0 missing, elapsed time: 70.309
Imputing row 7801/17823 with 0 missing, elapsed time: 70.377
Imputing row 7901/17823 with 9 missing, elapsed time: 70.433
Imputing row 8001/17823 with 0 missing, elapsed time: 70.494
Imputing row 8101/17823 with 0 missing, elapsed time: 70.562
Imputing row 8201/17823 with 0 missing, elapsed time: 70.634
Imputing row 8301/17823 with 9 missing, elapsed time: 70.686
Imputing row 8401/17823 with 0 missing, elapsed time: 70.744
Imputing row 8501/17823 with 0 missing, elapsed time: 70.803
Imputing row 8601/17823 with 9 missing, elapsed time: 70.857
Imputing row 8701/17823 with 9 missing, elapsed time: 70.913
Imputing row 8801/17823 with 0 missing, elapsed time: 70.979
Imputing row 8901/17823 with 9 missing, elapsed time: 71.039
Imputing row 9001/17823 with 0 missing, elapsed time: 71.085
Imputing row 9101/17823 with 0 missing, elapsed time: 71.128
Imputing row 9201/17823 with 0 missing, elapsed time: 71.172
Imputing row 9301/17823 with 0 missing, elapsed time: 71.218
Imputing row 9401/17823 with 0 missing, elapsed time: 71.276
Imputing row 9501/17823 with 0 missing, elapsed time: 71.339
Imputing row 9601/17823 with 9 missing, elapsed time: 71.388
Imputing row 9701/17823 with 0 missing, elapsed time: 71.459
Imputing row 9801/17823 with 0 missing, elapsed time: 71.536
Imputing row 9901/17823 with 0 missing, elapsed time: 71.590
Imputing row 10001/17823 with 9 missing, elapsed time: 71.636
Imputing row 10101/17823 with 9 missing, elapsed time: 71.684
Imputing row 10201/17823 with 0 missing, elapsed time: 71.744
Imputing row 10301/17823 with 9 missing, elapsed time: 71.792
Imputing row 10401/17823 with 0 missing, elapsed time: 71.841
Imputing row 10501/17823 with 9 missing, elapsed time: 71.885
Imputing row 10601/17823 with 9 missing, elapsed time: 71.947
Imputing row 10701/17823 with 0 missing, elapsed time: 71.989
Imputing row 10801/17823 with 9 missing, elapsed time: 72.037
Imputing row 10901/17823 with 0 missing, elapsed time: 72.094
Imputing row 11001/17823 with 9 missing, elapsed time: 72.142
Imputing row 11101/17823 with 0 missing, elapsed time: 72.193
Imputing row 11201/17823 with 0 missing, elapsed time: 72.262
Imputing row 11301/17823 with 0 missing, elapsed time: 72.303
Imputing row 11401/17823 with 0 missing, elapsed time: 72.368
Imputing row 11501/17823 with 0 missing, elapsed time: 72.409
Imputing row 11601/17823 with 0 missing, elapsed time: 72.470
Imputing row 11701/17823 with 9 missing, elapsed time: 72.526
Imputing row 11801/17823 with 0 missing, elapsed time: 72.596
Imputing row 11901/17823 with 9 missing, elapsed time: 72.667
Imputing row 12001/17823 with 0 missing, elapsed time: 72.722
Imputing row 12101/17823 with 0 missing, elapsed time: 72.756
Imputing row 12201/17823 with 9 missing, elapsed time: 72.816
Imputing row 12301/17823 with 0 missing, elapsed time: 72.859
Imputing row 12401/17823 with 0 missing, elapsed time: 72.923
Imputing row 12501/17823 with 0 missing, elapsed time: 72.991
Imputing row 12601/17823 with 0 missing, elapsed time: 73.052
Imputing row 12701/17823 with 0 missing, elapsed time: 73.107
Imputing row 12801/17823 with 9 missing, elapsed time: 73.150
Imputing row 12901/17823 with 0 missing, elapsed time: 73.209
Imputing row 13001/17823 with 0 missing, elapsed time: 73.267
Imputing row 13101/17823 with 9 missing, elapsed time: 73.324
Imputing row 13201/17823 with 0 missing, elapsed time: 73.356
Imputing row 13301/17823 with 0 missing, elapsed time: 73.402

Imputing row 13401/17823 with 0 missing, elapsed time: 73.439
Imputing row 13501/17823 with 0 missing, elapsed time: 73.489
Imputing row 13601/17823 with 0 missing, elapsed time: 73.543
Imputing row 13701/17823 with 0 missing, elapsed time: 73.599
Imputing row 13801/17823 with 9 missing, elapsed time: 73.637
Imputing row 13901/17823 with 9 missing, elapsed time: 73.709
Imputing row 14001/17823 with 0 missing, elapsed time: 73.748
Imputing row 14101/17823 with 0 missing, elapsed time: 73.819
Imputing row 14201/17823 with 0 missing, elapsed time: 73.866
Imputing row 14301/17823 with 0 missing, elapsed time: 73.937
Imputing row 14401/17823 with 0 missing, elapsed time: 73.990
Imputing row 14501/17823 with 0 missing, elapsed time: 74.026
Imputing row 14601/17823 with 9 missing, elapsed time: 74.076
Imputing row 14701/17823 with 0 missing, elapsed time: 74.130
Imputing row 14801/17823 with 9 missing, elapsed time: 74.180
Imputing row 14901/17823 with 0 missing, elapsed time: 74.250
Imputing row 15001/17823 with 9 missing, elapsed time: 74.302
Imputing row 15101/17823 with 9 missing, elapsed time: 74.379
Imputing row 15201/17823 with 9 missing, elapsed time: 74.436
Imputing row 15301/17823 with 0 missing, elapsed time: 74.474
Imputing row 15401/17823 with 0 missing, elapsed time: 74.516
Imputing row 15501/17823 with 0 missing, elapsed time: 74.585
Imputing row 15601/17823 with 0 missing, elapsed time: 74.655
Imputing row 15701/17823 with 0 missing, elapsed time: 74.718
Imputing row 15801/17823 with 0 missing, elapsed time: 74.776
Imputing row 15901/17823 with 9 missing, elapsed time: 74.846
Imputing row 16001/17823 with 0 missing, elapsed time: 74.895
Imputing row 16101/17823 with 0 missing, elapsed time: 74.953
Imputing row 16201/17823 with 9 missing, elapsed time: 75.009
Imputing row 16301/17823 with 0 missing, elapsed time: 75.057
Imputing row 16401/17823 with 9 missing, elapsed time: 75.112
Imputing row 16501/17823 with 0 missing, elapsed time: 75.167
Imputing row 16601/17823 with 0 missing, elapsed time: 75.238
Imputing row 16701/17823 with 0 missing, elapsed time: 75.284
Imputing row 16801/17823 with 9 missing, elapsed time: 75.329
Imputing row 16901/17823 with 0 missing, elapsed time: 75.398
Imputing row 17001/17823 with 9 missing, elapsed time: 75.444
Imputing row 17101/17823 with 0 missing, elapsed time: 75.522
Imputing row 17201/17823 with 0 missing, elapsed time: 75.583
Imputing row 17301/17823 with 0 missing, elapsed time: 75.639
Imputing row 17401/17823 with 0 missing, elapsed time: 75.687
Imputing row 17501/17823 with 9 missing, elapsed time: 75.743
Imputing row 17601/17823 with 0 missing, elapsed time: 75.829
Imputing row 17701/17823 with 0 missing, elapsed time: 75.884
Imputing row 17801/17823 with 0 missing, elapsed time: 75.933

In [32]:
X_filled2 = pd.concat(small_df_filled_ls, axis = 0)
X_filled2.shape

(356251, 11)

In [34]:
# reload again for filling
df = pd.read_hdf('../features/base_featurs.h5','base_featurs')
print (df.shape)
copy_for_the_following_merge = df[['SK_ID_CURR','TARGET']].copy()
no_need_to_inpute = ['index']
df.drop(no_need_to_inpute, axis = 1, inplace = True)
# handling with infinity
df.replace([np.inf, -np.inf], np.nan, inplace = True)

(356251, 281)

In [35]:
for f_in_same_cluster in X_filled1.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled1[f_in_same_cluster].tolist()

featurs CODE_GENDER
featurs FLAG_DOCUMENT_3
featurs REGION_RATING_CLIENT
featurs REGION_RATING_CLIENT_W_CITY
featurs INCOME_TO_GOODS_PRICE_RATIO
featurs NAME_CONTRACT_TYPE_Cash loans
featurs NAME_EDUCATION_TYPE_Secondary / secondary special
featurs NAME_FAMILY_STATUS_Married
featurs NAME_HOUSING_TYPE_House / apartment
featurs NAME_INCOME_TYPE_Working
featurs PREV_APP_CREDIT_PERC_MAX
featurs PREV_APP_CREDIT_PERC_MEAN
featurs PREV_HUMAN_EVAL_MEAN
featurs PREV_HUMAN_EVAL_SUM
featurs PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN
featurs PREV_NAME_CONTRACT_STATUS_Approved_MEAN
featurs PREV_CODE_REJECT_REASON_XAP_MEAN
featurs PREV_NAME_PORTFOLIO_POS_MEAN
featurs APPROVED_APP_CREDIT_PERC_MIN
featurs APPROVED_HUMAN_EVAL_SUM
featurs POS_TIME_DECAYED_UNPAYED_RATIO_MAX
featurs POS_NAME_CONTRACT_STATUS_Active_MEAN
featurs INSTAL_PAYMENT_PERC_MEAN_MEAN
featurs INSTAL_PAYMENT_PERC_SUM_SUM

In [36]:
for f_in_same_cluster in X_filled2.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled2[f_in_same_cluster].tolist()

featurs AMT_CREDIT
featurs DAYS_BIRTH
featurs AMT_CREDIT_BY_NAME_EDUCATION_TYPE_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_CODE_GENDER_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_REG_CITY_NOT_WORK_CITY_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs AMT_CREDIT_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs AMT_GOODS_PRICE_BY_NAME_INCOME_TYPE_OCCUPATION_TYPE
featurs DAYS_BIRTH_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE
featurs DAYS_REGISTRATION_BY_ORGANIZATION_TYPE_OCCUPATION_TYPE

In [37]:
import os
#-------------------
# save
#-------------------
output_path = '../features/filled_by_knn'
if not os.path.isdir(output_path):
    os.mkdir(output_path)

df.to_hdf(
    os.path.join(output_path, 'base_featurs_filled_knn_k_65_by_cluster_2+1.h5'), 
    'base_featurs_filled_knn_k_65_by_cluster_2+1')

/home/linuxbrew/.linuxbrew/opt/python/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: 'base_featurs_filled_knn_k_65_by_cluster_2+1'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)

In [20]:
df = pd.read_hdf('../features/filled_by_knn/base_featurs_filled_knn_k_65_by_cluster_0.h5')
df.drop(['TARGET'], axis = 1, inplace = True)
df = pd.merge(df, copy_for_the_following_merge, on = 'SK_ID_CURR', how = 'left')

In [23]:
df.TARGET

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        1.0
27        0.0
28        0.0
29        0.0
         ...
356221    NaN
356222    NaN
356223    NaN
356224    NaN
356225    NaN
356226    NaN
356227    NaN
356228    NaN
356229    NaN
356230    NaN
356231    NaN
356232    NaN
356233    NaN
356234    NaN
356235    NaN
356236    NaN
356237    NaN
356238    NaN
356239    NaN
356240    NaN
356241    NaN
356242    NaN
356243    NaN
356244    NaN
356245    NaN
356246    NaN
356247    NaN
356248    NaN
356249    NaN
356250    NaN
Name: TARGET, Length: 356251, dtype: float64

# imputation - by MICE

In [13]:
X_missing = df[feature_clustering[feature_clustering.cluster == 0].features.tolist()]

In [14]:
X_missing.shape

(356251, 244)

(356251, 280)

In [16]:
# 10.....
#-------------------
# core algorithm: input should be array
#-------------------
from fancyimpute import MICE # for imputing

logging.info('visit_sequence: {}'.format('monotone')) 
logging.info('impute_type: {}'.format('col')) 
logging.info('init_fill_method: {}'.format('mean')) 
logging.info('target == 1')
X_filled = MICE(visit_sequence = 'monotone', 
                impute_type = 'col',
                 init_fill_method = 'mean').complete(X_missing.values)

[MICE] Completing matrix with shape (356251, 244)
[MICE] Starting imputation round 1/110, elapsed time 1.201
[MICE] Starting imputation round 2/110, elapsed time 377.596
[MICE] Starting imputation round 3/110, elapsed time 756.648
[MICE] Starting imputation round 4/110, elapsed time 1128.018
[MICE] Starting imputation round 5/110, elapsed time 1501.540

KeyboardInterrupt:

In [27]:
X_filled_copy_2 = pd.DataFrame(X_filled, columns = X_missing.columns)
print (X_filled_copy_2.shape)
for f_in_same_cluster in X_filled_copy_2.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled_copy_2[f_in_same_cluster]

(356251, 24)
featurs CODE_GENDER
featurs FLAG_DOCUMENT_3
featurs REGION_RATING_CLIENT
featurs REGION_RATING_CLIENT_W_CITY
featurs INCOME_TO_GOODS_PRICE_RATIO
featurs NAME_CONTRACT_TYPE_Cash loans
featurs NAME_EDUCATION_TYPE_Secondary / secondary special
featurs NAME_FAMILY_STATUS_Married
featurs NAME_HOUSING_TYPE_House / apartment
featurs NAME_INCOME_TYPE_Working
featurs PREV_APP_CREDIT_PERC_MAX
featurs PREV_APP_CREDIT_PERC_MEAN
featurs PREV_HUMAN_EVAL_MEAN
featurs PREV_HUMAN_EVAL_SUM
featurs PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN
featurs PREV_NAME_CONTRACT_STATUS_Approved_MEAN
featurs PREV_CODE_REJECT_REASON_XAP_MEAN
featurs PREV_NAME_PORTFOLIO_POS_MEAN
featurs APPROVED_APP_CREDIT_PERC_MIN
featurs APPROVED_HUMAN_EVAL_SUM
featurs POS_TIME_DECAYED_UNPAYED_RATIO_MAX
featurs POS_NAME_CONTRACT_STATUS_Active_MEAN
featurs INSTAL_PAYMENT_PERC_MEAN_MEAN
featurs INSTAL_PAYMENT_PERC_SUM_SUM

In [28]:
X_filled_copy_1 = pd.DataFrame(X_filled, columns = X_missing.columns)
print (X_filled_copy_1.shape)
for f_in_same_cluster in X_filled_copy_1.columns.tolist():
    print ('featurs', f_in_same_cluster)
    df[f_in_same_cluster] = X_filled_copy_1[f_in_same_cluster]

(356251, 24)
featurs CODE_GENDER
featurs FLAG_DOCUMENT_3
featurs REGION_RATING_CLIENT
featurs REGION_RATING_CLIENT_W_CITY
featurs INCOME_TO_GOODS_PRICE_RATIO
featurs NAME_CONTRACT_TYPE_Cash loans
featurs NAME_EDUCATION_TYPE_Secondary / secondary special
featurs NAME_FAMILY_STATUS_Married
featurs NAME_HOUSING_TYPE_House / apartment
featurs NAME_INCOME_TYPE_Working
featurs PREV_APP_CREDIT_PERC_MAX
featurs PREV_APP_CREDIT_PERC_MEAN
featurs PREV_HUMAN_EVAL_MEAN
featurs PREV_HUMAN_EVAL_SUM
featurs PREV_NAME_CONTRACT_TYPE_Consumer loans_MEAN
featurs PREV_NAME_CONTRACT_STATUS_Approved_MEAN
featurs PREV_CODE_REJECT_REASON_XAP_MEAN
featurs PREV_NAME_PORTFOLIO_POS_MEAN
featurs APPROVED_APP_CREDIT_PERC_MIN
featurs APPROVED_HUMAN_EVAL_SUM
featurs POS_TIME_DECAYED_UNPAYED_RATIO_MAX
featurs POS_NAME_CONTRACT_STATUS_Active_MEAN
featurs INSTAL_PAYMENT_PERC_MEAN_MEAN
featurs INSTAL_PAYMENT_PERC_SUM_SUM

In [29]:
print (df.shape)
#-------------------
# save
#-------------------
output_path = '../features/filled_by_mice'
if not os.path.isdir(output_path):
    os.mkdir(output_path)

df.to_hdf(
    os.path.join(output_path, 'base_featurs_filled_mice_by_cluster_2+1.h5'), 
    'base_featurs_filled_mice_by_cluster_1')

(356251, 280)

In [30]:
os.listdir('../features/filled_by_mice')

['base_featurs_filled_mice_by_cluster_2+1.h5',
 'base_featurs_filled_mice_by_cluster_2.h5',
 'base_featurs_filled_mice_clustering.h5',
 'base_featurs_filled_mice_by_cluster_1.h5',
 'base_featurs_filled_mice_half_training_data.h5']